[2022-03-02 15:16] SchoolGuy commented on #2961
This is a duplicate of https://github.com/cobbler/cobbler/issues/2864

Cobbler would have in any case not been able to run as non-root because most actions like `systemctl restart <service>` require root or root-like privileges.

In theory what you could do if it works for you as non-root is building the RPM with a patched specfile with your dedicated user for the service.

[2022-03-02 15:16] #2961 closed

[2022-03-02 15:24] btravouillon commented on #2961
That was a mistake on my side, I forgot to use `sudo`. I still believe the command should not print a traceback but a clean error message.

[2022-03-02 17:47] SchoolGuy commented on #2961
@btravouillon that is indeed another pain point we need to address indeed.

[2022-03-03 04:46] opoplawski commented on #2882
Well, these older versions are definitely in use.   2.8 is still the branch in EPEL7 (and what I'm currently using at work).  And while I build 3.2 for EPEL7 in my COPR, I'm pretty leery about springing that update on users - especially with issues like this.  3.2 is in Fedora 34/35 and EPEL8 and I don't believe it is acceptable to remove the GUI on users in a stable release.   I have updated to 3

[2022-03-03 06:56] SchoolGuy commented on #2882
@opoplawski I understand them quite well as I package Cobbler for SUSE Manager and openSUSE.

The new version 3.3.2 will be used for SUSE Manager 4.3 and thus will hopefully also stable enough for you.

Regarding the Web Interface: Since this is a private effort of myself, this will take time sadly. I was able to progress the new Web UI but except Login and Logout nothing is working yet. I hopeful

[2022-03-03 10:05] SchoolGuy commented on #2689
Okay... In case we start dhcpd for the first time we run into trouble because `/var/state/dhcp/dhcpd.leases` may not exist.

[2022-03-03 13:23] SchoolGuy commented on #2689
The problem with the leases file is specific to the environment. Thus this is solved via our development docker container. Since `cobbler sync` is now working, we can start debugging this.

[2022-03-05 10:32] #2689 closed

[2022-03-07 16:34] agraul commented on #2881
I agree with @olafhering's point in not keeping any backups, provided it is documented that the user-provided config file can be overridden. Is it really needed to invest in a "keep N backups" infrastructure? Personally, I think we can do without.

[2022-03-08 10:40] SchoolGuy commented on #2881
@meaksh @agraul @tiltingpenguin & myself had a discussion about this topic.

We decided to remove the auto-migration on daemon startup and move that functionality to `cobbler-settings` so the user has control over when he wants to execute that. That means however that after a version upgrade Cobbler might not automatically start up anymore.

[2022-03-09 15:25] SchoolGuy commented on #2917
@atulyadavtech Is this issue still occuring?

[2022-03-10 08:13] SchoolGuy commented on #2860
Okay plan for this is the following:

- We create two new settings: `data_directory` & `config_directory`
- We refactor all paths where applicable to use the `pathlib.Path()`
- To get the final path we just use `settings.path.join()` and then proceed as before.
- In the container we will use `/data` & `/config` for the paths.
- Outside of the containers we use the default.
- The defaults will be `

[2022-03-10 08:34] SchoolGuy commented on #2881
Okay everything that is left for this ticket is: Flip the default in `api.py` and then we need the docs.

[2022-03-10 13:07] olafhering opened #2967 "regression in nopxe service"
Revision 95443612 does not work properly when a client opens `http://${cobbler-host}/cblr/svc/op/nopxe/system/${system}`

[code]

It is started via `/usr/bin/python3 -s /usr/bin/cobblerd --no-daemonize --config /dev/shm/cobblerd.settings.yaml`

[2022-03-10 13:20] olafhering commented on #2967
It still works with 1491cf4eb979d1660fb0d74bb43492f3cce6ced8

[2022-03-10 13:48] SchoolGuy commented on #2967
@olafhering Well if I understood the PR correctly it is expected to not work because ppc is not available officially?

[2022-03-10 13:53] olafhering commented on #2967
How is `ppc` relevant here?

[2022-03-10 14:03] olafhering commented on #2967
I did not say this commit is causing it, rather that current master is broken, which happens to be just that commit.

[2022-03-10 14:08] SchoolGuy commented on #2967
Ah okay. Thanks. Will look into it as soon as time allows.

[2022-03-10 14:19] olafhering commented on #2967
the breakage is between 1491cf4eb979d1660fb0d74bb43492f3cce6ced8..3eb9e37aba7c19e9c56e7bb128fb1d0929455e8d

[2022-03-10 14:37] #2881 closed

[2022-03-10 15:30] SchoolGuy commented on #2967
Okay. Do you have exact instructions on how to reproduce it?

[2022-03-10 15:46] olafhering commented on #2967
Try to open the `http=.../nopxe/..` URL, does that work for you?

[2022-03-10 16:14] kmahyyg opened #2968 "managers.import_signatures: 'NoneType' object has no attribute 'get_import_manager'"
### Describe the bug

import Debian 11 failed

### Steps to reproduce

1. follow the docs
2. `make install` (both checkout to 3.3.1 tag or master branch will lead to failure)
3. mount debian 11 and import: `cobbler import --name=debian11 --arch=x86_64 --path=/mnt/mnt1`

### Expected behavior

successfully finished

### Cobbler version

[code]

### Operating system

debian 11

### Cobbler log

[cod

[2022-03-10 16:16] kmahyyg commented on #2968
Obviously `managers.import_signatures` is not correctly imported to Python.

[2022-03-11 11:03] SchoolGuy commented on #2625
We have 62%. We can close this issue now. We won't stop adding tests though.

[2022-03-11 15:26] SchoolGuy commented on #2393
@dansou901 Do you have an update on this?

[2022-03-11 16:29] #2821 closed

[2022-03-16 07:49] dong9205 commented on #2968
apt-get install python3-magic  可以试下这个命令，我进行了debug，发现是我的系统上少了这个包, 安装之后就import成功了.

[2022-03-16 07:57] dong9205 commented on #2968
DEBUG过程
文件：/usr/local/lib/python3.6/dist-packages/cobbler/api.py
源代码：
[code]
目标代码：
[code]
[code]
我在其中发现了很多报错
[code]

解决方法
`apt-get install python3-magic`

[2022-03-16 08:00] kmahyyg commented on #2968
I will try it later. Thanks. I do urge official add all the **correct** required packages  list to document. I strictly followed the docs in RTD, but there must be something wrong.

@dong9205 As for the debugging process you've posted above, this is one error, not two or more. The stacktrace already said that you are missing this package. I'm running it on Debian 11 with Python 3.9.  In my logging

[2022-03-16 10:35] nodeg opened #2977 "Buildiso: Inconsistency in MBR section"
### Describe the bug

When creating an ISO with `cobbler buildiso` and checking the image with [parti](https://github.com/wfeldt/parti), it shows some inconsistency in the MBR section:

[code]

### Steps to reproduce

1. Import a distro (which creates also a profile). I used openSUSE Leap 15.3 for this
2. Create a system
3. Create bootloaders with `cobbler mkloaders`
4. Create an tmp dir for the b

[2022-03-17 12:39] nodeg opened #2978 "Buildiso: `distro` parameter is mandatory and not optional"
### Describe the bug

When using the `buildiso` command, the help states that the `distro` parameter is optional but it is in fact mandatory:

[code]

[code]

### Steps to reproduce

1. Run `cobbler buildiso`
2. See that the optional `distro` parameter is not optional

### Expected behavior

It should be clear that the `distro` parameter is not optional but mandatory.

### Cobbler version

[code]

[2022-03-17 15:56] nodeg opened #2979 "[docs] Outdated migration matrix"
The migration matrix found [here](https://cobbler.readthedocs.io/en/latest/cobbler-conf.html#migration-matrix) is outdated and should be updated for 3.3.1 and 3.3.2.

[2022-03-18 13:11] nodeg commented on #2978
The [documentation](https://cobbler.readthedocs.io/en/latest/cobbler.html?#cobbler-buildiso) for this should be updated, too.

[2022-03-21 09:13] SchoolGuy commented on #2968
@kmahyyg This is not a Python Import in the traditional sense thus you need to have a different approach when reading such error messages in the Cobbler context.

[2022-03-21 09:13] SchoolGuy commented on #2968
However I believe that you are right that we may be missing a requirement there. I will check during the week if time allows. Thanks for the report!

[2022-03-21 09:21] kmahyyg commented on #2968
So how to debug this issue correctly?

[2022-03-21 09:27] nodeg opened #2981 "Buildiso: Wrong buildiso dir creation"
### Describe the bug

When using the `buildiso` command, the logic behind the creation of the buildiso dir has errors:

[code]
1. If the default directory `buildiso` is present the task completes successfully but the xorriso command fails. The error handling should be improved here.

[code]

When the directory name does not default to `buildiso` the directory hierarchy is wrong. Inside the specifi

[2022-03-21 09:34] nodeg opened #2982 "Buildiso: Errors in the logic for copying GRUB files"
### Describe the bug

When using the `buildiso` command, the logic behind copying the GRUB files is wrong. It takes the supplied buildiso dir not into account and sticks to the default dir `buildiso`.

[code]

[code]

### Steps to reproduce

1. Run `cobbler buildiso` with `--tmpdir` that does not end with `buildiso`
3. See the command failing

### Expected behavior

The GRUB files should be copied

[2022-03-21 10:28] SchoolGuy commented on #2968
So this is PoC code and might need adjustments but in theory you should try the following on your system:

[code]

In that list you should find `manage/import`. Depending on the presence of said key we then know if the module we need has been loaded or not.

[2022-03-21 11:50] kmahyyg commented on #2968
<del>By the way, if I didn't do anything wrong, I installed `devscripts build-essential lintian debhelper`, it just kept telling me `debbuild: command not found`, but I only have `debuild`, according to this: https://packages.debian.org/bullseye/devscripts .So the `make debs` might be broken. </del>

Wow, your guys seem totally only consider abount RH-related distros... I just searched that you ar

[2022-03-21 12:02] kmahyyg commented on #2968
package: `python3-distro` is also missing from document.

[2022-03-21 12:04] kmahyyg commented on #2968
Well, I do think you should delete your install guide for requirements part, and ask your user to go and check the dockerfile...

[2022-03-21 12:20] nodeg opened #2983 "Buildiso: Better explanation of `--standalone` and `--airgapped`"
### Describe the bug

These are several point but all related to the same issue so I did not split them up in different ones.

1. The `buildiso` help should be extended to include the fact that the `--standalone` and `--airgapped` parameter must be supplied with the `--source` parameter.
2. According to [Cobbler buildiso](https://cobbler.readthedocs.io/en/latest/cobbler.html?#cobbler-buildiso) it

[2022-03-21 12:28] kmahyyg commented on #2968
Output here, but this time it works... I build up a new environment but this time with something deb packaging related packages installed since my old buggy testing environment is deleted...

[debuglog_working.zip](https://github.com/cobbler/cobbler/files/8315332/debuglog_working.zip)

I personally thanks for your help but still need to say that I personally recommend your team refine your documen

[2022-03-21 12:28] #2968 closed

[2022-03-21 12:33] SchoolGuy commented on #2968
@kmahyyg I do WANT to support it but sadly there is no one with knowledge that can enable Cobbler to create a native DEB package. We have put a lot of effort that Cobbler stays running on top of Debian based distros and I will try to continue to do so.

If you are able to do the initial work, maybe I can take the time to maintain this after an introduction to DEB packaging. Sadly I can't do everyt

[2022-03-21 12:47] kmahyyg commented on #2968
[code]

Another bug here...

[2022-03-21 12:50] SchoolGuy commented on #2968
@kmahyyg That bug should be fixed in newer versions of Cobbler.

[2022-03-21 12:50] SchoolGuy commented on #2968
There are efforts to change all of that but I can't talk details at the moment.

[2022-03-21 12:54] kmahyyg commented on #2968
[code]

Seems another bug...

[2022-03-21 13:01] SchoolGuy commented on #2978
@nodeg Is there any other parameters which are non-optional? I wasn't able to discover more but I wanted to double-check with you.

[2022-03-21 13:05] kmahyyg opened #2984 "Bug: exception on server: '_DnsmasqManager' object has no attribute 'write_dns_files'"
All things are done strictly followed RTD. Running on Debian 11.

Context linked with Issue #2968 , It is really exhausted to experience such a large number of bugs in few days...

[code]

Seems another bug... even I upgraded the version and then `make devinstall` then reboot

[2022-03-21 13:14] SchoolGuy commented on #2979
I did update the release workflow so we don't forget this the next time.

[2022-03-21 15:32] #2978 closed

[2022-03-21 15:32] #2979 closed

[2022-03-21 22:05] maxadamo commented on #2874
@holmesb @jringoot  it's quite fun.
- you can comment our line 306.
- you run: `make debs`
- it prompts you to run: `apt install python3-deb-macros apache2-deb-macros python3-netaddr python3-schema python3-cheetah systemd-deb-macros`
- you run apt install..
- you run `make debs` again and it fails, you run it again and it fails on something else. You run it once again for the 3rd time and it works

[2022-03-21 22:13] maxadamo commented on #2874
but on Ubuntu 20.04, once you try to install it, you get the following error:
[code]

[2022-03-21 22:31] maxadamo commented on #2874
if you don't need `createrepo`, you can comment out the following line numbers from cobbler.spec:
51, 100, 107, 221

[2022-03-22 12:47] SchoolGuy commented on #2981
After fixing #2982 @nodeg and I were not able to reproduce this issue. It is true that we have a redundant `buildiso` folder present in a custom `--tempdir` folder but since this is the behavior for ages I have decided to stick with it. Tests have shown that it should work in most cases.

[2022-03-22 12:47] #2981 closed

[2022-03-22 13:00] #2982 closed

[2022-03-23 08:12] SchoolGuy opened #2988 "Uyuni Proxy Support"
### Is your feature request related to a problem?

At the moment when trying to setup a new version of Uyuni then you can't use an Uyuni Proxy since Cobbler refuses to start with the tftpsync plugin configured.

### Provide a detailed description of the proposed feature

Cobbler should accept the `proxies` key in its `settings.yaml` file.

### Alternatives you've considered

- Having a downstream

[2022-03-23 08:27] SchoolGuy commented on #2984
@kmahyyg It is not related. It may seem similar but has a totally different cause. I created a PR for `main`. Feel free to confirm if the patch fixes the mentioned issue.

[2022-03-23 08:43] SchoolGuy commented on #2917
@atulyadavtech Ping. Do you still have problems?

[2022-03-23 08:46] SchoolGuy commented on #2866
This has been fixed with 4738c0468e3f895966416ff39322a5df727f92be

[2022-03-23 08:46] #2866 closed

[2022-03-23 08:48] SchoolGuy commented on #2843
@opoplawski Could you help out here please. I have no knowledge atm about your Ansible Community integration.

[2022-03-23 08:49] SchoolGuy commented on #2839
@fsidoli Do you have any update on this issue? Or can we close this one?

[2022-03-23 08:51] SchoolGuy commented on #933
@brianjmurrell I was doing some housekeeping... Are you still having a Cobbler instance and if yes can you still reproduce this? Maybe even with a more recent version? I would love to fix it if you still have that problem!

[2022-03-23 08:55] SchoolGuy commented on #943
Sooo this should be fixed with https://github.com/cobbler/cobbler/pull/2139. However now we haven't made it possible afaik to separate the task logs. Maybe it is possible via the Python `logging.conf` but I am not sure. Feel free to reopen if you feel that this ticket is not closed.

[2022-03-23 08:55] #943 closed

[2022-03-23 11:55] brianjmurrell commented on #933
@SchoolGuy No, sorry.  I have nothing to do with Cobbler any more.

[2022-03-23 12:01] SchoolGuy commented on #933
@brianjmurrell No worries. Thanks for the answer. I will try to reproduce this later then I guess...

[2022-03-23 12:47] SchoolGuy opened #2992 "Multiple Bugs: `cobbler-settings modify`"
### Describe the bug

1. `str` values cannot be modified
2. `[str]` values cannot be modified
3. `Optional("key")` values cannot be modified

### Steps to reproduce

1. `cobbler-settings modify -k webdir_whitelist -v "does not matter"`
4. `cobbler-settings modify -k windows_enabled -v True`
5. `cobbler-settings modify -k tftpboot_location -v "/srv/tftpboot"`

### Expected behavior

The calls to th

[2022-03-23 12:51] SchoolGuy commented on #2992
The root cause for this is the way we retrieve the type from the schema library. We need to find a more reliable way to retrieve the types and not forget about new types we construct.

[2022-03-23 14:20] #2988 closed

[2022-03-23 14:28] nodeg opened #2993 "Buildiso: `isolinux.cfg` not correctly formatted"
### Describe the bug

The content of the `isolinux.cfg` file is not formatted correctly when using `cobbler buildiso`. There are whitespaces and newlines missing.

[code]

### Steps to reproduce

1. Run cobbler `buildiso --tempdir=/var/cache/cobbler/buildiso --distro=testdistro`
2. Have a look at the `isolinux.cfg` file inside `/var/cache/cobbler/buildiso/isolinux`

### Expected behavior

The `iso

[2022-03-23 15:29] nodeg opened #2995 "Buildiso: `--exclude-dns` has no effect"
### Describe the bug

The `--exclude-dns` parameter has no effect during the `cobbler buildiso` command. This means the default case when not using the parameter is wrong. I tried that with `--airgapped`, `--standalone` and `--system=testsystem` with the exact same result.

[code]
1. Running buildiso without the `--exclude-dns` parameter
[code]
2. Running buildiso with the `--exclude-dns` paramete

[2022-03-23 18:34] maxadamo commented on #2993
I am trying either version 2.8.5 and 3.3.2.
With version **2.8.5**, if I use the the `kopt` parameter for the DNS, I get a string split as follow:
`netcfg/get_nameservers=8,3,.,9,7,.,9,3,.,2,0,0`

I want to ask if itàs alright to mark these versions as stable.
It's causing trouble to everyone in production because there are plenty of bugs like this.

[2022-03-23 18:52] maxadamo commented on #2893
@SchoolGuy you need to narrow the scope of the project and try to make everything work.
Apologies for being direct, but everything is borked, and you're adding Angular frontend, you add configuration management features (such as templates), but nothing is really working and you mark the releases as stable.

Please create Alpha and Beta releases.

[2022-03-23 21:30] maxadamo opened #2997 "netcfg/get_nameservers in the boot prompt is split and joined with commas after each character"
### Describe the bug

### Steps to reproduce

1. for instance use `--kopts` on Ubuntu/Debian to set the DNS as follows: `netcfg/get_nameservers=1.9.168.0.1`
2. the boot prompt will contain: `netcfg/get_nameservers=1,.,9,.,1,6,8,.,0,.,1`
3. even if I try to use and array, it always interpolated as a string and I get: `netcfg/get_nameservers=[,",1,.,9,.,1,6,8,.,0,.,1,",]`

### Expected behavior

the

[2022-03-24 01:11] pkqsun opened #2999 "typo error of manage_dhcp_v1"
### Describe the bug

### Steps to reproduce

1. install cobbler 3.3.2 via source code, using make install cmd
2. check the configuration file of: `/etc/cobbler/settings.yaml`
3. `Missing keys: 'manage_dhcp_v4', 'manage_dhcp_v6', they all named manage_dhcp_v1`

### Expected behavior

[code]
====>
[code]

### Cobbler version

[code]

### Operating system
[code]

### Cobbler log

[code]

### Screens

[2022-03-24 08:05] SchoolGuy commented on #2993
@maxadamo This project was dead for multiple years and I am slowly rebuilding it in my work & free time. I am doing my best but I do understand your trouble. Reporting bugs is definitely helping, the better the instructions for reproducing, the better I can try to fix it.

[2022-03-24 08:11] SchoolGuy commented on #2893
@maxadamo The creator of this project (not me) did start this project before he started Ansible. Thus it is actually the other way around... ;)

Anyway. I agree that I have to make everything work but since I didn't add too many features in the last years and kept trying to stabilize what was there I don't see that I have to narrow things down. I just have to take time and do the things that need

[2022-03-24 08:25] SchoolGuy commented on #2999
@pkqsun I have no idea how `manage_dhcp_v1` is in your settings file. I checked the logs and we don't have the string `v1` in the source code. So can you maybe explain where that came from?

[2022-03-24 09:37] #2984 closed

[2022-03-24 09:39] #2943 closed

[2022-03-24 09:39] #2993 closed

[2022-03-24 10:14] maxadamo commented on #2993
Sorry for the rant.
I was a bit frustrated because I tried to install 3.3.2 on Ubuntu and it didn't work as expected and I had to roll back to 2.8.5.
make debs didn't work, I finally got it working, and I finally faced this issue.
I've always thought that this project is really interesting, but the upgrade to version 3 was not one of my best experiences :smiley_cat:

[2022-03-24 10:24] nodeg commented on #2993
@maxadamo We have a new tool (`cobbler-settings`) for updating Cobbler settings which got introduced with version 3.3.0. You can read more about it [here](https://cobbler.readthedocs.io/en/latest/cobbler-conf.html#starting-with-3-3-0). If you have time you can try it and report any issues/problems with it. We are happy with every feedback we get.
Feel free to report any issues you ran into while u

[2022-03-24 10:56] pkqsun commented on #2999
Yes, that's strange, The grep cmd shows nothing for manage_dhcp_v1.
But I installed cobbler 3.3.2 in 2 labs form source code and it is the same.

[2022-03-24 11:02] SchoolGuy commented on #2999
@pkqsun Can you give me more detailed steps to reproduce this behaviour maybe? Because I don't have an idea how to debug this atm.

[2022-03-24 14:24] #2999 closed

[2022-03-24 14:30] pkqsun commented on #2999
@SchoolGuy  BYW, do you know how to install cobbler 3.3.2 using dnf/yum ?
[code]
could only install cobbler 3.2.2 in my trial.
I could not find the correct repo contains 3.3.2, such as  http://mirrors.mit.edu/epel/8/Modular/x86_64/Packages/c/ is 3.2.2.

[2022-03-24 14:32] SchoolGuy commented on #2999
@pkqsun The maintainer in EPEL did decided to not upgrade to 3.3.x or even newer because I am not able to finish the web interface atm. This is sad but yeah I don't have enough resources with this.

[2022-03-27 14:39] fsidoli commented on #2839
Hi Enno,

I was hoping someone would have sorted out this bug and updated me. I have left cobbler untouched since this issue.

Essentially, a new format of the settings file was put in place by the update I did which broke my cobbler set up when I ran the sync.

It took me a few days to figure this was what had happened and was lucky enough to dig myself out of a hole because of the backups I had.

[2022-03-28 06:34] SchoolGuy commented on #2839
@fsidoli So as we explained earlier: This was sadly done by a downstream adjustment we weren't aware of upstream. So if the settings file is now fixed by you manually, all should work now. If not I need information on how to reproduce the bug. So far I don't see any upstream problems.

[2022-03-28 08:43] fsidoli commented on #2839
Hi Enno,

OK. If that’s the case then feel free to close this off.

I will try to update cobbler at some point this week and will reopen if I hit problems again.

Fab

--
If you are looking for IT support, please email the LCN IS ***@***.***> to ensure your email is read by the team. Emails to me personally will result in slower response times.
--
I may send and respond to emails out of normal wor

[2022-03-28 08:45] #2839 closed

[2022-03-28 10:11] dansou901 commented on #2393
I'm sorry for the late answer. Currently, we are discussing internally which tools we want to use in the future to administer our systems. This will take a while. It's a possibility that we will drop the usage of cobbler in favor of something different, but that's not clear yet. As soon as it is, I will have a look at this again.

[2022-03-28 10:55] SchoolGuy commented on #2393
@dansou901 Thanks a lot! If you decide to replace Cobbler I would love to know which solution won over Cobbler. I would love to make it better for other people, so the community gets bigger in the future.

[2022-03-28 12:23] #2415 closed

[2022-03-28 19:20] denis-54 opened #3006 "No file ../rpm-build/cobbler-web*rpm after "make rpms""
### Describe the bug

No file ../rpm-build/cobbler-web*rpm after "make rpms"

### Steps to reproduce

1. git clone https://github.com/cobbler/cobbler.git
2. cd cobbler
3. nstalled all the necessary packages, the package list is the same as specified in the Rocky_Linux_8.dockerfile file
4. make rpms:
[code]

### Expected behavior

Wrote: /home/user1/cobbler-3.4.0/cobbler/rpm-build/cobbler-3.4.0-1.e

[2022-03-28 20:41] SchoolGuy commented on #3006
In the Changelog we clearly stated on GitHub that we removed the webinterface a while ago. The new webinterface was not possible to be completed because of the lack of resources. Work is actively going on as time permits. There is not an ETA at the moment for a first alpha release.

[2022-03-28 20:41] #3006 closed

[2022-04-02 06:51] wy-z opened #3016 "Get `Internal Server Error` when accessing `/cblr/svc/`"
### Describe the bug

Get `Internal Server Error` when accessing `/cblr/svc/`.

<img width="601" alt="image" src="https://user-images.githubusercontent.com/4213483/161369762-fe7daead-44f2-42f2-992b-e4911e39fdb1.png">

### Steps to reproduce

1. Install Cobbler v3.3.2
2. Request `http://127.0.0.1/cblr/svc/`

### Expected behavior

Return `200 OK`.

### Cobbler version

[code]

### Operating system

[2022-04-02 06:54] wy-z commented on #3016
Hi, @SchoolGuy
This may be a bug for `3.3.2`, hope it helps.

[2022-04-02 11:25] pkqsun commented on #2844
@SchoolGuy
I met the same issue for version 3.2.2.

[code]
[code]
I did not change above section of /etc/cobbler/settings.yaml and cobbler sync also finished successfully.
There is still no file of /var/lib/tftpboot/grub/grub.0.

Just wonder for x86_64 Legacy mode, am I missing anything?

[code]

[2022-04-04 06:21] SchoolGuy commented on #3016
@wy-z I am aware of it. The reason for this are the following two PRs which were not properly tested in regard to the HTTP API (we don't have tests for that sadly atm):

- https://github.com/cobbler/cobbler/pull/2945
- https://github.com/cobbler/cobbler/pull/2946

The workaround is to revert the permissions to the old state and make the files world readable. I am working on a solution in the meant

[2022-04-04 06:31] SchoolGuy commented on #2844
@pkqsun Okay do you have in `/var/lib/cobbler/loaders/grub` the corresponding binaries available after installing the module?

[2022-04-04 08:43] SchoolGuy opened #3018 "Restarting cobblerd does not work when assigning a system to an image"
### Describe the bug

Currently restarting `cobblerd` does not work when you have a System with an Image as a parent.

### Steps to reproduce

1. `cobbler image add --name test`
2. `cobbler system add --name test --image test`
3. `supervisorctl restart cobblerd` or `systemctl restart cobblerd`

### Expected behavior

Cobbler restarts successfully.

### Cobbler version

[code]

### Operating system

[2022-04-04 09:12] SchoolGuy commented on #3018
It seems that the problem is the connection of `parent`, `profile` & `image` on `cobbler/items/system.py`...

[2022-04-04 09:55] SchoolGuy commented on #3018
Root cause was explained one of the PR commits which fixes this issue.

[2022-04-04 10:36] #3018 closed

[2022-04-05 15:42] #2902 closed

[2022-04-06 08:27] SchoolGuy commented on #3016
Closing this as a duplicate of https://github.com/cobbler/cobbler/issues/2967

[2022-04-06 08:27] #3016 closed

[2022-04-06 08:28] SchoolGuy commented on #2967
The root cause of this issue was found in #3016

For details please see: https://github.com/cobbler/cobbler/issues/3016#issuecomment-1087162768

[2022-04-07 16:30] aranc23 opened #3023 "tree metadata variable not getting set on distro import"
### Describe the bug
The tree metadata variable isn't being set on import of distributions, whereas it was being set correctly in 3.2.X.

### Steps to reproduce

1. `mount -o ro,loop ./CentOS-7-x86_64-Everything-1908.iso /mnt/DVD`
2. `cobbler import --name CentOS_1908 --path /mnt/DVD --breed redhat --arch x86_64`

### Expected behavior
From a cobbler 3.2.X install:

[code]

From my 3.4.0  and 3.3.

[2022-04-11 13:51] SchoolGuy opened #3025 "Add API endpoint for blendered data"
### Is your feature request related to a problem?

Currently for external consumers of the Cobbler API it is not possible to retrieve data in its end result.

### Provide a detailed description of the proposed feature

Currently when doing a call to `get_distros()` (or other items) via XMLRPC we do get raw values because we call `to_dict()` and thus get `<<inherit>>` in the resulting dictionary.

[2022-04-11 13:57] SchoolGuy opened #3026 "Missing defintion what attributes are inheritable"
### Describe the bug

Currently there is no information available what properties are inheritable and what are not. During the implementation of #3019 it became obvious that we need to document this so we are missing nothing.

### Steps to reproduce

1. Execute pytest tests from #3019
2. See that e.g. `virt_ram` is not able to be resolvable and thus prints `<<inherit>>`.

### Expected behavior

Th

[2022-04-11 14:04] SchoolGuy opened #3027 "Resetting a value to `<<inherit>>` is not possible"
### Describe the bug

Currently when using any way of data manipulation for Cobbler (CLI, XMLRPC, HTTP) it is not possible to reset the value to `<<inherit>>`. This is due to `utils.input_string_or_dict()`.

### Steps to reproduce

1. `cobbler system edit --name test --kernel-options="<<inherit>>"`
2. `cobbler system report --name test`
3. See empty dict instead of `<<inherit>>`

### Expected beha

[2022-04-14 12:31] Shubhangi-dell opened #3028 "Modifying the dhcp.template for shared-lom throwing errors"
### Describe the bug
I am using cobbler 3.2.2 on rocky 8.5.
I have a shared-lom setup and I wanted the cobbler to manage the DHCP. So, I have made the required changes in dhcp.template and tried to run cobbler sync. I have adhered to the documentation and haven't changed anything from **#for dhcp_tag in $dhcp_tags.keys():** The error is attached below:
![image](https://user-images.githubuserconten

[2022-04-14 13:46] SchoolGuy commented on #3028
So I can see multiple problems in the template:

- https://gist.github.com/Shubhangi-dell/64d5fa442f820dd1327193db690394b0#file-gist-github-com-L16
  Here I would suggest or something similar. The reason the Cheetah Line doesn't work is because this is a Python `str` at some point and the quotation for it is missing. In case this should be a comment please use `##`
[code]
- https://gist.github.com

[2022-04-15 03:46] wy-z opened #3030 "[replicate] Attribute "remote_grub_kernel" could not be set!"
### Describe the bug

`cobbler replicate` got error `Attribute "remote_grub_kernel" could not be set!`.

### Steps to reproduce

1. run `cobbler replicate --master=cobbler.xsky.com --prune --distros=* --profiles=*` on standby cobber node

### Expected behavior

`replicate` command execute successfully without error.

### Cobbler version

[code]

### Operating system

[code]

### Cobbler log

[code

[2022-04-17 15:24] Shubhangi-dell commented on #3028
Hi,
Thanks it worked. The 1st point was the issue in my case. Since, I am using an older version of cobbler i.e. 3.2.2 I don't need to update it to next_server_v4.

[2022-04-17 15:24] #3028 closed

[2022-04-17 17:02] SchoolGuy commented on #3030
This is a valid bug report. However the fix is not straightforward as already written in the comment for the linked PR: https://github.com/cobbler/cobbler/pull/3031#issuecomment-1100915874

[2022-04-17 17:52] wy-z commented on #3030
The setters were removed by https://github.com/cobbler/cobbler/commit/05ad7c65eeed0abbfeb1ed8c23cdc86275325b28.

[2022-04-18 17:10] SchoolGuy commented on #2552
So I did a littlebit of rearch for you @tiltingpenguin:

- The current implementation of our `setup.py` is strongly discouraged. For more information please refer to https://setuptools.pypa.io/en/latest/userguide/quickstart.html#basic-use.
- Please try to read up on the new way for Python Packages to handle data files: https://setuptools.pypa.io/en/latest/userguide/datafiles.html We may need to ad

[2022-04-18 19:33] SchoolGuy opened #3032 "Obsolete `modules.conf`"
### Is your feature request related to a problem?

At the moment we have more then one configuration file in more then one format.

### Provide a detailed description of the proposed feature

Use only `settings.yaml`.

### Alternatives you've considered

None.

### Additional information

This is a splitout of #3004.

[2022-04-18 19:33] SchoolGuy opened #3033 "Obsolete `mongodb.conf`"
### Is your feature request related to a problem?

At the moment we have more then one configuration file in more then one format.

### Provide a detailed description of the proposed feature

Use only `settings.yaml`.

### Alternatives you've considered

None.

### Additional information

This is a splitout of #3004.

[2022-04-18 19:36] SchoolGuy opened #3034 "Migrations with default template values doen't work"
### Describe the bug

### Steps to reproduce

1. Execute the auto-migration from Cobbler V 3.3.0
2. See that `bind_zonefile_path` has the wrong value in `settings.yaml`

### Expected behavior

The setting has the correct value.

### Cobbler version

[code]

### Operating system

openSUSE Leap

### Cobbler log

[code]

### Screenshots

### Additional information

Discovered while working on #3004

[2022-04-18 19:46] SchoolGuy opened #3035 "Logging in setup.py"
### Describe the bug

At the moment we are using a custom logger. This is wrong because this is not adding to the log from the build.

### Steps to reproduce

1. `make install`

### Expected behavior

The log should show the custom log messages we added.

### Cobbler version

[code]

### Operating system

openSUSE Leap

### Cobbler log

[code]

### Screenshots

Not applicabel

### Additional infor

[2022-04-19 05:33] wy-z opened #3041 "[replicate] Failed to update local system item due to `IP address duplicate found`/`MAC address duplicate found`"
### Describe the bug

Failed to update local system item due to `IP address duplicate found`

### Steps to reproduce

1. Do `replicate` on the local node
2. Update system item on the master node
3. Do `replicate` on the local node again

### Expected behavior

Replication success

### Cobbler version

[code]

### Operating system

[code]

### Cobbler log

[code]

### Screenshots

![image](https://

[2022-04-19 06:26] SchoolGuy commented on #3041
Thank you for this very useful bug report! I am fighting with stabilizing 3.3.2 for Uyuni/SUSE Manager, so it is very likely that this will stay here for a while.

[2022-04-19 06:34] #3035 closed

[2022-04-19 09:39] #3025 closed

[2022-04-19 09:39] #3026 closed

[2022-04-19 09:39] #3027 closed

[2022-04-19 11:28] SchoolGuy opened #3042 "[Backport] Fix connected_mode not working in modify_interface"
### Original feature issue

- PR: #2972

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:44] SchoolGuy opened #3044 "[Backport] Image: Add children setter and getter"
### Original feature issue

- PR: #3017

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:46] SchoolGuy opened #3045 "[Backport] System Remove: Fix system "default" GRUB case"
### Original feature issue

- PR: #3009

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:46] SchoolGuy opened #3046 "[Backport] Cobbler-SVC: Lower permissions for modules.conf"
### Original feature issue

- PR: #3008

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:47] SchoolGuy opened #3047 "[Backport] Actions: Buildiso - Fix isolinux.cfg generation"
### Original feature issue

- PR: #2996

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:48] SchoolGuy opened #3048 "[Backport] Templates: Remove redhat_management_type usages"
### Original feature issue

- PR: #2991

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:49] SchoolGuy opened #3049 "[Backport] Managers: Fix non-existent method call"
### Original feature issue

- PR: #2990

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:50] SchoolGuy opened #3050 "[Backport] cobbler buildiso directory and file handling"
### Original feature issue

- PR: #2986

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:50] SchoolGuy opened #3051 "[Backport] Overhaul of buildiso documentation and help messages"
### Original feature issue

- PR: #2985

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:51] SchoolGuy opened #3052 "[Backport] [managers] Fix 'signatures' key error"
### Original feature issue

- PR: #2976

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:51] SchoolGuy opened #3053 "[Backport] Avoid creating duplicated settings files when automigration is disabled"
### Original feature issue

- PR: #2974

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:52] SchoolGuy opened #3054 "[Backport] cobbler sync: fix problem passing exec command to find"
### Original feature issue

- PR: #2973

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 11:59] SchoolGuy opened #3055 "[Backport] Image: Add children setter and getter"
### Original feature issue

- PR: #3017

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 12:00] SchoolGuy opened #3056 "[Backport] Retrieve resolved properties"
### Original feature issue

- PR: #3019

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 12:01] SchoolGuy opened #3057 "[Backport] [scm-track] Fix commit command"
### Original feature issue

- PR: #3021

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 12:01] SchoolGuy opened #3058 "[Backport] [mkloaders] Add the missing 'syslinux/libutil.c32'"
### Original feature issue

- PR: #3024

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 12:02] SchoolGuy opened #3059 "[Backport] setup.py: Fix logger"
### Original feature issue

- PR: #3037

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 13:35] SchoolGuy opened #3061 "[Backport] Settings: Add proxies key"
### Original feature issue

- PR: #2989

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-19 15:56] Shubhangi-dell opened #3062 "dnf module enable cobbler not working on rocky"
### Describe the bug
Our software has been using **dnf module enable cobbler** on rocky for the past several versions and today suddenly it showed the below version.
We were using Cobbler version 3.2.2 on rocky 8.0.
![image](https://user-images.githubusercontent.com/72869337/164043046-d07c1e7d-4818-469e-bfad-9b4c058be50f.png)
Because of this, our software will have a huge impact as shown in the li

[2022-04-19 17:31] #3034 closed

[2022-04-20 00:34] MostafaMamouni opened #3063 "pxe hangs at tftp stage"
### Describe the bug
i had exactly the same problem as #2844 , as a work around, i did `cp -f /usr/share/syslinux/{ldlinux.c32,libcom32.c32,libutil.c32,menu.c32,pxelinux.0} /var/lib/cobbler/loaders`, in `cobbler sync` output, i noticed that it generates .cfg at `/var/lib/tftpboot/pxelinux.cfg/`, there will be two generated files `/var/lib/tftpboot/pxelinux.cfg/defualt` and `/var/lib/tftpboot/pxeli

[2022-04-20 00:54] MostafaMamouni commented on #3063
update: tftp service was running, i stoped it, but still the same problem

[2022-04-20 07:41] SchoolGuy commented on #2844
@pkqsun Any update on this issue?

[2022-04-20 07:43] SchoolGuy commented on #3063
@MostafaMamouni Did you use the `mkgrub.sh` script? - https://github.com/cobbler/cobbler/blob/v3.2.2/scripts/mkgrub.sh

[2022-04-20 08:06] SchoolGuy commented on #3062
@opoplawski This is your area. I have no control on that sadly and can't provide help.

[2022-04-20 08:16] MostafaMamouni commented on #3063
no, before executing it should i modify back the dhcp template from
[code]
to
[code]

[2022-04-20 08:21] SchoolGuy commented on #3063
Yes please. Also install the required bootloaders before using the scripts and make yourself familiar with the script.

[2022-04-20 08:36] MostafaMamouni commented on #3063
Thank you so much for you help. `mkbrug.sh` works, the boot menu is shown now, but it seems that the booting process is in loop, after installing the packages it always stops at `installing bootloader` and then suddenly closes the installing screen, raises `exiting (success)`, boot again from pxe, I decided once the menu will show I'll choose another `local` instead of the default option which is

[2022-04-20 08:46] MostafaMamouni commented on #3063
sorry i missed this part, thank you again, i think this issue can be closed.

[2022-04-20 08:47] #3063 closed

[2022-04-20 11:58] SchoolGuy opened #3064 "[Backport] Added AlmaLinux build support to main branch"
### Original feature issue

- PR: #3015

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

[2022-04-20 11:59] #3064 closed

[2022-04-20 12:28] #3044 closed

[2022-04-20 12:29] #3048 closed

[2022-04-20 12:29] #3050 closed

[2022-04-20 12:29] #3051 closed

[2022-04-20 12:30] #3053 closed

[2022-04-20 12:30] SchoolGuy commented on #3054
Fixed by merging #3060

[2022-04-20 13:42] #3057 closed

[2022-04-20 13:43] SchoolGuy commented on #3055
This was already fixed via https://github.com/cobbler/cobbler/pull/3060

[2022-04-20 13:43] #3055 closed

[2022-04-20 13:45] SchoolGuy commented on #3042
This is already correct in the `release33` branch. Thus closing.

[2022-04-20 13:45] #3042 closed

[2022-04-20 17:34] PhilEv opened #3068 "Add support for CentOS Stream 9 and RHEL9"
### Is your feature request related to a problem?

This is an enhancement for the support of CentOS Stream 9 and RHEL 9

### Provide a detailed description of the proposed feature

Currently (using version 3.2.2 and the WEB UI is needed) it is not possible/supported  to import and deploy a CentOS Stream 9 (and the coming RHEL9).

To make it work one need to
- For `cobbler import` update the `/var/

[2022-04-21 06:13] abrairajon opened #3069 "Cannot import ESXI70 after fix commited"
### Describe the bug

I have a lot of problems to import ESXI 7.0 (VMware-VMvisor-Installer-7.0.0-15843807.x86_64.iso) to *mnt/iso

### Steps to reproduce
I mount the image in /mnt/iso
1.Try import with all parameters availables
`cobbler import --name=esxi70 --path=/mnt/iso --arch=x86_64 --breed=vmware --os-version=esxi70`
2. After that, we receive this error
[code]

### Expected behavior

### Cob

[2022-04-21 06:38] Shubhangi-dell commented on #3062
@opoplawski Can you please shed some light on this issue?

[2022-04-21 08:40] pkqsun commented on #3041
Same issue when try to use bonding interfaces.

[2022-04-21 08:54] #3058 closed

[2022-04-21 12:00] #3056 closed

[2022-04-21 12:04] #3059 closed

[2022-04-21 15:38] #2967 closed

[2022-04-22 02:45] opoplawski commented on #3062
The cobbler:3 stream will stay with 3.2.X.  That's why I introduced the 3.3 stream.  I suppose I should look into making the 3 stream the default.  I'll see what I can do.

[2022-04-22 02:47] opoplawski commented on #3062
Well, looks like default streams are not a thing in EPEL8.  Don't worry, 3.2 is sticking around.

[2022-04-22 02:47] #3062 closed

[2022-04-22 14:43] SchoolGuy opened #3072 "[Backport] virt_file_size: Use float in all places"
### Original feature issue

- PR: #3071

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-04-25 11:17] SchoolGuy opened #3074 "Sentinel Object Pattern for <<inherit>>"
### Is your feature request related to a problem?

Currently many of our method return or argument type definitions are `Union[str, float]` for example. This leads to confusion because in reality they don't allow setting a `str` but just a `float`. This is visible in the Docs and thus not very user friendly.

### Provide a detailed description of the proposed feature

Let's replace all usages wher

[2022-04-25 12:16] agraul commented on #3074
I guess it will match the sentinel object pattern, but it's a bit more than the naive implementation that's on [that page](https://python-patterns.guide/python/sentinel-object/) when we want useful type annotations. In this illustrative example, only the third approach covers only use case. There might be an even better way, it's just to illustrate why the naive approach is not right for us:

1. n

[2022-04-25 13:08] SchoolGuy commented on #3074
Yes I guess the third approach is the most reasonable in my eyes. But let's see when we have time for that.

[2022-04-26 10:43] SchoolGuy opened #3075 "Use python-magic for kernel and initrd detection"
### Is your feature request related to a problem?

The current detection of Kernel and Initrd are based on filenames. This is prone to error since a Kernel and Initrd can have any name.

### Provide a detailed description of the proposed feature

Let's use `python-magic` for the detection of the Kernel. This needs to work with Linux, BSD and Windows.

For the Initrd we just need to check if it is

[2022-04-26 10:47] SchoolGuy commented on #1342
@tpw56j Is this actually done with your previous PRs about Windows Support now? Or is there something missing?

[2022-04-26 10:49] SchoolGuy opened #3076 "Make initrd optional in Distros"
### Is your feature request related to a problem?

The time where an initrd is non-optional are far behind us. Thus it is not possible to add such distros to Cobbler

### Provide a detailed description of the proposed feature

An initrd should be a valid one if passed but it should not be required anymore.

### Alternatives you've considered

None

### Additional information

This came to light af

[2022-04-26 16:19] tpw56j commented on #1342
@SchoolGuy Previous PRs have made support for installing Windows via PXE and iPXE without using SSCM. Much of what SSCM does can be done through  cobbler templates for windows in `cobbler/templates/windows` and profiles. Although there are still some actions that require manual changes, for example in the `/etc/tftpd.rules` and `smb.conf` files. These additional steps have been described in docs/u

[2022-04-27 10:21] SchoolGuy commented on #1342
Okay. So this Issue is still valid. Thanks for the clarification!

[2022-04-27 14:01] SchoolGuy opened #3079 "Auto-Generated API Changelog"
### Is your feature request related to a problem?

Currently it is manual tedious work to detect if the API introduced breaking changes. We have to research this on every release.

### Provide a detailed description of the proposed feature

I as a release engineer want to know if the API has changed for the changelog of a new Cobbler version.

I want to achieve that external libraries can quickly

[2022-04-28 00:32] btravouillon opened #3080 "[Backport] Fix permission error in mod_wsgi script"
### Original feature issue

- PR: https://github.com/cobbler/cobbler/pull/3020

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

Cobbler 3.3.2 is broken, it does not allow deployment with autoinstall files.

[2022-04-30 03:44] ricortiz opened #3081 "Error while fetching yum repo config file through the API."
### Describe the bug

If I try to reach the following endpoint `http://<cobbler-ip-addr>/cblr/svc/op/yum/system/mach1` for a system named `mach1`
I get the following error:

`# error: could not read repo source: /distro_mirror/config/rhel82-x86_64.repo`

### Steps to reproduce

1. Add a system
2. Access the endpoint for your server: `http://<cobbler-ip-addr>/cblr/svc/op/yum/system/mach1`

### Expe

[2022-05-02 07:25] SchoolGuy commented on #2337
Another helpful comment: https://github.com/cobbler/cobbler/discussions/3078#discussioncomment-2650220

[2022-05-02 15:08] manoj0772 opened #3083 "Disable Createrepo with Cobbler Sync"
### Describe the bug
I am trying to set up Cobbler on Rocky Linux 8 to sync Rocky linux packages and create local repos.

When cobbler reposync is run within cobbler it runs "createrepo" within command and it breaking packages metadata etc.

Is there a way to disable createrepo ? Or is there any other way to fix it ? Our CentOS 7 env runs fine but it looks like After RHEL 8 or Rocky Linux 8 they h

[2022-05-02 17:29] dansou901 commented on #2393
I will. Right now, we are starting to bootstrap our new configuration management infrastructure, so setting up a new install server will be part of that. As soon as I have more news, I'll check back in here.

[2022-05-03 07:31] wy-z opened #3085 "[replicate] The "next_server_v4" attribute of the "profile" is wrong after replicating"
### Describe the bug

The "next_server_v4" attribute of the "profile" is wrong after replicating.

### Steps to reproduce

1. Master node: 10.0.0.1
2. Standby node: 10.0.0.2
3. Create profile 'A' on the master node, the 'next_server_v4' attribute of profile 'A' will be forcibly set to '10.0.0.1'
4. Do replicate on the standby node, the 'next_server_v4' attribute of profile 'A' is still '10.0.0.1'

[2022-05-03 07:51] SchoolGuy commented on #3085
@wy-z Do you have set the [`convert_server_to_ip`](https://cobbler.readthedocs.io/en/latest/cobbler-conf.html#convert-server-to-ip) to `False`. That may improve the behaviour in other similar situations.

For this specific use-case: Yeah this is a bug in 3.2.2 I agree. Is this fixed for you with a version which has the commit you linked? Or what do you think should be the correct behaviour?

[2022-05-03 08:24] wy-z commented on #3085
Hi @SchoolGuy , thank you very much for your reply.
My temporary solution is setting A to empty by default so that I can use the global `next_server_v4/v6`.
<img width="437" alt="image" src="https://user-images.githubusercontent.com/4213483/166422990-040e8d4c-cf2c-4f03-aa55-afd296dc17a8.png">

I think it is feasible to set `next_server_v4/v6` to empty by default, and you only need to set `next_ser

[2022-05-03 08:26] SchoolGuy commented on #3085
Well this is what `<<inherit>>` does if you upgrade to a newer version. Setting it empty would mean that it should be really empty if you upgrade to the next (not yet published) release.

[2022-05-03 08:36] wy-z commented on #3085
Agree that, it also makes sense to set it to `<<inherit>>`, as in the following code
[code]

[2022-05-03 09:17] SchoolGuy commented on #3085
So this issue can be closed or is there something to fix from your perspective? Do we need backward compatible replicate code in some fashion?

[2022-05-03 12:04] wy-z commented on #3085
I'm sorry for my carelessness.
After reading [blender function](https://github.com/cobbler/cobbler/blob/e90abcac58ea7472d80d4574bd492b799bb8d58e/cobbler/utils.py#L669), I realized that `Profile.next_server_v4/v6` can also be set to `<<inherit>>`.

How about setting `Profile._next_server_v4/v6` to `<<inherit>>` by default? So that `Profile` can work properly after replicating.

[2022-05-03 12:07] SchoolGuy commented on #3085
@wy-z But this is the case at the moment on `main` as you showed before in the snippet you copied. So then all should be good starting with the next release.

[2022-05-03 12:13] wy-z commented on #3085
https://github.com/cobbler/cobbler/blob/main/cobbler/items/profile.py#L55
<img width="764" alt="image" src="https://user-images.githubusercontent.com/4213483/166450443-ec2c6ba4-18cc-4505-8597-e66fb324eaf9.png">
The default value of `next_server_v4/v6` is `api.settings().next_server_v4/v6` on the main branch~
I am sorry that my misrepresentation led to your misunderstanding.

[2022-05-03 12:33] SchoolGuy commented on #3085
Ahhh correct. Okay that is easily fixable afaik. You want to do a PR or should I do one once I have time?

[2022-05-03 13:36] wy-z commented on #3085
https://github.com/cobbler/cobbler/pull/3086

[2022-05-04 00:03] pmcnabb opened #3088 "Cobbler service doesn't start when installed from EPEL"
### Describe the bug

On a clean installation of Rocky 8, after enabling EPEL repos, enabling the cobbler 3.3 stream, and installing cobbler, the service fails to start. The steps below show the issue in a container, but it is the same error as when running the service through systemd.

### Steps to reproduce

1. podman run -it docker.io/library/rockylinux:8
2. dnf install epel-release
3. dnf modu

[2022-05-04 01:55] opoplawski opened #3089 "SELinux implications of settings backup"
### Describe the bug

When trying to write the settings backup file on Fedora/EL cobbler generates the following SELinux AVCs in permissive mode:
[code]
In general SELinux policies tend to prevent daemons from modifying their own config files.  I can see the appeal of putting the backup in /etc/cobbler, but perhaps another location would be more correct.

### Steps to reproduce

1. Install cobbler

[2022-05-04 02:00] opoplawski commented on #3089
I also don't understand why settings.yml is being rewritten with both auto_migrate_settings and allow_dynamic_settings is false.

[2022-05-04 02:03] opoplawski commented on #3088
Update submitted: https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-MODULAR-2022-4f52c32316

Probably best to report downstream bugs to bugzilla.redhat.com.

[2022-05-04 07:59] SchoolGuy commented on #3089
@opoplawski Which is the location you would like to put the backup in? Or rather which is the directory Fedora sees fit for such a thing?

In regard to your second question: We had a bug for this and it was fixed already - https://github.com/cobbler/cobbler/pull/2974

[2022-05-05 03:04] Timond commented on #3069
This issue is only happening since update to 3.3.2 for me as well.

# cobbler distro add --name esxi7u2 --kernel='/srv/www/cobbler/distro_mirror/esxi70u2-x86_64/mboot.c32' --initrd='/srv/www/cobbler/distro_mirror/esxi70u2-x86_64/imgpayld.tgz' --breed='vmware'
exception on server: kernel not found: /srv/www/cobbler/distro_mirror/esxi70u2-x86_64/mboot.c32

# ll /srv/www/cobbler/distro_mirror/esxi70u

[2022-05-06 11:44] SchoolGuy opened #3090 "Testsuite broken because of a bug in openldap"
### Describe the bug

Currently all runs for our testsuite are broken because of a bug in openldap.

The bug is reported at: https://bugzilla.suse.com/show_bug.cgi?id=1199277

### Steps to reproduce

1. Run docker container
2. `setup-supervisor.sh`
3. `pytest`

### Expected behavior

There is no segfault when executing the testsuite.

### Cobbler version

[code]

### Operating system

openSUSE Tum

[2022-05-06 12:05] SchoolGuy commented on #3090
Not fixed inside openldap. Thus reopening.

[2022-05-06 21:46] #3085 closed

[2022-05-09 13:56] eikef opened #3092 "grubx86.efi vs grubx64.efi (DHCPv4 -> EFI does not work)"
### Either settings.yaml and dhcp6.template are wrong, or dhcp.template, documentation, and tests are wrong

In dhcp.template, cobbler currently references `grubx64.efi` for x86_64 EFI boots, while dhcp6.template references `grubx86.efi` (for the same function). `cobbler mkloaders` generates grubx86.efi based on `settings.yaml` -> `bootloader_formats` -> `x86_64_efi` -> `binary_name` being set to

[2022-05-09 14:02] manoj0772 commented on #3083
# Flags to use for rysync's reposync. If flag 'a' is used then createrepo
# is not ran after the rsync
reposync_rsync_flags: "-arltDv --copy-unsafe-links"

I notice this in settings.yaml where is this if i use flag 'a' then createrepo is not ran after the rsync. But it still does from my testing.  Am i suppose to be using flag 'a' diff way. Thank you.

[2022-05-09 14:11] eikef opened #3093 "cobbler image not documented, previous use-cases no longer working (memtest86+-example)"
### Documentation for "cobbler image" missing

There is not really any documentation on `cobbler image`: https://cobbler.readthedocs.io/en/latest/cobbler.html#cobbler-image

There used to be examples on the Wiki on how to use it (for instance with memtest86+: https://github.com/cobbler/cobbler/wiki/Memtest/c908bb268589ef61ec08502d021718f69fb48cb6). That page has been removed from the Wiki in 2014,

[2022-05-09 14:21] eikef opened #3094 "cobbler image no longer adds menu entry (breaking memtest86+ in menu)"
### `cobbler image` is no longer correctly adding menu-entires to pxelinux.cfg

[code]

used to add an image of /boot/memtest86+-5.01 to the Cobbler PXE menu, which allowed you to electively boot into memtest86+. This worked as of Cobbler version 3.2.2.

In the current version this no longer works; the menu entry is not being generated

### Steps to reproduce

(0.) dnf install memtest86+
1. cobble

[2022-05-10 16:28] SchoolGuy commented on #3092
Okay so I believe as argued by the reporter that we actually want `grubx64.efi` as a name in all places.

[2022-05-10 16:30] SchoolGuy commented on #3094
Thanks for reporting this. Just one small question: Does that mean that the bug was introduced after Cobbler 3.2.2 according to your tests?

[2022-05-10 18:12] eikef commented on #3094
Yes (the 3.2.2 installation came from EPEL on CentOS8, while the 3.3.2 one is from a git checkout of the release33 branch on an AlmaLinux 8.5).
I haven't tried the EPEL 3.3.2 build thus far, though (though I wouldn't think there would be a difference).

[2022-05-11 18:21] SchoolGuy opened #3097 "[Backport] do not generate <arch>_menu_items.cfg"
### Original feature issue

- Issue: https://github.com/cobbler/cobbler/issues/2862
- PR: https://github.com/cobbler/cobbler/pull/3095

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

Stabilize Cobbler 3.3.x branch

[2022-05-12 11:54] #2862 closed

[2022-05-12 12:10] #3097 closed

[2022-05-12 12:23] SchoolGuy commented on #2997
PR was merged

[2022-05-12 13:11] tiltingpenguin opened #3098 "Migrations use the wrong validate method"
### Describe the bug

The migration logic is broken and uses the validation method of the target version to validate the old settings file. For some reason the tests didn't catch that.

### Steps to reproduce

Reproducing is simple, running tests on the current convention over configuration branch will show that the migration to V3_4_0 is broken because it uses the V3_4_0 validation method on the

[2022-05-12 13:13] tiltingpenguin commented on #3098
I found the root cause of why the tests didn't catch the broken logic. The validation only happened after the changes to the schema were done. This is fixed by just moving the code that validates the settings file to before the changes to the schema are made.

[2022-05-12 13:27] #3080 closed

[2022-05-12 13:37] #3098 closed

[2022-05-13 09:29] SchoolGuy opened #3100 "Authorization modules have an inconsistent return value"
### Describe the bug

When implementing the tests for the golang Client of Cobbler, I noticed that the return values are inconsistent.

### Steps to reproduce

1. Try to call `check_access` via the API
2. Change the module
3. See `bool` instead of `int`.

### Expected behavior

I expect that we have a well defined structure for authentication AND authorization modules. It seems this is not yet the

[2022-05-13 11:27] abrairajon commented on #3030
Hi
I have installed cobbler version 3.4.0 and I receive this errors:

Cobbler 3.4.0
  source: 2d63fd37, Fri May 6 23:46:12 2022 +0200
  build time: Thu May 12 10:49:09 2022

Adding Objects Not Stored On Local
new_distro; [False]
Exception occurred: <class 'AttributeError'>
Exception value: Attribute "remote_grub_kernel" could not be set!
Exception Info:

[2022-05-13 13:56] iuvooneill opened #3101 "Grub bootloaders not requesting next file"
Rocky 8.5, Cobbler 3.2.2 (via epel-modular)

I have made use of mkgrub.sh, and have a grub.0 and a grubx64.efi in /var/lib/tftpboot/grub.
I have copies from /usr/share/syslinux of ldlinux.c32, menu.c32, and pxelinux.0 (and added chain.c32, lincom32.c32 and libutil.c32) in /var/lib/cobbler/loaders and they are sync'd to /var/lib/tftpboot as well (not sure if they are still relevant).

EFI boots _us

[2022-05-13 16:57] eikef opened #3102 "Bogus `console=ttyS-1,-1` gets inserted in append_line by default for systems (regression from 3.2.x), breaking regular output upon PXE boot"
### Describe the bug

If a system is defined in cobbler, `console=ttyS-1,-1` gets added to the kernel_options by default, even though no serial options have been set. This breaks all screen output for PXE-booted installation enviroments.

This is a regression from 3.2.x.

### Steps to reproduce

1. `cobbler system add --name test --mac-address 01:02:03:04:05:06 --netboot-enabled True --profile Alm

[2022-05-14 09:12] SchoolGuy opened #3105 "[Backport] Bogus console=ttyS-1,-1 gets inserted in append_line by default for systems (regression from 3.2.x), breaking regular output upon PXE boot #3102"
### Original feature issue

- Issue: #3102
- PR: #3103

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

Stabilize 3.3.x branch

[2022-05-14 09:18] SchoolGuy commented on #3030
@abrairajon Okay so `3.4.0` is not tagged yet, so installing directly `main` is a bad idea except you develop on the code.

[2022-05-14 09:21] SchoolGuy commented on #3101
@opoplawski I am not aware of the current status of the downstream Cobbler atm. Are there any known bugs in that area or modifications?

[2022-05-14 09:36] SchoolGuy commented on #3090
There is a patch available but we haven't gotten to test it yet.

[2022-05-14 09:36] SchoolGuy commented on #3072
So the backport is merged. Thus issue can be closed.

[2022-05-14 09:36] #3072 closed

[2022-05-15 11:30] #3102 closed

[2022-05-15 11:30] #3105 closed

[2022-05-16 11:19] SchoolGuy commented on #3100
Appendix: Having and own abstract module would only marginally improve the situation and would complicate the module loading process. Thus I have decided that it is enough if we fix the documentation and consistency.

[2022-05-16 11:20] #3081 closed

[2022-05-16 11:39] SchoolGuy opened #3107 "Dictionaries have the wrong value for `<<inherit>>`"
### Describe the bug

When setting a dictionary to `<<inherit>>` it shows `{ "<<inherit>>": None }` which is wrong.

### Steps to reproduce

1. See description

### Expected behavior

`cobbler system report` for example shows the correct value.

### Cobbler version

[code]

### Operating system

### Cobbler log

[code]

### Screenshots

### Additional information

[2022-05-16 12:23] #3076 closed

[2022-05-16 12:23] #3100 closed

[2022-05-17 17:37] SchoolGuy opened #3110 "Only save changes values in `settings.yaml`"
### Is your feature request related to a problem?

As a first step to get to #2552 we need to enable Cobbler to run only with values in `settings.yaml` that are actually defined by the user.

### Provide a detailed description of the proposed feature

- All defaults Cobbler has are inside the settings module.
- Cobbler drops default values from the `settings.yaml` file.

### Alternatives you've co

[2022-05-17 17:37] SchoolGuy commented on #2552
Okay it seems our tests are not good enough yet. What is not reflected at the moment if the `settings.yaml` file would be completely missing:

- Our HTTP API would not behave correctly for the following reason: The `DownloadManager` could not read the external proxy. The reasonable default is not tested if the file cannot be found.
- The daemon would not start due to the fact that `read_settings_f

[2022-05-18 14:35] #3110 closed

[2022-05-19 07:59] #3107 closed

[2022-05-19 14:38] SchoolGuy opened #3111 "System Interface: Include name of duplicated object"
### Is your feature request related to a problem?

At the moment we just say that something is duplicated not by WHAT exactly. This should be improved.

### Provide a detailed description of the proposed feature

The attributes:

- `hostname`
- `ip_address`
- `ipv6_address`
- `mac`

should report what conflicting objects is conflicting with the object you are trying to modify/create.

### Alternat

[2022-05-20 10:57] SchoolGuy opened #3112 "Hide sensitive values per default"
### Is your feature request related to a problem?

At the moment sensitive values like the power management username and password can be read out by anyone. We should implement a mechanism to hide sensitive values per default and only allow access to accounts with write access to the object.

### Provide a detailed description of the proposed feature

The details of how this mechanism should look

[2022-05-24 11:17] pbvafer opened #3114 "The requested URL returned error: 500 Internal Server Error"
The requested URL returned error: 500 Internal Server Error
Warning: anaconda: failed to fetch kickstart from `https://192.168.60.10/cblr/svc/op/autoinstall/system/nodo1`

Hi, I have a problem with launching a RHEL8 kickstart from a master PC to a node PC, the indicated URL is not visible from the node to be able to be configured by the Cobbler system, in `/var/lib/tftpboot/pxelinux.cfg/"file_MAC"

[2022-05-24 11:18] pbvafer commented on #3114
This is the output of cobbler sync

task started: 2022-05-24_131738_sync
task started (id=Sync, time=Tue May 24 13:17:38 2022)
running python triggers from /var/lib/cobbler/triggers/task/sync/pre/*
running shell triggers from /var/lib/cobbler/triggers/task/sync/pre/*
shell triggers finished successfully
syncing all
running pre-sync triggers
running python triggers from /var/lib/cobbler/triggers/sy

[2022-05-24 11:18] SchoolGuy commented on #3114
@pbvafer Thanks for reporting this bug. Could you please restore the content of the template and fill out the required fields? Otherwise it is next to impossible to give you help. For the sake of readability I would also highly appreciate if you would use of the markdown features like code blocks.

[2022-05-24 11:19] pbvafer commented on #3114
cd /var/www/cobbler/svc/
[ll
total 8
-rwxr-xr-x. 1 apache apache 4229 mar 11 09:59 services.py

[2022-05-24 11:20] pbvafer commented on #3114
Oh sorry, this is my first incidence

[2022-05-24 11:30] SchoolGuy commented on #3114
@pbvafer No problem if you need help just ping me. May I edit your post for you if this is your first time?

[2022-05-24 11:49] SchoolGuy commented on #3114
So the information that is missing to this bug is the version of Cobbler you are using. The version you can get via `cobbler version` or by getting the version of  package you installed via apt-get or rpm.

We recently did changes to this part of the code (specifically in #3113) and thus the exact version is important.

[2022-05-24 11:51] pbvafer commented on #3114
Of course, thanks!
Cobbler 3.3.2
  source: ?, ?
  build time: Wed May  4 01:38:10 2022

[2022-05-25 08:54] pbvafer commented on #3114
Excuse my lack of knowledge, are the changes specified in #3113 supposed to solve my problem?

[2022-05-25 08:54] pbvafer commented on #3114
I was about to modify the previous messages for clarity and documentation of the error.

[2022-05-25 09:03] SchoolGuy commented on #3114
Argh I copied the wrong PR. Sorry. The correct PR for this is #2534. So the PR I linked before is not related to this issue.

In regard to your problem. Could it be that this is a duplicate of #2967?

To elaborate: We changed the permissions for some files to read only for `root`. Thus the Apache user can't access the correct files sadly. We corrected that but there is not a new release yet with t

[2022-05-25 09:05] pbvafer commented on #3114
I think it is very much related to the permissions apache has on the files needed to access the Cobbler created system.

[2022-05-25 09:10] pbvafer commented on #3114
I think you are absolutely right and it is the same problem as #2967. I will check #2967 better and confirm, thanks!

[2022-05-25 10:46] pbvafer commented on #3114
With these commands I have managed to get the O.S. launch by pxe to work without giving me 500 Internal Server Error problems:

sudo chmod g+rw /etc/cobbler /etc/cobbler/settings.yaml /etc/cobbler/modules.conf
sudo usermod -aG root apache
sudo systemctl restart httpd cobblerd

[2022-05-25 10:49] pbvafer commented on #3114
Issues #2967 #3016 and #3114 are the same issue.

[2022-05-25 10:55] pbvafer commented on #3114
The problem I am encountering now, which is no longer related to this, is a loop in the cobbler installation by pxe. When I have on  `/etc/cobbler/settings.yaml` the parameter` pxe_just_once: true` and in the `ks` file the flag `firstboot --enable`.
I don't know, can you give me some guidance on this?

[2022-05-25 11:40] SchoolGuy commented on #3114
@pbvafer For this we have the flag `netboot_enabled` on a System. Normally you should utilize the snippet `autoinstall_done` which calls `http://<domain>/cblr/svc/op/nopxe/system/<name>` after the installation has succeeded.

[2022-05-25 12:24] SchoolGuy commented on #3114
Put it in some kind of "post-instal-script" section. I am not aware how you structured your autoinstallation snippets for your kickstart file.

[2022-05-26 07:12] pbvafer commented on #3114
It is a ks file for RHEL8:

[code]

[2022-05-26 07:19] pbvafer commented on #3114
At the end of the file I would put this:
[code]

[2022-05-26 08:41] pbvafer commented on #3114
I'm having trouble accessing the URL you told me to access `http://<domain>/cblr/svc/op/nopxe/system/<name>`. So when you open `http://<domain>/cblr/svc` in the browser i get a message `no mode specified` and I'm still in the installation loop. I think it is a problem related to this issue.

[2022-05-26 08:42] pbvafer commented on #3114
`services.py` Does not run properly and does not create the right path for cobbler to do its job.

[2022-05-26 10:16] #3111 closed

[2022-05-27 06:27] SchoolGuy commented on #3114
Yes this looks good!

[2022-05-27 06:32] SchoolGuy commented on #3114
So the general endpoint you described is not returning anything. So that behaviour is expected. When you call the exact URL I gave to you, you should get a boolean return value.

[2022-05-27 06:32] SchoolGuy commented on #3114
Do you have any stacktrace for that? Any instructions on how to reproduce that behaviour?

[2022-05-27 07:07] pbvafer commented on #3114
![nopxe-navegador](https://user-images.githubusercontent.com/79220152/170649032-d411eba9-c532-4291-8190-59daad52329e.png)

@SchoolGuy You are absolutely right with the URL, sorry it was my ignorance, it is working perfectly.

[2022-05-27 07:10] pbvafer commented on #3114
This is an assumption as I thought it didn't work, but it is my mistake. Forgive my boldness in saying that. The problem I have right now is that the PC that receives the O.S. via PXE-Cobbler-ks is not able to put the installed O.S. in the first place of the Boot BIOS and wants to reinstall it again and again.

[2022-05-27 07:13] SchoolGuy commented on #3114
Okay wonderful that we are progressing. No problem, I have such mis-assumptions as well. Happens to all of us.

In regard to the new problem: Could it be that you locked the boot-order in the UEFI/BIOS? Because I am not aware of any mechanism that puts PXE-booting as their first boot-entry. But this is just a wild guess.

[2022-05-27 07:15] pbvafer commented on #3114
I have PXE Legacy netboot enabled, UEFI is not. Should I change it?

[2022-05-27 07:59] SchoolGuy commented on #3114
The question was not if PXE Legacy Netboot enabled (btw I strongly would recommend UEFI) but what the order in the UEFI is?

So is it:

- PXE
- Hard Drive
- <Other Boot Options>

or is it:

- Hard Drive
- PXE
- <Other Boot Options>

Because if you set `PXE` as the default options you need to check that Cobbler generates the correct PXE Menu for you that instructs the computer to boot from disk and

[2022-05-27 08:07] SchoolGuy commented on #3090
@tpw56j Could you have a look at the last comment in the Bugzilla I linked above? It seems we have a bug in our openLDAP module and I don't understand what the package maintainer means.

[2022-05-27 08:30] pbvafer commented on #3114
For reasons of the ongoing project, the order is 1: PXE 2: Hard Drive.
Well, I want to be able to reinstall when I want with another S.O. for example, if I put 1 Hord Drive, when detecting S.O. it will always start from that one, right?

[2022-05-27 08:33] pbvafer commented on #3114
In this case, how do I check that the PXE Menu is correct? I don't have much knowledge about this.

[2022-05-27 08:55] tpw56j commented on #3090
@SchoolGuy Perhaps the maintainer did not take into account that we are conducting a negative test in which an error (but not a fault) is expected. Have you tried using openldap with the patch he mentioned for our testing?

[2022-05-27 08:57] SchoolGuy commented on #3090
@tpw56j In an earlier comment I tried to explain that to him. But now sadly I havn't had the time.

@tiltingpenguin could you please take care of this next week?

[2022-05-27 09:01] SchoolGuy commented on #3114
Okay good. Since PXE is first in your PXE Menu you should then have an entry called `(local)`. Do you see that when the bootloop appears?

[2022-05-27 09:03] pbvafer commented on #3114
This?
[code]

[2022-05-27 09:21] SchoolGuy opened #3116 "Reduce Codacy Issues"
### Describe the bug

After changing the branch from `master` to `main` on Codacy I digged through the Issues Codacy reported and it seems at least some of them are quite easy to fix.

### Steps to reproduce

None

### Expected behavior

Codacy should report less issues.

### Cobbler version

[code]

### Operating system

### Cobbler log

[code]

### Screenshots

### Additional information

Link t

[2022-05-27 09:25] SchoolGuy commented on #3114
Do you have an entry which looks like this?

[code]

Because that would ensure that your system PXE boots and then uses the hard drive.

[2022-05-27 09:27] pbvafer commented on #3114
The initial input with the cobbler system running is this:
[code]

[2022-05-27 09:31] pbvafer commented on #3114
The default file is:
[code]

[2022-05-27 09:35] #3116 closed

[2022-05-27 11:33] SchoolGuy commented on #3114
Ahh so you have local only in the default boot. Then what should happen is that once `netboot_enabled` is set to false after the autoinstallation the system specific file should vanish since it is not needed anymore. If that is not the case then we have found a bug or I have a logic error in my head.

[2022-05-27 13:01] #3090 closed

[2022-05-27 13:13] SchoolGuy opened #3118 "utils.blender is dropping fields"
### Describe the bug

`utils.blender()` seems to drop some fields in case you don't have a parent object that has a real value.

### Steps to reproduce

1. Create a Distro
2. Set `owners` to `<<inherit>>`
3. See bug when `dump_vars` is called.

### Expected behaviour

### Cobbler version

[code]

### Operating system

[code]

### Cobbler log

[code]

### Screenshots

None

### Additional informati

[2022-05-27 14:58] #3118 closed

[2022-05-30 07:12] pbvafer commented on #3114
Sorry for the late reply. The system-specific file (mac file) does not disappear, it is rewritten to this:
[code]
But it does not boot the system, try DHCP/PXE boot again.

[2022-05-30 07:17] pbvafer commented on #3114
Even if you delete the mac file by hand, try DHCP/PXE boot again.

[2022-05-30 08:09] SchoolGuy commented on #3114
Yeah but that is not a problem as long as the localboot entry is set.

[2022-05-30 08:10] SchoolGuy commented on #3114
So even though you PXE boot the PC should boot from the disk.

[2022-05-30 08:11] pbvafer commented on #3114
Should I change the -1 of localboot to the appropriate value?

[2022-05-30 08:12] pbvafer commented on #3114
I don't have the dhcp-server configured in cobbler, as I have it in a router.

[2022-05-30 08:12] SchoolGuy commented on #3114
No that should be correct.

[2022-05-30 08:12] SchoolGuy commented on #3114
What does the system actually do when this bootentry is used?

[2022-05-30 08:17] SchoolGuy commented on #3114
Yeah and then?

[2022-05-30 08:18] pbvafer commented on #3114
On the newly installed PC nothing, a flashing '-' remains.

[2022-05-30 08:20] pbvafer commented on #3114
But if I go to the BIOS/UEFI and change the boot order to the O.S. I just installed, it boots.

[2022-05-30 08:25] SchoolGuy commented on #3114
Okay that is interesting. So from Cobbler side I believe everything works. I am not aware of what to improve. The things you mentioned are looking fine.

[2022-05-30 08:37] pbvafer commented on #3114
The RHEL8 image I am injecting is x86_64.
[code]
Dónde debería estar el fichero de boot `grubx86.efi`?

[2022-05-30 09:05] SchoolGuy commented on #3114
@pbvafer Both of that statements should work as expected. I still don't see the problem that is causing the trouble. Sorry... :/

[2022-05-30 09:08] pbvafer commented on #3114
One doubt I have, if I already have a DCHP-Server external to Cobbler, I should not install the dhcp-server package nor modify the `dhcp.template` file in `/etc/cobbler`, right?

[2022-05-30 09:11] pbvafer commented on #3114
In dhcp.template in the pxe options, there is no `grubx86.efi `option:
[code]

[2022-05-30 09:16] SchoolGuy commented on #3114
The template in `/etc/cobbler` you can edit for sure. That is why we have a template. However you obviously need to maintain the template. If you don't want to use the DHCP from Cobbler that is totally fine but that means you are responsible to set the correct filename.

[2022-05-30 09:18] pbvafer commented on #3114
Yes, but my question is if I still don't use Cobbler DHCP I have to edit the `dhcp.template`?

[2022-05-30 09:43] SchoolGuy commented on #3114
No that you don't need to do.

[2022-05-30 09:44] pbvafer commented on #3114
Thank you for getting involved in my problem, you have helped me a lot. If I solve this I will let you know, greetings!

[2022-05-30 12:00] pbvafer commented on #3114
@SchoolGuy One more question, is it ok that the `autoinstall_done` file in `/var/lib/cobbler/snippets` is all commented out, maybe that's why it's not working for me?

[2022-05-30 12:04] SchoolGuy commented on #3114
If you want to use Jinja2 that is also possible but that required deeper understanding of Cobbler and its templating system.

[2022-05-30 12:11] pbvafer commented on #3114
Ok, thanks!

[2022-05-30 13:00] SchoolGuy commented on #3114
Are all your problems resolved at the moment? If yes I would like to close this issue. If you have further additional questions, I would love if you open a GitHub Discussion in the Q&A section. :)

[2022-05-30 17:56] pbvafer commented on #3114
OK, I still have the same problem but I understand that it is no longer to do with the original Issue or Cobbler. Thanks!

[2022-05-30 17:59] SchoolGuy commented on #3114
@pbvafer Feel free to open the topic as a GitHub Discussion. However since this issue is done I will close it now. :)

[2022-05-30 17:59] #3114 closed

[2022-05-31 12:24] SchoolGuy opened #3123 "Reduce time to make a new release"
### Is your feature request related to a problem?

At the moment writing the changelog for a new release takes ages. It would be cool if we could automate that process.

### Provide a detailed description of the proposed feature

I would like to utilize https://github.com/release-drafter/release-drafter to draft the next release.

### Alternatives you've considered

- Manual work: Not scalable in

[2022-06-02 13:28] amit-prayag opened #3126 "Exception occurred: <class 'KeyError'> while "cobbler sync""
### Describe the bug

Getting below error while "cobbler sync".
Exception occurred: <class 'KeyError'>
Exception value: 'bind_zonefiles'

### Steps to reproduce

1. execute "cobbler sync" command
2.
3.

### Expected behavior

it should execute without error

### Cobbler version

[code]

### Operating system

openSUSE Leap 15.4

### Cobbler log

[code]

### Screenshots

### Additional information

[2022-06-02 14:33] SchoolGuy commented on #3126
@amit-prayag Am I right to assume from the logs that you are using `managers.bind` for DNS management and you have set `manage_dns` to `True`?

To help me reproduce the issue it would be great to know if you have adjusted the templates or if you are using the standard Cobbler supplied ones.

[2022-06-02 15:44] philippe74 commented on #3023
@aranc23 , @SchoolGuy :  Is there a workaround for this problem ?

I defined the tree variable  after the import :
```  cobbler distro edit  --autoinstall-meta  tree=http://@@http_server@@/cblr/links/rhel8.4-x86_64 ```

Evrything seems to works, but my  new systems  have an incorrect  yum configuration.
curl "http://10.100.xx.yyy/cblr/svc/op/yum/system/rhel8-test-2" returns :
[code]
is it linked ?

[2022-06-03 07:03] SchoolGuy opened #3127 "[Backport] Make initrd optional"
### Original feature issue

- Issue: #3076
- PR: #3077

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-06-03 07:04] SchoolGuy commented on #3127
This was fixed by #3124

[2022-06-03 07:04] #3127 closed

[2022-06-03 07:12] SchoolGuy opened #3128 "[Backport] Dictionaries have the wrong value for `<<inherit>>`"
### Original feature issue

- Issue: #3107
- PR: #3108

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-06-03 07:12] SchoolGuy commented on #3128
This was fixed by #3124

[2022-06-03 07:12] #3128 closed

[2022-06-03 07:15] SchoolGuy opened #3129 "[Backport] Include conflict object"
### Original feature issue

- Issue: #3111
- PR: #3113

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-06-03 07:15] SchoolGuy commented on #3129
Fixed via #3124

[2022-06-03 07:15] #3129 closed

[2022-06-03 07:18] SchoolGuy opened #3130 "[Backport] Cleanup codacy issues"
### Original feature issue

- Issue: #3116
- PR: #3115

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-06-03 07:19] SchoolGuy commented on #3130
This was fixed in #3124

[2022-06-03 07:19] #3130 closed

[2022-06-03 07:30] SchoolGuy opened #3131 "[Backport] Fix - Owners inheritance"
### Original feature issue

- Issue: #3118
- PR: #3119

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-06-03 07:30] SchoolGuy commented on #3131
Fixed via #3124

[2022-06-03 07:30] #3131 closed

[2022-06-03 07:33] SchoolGuy opened #3132 "[Backport] CI: Update system-test instructions"
### Original feature issue

- Commit: d231d64cecc84cbfcbad5d16f624a4eba8530826

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-06-03 07:33] SchoolGuy commented on #3132
Was done via #3124

[2022-06-03 07:33] #3132 closed

[2022-06-03 07:50] SchoolGuy opened #3133 "Add `set_item_resolved_value` endpoint"
### Is your feature request related to a problem?

With the possibility of getting a resolved single value from our API it would be beneficial if we could modify that and use it in a setter.

### Provide a detailed description of the proposed feature

See above

### Alternatives you've considered

None

### Additional information

None

[2022-06-03 07:50] #3133 closed

[2022-06-03 07:51] SchoolGuy opened #3134 "[Backport] Add `set_item_resolved_value` endpoint"
### Original feature issue

- Issue: #3133
- PR: #3120

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

In Uyuni/SUSE Manager we need a stable version of Cobbler which is suitable for long term support. This issue is part of the effort to stabilize the Release V3.3.x series for this usecase.

[2022-06-03 07:52] SchoolGuy commented on #3134
This was fixed via #3124

[2022-06-03 07:52] #3134 closed

[2022-06-03 08:13] SchoolGuy opened #3135 "`virt_file_size` has different types"
### Describe the bug

The issue is that there is a mix of `int` and `float.` This mix should be converted to float in all places which is:

- Docs,
- Tests,
- Settings,
- CLI.

### Steps to reproduce

1. Look at all places where `virt_file_size` is present.
2. See problems.

### Expected behavior

`virt_file_size` should be a `float` in all cases.

### Cobbler version

[code]

### Operating system

[2022-06-03 08:13] SchoolGuy commented on #3135
PR was already merged that fixes this: #3071

[2022-06-03 08:13] #3135 closed

[2022-06-04 02:55] btravouillon commented on #2838
The bug still exists with latest 3.3.3.

[code]

Add a new system with interface `eno1`.

[code]

Print system report. There are 2 network interfaces `default` and `eno1`.
I can't say if it's expected, but AFAIR this did not work this way in 2.x.

[code]

Since I don't need the `default` interface, I delete it.

[code]

So far so good... **BUT** any change on the system will add the `default` inte

[2022-06-04 03:16] btravouillon commented on #2838
This was introduced with 287d23133432. This is part of a BIG (and impressive!) change # 2433.

[2022-06-04 07:13] SchoolGuy opened #3137 "Configure Cobbler via env variables, cobblerd flags and k8s native mechnisms"
### Is your feature request related to a problem?

Currently it is not possible to use environment variables to configure Cobbler. This makes the containerization process harder to implement.

### Provide a detailed description of the proposed feature

Cobbler should have a schema where an environment variable translates to a setting in `settings.yaml`. This schema should be implemented on the ser

[2022-06-04 07:16] SchoolGuy opened #3138 "Support configuration and restarting of services in remote environments"
### Is your feature request related to a problem?

For the containerization efforts it is crucial that we can configure and restart services in remote environments. This is not possible at the moment.

### Provide a detailed description of the proposed feature

TODO

### Alternatives you've considered

Leaving this responsibility to the admin is something I would not like to do.

### Additional in

[2022-06-04 07:19] SchoolGuy opened #3139 "Integrate default templates and enable overwrite templates"
### Is your feature request related to a problem?

For a more lightweight configuration it should be possible to have built-in templates that work even if no templates are present on the local file-system. The user should have the possibility to use them or provide his own templates.

### Provide a detailed description of the proposed feature

TODO

### Alternatives you've considered

Leaving as i

[2022-06-06 03:09] zparihar opened #3140 "cobbler repo add / edit --priority=1 does not work on Cobbler 3.3.2"
### Describe the bug

Hey SchoolGuy,

Long time no speak.
I found a bug with "cobbler repo add" and "cobbler repo edit" related to setting the YUM/DNF priority:
It's complaining that "exception on server: Repository priority must be of type int."

### Steps to reproduce

When I run:

`cobbler repo add --name=almalinux86-x86_64-base --mirror=http://mirror.myaccess.ca/8.6/BaseOS/x86_64/os/ --breed=y

[2022-06-06 10:04] SchoolGuy commented on #3140
@zparihar Thanks for the report. I have found the error already. Sadly it is not fixed in 3.3.3 but I will create a PR against the `main` branch.

[2022-06-06 10:23] SchoolGuy opened #3142 "Refactor utils module"
### Is your feature request related to a problem?

Currently the `utils.py` module with over 2k lines. The functionality of those functions don't belong together.

### Provide a detailed description of the proposed feature

The module should be split into sub modules if there can be found a group of functions belonging together.

### Alternatives you've considered

None

### Additional information

[2022-06-06 11:28] SchoolGuy opened #3144 "Use entrypoint scripts instead of custom written ones"
### Is your feature request related to a problem?

At the moment we write, maintain and package our own entrypoint scripts for Cobbler. Admittedly this is not much work but I see no reason to do that.

### Provide a detailed description of the proposed feature

I would like to utilize https://setuptools.pypa.io/en/latest/userguide/entry_point.html to ship the entrypoints for Cobbler.

### Alternat

[2022-06-06 11:58] SchoolGuy opened #3146 "Move docstring license headers to spdx"
### Is your feature request related to a problem?

[SPDX](https://spdx.dev/) is a way of standardized markers to show that a certain file is under a specific license. We want to utilize this to mark our old files that have a specific copyright and license.

### Provide a detailed description of the proposed feature

Since there is no relicensing done, according to my understanding there needs to b

[2022-06-06 13:57] SchoolGuy opened #3148 "`api.py` is missing API functions"
### Is your feature request related to a problem?

When looking through `remote.py` I noticed that it has API functions exposed that `api.py` doesn't have. That should be fixed.

### Provide a detailed description of the proposed feature

The following functions should be present in `api.py`:

- `get_valid_breeds()`
- `get_valid_os_versions_for_breed(breed)`
- `get_valid_os_versions()`
- `get_vali

[2022-06-06 14:09] SchoolGuy opened #3149 "Evaluate mtab code"
### Is your feature request related to a problem?

At the moment we do some file-based operations based on `/etc/mtab`. This mechanism is very old and has seen a lot of changes.

### Provide a detailed description of the proposed feature

After reading https://unix.stackexchange.com/a/514095 I thought it is time to open this issue. We should document in this issue what there is to do with this cod

[2022-06-06 15:11] #3146 closed

[2022-06-07 11:46] SchoolGuy opened #3150 "Bash completion broken"
### Describe the bug

Discovered while working with a colleague. The problem is the `--path` component.

### Steps to reproduce

1. `cobbler import --name test --path`
2. Double-tab the tab
3. See error

### Expected behavior

The bash completion should not cause the bash terminal to break

### Cobbler version

[code]

### Operating system

openSUSE Leap 15.4

### Cobbler log

[code]

### Screensh

[2022-06-07 16:08] iuvooneill commented on #3101
Just a followup - EFI boots may have been something on my side as they are working again, but BIOS bootloader still doesn't request a file.

[2022-06-07 16:56] SchoolGuy commented on #3101
@iuvooneill Thanks for the followup. Are you using Grub or PXElinux? Do you have any output on the client side?

[2022-06-07 17:19] zparihar commented on #3140
@SchoolGuy

Hey SchoolGuy!  Thanks so much!
If you do resolve this and have some time to post the changes, I'd like to replace the appropriate file / code and try it.

Cheers!

[2022-06-07 17:48] iuvooneill commented on #3101
Nothing on the client after it displays the DHCP IP, until after a while it drops into the grub shell.

[2022-06-07 18:10] zparihar opened #3152 "cobbler profile add with wrong path of autoinstall file slaughters integrity of Cobbler"
### Describe the bug

When I intentionally submit the incorrect path of an 'autoinstall' file to a Cobbler Profile, it destroys the integrity of Cobbler and can never complete a Cobbler Sync again.

### Steps to reproduce

Here I will run through the exact steps in order as well as its output:

1. Adding a Profile with a full path of the autoinstall file

`[root@cobbler-server templates]# cobbler

[2022-06-07 19:41] SchoolGuy opened #3153 "HTTPboot not documented"
### Is your feature request related to a problem?

We added HTTPboot support in https://github.com/cobbler/cobbler/issues/2102 ages ago. However we havn't documented how to set it up and how it works. Let's change that.

### Provide a detailed description of the proposed feature

A step-by-step explanation on how to enable HTTPboot and how it works.

### Alternatives you've considered

None

### A

[2022-06-07 19:43] SchoolGuy commented on #3140
@zparihar A patch can be found here: https://github.com/cobbler/cobbler/pull/3141/commits/6cc1a348beedfd58899205fefa2558bd8b33df7f

However sadly that won't apply as it is part of a refactoring that I made in that PR. Thus you would have to backport it yourself. If you need a backport for 3.3.x urgently I can try but I can't promise anything.

[2022-06-07 19:45] SchoolGuy commented on #3101
Okay so as far as I understand the client doesn't load anything execept `grub.0`? If that is the case I am highly confused. Grub should lazy load the required configurations etc. Even before the right entry is automatically selected... I will try to reproduce this when time allows but for the meantime I am staggered.

[2022-06-07 20:48] SchoolGuy commented on #3152
@zparihar So the short term fix is to go to `/var/lib/cobbler/collections/distros/almalinux86-x86_64.json` and there to edit the list of children. The name "ORPHAN1" should be present there.

**Important**: Shut down Cobbler before you edit the JSON file!

If the modification was successful you should be able to start Cobbler and `cobbler sync` and everything else should behave normally.

Long ter

[2022-06-07 20:48] SchoolGuy commented on #3152
Thank you for this outstanding bug report though! That is really helpful! 🥳

[2022-06-08 09:49] SchoolGuy opened #3154 "Validate the functionallity of `object_cache` in `remote.py`"
### Describe the bug

Currently we never delete items from the cache of objects in the XML-RPC API. I have the feeling that this may cause problems. We should also independently write tests for this cache.

### Steps to reproduce

1. None

### Expected behavior

The item Cache for the XML-RPC API is abstracted so we can reuse it for a HTTP-API.

### Cobbler version

[code]

### Operating system

N

[2022-06-09 13:45] #2838 closed

[2022-06-12 12:35] #3069 closed

[2022-06-12 18:03] zparihar commented on #3152
Hi SchoolGuy,

No problem.  I'm at a conference, will try again when I get back on Wednesday.
In the mean time, I compiled 3.2.2 and had no problems, so definitely a change the 3.3.x series.

Talk soon.

[2022-06-13 13:56] #3140 closed

[2022-06-13 13:56] #3142 closed

[2022-06-13 14:14] SchoolGuy commented on #2393
@dansou901 Any news on this?

[2022-06-13 14:27] dansou901 commented on #2393
I'm still busy setting up the new environment in our infrastructure, I'll be evaluating options for an install server this or next week.

[2022-06-13 14:30] SchoolGuy commented on #2393
@dansou901 Don't hesitate to ask for features. I have a strong interest in this contribution and thus I am willing to invest in your company with a feature that you would desire. It is my free time so don't expect wonders but I'll do my best. :)

[2022-06-13 14:30] SchoolGuy commented on #2393
@dansou901 Don't hesitate to ask for features. I have a strong interest in this contribution and thus I am willing to invest in your company with a feature that you would desire. It is my free time so don't expect wonders but I'll do my best. :)

[2022-06-13 14:41] dansou901 commented on #2393
The main thing missing right now for me is the missing web interface.

[2022-06-13 14:44] dansou901 commented on #2393
Also nice would be a way to provision a machine automatically via cobbler, in a way that cobbler powers on the machine and installs it in one go (maybe that's already possible today)

[2022-06-13 14:58] mdepot commented on #3126
I ran into this same issue as well, on version 3.3.2.  In my case I had set manage_dns to true, and left bind as the default dns implementation.  I happen to be using Rocky, which uses /var/named as the zonefile path.  I confirmed that the path was set correctly in settings.yaml:
[code]
As a workaround, I ended up replacing @@bind_zonefiles@@ in my template files with the actual path for the zone

[2022-06-13 15:06] dansou901 commented on #2393
Sounds good. Do you have an estimate on when the Web interface will be done?

[2022-06-13 15:14] SchoolGuy commented on #2393
@dansou901 I will sit down tomorrow and create one. The API Client and Fronted both have rudimentary functions but it is definitely not ready.

[2022-06-13 16:19] mdepot opened #3157 "exception on server: '_BindManager' object has no attribute 'write_dns_files'"
### Describe the bug

Cobbler 3.3.2 calls a function that doesn't exist.

### Steps to reproduce

cobbler system add --name=test --profile=rocky8.6-x86_64
exception on server: '_BindManager' object has no attribute 'write_dns_files'

### Cobbler version

[code]

### Operating system

Rocky 8.6 + EPEL

### Cobbler log

[code]

### Additional information

Perhaps should be calling self.dns.write_con

[2022-06-13 18:14] jfchoquette opened #3158 "mkloaders fails to create .efi files"
### Describe the bug

After updating to Cobbler 3.3.2, the mkloaders command fails to generate efi boot loaders. Cobbler is now asking for a memdisk, which we did not need prior to updating. After providing a path to the syslinux memdisk, cobbler will fail to generate the loaders anyways.

### Steps to reproduce

1. In `/etc/cobbler/settings.yaml`, set the `syslinux_memdisk_folder` and `syslinux_p

[2022-06-14 06:58] SchoolGuy commented on #3157
This is a duplicate of #2984, was fixed in #2990 for `main` / 3.4.0 and backported in #3049 for 3.3.3.

[2022-06-14 06:58] #3157 closed

[2022-06-14 07:09] SchoolGuy commented on #3158
@jfchoquette Setting the settings you mentioned to any `@@name@@` variable should never work because the settings file is the source of truth for those settings. So I would expect this to happen. The defaults in the `settings.yaml` should work for you on openSUSE Tumbleweed as this is what we use for our CI also.

The memdisk is required since Cobbler 3.3.1 and was added in #2851. So there should

[2022-06-14 07:13] SchoolGuy commented on #3126
Okay I will try to create a test specifically for this and see if I can recreate this. Contributions are very welcome though as I am spread very thin with the new Webinterface, the Terraform SDK V2 migration and the new CLI.

[2022-06-15 07:31] SchoolGuy opened #3159 "Depreacte XML-RPC Handle"
### Is your feature request related to a problem?

Currently we have a second UID for the XML-RPC API. Those are redundant as we have an object UID.

### Provide a detailed description of the proposed feature

The XML-RPC API should not utilize their self built handles anymore but just utilize the uid of the object.

### Alternatives you've considered

None

### Additional information

None

[2022-06-15 07:32] SchoolGuy opened #3160 "find methods should be able to return resolved objects"
### Is your feature request related to a problem?

At the moment only `get_*()` methods are able to return resolved objects in `cobbler/remote.py`. This should not be the case.

### Provide a detailed description of the proposed feature

Implement an option to retrieved resolved objects for more then just a single method group.

### Alternatives you've considered

None

### Additional information

[2022-06-17 20:17] jfchoquette commented on #3158
Okay thank you for the help. I was able to find the correct modules and successfully build the bootloader. Looks like it was not a bug after all, so I'm going to close this. Thanks again for helping me identify the problem.

[2022-06-17 20:17] #3158 closed

[2022-06-21 20:58] javier-angulo opened #3161 "incorrect filename in dhcpd.conf"
### Describe the bug

Generated dhcpd.conf has `filename "<<inherit>>";` for a system if filename has not been set in profile/system

### Steps to reproduce

1.Import distro
`cobbler import --name=esxi70 --path=/mnt/iso --arch=x86_64 --breed=vmware --os-version=esxi70`
2.Create system
`cobbler system add --name some-host2 --profile "esxi70-x86_64" --netboot-enabled=true --interface="vmnic0" --ip-a

[2022-06-23 13:44] SchoolGuy opened #3162 "Expose input converters to the API"
### Is your feature request related to a problem?

It seems that languages like Java cannot reimplement our `input_string_or_dict` functions. Theses functions are important so that users may enter their kernel options in a way they would enter it in a real command line.

### Provide a detailed description of the proposed feature

The functionality of all `input_string_or*` functions should be avai

[2022-06-27 10:07] SchoolGuy commented on #2845
@elfring I don't know how this slipped my attention but if you want you can open a PR that fixes the usages that you can find. I would be glad to review it.

[2022-06-27 10:15] SchoolGuy opened #3163 "`get_settings()` should have an option to only return non default values"
### Is your feature request related to a problem?

During implementation of the UI I noticed that it is not possible to check what the default options for a setting are.

### Provide a detailed description of the proposed feature

I propose that we are able to query the following things:

- currently loaded settings that are not set to a default value - `get_settings()` with a parameter like `mini

[2022-06-27 12:11] elfring commented on #2845
Do you find any of the shown change possibilities acceptable already?

[2022-06-27 14:09] ishackigozi commented on #3153
@SchoolGuy I hope you are well, any idea when you can assist with this documentation?
Thank you.

[2022-06-27 14:19] SchoolGuy commented on #2845
@elfring Sure. They include no logical change and make the code easier to read. So go for it. The code and its layout may have changed but the change itself is totally valid.

[2022-06-28 07:06] SchoolGuy commented on #3153
@ishackigozi Well what I would do is using libvirt to create a Cobbler playground and then try to figure out how to use it. Afterwards I would document this and then refine it while I perform the documented steps by myself. If you are interested, you are more then welcome to do this!

[2022-06-30 07:49] SchoolGuy commented on #3144
Okay we have a small hickup. Debian 10 seems to package `mod_wsgi` in a different way which leads to the fact that setuptools seems to not recognize the installed package. Thus we need to find a solution for this. I can think of two things:

- Remove `mod_wsgi` from the requirements list
- Let this stay open until June 2024 - https://wiki.debian.org/LTS
- Ignore that Debian 10 is broken? - Not an

[2022-06-30 11:51] SchoolGuy opened #3164 "API: `get_event_log` is broken"
### Describe the bug

Due to our Python Logger refactoring the endpoint `get_event_log` is broken. The functionality relied on the fact that we have a single file for each task available.

### Steps to reproduce

1. Call `get_event_log` with a valid task id
2. See error

### Expected behavior

The log of the task is successfully returned as a string

### Cobbler version

[code]

### Operating syst

[2022-06-30 12:08] SchoolGuy commented on #3164
Events object format:

[code]

Actually I found that this is already documented at: <https://cobbler.readthedocs.io/en/latest/code-autodoc/cobbler.html#cobbler.remote.CobblerXMLRPCInterface.get_events>

[2022-07-03 12:28] SchoolGuy opened #3166 "Reposync tests are flaky"
### Describe the bug

We have wonderful `cobbler reposync` tests thanks to @tpw56j! However in our CI they are flaky.

### Steps to reproduce

1. Look at the history of our CI testruns
2. See that many failed runs are due to the mirrors not being available

### Expected behavior

The Python Tests are thought as Unit Tests. Thus they should be refactored and we should test the integration tests wit

[2022-07-03 13:38] SchoolGuy commented on #1551
Closed via #3077

[2022-07-03 13:38] #1551 closed

[2022-07-03 13:54] SchoolGuy commented on #2665
@dlawle Any update on this issue?

[2022-07-03 14:08] SchoolGuy commented on #3088
The RPM is now ins table and I consider this bug closed thus.

[2022-07-03 14:08] #3088 closed

[2022-07-03 18:07] pwhack commented on #1551
Vielen Danken, @SchoolGuy!

[2022-07-05 23:36] bill-broadley opened #3169 "Ever slower adding of nodes, huge slow down since 3.2.x"
### Describe the bug

I built 3.3.3 and 3.4.0 branches from git.  I noticed that cobbler sync, launching cobblerd, and even things like minor edits to a profile to set a template get ever slower.  On a 3.2.x system I have a cobbler sync takes 3-5 seconds, with 3.3.3 or 3.4.0 it's more like 15-20 minutes.

From what I can tell the more systems I add the more repetitions I get of:
[code]

Even runni

[2022-07-07 08:56] PhilEv commented on #3068
@SchoolGuy for the part related to item 3 above and looking at the code,

patching [tftpgen.py ](https://github.com/cobbler/cobbler/blob/main/cobbler/tftpgen.py)

plus
https://github.com/cobbler/cobbler/blob/main/cobbler/actions/buildiso/standalone.py and https://github.com/cobbler/cobbler/blob/main/cobbler/actions/buildiso/netboot.py

for breed == "redhat"  should be enough.

I will make an attem

[2022-07-07 08:59] SchoolGuy commented on #3068
@PhilEv Thanks a lot!

[2022-07-07 11:02] SchoolGuy opened #3170 "`get_item_resolved_value` returns complex objects"
### Describe the bug

Currently for specific attributes there are complex objects that are being returned through the XML-RPC API. This is a problem for the Python XML-RPC Server cannot marshal does since it can only marshal basic types.

### Steps to reproduce

1. call `get_item_resolved_value`
2. See `<class 'TypeError'>:cannot marshal None unless allow_none is enabled`

### Expected behavior

T

[2022-07-07 11:27] SchoolGuy opened #3171 "Switch to dates for time formats"
### Is your feature request related to a problem?

We have multiple places in Cobbler that use dates in seconds since epoch. Latest in 2038 this is [going to be a problem](https://en.wikipedia.org/wiki/Year_2038_problem). Let other people fix that for us.

### Provide a detailed description of the proposed feature

I would like to use the language native type for dates if possible to enable easier

[2022-07-07 12:25] SchoolGuy opened #3173 "[Backport] `get_item_resolved_value` returns complex objects"
### Original feature issue

- Issue: #3170
- PR: #3172

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

Bug that is required to be fixed to stabilize the SUSE Manager 4.3 integration.

[2022-07-07 12:43] SchoolGuy opened #3174 "`grab_tree` is spamming the log file"
### Describe the bug

The log file because unreasonable big because of `grab_tree` messages. They are important but not for normal day-by-day administration.

### Steps to reproduce

1. Look at the logfile
2. See spam

### Expected behavior

The logfile is not exploding.

### Cobbler version

[code]

### Operating system

Not relevant

### Cobbler log

See #3169

### Screenshots

None

### Additio

[2022-07-07 13:02] SchoolGuy opened #3176 "[Backport] `grab_tree` is spamming the log file"
### Original feature issue

- Issue: #3174
- PR: #3175

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

Bug that is required to be fixed to stabilize the SUSE Manager 4.3 integration.

[2022-07-07 17:50] SchoolGuy commented on #3169
@bill-broadley If you would do that, that would be a massive help! If you can't do it, I will do it as part of my work for the next SUSE Manager version 4.4 probably but it is not yet set in stone.

[2022-07-08 10:15] #3176 closed

[2022-07-09 08:53] watologo1 commented on #3169
@bill-broadley Can you try:
https://github.com/cobbler/cobbler/pull/3180
please.
I wanted to do this more proper (at least one of the 2 commits), but this is intrusive and I do not see that this can happen any time soon.

[2022-07-09 17:32] SchoolGuy opened #3181 "Actions - Report: Add coverage"
### Is your feature request related to a problem?

Our coverage is good but it can be better. During browsing our coverage, I discovered that the report action has low coverage.

### Provide a detailed description of the proposed feature

See above

### Alternatives you've considered

None

### Additional information

None

[2022-07-09 17:56] SchoolGuy commented on #2638
We already have a lot of new functionality for 3.4.0. I will move this to 3.5.0...

[2022-07-09 17:57] SchoolGuy commented on #2637
We already have a lot of new functionality for 3.4.0. I will move this to 3.5.0...

[2022-07-09 17:59] SchoolGuy commented on #2393
@dansou901 Any updates? I CC'd you in the project plan I have for the WebUI.

[2022-07-09 18:10] SchoolGuy commented on #2804
@bill-broadley you might be interested in this issue. They are not identical but they might have the same root-cause.

[2022-07-09 18:28] SchoolGuy commented on #3173
PR was merged. Issue can be closed.

[2022-07-09 18:28] #3173 closed

[2022-07-09 18:36] SchoolGuy commented on #3123
Another option is to use https://github.com/twisted/towncrier. This is used by Saltstack and thus I have experience with it already. Towncrier would also enable us to publish a classical release file.

[2022-07-11 14:26] SchoolGuy opened #3184 "Upgrade codeql to v2"
### Is your feature request related to a problem?

CodeQL V1 is deprecated. For more information please see: https://github.blog/changelog/2022-04-27-code-scanning-deprecation-of-codeql-action-v1/

### Provide a detailed description of the proposed feature

None

### Alternatives you've considered

None

### Additional information

None

[2022-07-11 15:18] #3184 closed

[2022-07-11 16:02] #3181 closed

[2022-07-12 15:42] #3159 closed

[2022-07-12 16:30] PhilEv commented on #3068
@SchoolGuy

leaving aside for now [standalone.py](https://github.com/cobbler/cobbler/blob/main/cobbler/actions/buildiso/standalone.py) and [netboot.py](https://github.com/cobbler/cobbler/blob/main/cobbler/actions/buildiso/netboot.py) after patching  my cobbler dev system (3.3.2) `tftpgen.py` (see below) and with the 2 other modifications already described
I've been able to import a CentOS Stream9

[2022-07-12 16:34] SchoolGuy commented on #3068
@PhilEv If you submit against `release32` then the only thing you need is that you open a PR against it. The CI takes care of the testing. If you test stuff via the GitHub Actions CI, just cleanup the Git history before asking for a review. Everything else you might need help with should be describes here: https://github.com/cobbler/cobbler/wiki if there is something missing in the Wiki please pin

[2022-07-12 17:09] #3092 closed

[2022-07-12 18:50] SchoolGuy opened #3188 "Cobbler Replicate Tests"
### Is your feature request related to a problem?

Curently `cobbler replicate` is untested and thus has numerous bugs.

### Provide a detailed description of the proposed feature

There should be both coverage and integration tests for `cobbler replicate`.

### Alternatives you've considered

None

### Additional information

Related to #3030

[2022-07-12 19:08] SchoolGuy commented on #2579
This was fixed through pushing to `main` directly by accident. Thus this was fixed via [30fb320](https://github.com/cobbler/cobbler/commit/30fb320c996a87aa418901921eabd7a271a4c6d7).

[2022-07-12 19:08] #2579 closed

[2022-07-12 19:23] SchoolGuy opened #3190 "[Backport] interface "default" created when not needed"
### Original feature issue

- Issue: #2838
- PR: #3136

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

Stability for 3.3.x

[2022-07-12 19:25] #3190 closed, assigned to nobody

[2022-07-12 19:29] SchoolGuy commented on #1782
I have decided that this should be part of 3.5.0 since 3.4.x is already quite full with features and we should try to focus on the CLI and Web Interface.

[2022-07-13 11:42] SchoolGuy opened #3193 "Kernel not found error message is not precise"
### Describe the bug

During debugging an Uyuni Issue, @meaksh and I discovered that the error message actually is not fitting enough.

### Steps to reproduce

1. `cobbler distro add ...`
2. See error about a not found kernel

### Expected behavior

The error message reflects that it could also be the kernel regular expression that prevents the kernel from being accepted.

### Cobbler version

[co

[2022-07-13 11:47] SchoolGuy opened #3194 "[Backport] Kernel not found error message is not precise"
### Original feature issue

- Issue: #3193
- PR: #3192

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

Stabilization of SUSE Manager and Uyuni integration of Cobbler 3.3.3

[2022-07-13 12:33] #3193 closed

[2022-07-13 18:07] #3194 closed

[2022-07-14 15:02] tiltingpenguin commented on #3144
I looked into this a bit and a cli in golang would probably solve this problem as well

[2022-07-14 15:06] SchoolGuy commented on #3144
Since @tiltingpenguin summarized the issue state pretty good, I will close this one in favor of working on the golang CLI.

[2022-07-14 15:07] #3144 closed

[2022-07-14 15:22] SchoolGuy commented on #2893
I will close this in favour of #2393. It doesn't help to fix something that is anyway going to be removed in the same release.

[2022-07-14 15:22] #2893 closed

[2022-07-15 05:59] neotheonce commented on #2865
It has been fixed. Thank you very much.
When can we expect cobbler-web-3.3 ?

[2022-07-15 07:07] SchoolGuy commented on #2865
@neotheonce Thanks for the confirmation that this is fixed. Sadly I have no ETA yet as my private time availability shifts a lot. I will definitely release 3.4.0 with the new CLI and new WebUI.

[2022-07-18 14:16] #3068 closed

[2022-07-18 14:17] SchoolGuy opened #3199 "[Backport] Add support for CentOS Stream 9 and RHEL9"
### Original feature issue

- Issue: #3068
- PR: #3198

### Target release

- [ ] release33
- [x] release32
- [ ] release30

### Reason

The community was so kind to backport this already. This is just a tracker.

[2022-07-21 13:11] #3166 closed

[2022-07-21 13:34] geliwei opened #3202 "cobbler api service unable to access setting file"
### Describe the bug

when I type "curl http://localhost/cblr/svc/op/setting"

I  got

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>500 Internal Server Error</title>
</head><body>
<h1>Internal Server Error</h1>
<p>The server encountered an internal error or
misconfiguration and was unable to complete
your request.</p>
<p>Please contact the server administrator at
 root@lo

[2022-07-21 13:42] SchoolGuy commented on #3202
This is a duplicate of #2967. It was fixed in #3020 and was backported to 3.3.3 with #3084.

[2022-07-21 13:42] #3202 closed

[2022-07-21 20:29] manoj0772 opened #3203 "Cobbler RedHat 9 PXE Kickstart Issues"
### Describe the bug

RedHat 9 kickstart fails when not using correct kernel boot params in  /var/lib/tftpboot/pxelinux.cfg/default file.  Details as mention here https://bugzilla.redhat.com/show_bug.cgi?id=2109650 . Moving forward kernel params without inst. is depreciated and no longer supported. If i run cobbler sync my changes go away cause i updated default file manually for testing purpose.

[2022-07-22 07:45] #3203 closed

[2022-07-25 08:15] SchoolGuy opened #3206 "PR templates"
### Is your feature request related to a problem?

At the moment when seeing a PR it is hard to grasp what it is about.

### Provide a detailed description of the proposed feature

I would like to have a form that enables a reviewer to have a uniform view of each PR.

### Alternatives you've considered

None

### Additional information

This idea was raised by @meaksh in an internal retrospective

[2022-07-25 11:24] SchoolGuy commented on #2995
Okay there were two things going on here:

1. I documented the usage wrong: The parameter `exclude_dns` only has an effect when `systems` are given.
2. The condition that decided if this is generated or not had an `or`, while it must be an `and`.

[2022-07-25 12:14] Fluffyrodent commented on #3101
Hi,
This is the same as my issue I posted about here : https://github.com/cobbler/cobbler/discussions/2876

Which I'm sad to say I still haven't understood , I git it on Rocky 8.6 with Cobbler 3.2.2 now.

I think I am not understanding Grub2 and specifically where the  config file is meant to be and what Rocky et al expect it to be called.  But I'm not sure tbh.

Hope the additional example helps

[2022-07-25 13:18] SchoolGuy commented on #3199
This backport was already done. Thus closing.

[2022-07-25 13:18] #3199 closed

[2022-07-25 13:40] SchoolGuy opened #3211 "Property Setters don't deduplicate in dict or list case"
### Describe the bug

When using a setter like `item.kernel_options`, the setter is assuming that you pass it a raw value. However if the data is retrieved before via `item.kernel_options` the data returned is resolved. This leads to data duplication inside Cobbler.

### Steps to reproduce

1. `my_value = item.kernel_options`
2. Do things with my_value
3. `item.kernel_options = my_value`

### Expe

[2022-07-26 10:44] SchoolGuy opened #3212 "Specifiy type of kernel options (post)"
### Is your feature request related to a problem?

During [a review](https://github.com/cobbler/cobbler/pull/3210#discussion_r929745614) it surfaced that kernel options cannot be a nested dictionary. This is at the moment not visible in the documentation and the type hints.

### Provide a detailed description of the proposed feature

We need to investigate what more tightly clarify what types can

[2022-07-26 10:50] #2995 closed

[2022-07-26 12:17] SchoolGuy commented on #3094
This was fixed in #3205

[2022-07-26 12:17] #3094 closed

[2022-07-26 13:37] #3162 closed, assigned to SchoolGuy

[2022-07-26 13:49] SchoolGuy commented on #2859
An easy overview for this can be found at: [Codacy](https://app.codacy.com/gh/cobbler/cobbler/issues?&filters=W3siaWQiOiJMYW5ndWFnZSIsInZhbHVlcyI6W119LHsiaWQiOiJDYXRlZ29yeSIsInZhbHVlcyI6WyJTZWN1cml0eSJdfSx7ImlkIjoiTGV2ZWwiLCJ2YWx1ZXMiOltdfSx7ImlkIjoiUGF0dGVybiIsInZhbHVlcyI6WyIxOTE3Il19LHsiaWQiOiJBdXRob3IiLCJ2YWx1ZXMiOltdfV0=). The filter I set in the UI (via the link) will show all usages we have

[2022-07-27 09:18] #3206 closed

[2022-07-27 11:21] #3033 closed

[2022-07-27 11:24] SchoolGuy commented on #2337
Fixed via #3201

[2022-07-27 11:24] #2337 closed

[2022-07-27 11:26] SchoolGuy commented on #2889
So I have confirmation from [this](https://github.com/cobbler/cobbler/pull/3201#issuecomment-1196553924) comment that his issue was fixed with #2482. Thus closing the issue.

[2022-07-27 15:09] #2760 closed

[2022-07-29 08:03] SchoolGuy opened #3218 "Cloud-Init Support"
### Is your feature request related to a problem?

At the moment it is only possible to boot the legacy images of Ubuntu due to the missing cloud-init support.

### Provide a detailed description of the proposed feature

We should have an easy way for users to provision cloud-init. I have no detailed ideas how to approach this except for the bits named below by @heroin-moose.

Cloud-Init further i

[2022-07-29 09:15] SchoolGuy commented on #2889
In a discussion of #2890 it surfaced that this bug is still valid.

[2022-07-31 16:00] iuvooneill opened #3219 "Not creating *_menu_items.cfg"
### Describe the bug

When running cobbler mkloaders/sync, no *_menu_items.cfg files are created, and EFI boots are not given a selection of profiles, only "local".

### Steps to reproduce

1. Run cobbler mkloaders; cobbler sync
2. PXE boot an EFI system
3. Look at grub menu

### Expected behavior

Get a list of OS profiles to install.

### Cobbler version

Cobbler 3.3.2
  source: ?, ?
  build tim

[2022-08-03 18:02] SchoolGuy commented on #2552
I believe the progress for 3.4.0 is enough in this area. We will move this to 3.5.0 thus.

[2022-08-03 18:11] SchoolGuy commented on #2860
What is not yet clarified what happens to folders defined in the settings that are not underneath the data and config directory. The following settings is not yet clarified.

[2022-08-04 08:34] SchoolGuy commented on #2181
We have the following usage of hardcoded `http` generated URLs:

- URL for the kernel options that specify the autoinstallation file location: `cobbler/tftpgen.py`
- Image path for ipxe: `cobbler/tftpgen.py`
- Bootloader path for Windows: `cobbler/tftpgen.py`
- Configuration files in the tftproot: `cobbler/tftpgen.py`
- Kernel Parameters for Network bootable ISOs: `cobbler/actions/buildiso/netboot

[2022-08-04 08:45] SchoolGuy opened #3220 "Tests: Add for ACL module"
### Is your feature request related to a problem?

During the work of #3213 I discovered that the module has not tests. Thus let's add some.

### Provide a detailed description of the proposed feature

Have explicit coverage for the module.

### Alternatives you've considered

None

### Additional information

None

[2022-08-04 08:50] SchoolGuy opened #3222 "Tests: Add for hardlink action"
### Is your feature request related to a problem?

During the work of #3213 I discovered that the module has not tests. Thus let's add some.

### Provide a detailed description of the proposed feature

Have explicit coverage for the module.

### Alternatives you've considered

None

### Additional information

None

[2022-08-04 08:56] vzhestkov commented on #2181
At least we can reduce the number of additional parameters by splitting where this URLs go, I mean as I can see most of them related to the data passed with `tftp`. Maybe I'm wrong here and the rest indirectly related to tftp also. Maybe it make sense to split out the setting for `tftp` part?

[2022-08-04 09:17] SchoolGuy commented on #2181
Well you are right, however putting ipxe, windows, installation status and kernel options in the same setting feels wrong. However I agree with you that it seems "logical". So you would group the setting by source code file @vzhestkov?

[2022-08-04 09:17] SchoolGuy commented on #2181
@brejoc If you remember your plan for this one you are of course invited to leave a comment too! :)

[2022-08-04 09:36] vzhestkov commented on #2181
In case of windows it also make sense to split it individually. In this case it looks like mostly by the source file with the windows setting as the only exception. But not sure actually if it make sense to split windows out as it related to `tftp` anyway. And in general it looks like in 99.99% all of these settings will stay as `http`.

[2022-08-04 09:50] #3222 closed

[2022-08-04 09:50] #3220 closed

[2022-08-05 06:59] SchoolGuy commented on #2624
The Pyroma section was successfully removed as PR #3225 was merged.

[2022-08-05 07:28] SchoolGuy commented on #2874
So as this bug is understandably confusing for people not familiar with our current build-chain I have decided to close this in favour of #2393. `make debs` works as designed currently and thus there is nothing to do except implement native Debian packaging for which we have another issue.

[2022-08-05 07:28] #2874 closed

[2022-08-05 13:27] SchoolGuy commented on #2393
@dansou901 I have something working! The PR is not yet ready but I would really appreciate your comments on the draft if you have time!

[2022-08-05 13:29] #3188 closed

[2022-08-05 13:37] dansou901 commented on #2393
Saw what you did, looking good so far. But you said lintian is quite unhappy with the current state, maybe I can help with that. I've got some experience working around lintian problems. Do you have an output of what lintian disapproves of?

[2022-08-05 13:38] dansou901 commented on #2393
Something else, do you have plans already for where to push the finished packages to when they are done?

[2022-08-05 13:48] dansou901 commented on #2393
Also just left a comment for one small thing in the pull request.

[2022-08-05 14:29] SchoolGuy commented on #2393
@dansou901 So my current knowledge of Debian packaging is limited to the last 5 hours. So I haven't thought about pushing it to Debian & Ubuntu, although I would really love if that is possible. If that is not possible or too much work, I would try to attach the RPMs and DEBs for a release along to the GitHub Release and then additionally building them in my home project in the OBS to be able to p

[2022-08-05 14:37] dansou901 commented on #2393
Both of them shouldn't be hard to fix. The first one is a design question: Do we want to point to /var/www as DocumentRoot or do we want to change that? How will such a change affect updates / migrations from previous versions? If we do not want to change that, we need to add a lintian override.
The second one should be done as it says: the package shouldn't include the pycache directory but rathe

[2022-08-05 14:39] dansou901 commented on #2393
Apart from building the debs in your OBS home project, I would rather propose to create a ppa at launchpad. That would be the fastest way to get the packages to people. As soon as we have those there, we can still try to figure out how to get them included in the main repositories.

[2022-08-05 14:42] SchoolGuy commented on #2393
Okay then let's do it exactly like you proposed. It is one place more for me but that isn't a problem. I already have an account at Launchpad.

In regard to the warnings and errors of lintian: I will call it a day for now but I will try to sit down on Sunday to get the things in order. The heat make concentration hard. Especially the document root change needs to be done properly. Doing that cross

[2022-08-05 14:44] SchoolGuy commented on #2644
3.4.0 is already very full. Since we are behind schedule for the release, this will be moved to 3.5.0.

[2022-08-05 14:44] SchoolGuy commented on #2366
3.4.0 is quite big already and we are late with the planned release date. Thus let's move that to 3.5.0.

[2022-08-05 14:46] SchoolGuy commented on #3148
3.4.0 is quite big already and this only will add functionality. Additionally 3.4.0 is already late for the planned release. Thus let's move this to 3.5.0.

[2022-08-05 14:47] SchoolGuy commented on #2860
3.4.0 is quite big already and we are late with the release. Let's move this to 3.5.0.

[2022-08-05 14:48] dansou901 commented on #2393
If we do the document root change cross-distro, maybe it's a good idea to point that to one directory for all distros to make it easier. Just as an idea.

[2022-08-05 14:54] SchoolGuy commented on #2393
That would be indeed cool. I will dig into that. We would save ourselves quite some configuration variables and logic in quite many places...

[2022-08-10 08:34] brejoc commented on #2181
@SchoolGuy Uff… to be honest, my memories around this are less than vague. Sorry! :(

[2022-08-11 13:14] inigo-montoya1 opened #3226 "Refresh repos with cobbler reposync does not work"
### Describe the bug

Creating a local repository works fine. When days later you try to refresh it using `cobbler reposync` it gives an error `cobbler.cexceptions.CX`

### Steps to reproduce

1. Define repositories: `cobbler repo autoadd`
2. Make sure they are defined:
[code]
3. Set up a local mirror:
[code]
4. Synchronize the repository: `cobbler reposync --only baseos-8-x86_64`. This first sync

[2022-08-11 16:02] SchoolGuy commented on #3226
@inigo-montoya1 Do I interpret correctly that Cobbler is not able to handle the case correctly that an RPM is already downloaded?

[2022-08-12 12:30] AaronBandt opened #3228 "CNAMES silently failing to generate"
### Describe the bug

Cobbler is silently failing to generate CNAMES when running `cobbler sync`. It appears as though the interface object used to be a dict but is now an object:

https://github.com/cobbler/cobbler/blob/a9efd94e58cb77bcab38ec35d19720e6e2776e29/cobbler/modules/managers/bind.py#L489

moving that line outside the try/except block reveals the failure:

[code]

Therefore changing that

[2022-08-15 15:33] SchoolGuy commented on #3228
@AaronBandt Thanks for the bug report and spot. I will create a PR and fix that on `main` for you. It will take a while though that this will get release because the web-interface is not ready for release yet sadly.

[2022-08-15 18:14] AaronBandt commented on #3228
No worries, thanks for the quick turnaround on the PR.

[2022-08-16 14:21] SchoolGuy commented on #1685
I believe this is already fixed but we should check explicitly before the next release.

[2022-08-17 13:26] inigo-montoya1 commented on #3226
I think Cobbler does not interpret correctly the exit status of dnf.
I find this in the cobbler.log file:
[code]
In this case, the repo was out of sync and dnf downloaded multiple packages. Despite that `cobbler reposync` failed again and was not able to sync the repository.

I have manually run the _dnf reposync_ command above and seen the exit status was 1.

In short, the dnf exit status appears

[2022-08-17 14:13] SchoolGuy commented on #3226
@inigo-montoya1 Thanks for the clarification. I will read up on the exit codes of `dnf reposync`. In the past assuming `0` was fully okay to expect.

[2022-08-17 16:51] SchoolGuy commented on #2860
All folders in the TFTP and HTTP webroot folders need to be created during runtime. This is only partly what we need to close this issue. Still it is a big step. The following folders (from `setup.py`) are affected:

[code]

What also requires to be copied into the HTTP webroot but falls outside of the category of pure folders is:

[code]

[2022-08-17 18:44] SchoolGuy commented on #2860
The misc folder can be repeatedly copied from `/var/lib/cobbler/misc`. That is inefficient but it will be reliable during runtime. Also one can then make adjustments without destroying the live-version of the file.

The WSGI script can be also dropped to another location. However for that the Apache config needs to be changed. Since we need to switch to uwsgi anyway to provide a nginx config (resu

[2022-08-18 08:56] Fluffyrodent commented on #2844
Just a wee comment on this as I have just encountered it on a fresh install on Rocky Linux 8.6

The cobbler check command states :
some network boot-loaders are missing from /var/lib/cobbler/loaders. If you only want to handle x86/x86_64 netbooting, you may ensure that you have installed a *recent* version of the syslinux package installed and can ignore this message entirely. Files in this direct

[2022-08-18 11:28] Fluffyrodent commented on #2844
Following on from above and for sake of completeness...

MKGRUB and LOADERS
------------------
Loaders for your distribution must be MADE these days - no "cobbler get-loaders" anymore

Also above when investigating the lack of a grub.0 we copied some syslinux loaders into place first.

Run /usr/share/cobbler/bin/mkgrub.sh but export the right environment vars first.

A dnf repoquery on the previou

[2022-08-18 13:38] SchoolGuy commented on #2844
So as there is nothing to be done at the moment from the maintainers side if I understand these comments correctly, I have decided to close this issue. The code (and in older version script) does what it is supposed to do. The removal of `cobbler get-loaders` is now mentioned in many places and a suitable replacement for the command was created.

[2022-08-18 13:38] #2844 closed

[2022-08-18 16:22] #3228 closed

[2022-08-18 19:48] SchoolGuy opened #3232 "Refactoring to dynamic folder creation broke multiple functionallities"
### Describe the bug

Merging #3230 before GH Actions finished led to a broken Cobbler that is unable to start and unable to be packaged.

### Steps to reproduce

Try `pytest` on [9d35aa2](https://github.com/cobbler/cobbler/commit/9d35aa29ab3ee19598dc16d9c1e8c70eac947d44)

### Expected behavior

Testsuite and packaging works

### Cobbler version

[code]

### Operating system

openSUSE, Debian, Fed

[2022-08-18 20:11] #3232 closed

[2022-08-18 20:33] SchoolGuy opened #3234 "Enable Cobbler to be proxied behind a wider range of webservers"
### Is your feature request related to a problem?

During #3197 it came to my attention that NGINX is not suitable for `mod_wsgi`.

### Provide a detailed description of the proposed feature

Gunicorn is an implementation of the WSGI standard (PEP 3333). Let's use it to take our existing code and serve it with it.

### Alternatives you've considered

- Other UWSGI servers are existing but they req

[2022-08-20 14:55] SchoolGuy opened #3235 "Provide packages and repos"
### Is your feature request related to a problem?

At the moment people have to rely on the existence of distro-packages or self-compiled packages. We should provide another means of installation for stable tags.

### Provide a detailed description of the proposed feature

- The openSUSE Buildservice can automate rebuilding packages and providing repositories for us.
- Building on Github and attac

[2022-08-22 13:07] SchoolGuy opened #3236 "`cobbler buildiso` fails when a system is based on an image"
### Describe the bug

When executing `cobbler buildiso --systems="example"` the ISO is not built successfully.

### Steps to reproduce

1. Add an image to Cobbler
2. Add a system with the previously added image as a parent
3. Run `cobbler buildiso ...`
4. See below stacktrace

### Expected behavior

`cobbler buildiso` will succeed without problems.

### Cobbler version

[code]

### Operating syste

[2022-08-23 07:02] #3236 closed

[2022-08-23 07:02] SchoolGuy opened #3238 "[Backport] `cobbler buildiso` fails when a system is based on an image"
### Original feature issue

- Issue: #3236
- PR: #3237

### Target release

- [x] release33
- [ ] release32
- [ ] release30

### Reason

Stabilization of Cobbler 3.3.3 for Uyuni and SUSE Manager.

[2022-08-23 08:04] SchoolGuy commented on #2181
@agraul @meaksh @ycedres Any idea from your side?

[2022-08-23 13:09] AaronBandt commented on #2762
Is there any update on a path forward for this? It is still failing on cobbler 3.3.3 because the server wants bytes now.

[2022-08-24 07:24] SchoolGuy commented on #2762
I have no knowledge of that process sadly and my priorities at work do not allow me to work on this atm. My free time is at the moment occupied differently, thus I have no plans at the moment. Feel free to open a PR to fix the issue or to describe the issue in such details that the fix is very straightforward to do. I will gladly assist when opening a PR.

[2022-08-24 15:07] ycedres commented on #2181
@SchoolGuy To have a better understanding, is the `autoinstall_protocol` option always going to be either `http` or potentially `https` value or is there any other possibility apart from those two?

[2022-08-24 15:43] #1685 closed

[2022-08-24 15:43] #3160 closed

[2022-08-24 15:57] SchoolGuy commented on #2181
@ycedres I believe that it indeed will always stay with http or https. At least for the next 5-10 years. Maybe Quic or a yet not existing protocol will rise but that is a future I cannot foresee.

[2022-08-24 17:45] AaronBandt commented on #2762
Sounds good, I will see what I can do to fix it and will follow up here when I have something, thanks!

[2022-08-25 06:15] javier-angulo opened #3242 "boot.cfg file generation on tftproot for esxi systems fail"
### Describe the bug

Cobbler fails for esxi systems on sync, `/var/lib/tftpboot/esxi/system` directory does not exist.
I think previous `mkdir` from `filesystem_helpers` would create any parent directory if it didn't exist.
Also looks to me that distro `boot_files` are not being copied to tftproot (just kernel and initrd).

### Steps to reproduce

1. run cobbler sync with esxi distro and system

[2022-08-25 06:55] SchoolGuy commented on #3242
Well... I refactored it and messed it up. So I shall fix it before the stable release...

[2022-08-25 06:55] SchoolGuy commented on #3242
P.S.: If you can of course fix it, then that would be even better! :)

[2022-08-25 07:41] vzhestkov commented on #2690
Not sure if I understand the question right. For me it sounds like it could be handled in scope of
https://github.com/cobbler/cobbler/blob/792f4a20477510a21505506c96dc3962565d3be0/cobbler/items/system.py#L1076
or am I wrong?

[2022-08-25 11:35] SchoolGuy commented on #2690
@vzhestkov Well you are right about the scope, however since the value is a list, one can manipulate that via `.append()` for example and that Cobbler will not notice.

[2022-08-25 11:36] SchoolGuy commented on #2690
@vzhestkov Well you are right about the scope, however since the value is a list, one can manipulate that via `.append()` for example and that Cobbler will not notice.

[2022-08-25 12:07] agraul commented on #2690
The immutable sibling to `list` is `tuple`, not `frozenset`.

I don't understand the question either, what list do you want to watch? What's the expected way to access this list? How else can the list be accessed?

[2022-08-25 12:14] vzhestkov commented on #2690
What are the possible initiators of such changes besides this setter?

[2022-08-25 12:25] SchoolGuy commented on #2690
- The expected way to access the list is the property.
- I have chosen `frozenset` due to the fact that duplicate entries are not desired in the enumeration.
- I want to watch it for changes to prevents bugs like the one you see in the initial description happing while at the same time not needing to account for a full refactor to a immutable data type.

[2022-08-26 08:45] #3161 closed

[2022-08-26 08:55] javier-angulo commented on #3242
Note that distro `boot_files` are being copied to tftproot, no issue there

[2022-08-26 13:41] SchoolGuy commented on #3238
PR merged. This can be closed.

[2022-08-26 13:41] #3238 closed

[2022-08-26 14:02] SchoolGuy commented on #1646
Okay I finally will be able to take care of this. Fix will be bundled with the fix for #3164

[2022-08-29 08:12] #3242 closed

[2022-08-29 14:39] SchoolGuy commented on #3219
@iuvooneill Could you check out PR #3245 once it is ready and if it fixes your problems please?

[2022-08-29 15:19] iuvooneill commented on #3219
@SchoolGuy I'll try to look into this when I get a chance...may need to stand up a new test env for it as I backed down to 3.2.2 on the one where I ran into this, but I have a lab I can try it on.

[2022-08-29 15:23] SchoolGuy commented on #3219
@iuvooneill Take your time. The PR is not ready yet. I need some time to feel confident myself with the work.

[2022-08-31 08:43] SchoolGuy commented on #2181
@agraul @ycedres @meaksh Any more comments on this matter?

[2022-08-31 10:37] fnevgeny commented on #2149
FWIW, in my case, it was a *directory* present in systems.d that raised the error.

[2022-08-31 21:14] PunisherHD92 opened #3247 "cobbler status fails when log files are gzipped"
### Describe the bug

After some time of running, the log file /var/log/cobbler/install.log gets rotated by logrotate.
Logrotate creates gzipped files, e.g. 'install.log-20220830.gz'

Then "cobbler status" fails with the following error:
[code]

### Steps to reproduce

1. cd /var/log/cobbler
2. rm -f install.log*.gz
3. cp install.log install.log-20220830
4. cobbler status => works OK
5. gzip insta

[2022-09-01 06:30] SchoolGuy commented on #3247
@PunisherHD92 Thanks for your proposed patch. What we can instead is specify that the file should be opend in text-mode. We are already using `gzip.open()`, thus we can make your patch even smaller then it already is. Thanks for the amazingly understandable bug report!

[2022-09-01 07:16] PunisherHD92 commented on #3247
Hello, thanks for replying.
You are correct about the gzip.open option.
Here is another proposed patch.
[cobbler-3.2.2-log_gzip_decode_2.txt](https://github.com/cobbler/cobbler/files/9467659/cobbler-3.2.2-log_gzip_decode_2.txt)

[2022-09-01 07:25] PunisherHD92 opened #3248 "Build issue: add support for Rocky Linux distribution"
### Describe the bug

When building Cobbler 3.2.2 from sources on a Rocky Linux machine, the "distro_build_configs.sh" does not detect the distribution correctly.
FYI: Rocky Linux 8 is a clone of RHEL 8 distribution

### Steps to reproduce

1. Build and install Cobbler on Rocky 8 distribution
2. Directories that are created on target system are incorrect (e.g. '/etc/apache2' instead of '/etc/httpd

[2022-09-01 07:26] SchoolGuy commented on #3247
Good. I have come up with the same thing. However I am writing the missing tests atm. I will open a PR once I am finished with that.

[2022-09-01 07:41] SchoolGuy commented on #3248
@PunisherHD92 Feel free to open a PR. For me 3.2.x is out of maintenance, I only care about `main` and the current release series since my time is too limited to do more.

[2022-09-01 10:42] ycedres commented on #2181
Really not from my side. I was asking because I thought if it might be feasible to add some "secure connection" flag instead of explicitly specifying http or https protocol. I really don't quite understand why having just one `autoinstall_protocol` option is an overkill as you mentioned.

[2022-09-01 11:39] SchoolGuy commented on #2181
Well it is not overkill but it might be too little. If we only have one setting, then a user might have more HTTPs then he asked for. The early boot process might not have the CA from the server available.

[2022-09-01 11:47] agraul commented on #2181
I don't have enough context yet and didn't think hard enough about this question to form an opinion yet. I'm passing on this one for now.

[2022-09-02 08:09] SchoolGuy commented on #2181
@meaksh Any opinion or other comments?

[2022-09-12 05:49] SchoolGuy opened #3251 "Can we support ubuntu 22.04 in future?"
### Discussed in https://github.com/cobbler/cobbler/discussions/3217

<div type='discussions-op-text'>

<sup>Originally posted by **mytxyang-arm** July 29, 2022</sup>
Ubuntu 22.04 was released already, do we have a plan to support it on cobbler?</div>

[2022-09-12 16:37] plazonic opened #3253 "self.__interface_edits trying to handle changes to hostname or ks_meta or other attributes"
### Describe the bug

When editing non interface specific attributes, like hostname or ks_meta, e.g.:

`cobbler system edit --name=mysystem --hostname=mysystem.com`

for systems with more than interface it fails with:

[code]

### Steps to reproduce

1. Create a system with more than one interface (so that there is no default interface)
2. Try to edit hostname

### Cobbler version

3.3.3 patched w

[2022-09-13 08:04] SchoolGuy opened #3254 "Add prometheus exporter"
### Is your feature request related to a problem?

At the moment it is impossible as a user to monitor the performance of the server.

### Provide a detailed description of the proposed feature

Add metrics in the form of a [Prometheus exporter](https://prometheus.io/docs/instrumenting/writing_exporters/) or [OpenMetrics](https://openmetrics.io/).

The content of the metrics I am not sure yet but

[2022-09-21 23:29] btravouillon opened #3255 "The management interface is not found in tftpgen"
### Describe the bug

On a server with several network interfaces, I need to specify which network interface to use for network install.

The interface has management set to True. However, the boot file generated by tftpgen does not include the correct interface.

### Steps to reproduce

1. Create a system with a management interface and netboot enabled

[code]

2. Check the boot file
[code]

The

[2022-09-22 19:29] asimat opened #3257 "python3-hivex breaks cobbler"
I am trying to get windows and ipxe working on cobbler-3.2.2. However when I install python3-hivex it breaks cobblerd and service will not start afterwards. Removing python3-hivex gets things working again.

Has anyone recently testing the windows setup ?

Is there a more recent guide for windows and cobbler ?

Any further help will be appreciated.

[2022-09-22 20:10] plazonic commented on #3253
Turns out that was a terrible way to fix it, this works better:

[code]

[2022-09-22 20:12] asimat commented on #3257
I was following this documentation: https://cobbler.readthedocs.io/en/latest/user-guide/wingen.html

Adding windows_enabled: true in /etc/cobbler/settings.d/windows.settings also breaks cobblerd and the following errors are shown:

Traceback (most recent call last):
  File "/usr/bin/cobbler", line 35, in <module>
    sys.exit(app.main())
  File "/usr/lib/python3.6/site-packages/cobbler/cli.py", li

[2022-09-22 20:13] asimat commented on #3257
My setup is using Python3.6 (AlmaLinux8.6)

[2022-09-24 14:29] SchoolGuy commented on #3257
@tpw56j Could you maybe take some time to investigate and help out here?

[2022-09-24 14:47] tpw56j commented on #3257
@SchoolGuy Yes, unfortunately I didn't check for the existence of the `win_sif.template` and `startnet.template` templates in `sync_post_wingen.py`. I can justify myself only by the fact that I described their need and an example of the content in `cobbler/docs/user-guide/wingen.rst` (for version 3.2.2).
In version 3.3.3 they are in `cobbler/templates/windows`, `win_sif.template` renamed to `answe

[2022-09-24 14:53] SchoolGuy commented on #3253
Thanks for submitting this diff @plazonic ! Are you interested in submitting this as a PR? I believe while it may be what we need until the new CLI is in place. I would even accept a PR without a test in this case here.

[2022-09-24 14:58] SchoolGuy commented on #3257
Okay then I will label this as a docs bug. Thanks for the quick answer!

@asimat here are the docs for your version: https://cobbler.readthedocs.io/en/v3.2.2/user-guide/wingen.html the latest guide is becoming slowly out of sync for your version. If you find missing bugs feel free to submit PRs but it will take me time to get to review them and release a new version for 3.2.x.

[2022-09-25 13:39] tpw56j opened #3259 "tftpgen performance issue"
### Describe the bug

With a large number of profiles, editing one profile takes too long and exceeds the timeout.

### Steps to reproduce

1. `# cobbler menu list | wc -l`
32
2. `# cobbler profile list | wc -l`
189
3. `# cobbler profile edit --enable-menu=true --menu=Linux --name=Fedora-latest-x86_64`

### Expected behavior

The command should have completed successfully.
### Cobbler version

[co

[2022-09-25 15:22] SchoolGuy commented on #3259
Yes I am aware. The clean solution is to separate the generation more to not have unneeded regeneration of config files that stay the same. However the detection mechanism of this is very hard (how do you actually know that nothing has changed). If you look at the most time consuming thing that is actually `item.py:to_dict`. However I have no clue how to reduce the time of that method sadly. Also

[2022-09-25 15:35] tpw56j commented on #3259
@SchoolGuy I think we can start by trying to reduce the number of `make_pxe_menu` calls per profile edit. 96÷12=8s - I would be happy)

[2022-09-25 15:38] SchoolGuy commented on #3259
@tpw56j Okay. Feel free to suggest things. As said, I need to free my plate before putting more on there.

[2022-09-25 15:47] tpw56j commented on #3259
@SchoolGuy  Thanks! I will try to study the code and suggest a PR.

[2022-09-26 13:54] plazonic commented on #3253
Sure - I'll try to get that done later today. This is used in production so it reflects ongoing fixes - I just didn't have time to do it right...

[2022-09-29 08:59] SchoolGuy opened #3261 "Allow settings of custom plugins to be preserved with migrations"
### Is your feature request related to a problem?

At the moment plugins that are written for an older version of Cobbler might bring custom settings. These could not be put into Cobbler with the new migrations mechanism. Thus there is the need for a mechanism that allows this again.

### Provide a detailed description of the proposed feature

Since custom plugins should have a low effort barrier

[2022-09-29 10:24] SchoolGuy opened #3262 "`settings.d` mix prevents upgrade from 3.1.2 to 3.3.0"
### Describe the bug

In older versions of Cobbler we evaluated `/etc/cobbler/settings.d`. Additionally we provided for newer versions of Cobbler files with reasonable defaults. This means that once the daemon tried to start up we had a valid old settings configuration plus the defaults of the new files.

### Steps to reproduce

1. Install 3.1.2
2. Upgrade to 3.3.0
3. Daemon doesn't start

### Exp

[2022-09-29 13:20] #3164 closed

[2022-09-29 13:20] #1646 closed

[2022-09-30 12:10] SchoolGuy commented on #2181
@meaksh Any opinion or do you want to skip this one?

[2022-10-03 07:49] #3247 closed

[2022-10-05 11:57] SchoolGuy commented on #2453
To elaborate on this request a bit more:

- The desired architecture should follow the "one process per container" methodology. The missing technical points were mentioned above.
- The following issue will help us to put the Cobbler Daemon into a single container: https://github.com/cobbler/cobbler/issues/3234
- If multiple containers need to share data based on the filesystem (for example the tft

[2022-10-13 07:10] SchoolGuy commented on #2804
@AaronBandt So to give you more context here that is not 100% visible already in this issue:

We have additionally to this issue another performance related issue (#3259). Those issues basically have the same root cause to my current investigation. Currently I have defined that the JSON database is not to be trusted and also data coming from the outside (so XML-RPC essentially) is not to be taken

[2022-10-14 14:21] SchoolGuy opened #3263 "Task logs don't end"
### Describe the bug

Task logs contain the normal server logs, even though the task has stopped. This leads to duplicated logs in all created files.

### Steps to reproduce

1. `cobbler mkloaders` (or any other task)
2. Repeat step 1
3. See logs being appended to completed tasks

### Expected behavior

The files should only contain the logs for the task.

### Cobbler version

Commit: 2a5c7ce9c153

[2022-10-14 14:29] SchoolGuy commented on #3259
@tpw56j Any progress on this front? I am brainstorming about this as well in the context of #2804 and have gotten nowhere atm.

[2022-10-14 15:13] tpw56j commented on #3259
@SchoolGuy Unfortunately, I haven't had time to do this yet. Maybe later I will have some ideas.

[2022-10-14 15:14] SchoolGuy commented on #3259
@tpw56j No worries. Thanks for the update.

[2022-10-14 15:48] SchoolGuy opened #3265 "Provide a way to be complient to the K8s Cluster API"
### Is your feature request related to a problem?

As an installation server I believe that Cobbler should be compliant at some point to the K8s Cluster API

### Provide a detailed description of the proposed feature

TBD

### Alternatives you've considered

None

### Additional information

See here for more information: https://cluster-api.sigs.k8s.io/

[2022-10-16 06:31] tpw56j commented on #3259
@SchoolGuy I had time to look into this problem and this is what I found:
- there is a significant positive effect of template caching.
- I only discovered it now because the OS was rebooted

Replacing the code with a new one with a restart of `cobblerd` and `httpd` does not change the execution time:
[code]
But if you restart the OS, then the improvement becomes noticeable:
[code]
I did this seve

[2022-10-16 13:13] tpw56j commented on #3259
@SchoolGuy My suggestions:
1. Since item.py:to_dict is too slow and there are no ways to speed it up, it is possible to cache the  item's dict representation in the object itself. Any change to the object invalidates the cache. And the next time you call `to_dict`, the cache is rebuilt.
2. It seems to me that at cobbler startup it is enough to scan the contents of directories with items without re

[2022-10-16 14:09] SchoolGuy commented on #3259
@tpw56j If I might summarize to understand your last two comments:

- Promoting templates to first-level objects and keeping them in memory is useful (well you said cache templates but instead I would try to promote them for easier management).
- Lazy loading items on a per-need basis - Open question for me is how do we validate at startup that everything is valid?
- Add a caching layer that adds

[2022-10-16 15:47] tpw56j commented on #3259
@SchoolGuy I'm sorry, I didn't think about the validity check at the start of cobbler. There are of course ways to get around this, but it seems to me that these workarounds will lead to unjustified complication.

There are 2 ideas left:
- templates caching
- caching the results of item.py:to_dict in Item

[2022-10-16 15:53] SchoolGuy commented on #3259
@tpw56j Okay perfect. I would try to promote templates then to a first-level object. That is essentially the same but I believe in the code we can gain benefits from this.

Caching `item.py` is more complicated because the last implementation was so bugged I removed it. However I am open to a proper implementation that is well-tested.

[2022-10-16 16:01] tpw56j commented on #3259
@SchoolGuy Or maybe just cache boot menu templates locally in TFTPGen? It seems to me that this is easier than promoting templates to first-level object.

[2022-10-16 16:03] SchoolGuy commented on #3259
@tpw56j Well yes but I am a fan of doing things properly. Also what we could do if templates are a first-level object, we can abstract the source of them better. This is for containerization a good point imho. Also we can cache them centrally like all other items.

[2022-10-16 16:13] tpw56j commented on #3259
@SchoolGuy Okay, that would indeed be more properly.

[2022-10-17 08:48] #3263 closed

[2022-10-18 07:02] #2859 closed

[2022-10-18 19:03] SchoolGuy opened #3267 "Promote templates to first-level objects"
### Is your feature request related to a problem?

Currently it is not possible to have an overview of templates that are used during Cobbler runtime. Promoting templates to first-level entities would enable better control over them during runtime.

### Provide a detailed description of the proposed feature

During the discussion of #3259 it become evident that it is needed to cache templates duri

[2022-10-18 19:53] SchoolGuy commented on #3267
I have started to create a drawio diagram of the current state of the items so I can play drag & drop with the properties and create new classes as desired later on.

[2022-10-21 14:52] #3262 closed

[2022-10-21 18:16] SchoolGuy commented on #2804
@AaronBandt Well there are two reasons...

1. I am paranoid because this is a tool for sysadmins. They like to play and the easy datastructure is inviting them to do so
2. Databases like Mariadb or other ones are also performing checks during startup if I am not mistaken. The application is just not seeing this as the DB is normally already running when the application starts.

[2022-10-21 22:39] plugovoy commented on #2437
Hi @SchoolGuy I am trying to bring up cobbler server on Fedora Core 35. Followed these steps http://sappyit.blogspot.com/2015/02/cobbler-installation-and-configuration.html + Prerequisites from this site: https://cobbler.readthedocs.io/en/latest/installation-guide.html I am running into this closed post while trying to find any relevant information for the issue I am having. Every time I try to st

[2022-10-22 10:50] SchoolGuy commented on #2437
@plugovoy Let's have a GitHub discussion about this. I know that the reposync code is not perfect but it seems to work in general and the blogspot that you mentioned is very very outdated. Thus let's start a seperate discussion please.

[2022-10-30 18:23] marbaa commented on #3016
Just adding my observation to this ERROR 500.

I made two VM's. Version ```3.2.2``` and version ```3.3.2```. Until I fount this github issue, I compared a lot of files. Both versions have almost same file permissions for ```/etc/cobbler /etc/cobbler/settings.yaml /etc/cobbler/modules.conf```

**3.2.2**
[code]

**3.3.2**
[code]

Are you sure only those two PR's are the cause of this bug?

 If I set

[2022-11-15 14:26] #3234 closed

[2022-11-15 19:42] SchoolGuy commented on #2574
I will close this issue as we will move to our new golang based CLI for 3.4.0. Thus this work is redundant.

[2022-11-15 19:42] #2574 closed

[2022-11-16 11:22] Creris opened #3270 "Impossible to use proxy settings in cobbler config for "signature update""
### Describe the bug

It is impossible to use a proxy when attempting to run `cobbler signature update`(and potentially other commands that might interact with the proxy setting `proxy_url_ext` from the cobbler config) because of a conflict of the config schema and the way that the code uses the proxy variable.

### Steps to reproduce

1. set `proxy_url_ext` variable to a valid proxy string(for in

[2022-11-16 11:59] SchoolGuy commented on #3270
@Creris Do you know which version of requests introduced this change?

[2022-11-16 12:17] Creris commented on #3270
The first version that supports the proxies parameter of requests is 0.5.0, I checked the source code real quick and the docstring says that the proxies parameter has to be a dictionary. The closest earlier version of requests is 0.4.1 whose source I also peaked at and the docstring for the request function does not support proxies at all.

From this I deduce that requests has never supported any

[2022-11-16 13:01] SchoolGuy commented on #3270
Okay. Thanks for the information. If it is possible I would love if a PR is opened by the community by this. I personally won't be able to fix this in the coming weeks.

[2022-11-16 13:26] Creris commented on #3270
I can try to make a PR that fixes at least this issue, Ive seen the proxy config field used in some tests and one other class so changing the schema sounds like a bad idea.

[2022-11-16 20:50] SchoolGuy commented on #3016
@marbaa Yes I am sure that these are the root case. The reason why you need to broaden the privileges so wide is because the class `CobblerAPI` requires write permission on those files. Since the `mod_wsgi` script is using just mentioned class the Apache user requires to be added as you just described.

[2022-11-17 15:23] ApertureDevelopment opened #3272 "ESXi guest unable to boot using efi"
### Describe the bug

It seems that my VMware ESXi guests are unable to boot using efi PXE. When trying to boot using Legacy PXE everything works as expected. I have already figured out that the templated filename option inside the dhcp file did not match the actual loader filename. After fixing that I get a step further, but it still does not want to boot.

### Steps to reproduce

1. Setup cobble

[2022-11-17 15:35] SchoolGuy opened #3273 "Resolving items doesn't work as intended"
### Describe the bug

In `item.py` the methods `_resolve` and `_resolve_enum` don't raise an Attribute exception if neither the parent nor the settings have the attribute.

### Steps to reproduce

1. Prefix the existing `AttributeError` with `raise`
2. Execute pytest testsuite
3. See three new errors

### Expected behavior

The attribute error should be raised in case we can't resolve the attribut

[2022-11-17 19:33] SchoolGuy commented on #3272
So since the bootloaders was successfully downloaded I am bit puzzled. Normally GRUB would then throw an error if a configuration file (like `grub.cfg`) was incorrect from a syntax perspective. However here all we have is "unsuccessful". That is not much to go with.

Is it a great effort for you to try a recent Fedora or Rocky Linux as a Cobbler host?

[2022-11-17 22:18] javier-angulo commented on #3272
ESXi does not support grub, and (sadly) you cannot chainload the ESXi efi bootloader with grub. Which is what cobbler is trying to do from the image. @SchoolGuy I was also puzzled for a long time until I could confirm that grub was not supported. You need to provide via TFTP the esxi own efi bootloader (on the ESXi installation iso, file `efi/boot/bootx64.efi`, and must be renamed as `mboot.efi`).

[2022-11-17 22:21] ApertureDevelopment commented on #3272
Sorry, but I think you misunderstood my issue. I am not trying to install ESXi using PXE, I am trying to install ESXi guests ( Virtual Machines ) using PXE. WHile ESXi may not support being installed using grub, it certainly does support grub inside their VMs/guests.

[2022-11-17 22:22] ApertureDevelopment commented on #3272
I can do that. I am actually setting up Fedora and Rocky guests for this right now

[2022-11-17 22:30] javier-angulo commented on #3272
Ooops sorry for noise!

[2022-11-17 22:37] ApertureDevelopment commented on #3272
No worries

Okay, I am still in the process of doing this, but I did some experimenting. I have just added a physical NIC to the vSwitch cobbler is connected to and tried to use UEFI PXE using a physical device. And voilà, it works. So I am assuming this is either a bug in the grub binaries from RHEL, or this is actually a bug in the ESXi EFI implementation. I am gonna try again using fedora and k

[2022-11-17 23:57] ApertureDevelopment commented on #3272
Okay, so this actually seems to be a bug in ESXi itself. I am gonna close this and open an issue at VMware

[2022-11-17 23:57] #3272 closed

[2022-11-18 14:16] bruncsak commented on #3202
@SchoolGuy , is it possible to backport the fix to 3.3.2 also?

[2022-11-18 14:18] #2393 closed

[2022-11-18 14:32] SchoolGuy commented on #3202
@bruncsak Well since 3.3.3 contains the patch that was already done. A re-release of 3.3.2 is not really in question.

[2022-11-18 21:21] #3255 closed

[2022-11-20 16:47] #2624 closed

[2022-11-21 13:12] bug-catcher-fk-github opened #3275 "$tree variable not set automatically after importing Rocky 8.7 ISO (v3.3.3 RPMs compiled on Rocky 8)"
### Describe the bug

After importing a Rocky 8.7 ISO via the instructions in the official Quickstart guide, the `$tree` variable is not set, which later causes Kickstart installations to entirely fail.

It has to be manually set with:

    # cobbler distro edit  \
    --name="rocky8_7-x86_64"  \
    --autoinstall-meta="tree=http://@@http_server@@/cblr/links/rocky8_7-x86_64/"

### Steps to reprodu

[2022-11-21 13:17] bug-catcher-fk-github opened #3276 ""Breed" of Salt's RHEL repo not automatically detected, fails at sync"
### Describe the bug

When adding a custom repo with `cobbler repo add ...`, the `breed` key is left blank and no error is shown. Then, when trying to do `cobbler reposync` it fails to download.

### Steps to reproduce

1. Add repo with the following command:

    # cobbler repo add  \
    --keep-updated=Y  \
    --mirror-locally=Y  \
    --name="trad_salt_latest_rhel8"  \
    --mirror="https://re

[2022-11-22 00:02] SchoolGuy commented on #3218
The important part of the documentation for us are:

- https://cloudinit.readthedocs.io/en/latest/topics/datasources/nocloud.html#nocloud
- https://cloudinit.readthedocs.io/en/latest/topics/network-config.html

[2022-11-22 00:10] SchoolGuy commented on #3218
Since I want to get rid of Cheetah long term I will use Jinja templates for this feature. This means validating that #1605 is no longer valid or fix it.

[2022-11-22 00:34] SchoolGuy commented on #3218
We should be able to make use of the new URL structure in a backwards compatible way with `**rest` parameter that is currently unused. The dict is filled by `__fillup_form_dict`.

---

Credit to @heroin-moose for creating the overview [here](https://github.com/cobbler/cobbler/issues/2339#issuecomment-994778640)

Preseed:

[code]

Kickstart:

[code]

AutoYAST:

[code]

cloud-init:

[code]

---

Fur

[2022-11-24 12:51] SchoolGuy opened #3280 "Autoinstallation support for FreeBSD"
### Is your feature request related to a problem?

Currently our FreeBSD support is limited to manual installations. IIf many systems are installed or the same system very often this is a time consuming task that doesn't need to be performed.

### Provide a detailed description of the proposed feature

Unattended auto-installation support for FreeBSD.

### Alternatives you've considered

Leaving a

[2022-11-24 14:07] SchoolGuy opened #3281 "Ignition Support"
### Is your feature request related to a problem?

Fedora CoreOS and openSUSE MicroOS support [Ignition](https://coreos.github.io/ignition/) is a new way to auto-install systems.

### Provide a detailed description of the proposed feature

Enable admins to utilize Ignition. More details to be filled in at a later point.

### Alternatives you've considered

None.

### Additional information

- http

[2022-11-24 14:11] SchoolGuy opened #3282 "Combustion support"
### Is your feature request related to a problem?

openSUSE has a project that is a superset of Ignition, called Combustion. We should support it.

### Provide a detailed description of the proposed feature

TBD

### Alternatives you've considered

None

### Additional information

Further information:

- Docs: https://en.opensuse.org/Portal:MicroOS/Combustion
- Repo: https://github.com/openSUSE/c

[2022-11-24 20:24] SchoolGuy commented on #3218
XML-RPC has no concept of kwargs. This makes adding the options as optional arguments really verbose.

Details see here: https://stackoverflow.com/a/120291

[2022-11-30 17:08] SchoolGuy opened #3285 "[Backport] Cobbler Import fails"
### Original feature issue

- Issue: #2805
- PRs:
  - #2767
  - #2819

### Target release

- [ ] release33
- [x] release32
- [ ] release30

### Reason

Stabilization of 3.2.x for the community.