[2020-04-19 10:26] SchoolGuy commented on #2327
You are indeed right that this needs to be improved. I will do PR #2268 and then do yours asap.

[2020-04-20 10:40] davehodg opened #2330 "Better UX"
I'm finding the cobbler user interface clunky and often confusing. Also, the design is so millennial. Any chance we could get (a) really good Ux person(s) to give it a good going over?

[2020-04-20 11:42] SchoolGuy commented on #2330
@davehodg This is already known. So in theory is a duplicate of https://github.com/cobbler/cobbler/issues/1691

Also we know that the current Django Version we are using is EOL. But there is a lack of contributors who have the time to do such a thing currently.

[2020-04-20 11:43] SchoolGuy commented on #2330
You may also find the roadmap interesting in that regard: https://github.com/cobbler/cobbler/wiki/Roadmap-for-Cobbler

[2020-04-20 12:40] davehodg commented on #2330
OK, in that case ignore me. Sounds like upgrading django is way higher up the priority list.

Here's an example. On the edit profiles page, the save/cancel should be bottom right.

I think the entity relationships could do with clarifying for a n00b.

But equally, you seem to have it all under control. Feel free to close this and move on.

[2020-04-20 12:49] SchoolGuy commented on #2330
Well upgrading Django basically means that we need to redo the UX because what we currently have as an application does not suit the Django structure. We may even need to change the framework if we think that upgrading Django basically is a rewrite of Cobbler. I will leave this one open as a reminder that there is active interest in that. Every input help!

[2020-04-20 12:54] davehodg commented on #2330
Probably worth it.

Is it as big a change as Python 2-3? (Having been bitten by ansible migrating...)

[2020-04-20 13:00] SchoolGuy commented on #2330
I don't know tbh. These days Django really is architected that you have a DB running on the server side. Currently we have no database there by default so we would need to rewrite the persistance layer. Also the models we currently have would need to be changed into "Django-Models" to make use of the benefits Django is offering. The Web frontend needs to be anyway done from scratch as one JS Lib f

[2020-04-20 13:05] davehodg commented on #2330
MIght be a case of picking the right framework. I'm just scratching the surface of Flask. After twenty-odd years of Perl on the web. And trust me, they were odd.

Would mandating MySQL/Maria be so bad? SQLite wouldn't be. Few prereqs there.

[2020-04-20 13:09] SchoolGuy commented on #2330
Having a DB was in the early days of Cobbler a decision which was done on purpose because back then everyone was afraid of a database for such a service. There are connectors for mogodb and mysql available for a persistence layer. But they are untested and there is next to no docs for them.

I think if we decide to get rid of the file persistence layer then we could in theory go for Django because

[2020-04-20 17:06] paulrattu commented on #2321
Yup, that was it hbokh. I didn't realize there was on option for that in the cobbler settings. Turned that setting to 1 and it started working. Next time I'll look closer at the config.

Thanks

[2020-04-20 17:06] #2321 closed

[2020-04-23 12:34] #2288 closed

[2020-04-24 08:38] SchoolGuy commented on #2307
This was documented and thus can be closed.

[2020-04-24 08:38] #2307 closed

[2020-04-25 14:49] SchoolGuy commented on #1487
Doing this is absolutely not possible anymore. We need to redo the web frontend from scratch with something which is more extensive and modern. The current state of the Cobbler-webui is not acceptable anymore sadly.

[2020-04-25 14:49] #1487 closed

[2020-04-25 17:03] SchoolGuy commented on #2327
Okay so nothing is indeed stuck. The `Makefile` is just not maintained good enough. I am doing both the docs and fixing the `Makefile` in #2333

[2020-04-25 19:47] SchoolGuy commented on #2327
@mickaelmonsieur I was able to fix the `Makefile` at least partly so that the commands will now work. Cobbler Web is not starting and I am working on a fix. Actually this is the first time I am trying to set this up so this may take a while. Also please expect that at some point I will remove the web frontend because Django is not suitable for this project and we are anyway depending on an EOL ver

[2020-04-27 08:19] dansou901 opened #2334 "Dependency "file" missing for CentOS 8 docker image"
### Describe the bug

On CentOS 8 as docker image basis, when trying to import an image with cobbler import, it files with the error "file - command not found".
### To Reproduce

1. Install latest cobbler rpms in a CentOS 8 docker image and run it with supervisor
2. Try to import a distribution with cobbler import
3. See error "file - command not found" (or similar)

### Expected behavior

Distrib

[2020-04-27 08:48] dansou901 opened #2335 "LDAP not working in CentOS 8 docker image"
### Describe the bug

When trying to use LDAP authentication (configured in both modules.conf and settings) it fails with "Module not found".

### To Reproduce

1. Install cobbler and cobbler-web in CentOS 8 docker image and run it with supervisor
2. Configure LDAP Server details in /etc/cobbler/settings
3. Configure LDAP authentication in /etc/cobbler/modules.conf
4. Restart Cobbler
5. Try to aut

[2020-04-27 16:51] Wildcarde opened #2336 "cobbler behind reverse proxy and using remote_user sso (mod_auth_cas) issues"
### Version

2.8.5 - epel version for redhat 7 edit: correcting version info
### Question
This question is mostly 'has anybody done this, what could be causing this to fail':

I'm currently working on trying to get a cobbler server up and running inside a docker container with the current configuration (current work on this located here: https://github.com/PrincetonUniversity/pni-cobbler):
Traefik

[2020-04-27 16:56] SchoolGuy commented on #2336
@Wildcarde First of all. Get rid of that 2.4.5 that is so old... Please use at least 2.8.x or for gods sake 3.x.x but I guess you will do it anyway...

And no I don't know anyone doing this. If you get it to work, I would consider myself very happy if you could share this with us. This setup would enable us to run Cobbler completely in docker and this would certainly be very awesome.

Also I think

[2020-04-27 16:57] SchoolGuy commented on #2336
To answer that question a bit more in detail... - I don't think that there should be anything preventing you from doing it.

[2020-04-27 17:07] Wildcarde commented on #2336
I double checked the version info, it's 2.8.5, it's the version supplied by EPEL for centos 7 (I forced a rebuild real quick):

[code]
I'll build out the error codes grid based on the different config settings because this is essentially non functional right now.  Is the system expected to work with self signed certs as that's much easier to test since I can do it locally vs. needing to spin up on

[2020-04-27 18:46] Wildcarde commented on #2336
first two tests: self signed cert, port in cobbler set to 80, https client off, sslrequire toggled on/off:
I'm going to do these in small chunks otherwise it'll be an enormous comment.

## Self Sign Cert:
clients use https: 0
client port: 80
SSLRequireSSL enabled

website shows 'Forbidden'
logs:
[code]

clients use https: 0
client port: 80
SSLRequireSSL disabled

webpage:
[code]
logs:
[code]

[2020-04-27 19:07] Wildcarde commented on #2336
## self signed cert
clients use https: 1
client port: 443
SSLRequireSSL disabled

website:
[code]

logs:
[code]

[2020-04-27 19:18] Wildcarde commented on #2336
If we re-enable sslrequiressl we loop back to:
[code]
However this setting really shouldn't be necessary at all in this setup because traefik forcibly institutes http->https promotion so all future testing will be done with these segments removed from the config.

[2020-04-28 07:05] SchoolGuy commented on #2336
Okay I thought this through again... It should be possible but as always the disclaimer: Noone seems to have ever done that.

You have two configs from Cobbler-Side. `cobbler.conf` and `cobbler-web.conf`. That means you could run (like the default is) both on port 80. That means Cobbler only talks HTTP which is good because then you don't need to build your own images (if you use HTTPS the kernel

[2020-04-28 13:27] Wildcarde commented on #2336
hmm, currently my traefik config is all or nothing around whether you use ssl or not which may be the source of the problems i'm running into. However I can make sure that the traefik server has a valid to the world ssl cert, is it not possible to tell the kernel to use the standard pki folder on initial setup to avoid issues with it being able to verify certs?

[2020-04-28 13:30] SchoolGuy commented on #2336
@dansou901 Said he wanted to take over, so I will leave the field to him.

[2020-04-28 16:03] dansou901 commented on #2336
@Wildcarde, as I wrote in gitter chat already, in this case it is better to use a tcp router with tls passthrough and configure ssl inside the cobbler container itself. The certificate and key can be mounted in the container via a volume, you just need to extract it from the acme.json (I assume you are using Let's Encrypt for certificates). For that, please read https://github.com/containous/traef

[2020-04-29 11:21] hbokh commented on #2327
Some additional information, since the docs are pretty old in some spots.
The documentition also states "To install cobbler from source on Debian Squeeze".  Well, Sqeeze was release in Juli 2014.
Until recently the last version of Cobbler to install on Debian from packages was Cobbler 2.6.11 on Debian Jessie.
So yeah, I'm not surprised at all it fails. 😇

Oh @SchoolGuy , the Makefile is still brok

[2020-04-29 11:53] SchoolGuy commented on #2327
@hbokh Have a look at the PR I prepared. I tried to fix as much as reasonably because we will need to deprecate it anyway in some time. And about the `Makefile` yeah I am aware, I will have a look if I can reproduce that. In the rpm-based distros this seems to work... I also suspected it to be the dependency you noticed...

[2020-05-01 19:43] DwayneGit opened #2337 "ESXI Support"
Just noting some changes I made and asking some questions.
1) I change the import_rsync_whitelist to allow file for verifying esxi:
[code]
these are for 6.7 looks like more needs to be added for other versions

2) i get "UTF-8 Unicode text, with very long lines, with CRLF line terminators"
followed by "'ascii' codec can't decode byte 0xc2 in position 6623: ordinal not in range(128)"

this is comin

[2020-05-02 15:33] SchoolGuy commented on #2337
This looks very much like a file we are trying to read is not properly handled. I would group this into the section of handling errors more transparently, as well as logging them better.

Also is ESXI available for everyone, so I could try to run Cobbler on it for testing purposes?

[2020-05-05 18:55] DwayneGit commented on #2337
Sorry for the late response was focusing on booting issue. I have notice a few things that need to be changed or document in regards to esxi and booting from gpxe/ipxe. Should i post them here?

I don't know if esxi is available for everyone, i think it may.

[2020-05-06 11:59] #2327 closed

[2020-05-06 12:03] SchoolGuy commented on #2337
@DwayneGit Yeah no problem. I am also deep down the road currently. Just post your ideas and suggestions here and I will see what I can document where.

Also I looked it up and I can get it esxi for free with some limitations from vmware. Possibly I think I need to set it up to test if you didn't skip anything which you thought was self explanatory (I do that at least sometimes...).

[2020-05-06 17:23] DwayneGit commented on #2337
@SchoolGuy these are some of my notes while working out issues with esxi and using remote image store "available-as".

ESXI Issues
- the template files in /etc/cobbler/boot_loader_conf are miss configured.
        - cobbler is looking for /etc/cobbler/boot_loader_conf/bootcfg_system_esxi67.template (old) but the new is bootcfg_esxi67.template this is probably a mismatch in the distro_signatures.js

[2020-05-06 17:32] SchoolGuy commented on #2337
@DwayneGit This is indeed very helpful. I think at some point we need to rework the code to remove the need of hacking the code to enable esxi users to use this. It will take me a while until I will be able to work through all of this. I will leave that open until I fixed this properly and documented everything.

[2020-05-07 09:36] djhlinux opened #2339 "Please support ubuntu20.04"
### Is your feature request related to a problem?

### The Behaviour you'd like

### Alternatives you've considered

### Additional context

[2020-05-08 07:51] SchoolGuy commented on #2339
If you take a look at the Gitter Chat, you will see that with some additional changes this is already supported. Due to number of contributors currently, it will take a while until Ubuntu 20.04 will be supported without these hacky changes.

[2020-05-11 16:36] Wildcarde opened #2340 "RPM dependency issue"
### Describe the bug

I've started building from source checking out cobbler from github then migrating over to the release30 branch, everything builds fine but when you attempt to install the RPMs that are generated it goes looking for `python36-mod_wsgi` which does not exist in centos7 or epel. If you enable software collections you can use `rh-python36-mod_wsgi` but that of course won't satisfy

[2020-05-11 16:40] Wildcarde commented on #2340
dockerfile that fails: it expects the cobbler repository to be checked out into a subdirectory `cobbler` next to it.
[code]

[2020-05-11 19:56] SchoolGuy commented on #1280
Explicit Nexenta support was removed with 2a5694efae53685226fa3041f4b002e1ad70f712, thus I will close this issue.

[2020-05-11 19:56] #1280 closed

[2020-05-11 20:24] SchoolGuy commented on #1911
File is living at https://github.com/cobbler/cobbler/blob/master/autoinstall_snippets/keep_files currently. Someone who wants to help with this, will need to dive into the snippet.

[2020-05-11 20:27] SchoolGuy commented on #1684
Since `yum`is gone we can close this one. Please see for more here: https://github.com/cobbler/cobbler/issues/1980

[2020-05-11 20:27] #1684 closed

[2020-05-11 20:35] SchoolGuy commented on #1319
Although we are using now the Python 3 standard library logger this should be checked against.

[2020-05-11 20:37] SchoolGuy commented on #1317
Let's close this one. If status would not work in the current supported releases, then we need new bug reports or this one reopned with new information.

[2020-05-11 20:37] #1317 closed

[2020-05-11 20:48] SchoolGuy commented on #2177
No acitvity for a long time, also this is an old release which won't be maintained anymore. If the problem persists with newer versions please reopen and give additional information or open a new issue.

[2020-05-11 20:48] #2177 closed

[2020-05-12 19:38] SchoolGuy commented on #1602
Our internal tftp server will be faded out as soon as possible because we never had a look. If we will continue to use it, we will split it and then document everyting. Thus this issue here is not relevant anymore.

[2020-05-12 19:38] #1602 closed

[2020-05-12 21:49] emergy opened #2341 "Invalid documentation link"
### Describe the bug

### To Reproduce

1. Go to https://cobbler.readthedocs.io/en/latest/cobbler-conf.html#modules-conf
2. Click on https://github.com/cobbler/cobbler/wiki/Dns-management link

### Version
current

[2020-05-13 06:52] SchoolGuy opened #2342 "[VOTE] The future of Cobbler Web"
### Is your feature request related to a problem?

The current web-frontend is old and clumsy, not complete and basing on an EOL Django version.

### The behavior you'd like

Get rid of the old look, have a feature or near feature complete web-interface and get rid of that EOL Django Version.

### Alternatives you've considered

If we don't go for Django, I would very much appreciate if the web fr

[2020-05-13 06:54] SchoolGuy commented on #2341
Actually all of the Github Wiki Links are dead. *sigh*

Thanks for the reminder though! @emergy

[2020-05-13 06:57] SchoolGuy commented on #2330
Future discussions about the web-ui and web-ux should be done now in: https://github.com/cobbler/cobbler/issues/2342

[2020-05-13 06:57] #2330 closed

[2020-05-13 06:58] SchoolGuy commented on #1691
Future discussions about the web-ui and web-ux should be done now in: #2342

[2020-05-13 06:58] #1691 closed

[2020-05-13 06:58] SchoolGuy commented on #1669
Future discussions about the web-ui and web-ux should be done now in: #2342

[2020-05-13 06:58] #1669 closed

[2020-05-13 07:02] SchoolGuy commented on #2341
I will complete https://github.com/cobbler/cobbler/pull/2202 and then do this

[2020-05-13 07:44] SchoolGuy commented on #2342
My personal opinion: I think we should go for either Django or Angular.

Django:

- We would keep this project Python-only
- We would get rid of problems like data integrity or references because we can take advantage of the ORM/database.

Angular:

- No dependencies to the core. Keeps the main repo frontend free.
- The frontend can be optionally deployed a lot easier and folks who don't need it c

[2020-05-13 08:04] davehodg commented on #2342
I'm a huge fan of having a backend with API and a separate GUI on the front. Very good for testing and parallel development. You can easily snag a style from themeforest or similar.

[2020-05-13 11:46] hbokh commented on #2342
Django 1.1 is EOL since April 1st 2020. On our current Cobbler 3 I upgraded the package to Django 2.2 LTS without issue (on Debian 10 "Buster" with backports enabled, since that is where 2.2 is from).
So it looks like keeping Django is the _low hanging fruit_ option.

The current CSS used in "Cobbler web" can be easily refurbished to give it modern look. Here's what I did 3 years ago (though I'm n

[2020-05-13 11:50] watologo1 commented on #1319
I also have been there.
This works now by this:
# Temporary hack, a clean solution seems to be tricky.
# Defining a variable in our Apache startup code seem not to work, it is still set later when this code is executed via
# Cobbler.

# This is necessary to prevent apache to try to access the file
LOG_FILE = "/var/log/cobbler/cobbler.log"
try:
    if not os.path.isfile(LOG_FILE):
        open(LOG_

[2020-05-13 11:50] #1319 closed

[2020-05-13 12:11] #2102 closed

[2020-05-13 13:15] brejoc commented on #2342
First of all thanks to @SchoolGuy for kicking off this discussion! Then I'd also like to see feedback from @Conan-Kudo.

Okay, so here is the tl;dr part of my feedback: I'd also either vote for keeping but separating Django or AngularJS.

### Django
Actually I don't think Django is such a low hanging fruit. I think it's less work than Angular, but the current project structure is so horrible that

[2020-05-13 13:19] Conan-Kudo commented on #2342
The only realistic option is refactoring the Django app. Keep in mind that the other two options are not straightforward to package and we would need to do license audits for everything getting pulled in there, and that's no fun.

If we were to rewrite away from Django, I think the only reasonable alternative would be Flask. But Django is definitely suitable for what we need. I do agree the curren

[2020-05-13 13:43] xenlo commented on #2342
My experience with the Cobbler Web UI literally dates from 10 years ago… it was not a good memory. Actually at that moment I had the need to customize the views depending of the user (owner). And that wasn't possible (at that time at least) so I rewrote a entire web UI in PHP.

➡️ So, I will definitively give a +1 for «_the ability to customize the frontend_».  But not only to change the aesthetic

[2020-05-14 06:57] XaaT commented on #2339
@SchoolGuy can you post thoses hacky changes somewhere ?

[2020-05-14 06:59] SchoolGuy commented on #2339
Credits to @dansou901

[code]

CC @XaaT

[2020-05-14 07:53] SchoolGuy opened #2343 "HTTPBoot not working on all non SUSE systems"
### Describe the bug

If you try to use HTTPBoot with Cobbler via our configured Apache configuration that will not work, as the directory for files is not under `/srv` but under another path.

### To Reproduce

1. Try to HTTPBoot a client
2. See that the Folder requested is not available on the webserver
### Expected behavior

I would like an out of the box experience for all clients.

### Versio

[2020-05-14 10:15] davehodg commented on #2342
Please not XML. JSON please.

—
David Hodgkinson
Python/Perl Developer. DevOps.
Cardiff University.
daveh@hodgkinson.org
+44 7768 490620

[2020-05-14 12:49] dansou901 commented on #2339
@XaaT You also need to know that you need to host the iso and the cloud init yml elsewhere outside of cobbler. If you run it in docker, you can simply put up an nginx container to provide static index content and move it there, at least that's how I'm doing that. I will do a few blog posts about that at least in the last May week.

[2020-05-15 04:43] XaaT commented on #2339
thanks for the replies but i'm going with a basic pxe/dhcp/tftp setup and mini.iso (and using d-i/preseed) :)

[2020-05-15 11:12] SchoolGuy commented on #2342
Okay so to sum up I see currently the following options here:

- React is out of the picture.
- Having no WebUI is out of the picture.
- We want to concentrate on the Core and not have the most shiny WebUI ever made.
- No definite decision if we split the web frontend out of Cobbler or not.
- There were voices who wish for a REST-API with JSON.
- JS only applications are problematic to package.

[2020-05-15 11:13] SchoolGuy commented on #2342
@Conan-Kudo Btw even if we use Django we will have JS dependencies so we will have the same problem also if we go full Django. I don't think we will just use pure native self written Javascript in the frontend...

[2020-05-15 11:14] Conan-Kudo commented on #2342
@SchoolGuy It's a lot more manageable than if you went with a fully JS frontend, though. We're not flooded with JavaScript now, for example.

[2020-05-15 13:18] dansou901 commented on #2339
@SchoolGuy we should definitely keep this open because this is something we need to fix in the future

[2020-05-15 13:31] watologo1 commented on #2339
This is the arch specific grub x86 efi packages are already defined in spec file:
%if 0%{?suse_version}
%define grub2_x64_efi_pkg grub2-x86_64-efi
%define grub2_ia32_efi_pkg grub2-i386-efi

%if 0%{?debian} || 0%{?ubuntu}
%define grub2_x64_efi_pkg grub-efi-amd64
%define grub2_ia32_efi_pkg grub-efi-ia32

%if 0%{?fedora} || 0%{?rhel}
%define grub2_x64_efi_pkg grub2-efi-x64
%define grub2_ia32_efi_pkg

[2020-05-15 13:53] dansou901 commented on #2339
grub2-efi-x64-modules is an additional package which holds the source files necessary to build grubx64.efi with mkgrub2.sh, so it should be added to the spec file

[2020-05-15 13:53] dansou901 commented on #2339
at least for Fedora / RHEL

[2020-05-15 16:52] SchoolGuy commented on #2339
@dansou901 I was not planing on closing it. But yeah we need to do something about this soon.

[2020-05-18 15:06] vsevolodgavrilenko commented on #2057
There is more complicated and and well-managed and well-balanced way to configure bonding on interfaces, calling teaming.
A comprehensive description is here:
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/networking_guide/sec-configure_teamd_runners

[2020-05-18 15:20] BW2010 commented on #2057
It’s probably better to start from here:
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/networking_guide/sec-Understanding_the_Network_Teaming_Daemon_and_the_Runners
and more.
And also here is a comparison of two methods of interface aggregation:
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/networking_guide/sec-comparison_of_network_t

[2020-05-20 12:55] 4gemenot opened #2345 "SSL_ERROR_RX_RECORD_TOO_LONG"
Hello Gents,

Good day.

I install the Cobbler application using the EPEL-8-Modular repo.

I'm getting SSL_ERROR_RX_RECORD_TOO_LONG error accessing the cobbler (https://192.168.9.9/cobbler_web

I clear the cache, reset the browser still having the same error issue.

Please any help.

Thanks,

OS : RHEL 8
Kernel version: 4.18.0-193.el8.x86_64

Cobbler version:
[root@rhel8-test epel-testing-modular]

[2020-05-20 14:04] SchoolGuy commented on #2345
Cobbler itself does not handle certificates in any way and is not even aware if an application is talking HTTP or HTTPS to it. So this is definitely a configuration problem.

Here a short stackoverflow post about that topic: https://stackoverflow.com/questions/119336/ssl-error-rx-record-too-long-and-apache-ssl

I could try to help you if you provide us with the webserver config you adjusted for Co

[2020-05-20 15:11] 4gemenot commented on #2345
Hi SchoolGuy,

no changes from the webserver config, all defaults. I'm attaching the configuration of the webserver and the cobbler.conf and cobbler_web.conf

Thanks,

[webserver-config.zip](https://github.com/cobbler/cobbler/files/4657677/webserver-config.zip)

[2020-05-26 08:15] brejoc commented on #2342
@Conan-Kudo Btw, how is Fedora handling this? Everything (like jquery for example) needs a separate package, or is it possible to have it included in the Cobbler Django project?

[2020-05-26 09:01] Conan-Kudo commented on #2342
It's _preferred_ to split them out, but nowadays you can just bundle it and have `bundled()` Provides for the JS you include, per [the policy](https://fedoraproject.org/wiki/Bundled_Libraries#Requirement_if_you_bundle).

[2020-05-26 09:30] davehodg commented on #2342
Definitely REST API wirg JSON.

Splitting the frontend and backend gives you two packages which I think has benefits.

I don't see how JS only is problematic provided the deps are packaged. No need for usinf a JS packager.

[2020-05-26 17:58] SchoolGuy commented on #2342
To summarize what my current understanding of the votes so far is:

We have basically have two approaches

1. Django
2. Remove Django, Add Flask with REST JSON API + Angular Frontend

I am currently in another project tangling with Django and I am drifting more and more towards option two for Cobbler. If I count this correctly, @Conan-Kudo raised concerns regarding the packaging of the frontend be

[2020-05-26 18:04] Conan-Kudo commented on #2342
It's not just the complication of JS dependencies, all those dependencies need license auditing and enumeration if we're bundling, or they need to be packaged up separately.

Nothing about what you're trying to do necessarily _requires_ Angular. So I'm confused as to why you want _that_ specifically. You could just as easily do a Flask app and build a frontend that is minimal on the JS as well.

[2020-05-26 19:47] SchoolGuy commented on #2342
Angular has a great community, we have many pieces of code already prepared and thus we just need to care about the data and the layout. We have backed in testing and we have frequent updates. For Angular thus it is very likely that all those things you say are already done. If we write all the JS Code for ourselves, i fear that we burden ourselves with a great deal of work which we will spare us

[2020-05-27 06:37] thiller2018 commented on #2343
what is not working? webroot is set in setup.py and apache_webconfigdir is set in cobbler.spec.
Are not all os versions covered there?

[2020-05-27 06:43] thiller2018 commented on #2337
see also #2277 issue for efi boot.

[2020-05-27 14:08] SchoolGuy commented on #2343
@thiller2018 In your PR (https://github.com/cobbler/cobbler/pull/2295/) there are hardcoded paths in the Apache2 config. This leads to above described errors.

[2020-05-27 15:48] thiller2018 commented on #2343
#2347 added a variable

[2020-05-28 06:41] ShrutiChavali opened #2348 "Dynamic inventory script throws xmlrpc.client.ProtocolError: <ProtocolError for cobbler/cobbler_api: 404 Not Found>"
### Version

[code]
Cobbler 2.9.0
  source: b'8010c5d8', b'Mon Feb 18 16:08:42 2019 +0100'
  build time: Wed Feb 20 18:17:47 2019

### Question

I am trying to use dynamic inventory of ansible. Copied the cobber.py script and I am trying to run the command, ./cobbler.py --list. It throws a ProtocolError.

Any help here or suggestion to run this?

[2020-05-28 14:24] #2320 closed

[2020-05-29 04:03] opoplawski opened #2350 "Do we want to depend on pymongo or not?"
### Describe the bug

There is a broken attempt to remove the automatically generated dependency on pymongo in the spec file:

https://github.com/cobbler/cobbler/blob/master/cobbler.spec#L113
[code]
which doesn't work for a number of reasons - mainly because I think the automatic requires operates on the requires.txt file.

Now, the mongodb serializer at this point I'm pretty sure is just a histor

[2020-05-29 04:24] opoplawski commented on #2348
FWIW - I'm using a modified script.  See https://github.com/ansible/ansible/pull/25926

[2020-05-29 06:34] SchoolGuy commented on #2320
@jayavardhanu Did you fix it or why did you close this one?

[2020-05-29 07:04] SchoolGuy commented on #2350
So we have the same problem with all serializers except the `file` one. I think either we need to repair them or indeed remove them. I think repairing would be the better call but that will require some effort.

[2020-05-29 07:04] SchoolGuy commented on #2350
So my vote would be to depend on them.

[2020-05-30 05:38] ShrutiChavali commented on #2348
Thanks for the script. It would help me a lot.
I have few issues while using the above script.

1. Error: ModuleNotFoundError: No module named 'ConfigParser' (Not supported by Python3)
--> Changed this module to 'configparser', and it works

2. ModuleNotFoundError: No module named 'xmlrpclib' (Not supported by Python3)
--> Changed this as " import xmlrpc.client as xmlrpclib", and it works

3.   Fi

[2020-05-30 17:52] opoplawski commented on #2348
Ah, sorry - I'm using a newer version in production.  I'll try to get you a copy soon...

[2020-05-30 18:33] opoplawski commented on #2348
I've pushed my latest version to https://github.com/opoplawski/ansible/tree/cobbler/contrib/inventory

I see now that I removed environment variable support and the ability to ignore the config file - hope you weren't counting on that...

[2020-05-31 02:15] opoplawski commented on #2350
Works for me.

[2020-06-01 06:15] ShrutiChavali commented on #2348
@opoplawski
Thanks a lot for the revised script.
I tried to use the script you shared. The latest one. But I am missing out on something. Still getting this error:

  File "/usr/lib64/python3.6/socket.py", line 745, in getaddrinfo
    for res in _socket.getaddrinfo(host, port, family, type, proto, flags):
socket.gaierror: [Errno -2] Name or service not known

During handling of the above exception

[2020-06-01 12:22] opoplawski commented on #2348
What is your cobbler.ini file?

[2020-06-01 14:52] #2348 closed

[2020-06-02 06:11] SchoolGuy commented on #2342
So it is decided:

- Remove from this repo in a future version the Django components
- Add an HTTP REST API additionally with Flask
- Create a new frontend based on Angular

[2020-06-02 06:11] #2342 closed

[2020-06-02 06:20] SchoolGuy opened #2354 "Config file Markings in cobbler.spec"
### Describe the bug

When updating to a new version after 3.1.2 we will replace all config files under `/var/lib/cobbler`.

### To Reproduce

1. Install new Cobbler newer then 3.1.2
2. Look in the config directory.
3. See possible missing config files and scripts.

### Expected behavior

We would like to migrate config files automatically to new versions but also preserve the user settings.

###

[2020-06-02 06:21] SchoolGuy commented on #2354
Commit was introduced by me though the following PR: https://github.com/cobbler/cobbler/pull/2237

[2020-06-02 11:39] jmozd opened #2356 "(http_)server resolved to IP when generating PXE profiles - why?"
### Version

[code]
Cobbler 2.9.0
  source: ?, ?
  build time: Mon Apr 20 12:00:00 2020

RPM identifies as
Name        : cobbler
Version     : 3.0.0+git20190806.32c4bae0
Release     : 7.7.3.19539.3.TEST.1169779

### Question

I have a multi-homed server running cobblerd and am trying to PXE-install SUSE-based systems. Installation takes place in a separate PXE network (no connectivity except for t

[2020-06-02 11:55] SchoolGuy commented on #2356
I am really intrigued by that 2.9.0 thingy. It was never used upstream. Anyway...

The decision was made before my time but I guess that the reasoning then was that not at all times DNS may be available whilst IP addresses should work as long as network is there. Although you explained your question very good and in extensive length I sadly can't return the favor and give you a more extensive answ

[2020-06-02 12:12] jmozd commented on #2356
Meanwhile I had a look at where "http_server" is set... it's in utils.py:blender():
[code]

The origin of this IP address thingy seems to be https://github.com/cobbler/cobbler/commit/588756aa7aefc122310847d007becf3112647944 where (according to the comment) it was introduced to limit the string length for s390 - the DNS name was longer than the IP address. If that remains the only reason for using

[2020-06-02 13:44] SchoolGuy commented on #2356
@jmozd I think reverting this and leaving whatever variable was set is a good change. If we want to ensure that s390 will always work we could look up what the maximum length is now and create a check for the length and throw an error at the user if it is to long. If we want to be superb we could add a config switch which enabled converting it to an IP address or not.

[2020-06-02 15:07] jmozd commented on #2356
Done... https://github.com/cobbler/cobbler/pull/2357
I have no idea what S/390 allows for, so I simply made the name2ip-conversion depend on a new config switch, default "0".
The changes were backported to my current cobblerd and tested there.

[2020-06-05 14:00] jayavardhanu commented on #2320
Yes fixed. For Debian based distributions we should use preseed file
instead of kickstart file

On Fri, 29 May 2020 at 12:04, Enno G. <notifications@github.com> wrote:

[2020-06-08 01:44] opoplawski opened #2358 "cobbler.conf and cobbler_web.conf are installed in /etc/cobbler as well"
### Describe the bug

When building the Fedora RPM, cobbler.conf and cobbler_web.conf are installed in /etc/cobbler as well as /etc/httpd/conf.d.  They shouldn't be.

[2020-06-08 02:18] opoplawski commented on #2354
First I'll note that the change is in 3.1.2 from cobbler - so updating a cobbler provided 3.1.2 rpm will overwrite modified files in /var/lib/cobbler, not "after 3.1.2" as indicated.  However, I did **not** make this change in the Fedora/EPEL rpms as I think it needed more discussion and certainly announcement to users.

The issue is I think it is fairly common for users to modify snippets or kick

[2020-06-08 07:49] SchoolGuy commented on #2358
If we install via `setup.py` we don't know if anyone maybe has an nginx server installed or no Apache2 at all. Thus I don't think we can generally install it in the web directory of `/etc/httpd/conf.d`.

Since installing in our own directory is done in `setup.py` we would need to (re)move the file to the webserver config dir.

[2020-06-08 07:56] SchoolGuy commented on #2354
Since I am no expert in this field, I first need to read what exactly are the appropriate directories where. What I understood so far is that we need to split the files at least in one additional directory.

I am strictly against updating `signatures.json` files automatically since this file also may contain user generated changes. Also with the new signatures library this will hopefully become in

[2020-06-08 11:06] watologo1 commented on #2354
They should be rather static. But they miss some (more) entry points for better local individualization like:
if [ -s "$prefix/system/$mac.local" ]; then
  source "$prefix/system/$mac.local"
  echo "Local Machine specific grub config file $prefix/system/$mac for $system loaded"
fi
Not sure yet what kind of architecture/MAC/general/... entry points should be there.
I try to come up with something t

[2020-06-08 11:29] watologo1 commented on #2354
I also have an enhancement request which is related:
I'd like to split up /etc/cobbler/settings into:
/etc/cobbler/settings.d/dhcp.conf
/etc/cobbler/settings.d/bind.conf
/etc/cobbler/settings.d/virt.conf
/etc/cobbler/settings.d/puppet.conf
/etc/cobbler/settings.d/tftp.conf
/etc/cobbler/settings.d/web.conf
/etc/cobbler/settings.d/rsync.conf
...

Similar problem: Subdirectories would override curren

[2020-06-09 14:16] #2350 closed

[2020-06-10 03:00] opoplawski commented on #2358
Okay, I kind of forgot about the `pip install cobbler`, assuming that is still a thing.  But if someone has the sources they can just copy from there.  We definitely remove the files in cobbler.spec - that's what triggered me to wonder why.

[2020-06-10 03:00] #2358 closed

[2020-06-12 19:49] JeremyMordkoff commented on #1338
This seems like you should be pretty straight forward but afaict nobody's documented  the steps

[2020-06-13 05:41] SchoolGuy commented on #1338
@JeremyMordkoff Yes it is indeed but we don't have much contributors and thus we do the most important things first. However I will try to do something about this this weekend.

[2020-06-13 20:51] JeremyMordkoff commented on #1338
Thank you! If there is something I can do, please let me know. I've been using cobbler for a long time (I'm almost afraid to tell you what version I'm running), and it's about time I helped out. I know all of the protocols, linux, python, bash, perl... At a minimum, I will do some testing and provide feedback on any documentation.

[2020-06-15 13:54] SchoolGuy commented on #1338
@JeremyMordkoff Every help you are interested to give is appreciated. Be it feedback for the docs, contributions to the website, contributions to the core or whatever you can give.

Support for iginition files support is not explicitly there but as always you can create templates and in the end Cobbler should not care as long as it is setup correctly.

[2020-06-15 17:31] SchoolGuy commented on #1338
@JeremyMordkoff Maybe you were wondering why nothing happend explicitly. I am creating (according to our roadmap) a library (https://github.com/cobbler/libcobblersignatures) which enables us to not do this by hand but instead manipulate and update the file automatically to ease the pain of maintaining this file and improve the self maintenance in case you have your own file.

[2020-06-15 17:38] FlorianHeigl commented on #1338
@SchoolGuy since I asked that long ago - the README there looks good. I would probably be able to guess what to do after some time. Thank you for that!

if you can, please make them more explicit once done: "this is what we expect people to do that want to contribute a distro sig upstream, this is how they can validate if they did it well, this is a basic rule for random weird operating systems",

[2020-06-15 17:43] SchoolGuy commented on #1338
@FlorianHeigl Well that is the plan in the very end. First of all I need to get the lib done and then I can write that. The ultimate test if it has worked will be ultimately if the distro can be imported. The problematic thing is that netinstaller are still an unsolved generic problem in Cobbler but that is another issue.

[2020-06-18 07:48] dk-star commented on #1761
prefilx  -》 prefix

[2020-06-18 12:34] #2341 closed

[2020-06-18 13:03] SchoolGuy commented on #1541
Cobbler 2.6.x is not maintained anymore. Thus also the docs are not maintained anymore.

BUT this is also valid for the current `master` docs. Thus we need to rephrase the docs for this parameter.
Source: https://cobbler.readthedocs.io/en/latest/cobbler.html?highlight=CIDR%2C%20do%20not%20specify#cobbler-system

[2020-06-18 13:07] SchoolGuy commented on #1781
The current GUI will be removed asap and is not favored anymore. I will close this one because of that reason.

[2020-06-18 13:07] #1781 closed

[2020-06-22 23:32] nvtkaszpir commented on #2339
Example getting it working with Ubuntu 20.04 from Legacy Releases - http://cdimage.ubuntu.com/ubuntu-legacy-server/releases/20.04/release/ which supports preseeding.
tested under cobbler 2.8.5 and with booting libvirt guest, so it is a good starting point.

- make required directories
[code]

- fetch iso via torrent (or try another solution)
[code]

- mount downloaded image
[code]

- adjust `/var/

[2020-06-23 07:40] SchoolGuy commented on #2339
@nvtkaszpir Thanks a lot for that!

[2020-06-24 12:59] Gitrrrr commented on #2312
"sles15sp1": {
    "signatures":["x86_64", "aarch64"],
    "version_file":"(sles|SLES-for-VMware)-release-15.1-(.*).rpm",
    "version_file_regex":null,
    "kernel_arch":"kernel-(.*)\\.rpm",
    "kernel_arch_regex":null,
    "supported_arches":["x86_64","ppc64","aarch64"],
    "supported_repo_breeds":["yum"],
    "kernel_file":"linux[64.gz]?",
    "initrd_file":"initrd[64]?",
    "isolinux_ok":fa

[2020-06-24 14:55] brejoc opened #2362 "[Errno 2] No such file or directory while writing system config"
### Describe the bug

This happens when changing a distribution with SUSE Manager while Cobbler is writing the system config. The config was existing before, so it should get overwritten.

Permissions look like this:

[code]

When deleting all files I can see that the file actually gets created correctly, but the error gets thrown nevertheless.

[code]

### To Reproduce

1. Use SUSE Manager
2. Imp

[2020-06-24 15:07] SchoolGuy commented on #2362
I was with Jochen when this happend. So I can confirm that this is happening.

[2020-06-24 15:22] brejoc commented on #2362
When slowing Cobbler down a little bit with…
[code]
… it's working. :frowning_face:
I guess it would also work without the `with`. I was just testing a little bit.

[2020-06-24 15:49] SchoolGuy commented on #2362
I suspect that Python itself is the problem here: https://docs.python.org/3/library/io.html#reentrancy

I think that since `open()` gives us a buffered object possibly that buffer is invalidated during using it and thus then raising for whatever reason a FileNotFound error. That 0.2 seconds possibly are enough to empty that buffer.

[2020-06-24 18:04] nvtkaszpir opened #2363 "Support network configuration over netplan"
### Is your feature request related to a problem?

Freature reuest to add network configuration via netplan https://netplan.io/reference

### The Behaviour you'd like

Maybe something like radio menu to switch between current setup and neplan

### Alternatives you've considered

Custom template/snippet which would render yaml config file accordingly.

### Additional context

Ubuntu 18.04 and upwar

[2020-06-25 07:08] brejoc commented on #2362
Not sure about that. We are not doing async or threaded stuff here. Also it's not the Runtime error that is described in the docs. But my feeling would also say that it hast to be something in that direction.

[2020-06-25 12:16] brejoc commented on #2362
A better (and tested) workaround would look like this. But I don't really like it either.

[code]

[2020-06-25 15:17] watologo1 commented on #2362
Ouch..., as a quick workaround for a customer this might be worth it...
Let me have a closer look at this.
At quick look I found:
cobbler/actions/litesync.py
last line (224):
utils.rmfile(os.path.join(bootloc, "grub", filename.upper()))
The .upper looks wrong.

Concurrancy can happen if (maybe more cases):
cobbler/modules/managers/in_tftpd.py
--netboot-enabled is set
-- A system is added
-- a sync

[2020-06-25 20:55] darkrat3d opened #2364 "cobbler signature for ubuntu 20/focal"
Im trying to import new iso.   and im getting signature error.   this one both errors on desktop and live-sever.

[code]
[code]

[2020-06-26 06:08] SchoolGuy commented on #2362
@watologo1 It is reproduced in @brejoc 's environment multiple times. What you have to do is:

1. setup a SUMA and
2. then in the UI create a distro and
3. a profile for a distro of choice and
4. then use a testscript to add a lot of fake profiles and systems which are linked to this single distro.
5. Afterwards update in the SUMA UI the distro and
6. see the error happening in the `cobbler.log`.

[2020-06-26 06:13] #1349 closed

[2020-06-26 06:22] SchoolGuy commented on #1330
I think this could only be fixed if we give an admin an option to limit the directories where such files could be located.
If we look at this from another perspective we would need to change the setup of cobbler to not run as root but rather as a dedicated non-root user, this would of course complicate the setup as we need write and read access to several files like the dhcp config.

[2020-06-28 08:20] nvtkaszpir commented on #2364
Please see https://github.com/cobbler/cobbler/issues/2339#issuecomment-647820367

[2020-06-28 08:55] nvtkaszpir opened #2366 "Power Management for reboot should call new method"
### Is your feature request related to a problem?

Feature request.
Currently `reboot` command actually invokes `power off` and then `power on`, but some systems allow to run reboot (or cycle) command, which is let say 'soft' power off' that does not trigger full power outage for the hardware.
See a the bottom for additional context.

Another idea is to introduce new option such as 'soft reboot'

[2020-06-28 14:57] SchoolGuy commented on #2364
Since this is already existing I will close this as a duplicate of #2339

[2020-06-28 14:57] #2364 closed

[2020-06-28 15:01] SchoolGuy commented on #2366
This was to my knowledge in the past for systems which don't support a reboot. We need to check if now every system we support (or try to) is able to to that. Before that I wouldn't like to have two implementations in parallel in Cobbler. We have enough legacy code which is causing problems or complicating things.

Fun fact: Some `fence_*` implement the reboot the same way we do, so even if we cha

[2020-06-28 20:48] nvtkaszpir commented on #2366
Yes I'm aware this causes some issues especially for backward compatibility.
My purpose is just to support "reboot" as a passed down parameter, some fencing agents support it (and they decide what to do with it).

Current implementation actually masks the way it is implemented by fencing agents - in fact cobbler expects that agent supports only 'power off', 'power on' and 'status' commands.

That'

[2020-06-29 05:15] SchoolGuy commented on #2366
Okay that is a very convincing argumentation. I will have a look when we can do this.

[2020-06-30 19:29] SchoolGuy commented on #1079
I checked in our current Cobbler 3 testsuite. This is working, thus I am closing this one.

[2020-06-30 19:29] #1079 closed

[2020-06-30 19:33] SchoolGuy commented on #1136
Fedora 20 is long EOL. I will close this. If we have this problem with more recent versions we can create a new bug.

[2020-06-30 19:33] #1136 closed

[2020-06-30 19:41] SchoolGuy commented on #1186
So the actual bug here is that in the Snippet the variable does not get resolved.

As per the https://cheetahtemplate.org/users_guide/gettingStarted.html#quickstart-tutorial variables in Cheetah are defined as `$name`, thus we need to have a look at if we parse Snippets correctly or not.

[2020-06-30 19:50] SchoolGuy commented on #1252
You were right. The two else ifs were identical. I removed one.

[2020-06-30 19:55] SchoolGuy commented on #1344
That is a conversion error from 2014. Let's not bother for this one.

[2020-06-30 19:55] #1344 closed

[2020-06-30 20:56] SchoolGuy commented on #1491
Just for future reference I will drop this here: https://github.com/ClusterLabs/fence-agents/blob/master/doc/FenceAgentAPI.md#agent-operations-and-return-values

We need to align this with our code.

[2020-06-30 21:00] SchoolGuy commented on #1512
So since the feature itself is here working I will close this one. The bug Kyle mentioned is separately existing.

[2020-06-30 21:00] #1512 closed

[2020-06-30 21:09] SchoolGuy commented on #1646
So we could do this in theory: https://docs.python.org/3/library/uuid.html

Downside: We would lose the time in the name of the task. But we could add this as an attribute and the logs have timestamps as attributes anyway. We would just need to document this.

We are generating the task id here: https://github.com/cobbler/cobbler/blob/master/cobbler/remote.py#L438

If we change this we should in t

[2020-07-01 08:07] wanghaiqing2015 opened #2368 "How to use cobbler3.1.2 on centos7?"
How to use cobbler3.1.2 on centos7?

[2020-07-01 08:13] SchoolGuy commented on #2368
I guess this is your best guess: https://cobbler.readthedocs.io/en/latest/installation-guide.html

[2020-07-01 13:53] SchoolGuy opened #2369 "[HELP WANTED]: Cobbler Community"
This is a follow up to this original issue: #1892

Cobbler is currently from the point of code mainly maintained by me. This means that I, as an apprentice with no real hardware to test this software and very limited time, am fixing most of the bugs, building the website, making announcements, taking care of basic packaging problems and support of course. This is currently somehow possible.

If we

[2020-07-01 13:53] #2356 closed

[2020-07-02 14:23] watologo1 commented on #2366
You want to pass --reboot to fence-agents, right?

Still a kind of --reset should be kept doing --on/--off as it is currently done.

It should be done this way, otherwise naming is too confusing (new reset function ending up as fence-agents reboot...).

Do you have a concrete example where this may (urgently needed or doesn't work otherwise?) help?

Another idea/interface could/would be to directl

[2020-07-02 14:52] nvtkaszpir commented on #2366
Yes, most agents understands `reboot`, some also alias it as `reset`.

Yeah, that's correct, it should be named after supported action in fencing agents.

This is exact use case I have now, wrote simple fence_ssh fencing agent so that it just runs ssh command on the host to invoke reboot.

In the beginning I did very ugly thing but better not mention it here  (little sneak peak - power off is doin

[2020-07-02 16:07] watologo1 commented on #2366
I very much like the idea. But we should think this to an end and a proper implementation if this should hit mainline.
I think this should be separate options. An own identity file that can get passed via a new parameter.
More should not be needed? Host is known..., user/pass plaintext is not an option.

IMO if netboot is triggered, it should always be tried to first log in via ssh if this param/v

[2020-07-02 16:50] nvtkaszpir commented on #2366
I suggest to focus on implementing passing reboot command to arbitrary fence agent.
For now I would remove fence_ssh from the feature request, because there is no official code for that AFAIR.

In general cobbler has retry mechanism but AFAIR it does not allow for extended timeout control.
Some fencing agents already implement some checks to test if the command actually caused the reboot process.

[2020-07-03 06:57] WVenus opened #2370 "There was an error importing ubuntu"
[code]

[2020-07-03 14:09] #2362 closed

[2020-07-03 17:31] SchoolGuy commented on #2366
@watologo1 I think if we touch that we need to simplify the code. Currently this is in my opinion to custom. So if you touch that I would very much appreciate if we could clean this up. Otherwise we just add more custom code to handle special cases.

One thing which should be more or less trivial would be to clean up the logging for the class.

[2020-07-03 19:50] brejoc commented on #2370
Am Fr., 3. Juli 2020 um 08:57 Uhr schrieb ermao <notifications@github.com>:

Which ISO are you using? The standard server ISO or some netinstall?

Could you please check if the regexes for initrd and kernel are still
valid? https://github.com/cobbler/cobbler/blob/master/config/cobbler/distro_signatures.json#L1224-L1225
You should be able to grep for this in /mnt.

[2020-07-03 19:59] brejoc commented on #1646
@schoolguy Would only us humans benefit from this or is this causing errors?

[2020-07-04 02:51] SchoolGuy commented on #1646
@brejoc I will check on Monday but I guess that this may cause concurrency errors if the names are used for looking up tasks.

[2020-07-04 07:03] wanghaiqing2015 opened #2371 "start dhcpd service failed"
[code]

[code]

[2020-07-04 07:05] wanghaiqing2015 commented on #2371
[root@vm100 ~]# rpm -qa|grep dhcp
dhcp-libs-4.2.5-79.el7.centos.x86_64
dhcp-4.2.5-79.el7.centos.x86_64
dhcp-common-4.2.5-79.el7.centos.x86_64

[root@vm100 ~]# rpm -qa|grep cobbler
cobbler-web-3.1.2-1.el7.noarch
cobbler-3.1.2-1.el7.noarch

[2020-07-04 07:05] wanghaiqing2015 commented on #2371
how to resove this problem？

[2020-07-04 10:28] WVenus commented on #2370
I am using ubuntu-18.04.4-live-server-amd64.iso.

[2020-07-04 15:13] SchoolGuy commented on #2371
So far from my phone I see two problems.

1. One subnet is missing
2. You didn't specify on what your dhcp server should bind.

I guess both problems can be fixed through the template but I need to have a look from my home computer.

[2020-07-04 15:14] SchoolGuy commented on #2370
@WVenus I guess that is the problem. It should work but so far only the full ISOs are expected to work.

[2020-07-04 15:31] wanghaiqing2015 commented on #2371
1、There is a subnet：
subnet 192.168.10.0 netmask 255.255.255.0 {
}

2、Only one netword interface：ens33

3、vmware nat mode：
     （1）closed dhcp

[2020-07-04 15:42] wanghaiqing2015 commented on #2371
`# ******************************************************************
# Cobbler managed dhcpd.conf file
#
# generated from cobbler dhcp.conf template ($date)
# Do NOT make changes to /etc/dhcpd.conf. Instead, make your changes
# in /etc/cobbler/dhcp.template, as /etc/dhcpd.conf will be
# overwritten.
#
# ******************************************************************

#import netaddr

ddns-upda

[2020-07-04 15:43] wanghaiqing2015 commented on #2371
`
1111111
`

[2020-07-04 16:27] wanghaiqing2015 commented on #2371
no /etc/dhcp/dhcpd.conf auto generate ?

but, version 2.8.4 can auto generate it .

[2020-07-04 16:35] wanghaiqing2015 commented on #2371
now, we can run dhcpd and cobblerd services.

but ,run "cobbler check" will report the below error:

[root@vm100 ~]# cobbler check
httpd does not appear to be running and proxying Cobbler, or SELinux is in the way. Original traceback:
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/cobbler/cli.py", line 399, in check_setup
    s.ping()
  File "/usr/lib64/python3.6/xmlrp

[2020-07-04 16:38] wanghaiqing2015 commented on #2371
can open the web site.

http://192.168.10.100:8000/

[2020-07-04 16:42] wanghaiqing2015 commented on #2371
[root@vm100 conf.d]# netstat -natp
Active Internet connections (servers and established)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 0.0.0.0:22              0.0.0.0:*               LISTEN      874/sshd
tcp        0      0 127.0.0.1:25            0.0.0.0:*               LISTEN      972/master
tcp        0      0 127.0.0.1:2515

[2020-07-04 16:57] wanghaiqing2015 commented on #2371
Modifying the http_port is also invalid.

now ， change to 80 port，can “cobbler check&sync” successflly。

[2020-07-05 07:31] SchoolGuy commented on #2371
Okay so what problems are now left? You sent a lot of code and I am not sure how we can help you.

[2020-07-05 08:28] wanghaiqing2015 commented on #2371
Two problems:
1. /etc/dhcp/dhcpd.conf not generated automatically
2. Change http_port from 80 to 8000, the cobbler_api not found.

[2020-07-05 20:24] SchoolGuy commented on #2371
Okay so I verified.

1. This is the default behaviour. If this is really not working then we need a bug for that. But since @watologo1 is running and managing a lab dhcp server with Cobbler I doubt that this is not working.
2. This is possible. I can't check now but I will check tomorrow.

[2020-07-06 05:50] watologo1 commented on #2371
@wanghaiqing2015

Is this only from "cobbler check" or do you see real functionality issues? cobbler check is partly outdated and may throw false positive warnings.

Can you send the generated /etc/dhcpd.conf, please.
Did you specify the interface in the dhcpd call? In SUSE there is:
/etc/sysconfig/dhcpd
DHCPD_INTERFACE="eth0"

which results in (see last param):
ps aux |grep dhcpd
dhcpd    13211

[2020-07-06 13:23] wanghaiqing2015 commented on #2371
1、cobbler sync also this error。
2、I used centos7 OS，no /etc/dhcpd.conf generated。
3、systemctl status dhcpd

[root@vm100 ~]# systemctl status dhcpd
● dhcpd.service - DHCPv4 Server Daemon
   Loaded: loaded (/usr/lib/systemd/system/dhcpd.service; disabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Sun 2020-07-05 00:03:29 CST; 9min ago
     Docs: man:dhcpd(8)
           man:

[2020-07-06 13:25] wanghaiqing2015 commented on #2371
`[root@vm100 ~]# cat /etc/dhcp/dhcpd.conf
#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp*/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
`

[2020-07-06 13:25] wanghaiqing2015 commented on #2371
`sh
[root@vm100 ~]# cat /etc/dhcp/dhcpd.conf
#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp*/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
`

[2020-07-06 13:26] wanghaiqing2015 commented on #2371
![QQ截图20200706212615](https://user-images.githubusercontent.com/11815186/86598185-58f7ed00-bfcf-11ea-8633-9032b0781126.png)

[2020-07-06 14:23] watologo1 commented on #2371
/etc/cobbler/settings
manage_dhcp: 1
?
Otherwise you should see error messages in cobbler sync.

[2020-07-06 15:23] wanghaiqing2015 commented on #2371
now，we can generate this dhcpd.conf

[2020-07-06 15:23] #2371 closed

[2020-07-07 02:04] WVenus commented on #2368
I also want to know how to install, the documentation is a little difficult to understand. If you use cobbler3.0 on centos7, can you share notes with me? Thank you

[2020-07-07 03:51] opoplawski commented on #2368
You could try my build here: https://copr.fedorainfracloud.org/coprs/orion/cobbler/

[2020-07-07 04:18] opoplawski commented on #2348
Now provided as an inventory plugin: https://github.com/cobbler/ansible

[2020-07-07 06:18] SchoolGuy commented on #2368
@WVenus What parts are hard for you to understand? This is one of the most important documents and it shouldn't be hard to understand in an optimal world.

[2020-07-07 06:28] WVenus commented on #2368
If there is a command line example, for me, a group who is not familiar with python, get better help. I always get the wrong dependency, which makes the installation more difficult.

[2020-07-07 06:53] SchoolGuy commented on #2368
Okay I think I can work on that.

[2020-07-07 09:16] WVenus commented on #2368
--> 正在处理依赖关系 python36-mod_wsgi，它被软件包 cobbler-3.1.2-1.el7.noarch 需要
---> 软件包 libtommath.x86_64.0.0.42.0-6.el7 将被 安装
--> 解决依赖关系完成
错误：软件包：cobbler-3.1.2-1.el7.noarch (copr:copr.fedorainfracloud.org:orion:cobbler)
          需要：python36-mod_wsgi
 您可以尝试添加 --skip-broken 选项来解决该问题
 您可以尝试执行：rpm -Va --nofiles --nodigest
[root@192 yum.repos.d]# pip3.6 install python36-mod_wsgi -i https://mirrors.aliyun.com/pyp

[2020-07-07 09:19] WVenus commented on #2368
[root@192 yum.repos.d]# pip3.6 install mod_wsgi -i https://mirrors.aliyun.com/pypi/simple
WARNING: Running pip install with root privileges is generally not a good idea. Try `pip3.6 install --user` instead.
Requirement already satisfied: mod_wsgi in /usr/local/lib64/python3.6/site-packages

--> 解决依赖关系完成
错误：软件包：cobbler-3.1.2-1.el7.noarch (copr:copr.fedorainfracloud.org:orion:cobbler)
          需要：p

[2020-07-07 09:46] WVenus commented on #2368
I used your rpm repository, there was an error that python36-mod_wsgi was missing, and I used pip3.6 install mod_wsgi to have no effect after successful installation

[2020-07-07 11:40] wanghaiqing2015 commented on #2368
yum install -y https://repo.ius.io/ius-release-el7.rpm
yum makecache fast
yum install python36-mod_wsgi -y

[2020-07-07 13:59] wanghaiqing2015 opened #2372 "where to get grub/grub.0"
cobbler 3.1.2, where to get grub/grub.0.

![11111](https://user-images.githubusercontent.com/11815186/86792553-33391980-c09d-11ea-891d-8724b9fd314e.png)

cat /etc/dhcp/dhcpd.conf
     class "pxeclients" {
          match if substring (option vendor-class-identifier, 0, 9) = "PXEClient";

          # Legacy
          if option system-arch = 00:00 {
              filename "grub/grub.0";
          }

[2020-07-07 14:00] wanghaiqing2015 commented on #2372
![11111](https://user-images.githubusercontent.com/11815186/86792640-45b35300-c09d-11ea-8a94-846df5925bec.png)

[2020-07-07 14:04] wanghaiqing2015 commented on #2372
Run "cobbler get loaders" without downloading this file.

[2020-07-07 14:11] wanghaiqing2015 commented on #2372
Legacy boot

[2020-07-08 01:57] WVenus commented on #2368
Sorry, I tried downloading and it didn't work

[2020-07-08 02:06] WVenus commented on #2372
Can you email me to inform your WeChat account? Feel like we are from the same place

[2020-07-08 02:14] #2370 closed

[2020-07-08 02:23] opoplawski commented on #2368
We can't read your mind.  What didn't work?  If I were to guess it's that you haven't configured the ssl cert in /etc/httpd/conf.d/cobbler_web.conf.

[2020-07-08 02:38] opoplawski commented on #2286
I just ran into this again testing our cobbler 3.1.2 on EL7.  I have to remove the VirtualHost lines to get httpd to start.  Can we please remove them?  @thiller2018 indicates it's to make it easier to run the gui on HTTP, but that's just backwards from a security standpoint.

[2020-07-08 03:45] opoplawski commented on #2369
@SchoolGuy Thank you for all your work keeping cobbler going, it is greatly appreciated.  cobbler is a central piece of infrastructure at my work - we provision all of our hosts in it, source of DNS/DHCP/802.1X, and ansible inventory.  I also package it for Fedora/EPEL.  As such I will attempt to keep it going as much as possible as well.  That said, like so many people I am stretched thin on mult

[2020-07-08 05:16] wanghaiqing2015 commented on #2372
Where is your email ？

[2020-07-08 06:33] watologo1 commented on #2372
get loaders
is rather unsecure and should not be used.

Execute:
./scripts/mkgrub.sh

It could be that for your distro some adjusting is needed. Let me know if it does not work as expected.

[2020-07-08 07:58] wanghaiqing2015 commented on #2372
thanks

![222](https://user-images.githubusercontent.com/11815186/86893210-dccaea00-c133-11ea-844e-25b144ce1095.png)

[2020-07-08 07:58] #2372 closed

[2020-07-08 09:42] wanghaiqing2015 opened #2373 "Add repo to profile, report error message."
cobbler 3.1.2

create a repo:
![QQ截图20200708173931](https://user-images.githubusercontent.com/11815186/86903516-03901d00-c142-11ea-91bc-560600057a62.png)

add repo to profile
![QQ截图20200708174012](https://user-images.githubusercontent.com/11815186/86903588-20c4eb80-c142-11ea-8d53-0227536f1a84.png)

View Automatic Installation Template
![QQ截图20200708174117](https://user-images.githubusercontent.com

[2020-07-08 09:44] wanghaiqing2015 commented on #2373
remove repo from profile
![QQ截图20200708174346](https://user-images.githubusercontent.com/11815186/86903930-9761e900-c142-11ea-82a4-a044e821a072.png)

View Automatic Installation Template
![QQ截图20200708174421](https://user-images.githubusercontent.com/11815186/86904002-aba5e600-c142-11ea-897e-c7736f384750.png)

[2020-07-09 04:00] WVenus commented on #2372
I can see the email address on my git homepage

[2020-07-09 06:12] SchoolGuy commented on #2373
I had a short look at the code. Yes this bug can be reproduced if a repository has no yum options.

[2020-07-09 07:06] wanghaiqing2015 commented on #2368
You can manual download ius-release-el7.rpm.

Then you can run "rpm -ivh ius-release-el7.rpm"

[2020-07-09 07:06] #2368 closed

[2020-07-10 17:56] SchoolGuy commented on #2373
@wanghaiqing2015 Could you please check the PR if this actually fixes your problem?

[2020-07-10 18:03] wanghaiqing2015 commented on #2373
No, there are still failed

[2020-07-10 18:03] wanghaiqing2015 commented on #2373
vi /usr/lib/python3.6/site-packages/cobbler/items/mgmtclass.py
vi /usr/lib/python3.6/site-packages/cobbler/items/repo.py
vi /usr/lib/python3.6/site-packages/cobbler/items/system.py

 cobbler sync

[2020-07-10 21:04] cpmcmah commented on #2211
First post so I'm probably going to blow it, but how close are you all to making this happen? We have to install 800 Dell 7070s that do not support legacy with CentOS6. We cannot figure out UEFI with cobbler. Not much information on the internet. I was going to burn 20 disks to give to my guys. If you have any updates or, better yet, can point me to good information on setting cobbler up for UEFI,

[2020-07-11 03:23] gpezza2 commented on #2369
As I am currently working on a fresh installation of cobbler 3.1 from a current installation of 2.8, I am happy to share documentation updates for installing/building cobbler since I am doing that now, and have noticed some issues with it that I have fixed. I just need some guidance on the best way to get that to the project.

[2020-07-11 03:29] opoplawski opened #2375 "AttributeError: module 'cgi' has no attribute 'parse_qs'"
### Describe the bug
Fedora rawhide:
[code]
/var/log/httpd/ssl_error_log:
[code]
### To Reproduce

Click on "View Automatic Installation Template" on a system.

[2020-07-11 03:49] opoplawski commented on #2373
Were the repos created with 3.1.2?  How were they created?  I can't reproduce producing a repo without a yumopts being set to {}.  What is the contents of /var/lib/cobbler/collections/repos/allyun-centos7.json?

[2020-07-11 04:02] wanghaiqing2015 commented on #2373
I deleted the old repos and added a new one. The yumopts still null.

![QQ截图20200711120137](https://user-images.githubusercontent.com/11815186/87216027-4afaf100-c36e-11ea-9431-6b4aa09885bd.png)

[2020-07-11 04:04] wanghaiqing2015 commented on #2373
![QQ截图20200711120338](https://user-images.githubusercontent.com/11815186/87216076-b8a71d00-c36e-11ea-9b24-ec3a65b48048.png)
![QQ截图20200711120408](https://user-images.githubusercontent.com/11815186/87216078-ba70e080-c36e-11ea-890c-77fa3c9936e9.png)
![QQ截图20200711120434](https://user-images.githubusercontent.com/11815186/87216079-bb097700-c36e-11ea-8795-e9b87bfa8730.png)

[2020-07-11 04:05] wanghaiqing2015 commented on #2373
cobbler repo add --name=aliyun-centos7  --arch=x86_64 --breed=yum --mirror-locally=Flase --comment=Centos7-64 --mirror=http://mirrors.aliyun.com/centos/7/os/x86_64/

[2020-07-11 04:08] wanghaiqing2015 commented on #2373
If create the repo from web, it can be created successfully.

![QQ截图20200711120736](https://user-images.githubusercontent.com/11815186/87216123-205d6800-c36f-11ea-9774-bff377797e65.png)

[2020-07-11 04:12] wanghaiqing2015 commented on #2373
Suffix error

![QQ截图20200711121131](https://user-images.githubusercontent.com/11815186/87216175-ae395300-c36f-11ea-99a6-5f748a641c48.png)

[2020-07-11 04:16] wanghaiqing2015 commented on #2373
Sorry, I restarted the cobberd service. Now it can be generated normally.

systemctl restart cobblerd

[2020-07-11 04:19] wanghaiqing2015 commented on #2373
There is only one error suffix left.

[2020-07-11 08:20] SchoolGuy commented on #2369
@gpezza2 We have a docs folder in this repo. In this folder you can document all standard tasks. The files and captions should be self-explanatory. The code itself is documented in the python files itself and also in rst. If you want to create a longer guide which takes you from zero to datacenter or does describe something which is consistent of multiple steps, I would very much appreciate if we

[2020-07-11 08:22] #2373 closed

[2020-07-11 08:23] SchoolGuy commented on #2373
@wanghaiqing2015 I will create a new Bug for your suffix error as this is a different bug in my eyes.

[2020-07-11 08:26] SchoolGuy opened #2376 "Repository items have .json suffix"
### Describe the bug

Found by @wanghaiqing2015

When adding a repo object we are creating a file named `name.json.json` this does not affect the functionallity of Cobbler apparently but it is ugly and confusing.

### To Reproduce

1. Create a repo with the CLI or Web-UI
2. Look at `/var/cobbler/collections/repo/`
3. See error

### Expected behavior

The files should be named `name.json`

### Vers

[2020-07-14 23:07] lazzurs commented on #2369
I have just had a look at the project after a very long time and glad to see it is still being maintained. I would love to help squish a bunch of the issues and tidy things up. I will submit some small pull requests shortly and I am hoping to help with the Terraform provider too and move it to the Terraform Registry.

[2020-07-15 13:28] SchoolGuy commented on #2152
Okay I fixed the error with restarting cobblerd now but we now have the problem of how to restart the webserver on different distros...

[2020-07-17 09:16] tpw56j opened #2378 "reposync doesn't work in Fedora 32"
### Describe the bug
Several problems in the code reposync.py in Fedora 32

### To Reproduce

1. # cobbler reposync
2. See errors

### Expected behavior
Synchronize packages of a remote DNF repository to a local directory.

### Version

3.1.2

### Screenshots

### Additional context

**Problem 1:**
dnf reposync (as in dnf in fedora or el8) uses --download-path

running: /usr/bin/dnf reposync --new

[2020-07-17 16:08] SchoolGuy commented on #2378
Thanks for spotting and debugging this. If you could submit a PR with the most problematic fixes I would be very grateful. For the replacement of yum to dnf I don't have any timeline as this is something bigger and for that we have a lot of technical debt... Also we are planning to use pulp in the future to replace at least some of the code in `reposync.py`.

[2020-07-17 17:11] tpw56j commented on #2378
I will try to submit a PR.
As far as I understand, for this you need to first create a branch?

[2020-07-17 17:59] SchoolGuy commented on #2378
@tpw56j Yes but before that you need to fork the project. Although it is a bit to read I would recommend you to read this guide: https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/proposing-changes-to-your-work-with-pull-requests

If you need more help don't worry I have more documents and videos on my bookmark list.

[2020-07-19 21:39] holmesb opened #2381 "Fix Cobbler <--> Terraform compatibility #1"
Terraform only works if two changes are made.  This issue concerns the first:

This is caused because in utils.py's [`__consolidate` function](https://github.com/cobbler/cobbler/blob/31fa87ddd6f848793870da7dee2b10d3756aa7d4/cobbler/utils.py#L772), we attempt to update the `results` dictionary with an empty value.  The 'str' value referred in the above error is empty because there is no `node_data`

[2020-07-20 09:04] iamparamvs commented on #2315
Hi @SchoolGuy !!

I did find the resolution to this issue long back, just couldn't find the time to provide a fix.

When I am creating _**a pull request to the BaseRepo:cobbler/cobbler base:v2.8.5 from head repo:iamparamvs/cobbler compare: profile-deletion-in-rename**_ , it says "No commit comments for this range" and hence I am not able to create a pull request. Can you help me?

Thanks and Regar

[2020-07-20 09:12] SchoolGuy commented on #2315
I created a PR for you since I have no idea what went wrong.

[2020-07-20 09:15] SchoolGuy commented on #2315
Closed by PR

[2020-07-20 09:15] #2315 closed

[2020-07-21 04:00] MohanrajBabu commented on #2152
hi @SchoolGuy

cobbler gets installed in below location.
[code]

service file has a different path
[code]

unit not found error still coming in centos7.

Thanks,
Mohan

[2020-07-22 11:47] SchoolGuy commented on #2378
The TODO list to close this issue is the following:

- [ ] Adjust specfile to include librepo
- [ ] Adjust docs for installation
- [ ] Remove old yum code from `reposync.py`
- [ ] Update other documentation on rtd to give more details about our repository features.

[2020-07-22 17:07] opoplawski opened #2385 "RFE: Support different virtual network types"
### The Behaviour you'd like

Currently you can only specify the virtual bridge network for a network interface.  There are other virtual network types though. Specifically a direct type:
[code]
There would be various options with this type: source, source_mode, possibly model though I suspect virtio may be all that is needed.  Also 'trustGuestRxFilters' though I don't know how to set that.

It ap

[2020-07-23 05:38] #2152 closed

[2020-07-25 16:04] holmesb opened #2386 "XMLRPC api is broken when cache is enabled"
Can't change systems.  Possibly other API calls are broken too.  Disabling cache fixes.

### To Reproduce
import xmlrpc.client as xmlrpclib
server = xmlrpclib.Server("http://cobbler/cobbler_api")
token = server.login("cobbler","password")
handle = server.get_system_handle("my_system",token)
server.modify_system(handle, "kernel_options", "netcfg/disable_dhcp=false", token)
print(server.get_systems(

[2020-07-25 18:17] SchoolGuy commented on #2386
This is very strange. In the CI we are testing such basic things and they are working. Thus I wonder how you were able to create this situation. I mean I trust what you did but what the actual heck is happening to cause this?

[2020-07-25 18:25] holmesb commented on #2386
@SchoolGuy - can you not reproduce when you run these commands?

[2020-07-25 18:27] SchoolGuy commented on #2386
Fuuuuu we are testing this on localhost but not from another host. Thus when executing this on the localhost it works apparently. That is why we don't get problems with SUMA/Uyuni maybe.

[2020-07-25 18:27] SchoolGuy commented on #2386
Okay this blew my mind.

[2020-07-25 18:28] SchoolGuy commented on #2386
But localhost will be in any case faster thus it makes no sense that the cache is broken...

[2020-07-26 10:19] hbokh commented on #2386
FYI This boils down to PR #1807 by Adam Patt @apatt app. 3 years ago.
I'm not sure most Cobbler users (quote) "_build hundreds of server at a time with thousands of records already existing_".

So from my POV, there could / should be an option to enable / disable this in `/etc/cobbler/settings`.

[2020-07-26 10:59] holmesb commented on #2386
"we are testing this on localhost but not from another host." - I think it's fair to assume the API will mostly be used from a host other than the Cobbler server.  In which case, this will affect most XMLRPC users, not just Terraform.

[2020-07-26 11:27] SchoolGuy commented on #2386
@holmesb While I agree that this should be the case it never was in the past. All bigger solutions as SUMA/Uyuni/Spacewalk (now dead) and RH Satellite are using it on the same host and the CLI which is coming from us is only valuable on the localhost. Also I never estimated that the API behaves that weirdly when being used from a non-localhost host.

[2020-07-26 11:33] SchoolGuy commented on #2386
Anyway the more I think of this, the more I would say that we need to redo the caching properly if we want to have it. Thus I see two options for the related PR:

- Cut caching out again completely and open a feature Issue for this to implement it again.
- Make the config switch as already proposed in the related PR.

[2020-07-26 13:59] hbokh commented on #2386
Thing is, that this specific "cache thing" was never enabled in any version of Cobbler 2, not even in the latest official CentOS7 EPEL package `cobbler-2.8.5-0.3.el7.x86_64.rpm`, dating from Oct. 15th 2019.

As said before, we "cut out caching" in Cobbler 3.1.2 by patching the installed DEB package afterward with SaltStack.
In that way it **at least** behaves like a regular Cobbler 2 installation

[2020-07-26 17:23] holmesb commented on #2386
I've added the config file option for this.  At the moment remote XMLRPC is broken, so the priority should be to give the user the option to fix by returning to pre v3.0.0 behaviour.  I agree the ideal solution would fix caching's interaction with remote XMLRPC, but making it optional is a good interim.  Cobbler is the only PXE-boot\installation manager HashiCorp currently provide a [plugin ](http

[2020-07-29 14:43] SchoolGuy commented on #2386
We leave this open until the root cause is fixed.

[2020-07-30 14:29] hbokh commented on #2265
Reopen.
Yes, this is a general issue when clicking "Name"  to sort distros / profiles / systems / repos / images & management classes.

[2020-07-30 14:36] hbokh commented on #2265
Reopen.
Yes, this is a general issue when clicking "Name"  to sort distros / profiles / systems / repos / images & management classes.

[2020-08-08 11:11] SchoolGuy opened #2393 "Packaging: Provide native packages for Debian & Ubuntu"
### Is your feature request related to a problem?

Currently we only provide packages for Debian and Ubuntu via Debbuild. This is good for test installations or users how know the OBS already and are familiar with it.

### The Behaviour you'd like

`apt install cobbler`

### Alternatives you've considered

Well the OBS is nice and all but in the end we will probably have more users when providing

[2020-08-10 11:02] SchoolGuy commented on #2393
As per the Gitter chat @dansou901 said he is able to start working on this later this year.

[2020-08-12 08:22] pharthiphan opened #2395 "Unable to import ubuntu-20.04.1 distro "No signature matched""
Unable to import ubuntu-20.04.1 distro "No signature matched"

received on stderr:
No signature matched in /var/www/cobbler/ks_mirror/ubuntu-20.04.1-x86_64
!!! TASK FAILED !!!

### To Reproduce

mount -t iso9660 -o loop,ro ubuntu-20.04.1-desktop-amd64.iso /mnt
cobbler import --name=ubuntu-20.04.1 --arch=x86_64 --path=/mnt

### Expected behaviour

Import completed!

### Version

Cobbler 2.8.5

[2020-08-12 09:43] SchoolGuy commented on #2395
I will try to update the signatures this weekend or next week.

[2020-08-12 09:44] SchoolGuy commented on #2395
Note: I strongly encourage you to update to Cobbler 3 since Cobbler 2.x.x is EOL since it is Py2!

[2020-08-12 10:31] pharthiphan commented on #2395
@SchoolGuy Thanks! is there a way I can update the signature on my current version. can you help me with the steps if that is not too complicated?

[2020-08-12 10:32] SchoolGuy commented on #2395
`cobbler signature update` should be enough if I do everything correctly.

[2020-08-12 10:33] SchoolGuy commented on #2395
This works both for Cobbler 2 and 3.

[2020-08-12 10:36] pharthiphan commented on #2395
I mean I tried that but still getting the same error message

`No signature matched in /var/www/cobbler/ks_mirror/ubuntu-20.04.1-x86_64
!!! TASK FAILED !!!
`

[2020-08-12 10:49] pharthiphan commented on #2395
Ok, will run the command once you have updated the signatures

[2020-08-12 19:07] goldwern commented on #2375
This is also broken on F32:
cobbler-web-3.1.2-2.fc32.noarch
python3-3.8.5-2.fc32.x86_64

[2020-08-14 11:17] pharthiphan commented on #2395
@SchoolGuy How to upgrade cobbler from 2.8.5 to 3.x? can you refer to some link if it exists ?

[2020-08-15 09:45] SchoolGuy commented on #2395
The linked PRs are the WIP state. I need to test this tomorrow when I have more time.

[2020-08-16 16:39] bowlerct commented on #1480
I will submit a pull request for this soon. On my build from branch v3.1.2 I moved those rsync options to settings and also added a field "rsync options" to repo for individual support.  I will need to look more closely at the setting reposync_rsync_flags but I think it was being used for something else.

[2020-08-17 10:14] pharthiphan commented on #2395
@SchoolGuy

I tried to upgrade the cobbler version from 2.8.5 to 3.1.2 but unable to import Ubuntu 20.04.1 server. Also, I ran into another issue distro, profile & system are not visible after upgrading! can't we preserve the data while upgrading cobbler to 3.x?

`# cobbler --version
Cobbler 3.1.2
  source: ?, ?
  build time: Mon Aug 17 08:34:46 2020
`

`Exception value: 'No signature matched in /

[2020-08-17 10:21] SchoolGuy commented on #2395
@pharthiphan So the problem regarding the signature is the same as under 2.8.5 the data needs to be migrated via the script we provide in our repo. This is not executed automatically.

I was not able to find time at the weekend. Tomorrow although I will have time to do so.

[2020-08-17 10:26] pharthiphan commented on #2395
@SchoolGuy can you please point me to the script?

[2020-08-17 10:29] SchoolGuy commented on #2395
https://www.github.com/cobbler/cobbler/tree/master/scripts%2Fmigrate-data-v2-to-v3.py

[2020-08-17 10:46] pharthiphan commented on #2395
Did I miss something?

`# ./migrate-data-v2-to-v3.py
Processing distros.d:
    Processing CentOS-7-Minimal-1908-x86_64
Processing files.d:
Processing images.d:
Processing mgmtclasses.d:
Processing packages.d:
Processing profiles.d:
    Processing CentOS-7-Minimal-1908-x86_64
Processing repos.d:
Processing systems.d:
    Processing cn01
cp: missing file operand
Try 'cp --help' for more information.

[2020-08-17 11:27] SchoolGuy commented on #2395
I know noone who did a manual migration and I am very sure that (depending on the size of your setup) this is not desired. If you have a very small setup just install Cobbler 3 and start from scratch.

Accounting for all migration steps manually was never done in my eyes...

[2020-08-17 11:33] pharthiphan commented on #2395
@SchoolGuy thank-you for the explanation but the migration script doesn't seem to be working! Setup is relatively big and it would be hard to start from scratch!

[2020-08-17 12:12] SchoolGuy commented on #2395
@opoplawski Do I recall correctly that you wrote the script (I am traveling only with my mobile currently thus I can't check)?

@pharthiphan I know at least of one successful migration with this script. I also know of the existance of another script but I need to find it tomorrow...

[2020-08-17 12:23] pharthiphan commented on #2395
@opoplawski @SchoolGuy replacing subprocess.run with os.system kind of solved the copying issue but cobbler distro/ system list doesn't show up anything

`subprocess.run(["/bin/cp", "-al", "%s/" % old_path, "%s/" % new_path], shell=True)`

`        cmd = " ".join(["cp", "-al", "%s/" % old_path, "%s/" % new_path])
        os.system(cmd)
`

`./migrate-data-v2-to-v3.py
Processing distros.d:
    Proce

[2020-08-17 12:28] SchoolGuy commented on #2395
@pharthiphan That I don't know without sitting in front of my computer... I see what I can do tomorrow.

[2020-08-18 08:13] SchoolGuy commented on #2395
I now tested the PRs and will merge them. Afterwards after a `cobbler signature update` the image should be successfully imported.

[2020-08-18 08:14] #2395 closed

[2020-08-18 11:03] pharthiphan commented on #2339
@dansou901 Did you get a chance to create a blog or make some notes on how did you managed to get Ubuntu 20.04 work  with cobbler

[2020-08-18 14:00] dansou901 commented on #2339
I'm sorry, not yet. Maybe I get to that in the following week, but I can't promise.

[2020-08-18 14:05] pharthiphan commented on #2339
@dansou901 I have managed to get it worked but I would like to know how the files with mac id are getting generated in the below-mentioned directory, which is the template file because I would like to edit and have certain stuff in it

/var/lib/tftpboot/pxelinux.cfg/

[2020-08-20 12:12] cloos commented on #2339
@nvtkaszpir did you changed anything else, except the `/var/lib/cobbler/distro_signatures.json` file?
Just tried it also with cobbler 2.8.5 and a preseed that works fine with Ubuntu 16.04 and 18.04, and the installation always fails with `CD-ROM mount failed`.

[2020-08-20 12:38] nvtkaszpir commented on #2339
No changes - commands provided in the previous comment as exactly what I used back then.
Double check if you used proper 'legacy iso', because the error you have points that you might actually use 'live iso'.
Otherwise maybe there was something changed in leagacy installer?

[2020-08-21 08:34] ycs0220 commented on #1028
why?

[2020-08-24 22:29] fonzinc opened #2400 "PAM authentication failure"
### Describe the bug

Enabling authentication.pam module results in TypeError exception and failure to authenticate.

### To Reproduce

1. Change authentication module to "authentication.pam" in modules.com
2. Restart cobbler service
3. Attempt to login via web UI
4. See error in cobbler.log

[code]

### Expected behavior

PAM authentication should succeed.

### Version

[code]

### Screenshots

#

[2020-08-24 22:51] fonzinc commented on #2400
The following patch seems to have fixed the issue for me:
[code]

[2020-08-25 05:30] SchoolGuy commented on #2400
@fonzinc Does the module work now to your expectations or is there anything else which is broken in your eyes.

[2020-08-25 15:41] fonzinc commented on #2400
Yes, PAM authentication seems to work as expected after applying the patch. I have not encountered any additional issues, but I did not conduct a full audit of the module for additional type issues.

I would love to see the patch included. Thanks!

[2020-08-26 05:44] SchoolGuy commented on #2400
Okay when I have time at the weekend or in the evening I will include it in master. The next release will happen along with the new signatures library (which needs testing before integrating it), thus the next version will need some time until it will get released.

[2020-08-28 12:33] SchoolGuy commented on #2334
I just found out that the `file` package is missing in our specfile. Thus we need to adjust it instead of just the image specific to CentOS 8.

[2020-08-28 13:54] #2265 closed

[2020-09-01 05:51] glbyers opened #2403 "Functions defined in cheetah_macros unavailable in templates"
### Describe the bug

Cheetah macros/functions defined in /etc/cobbler/cheetah_macros are not available for use in templates as documented in extending_cobbler.

### To Reproduce

Define a function in /etc/cobbler/cheetah_macros.

[code]

Attempt to use it in a template. For example, in the main section of a kickstart template;

[code]

Check the rendered kickstart;
[code]

Check cobbler logs;
[co

[2020-09-05 11:06] holmesb commented on #2339
In the ubuntu 20.04 distro, try:
kernel: /srv/www/cobbler/distro_mirror/ubuntu18.04-x86_64/install/netboot/ubuntu-installer/amd64/linux
initrd: /srv/www/cobbler/distro_mirror/ubuntu20.04-x86_64/install/netboot/ubuntu-installer/amd64/initrd.gz

[2020-09-05 13:14] hbokh commented on #2339
Why use a 18.04 kernel when you can have an official "legacy-image" for 20.04 instead?
To be found here - Dutch mirror at Twente University:

https://ftp.snt.utwente.nl/pub/linux/ubuntu/dists/focal/main/installer-amd64/current/legacy-images/netboot/ubuntu-installer/amd64/

I did some experimenting outside of Cobbler with both installers, back in April.

[code]

The difference is in the RAMdisk ima

[2020-09-05 13:16] hbokh commented on #2339
This might come in handy too:

**Fully Automated Ubuntu 20.04 server install using PXE**
https://askubuntu.com/a/1235724/16590

[2020-09-05 13:41] holmesb commented on #2339
Typo, I've corrected @hbokh

[2020-09-10 11:45] 4gemenot commented on #2345
Hello SchoolGuy,

It resolved this error after replacing the line <VirtualHost *:443> to <VirtualHost mycobbler.test.com:443> from cobbler_web.conf file.

Thanks,

[2020-09-10 21:06] paususe commented on #2211
Are there any news about this?

[2020-09-11 14:33] SchoolGuy commented on #2211
@paususe Nope we havn't had the time to do this.

[2020-09-11 15:25] dansou901 commented on #2339
Just adding here that even for 20.04.1 there are legacy images available at http://cdimage.ubuntu.com/ubuntu-legacy-server/releases/20.04/release/, so we still have time. But I assume in one of the following releases they will drop the legacy images, that's when we will need to support cloud-init (or we will loose Ubuntu users).

[2020-09-14 11:13] SchoolGuy opened #2406 "Docs: Overhaul of outdated information"
### Describe the bug

@nodeg discovered that our from Source installation section is outdated.

Additionally to that he discovered the following things:

- We have a lot of grammar and spelling errors
- One table was broken due to a missing `+`.
- The linter complained about various things which are now fixed properly.

### To Reproduce

1. Go to https://cobbler.readthedocs.io/en/latest/installati

[2020-09-14 11:13] SchoolGuy commented on #2406
@nodeg volunteered to fix this. I will assist him in doing so.

[2020-09-14 11:50] #1480 closed

[2020-09-14 11:51] nodeg commented on #2406
Apparently not only the documentation about the source installation is outdated. When installing cobbler from the latest source code I was not able to get `cobblerd` started.

[code]

[code]

Somehow the environment variables are not set correctly and the location for the TFTP server ist `/var/lib/tftpboot` instead of `/srv/tftpboot`.

[2020-09-14 18:09] nodeg commented on #2406
@SchoolGuy maybe we can expand this issue into fixing some of the documentation in generall not only the installation from source.

I did some checks on the links in the documentation and removed everything which was marked as `ok`.
[code]

[2020-09-14 18:22] SchoolGuy commented on #2406
@nodeg Ping me tomorrow when I am at work and I will expand both the issue and PR accordingly...

[2020-09-15 15:09] #2334 closed

[2020-09-17 08:10] nodeg opened #2412 "Building cobbler via pip install fails"
### Describe the bug

Building the cobbler package via `pip` fails.

### To Reproduce

1. Clone git repository
2. Create a new virtualenv
3. Install required packages and build cobbler via `pip install .`
4. See error

### Expected behavior

The build should be successful.

### Version
The most recent git version.

### Additional context
[code]
After installing `sphinx` with `pip install sphinx` t

[2020-09-17 08:26] dansou901 commented on #2412
So everything under setup_requires should be moved to install_requires instead, right? And setup_requires can be removed afterwards.

[2020-09-17 09:00] nodeg commented on #2412
That has to be discussed. If moving everything from `setup_requires` to `install_requires` is the right way, is not mine to they since I am not that familiar with Cobbler itself but I think we should keep the distinction between both of them.
According to PEP 518, [PEP 517](https://www.python.org/dev/peps/pep-0517) and the [pip documentation](https://pip.pypa.io/en/stable/reference/pip/?highlight=

[2020-09-19 09:53] #2406 closed

[2020-09-21 07:44] SchoolGuy opened #2415 "Support pip install"
### Is your feature request related to a problem?

Currently we are not able to do a `pip install .` due to the fact that we are using non standard packages in our `setup.py`.

### The Behaviour you'd like

`pip install .` works without any knowledge of the user about the requirements of the package.

### Alternatives you've considered

The discussion which we are concerned of has happened in #241

[2020-09-21 07:47] SchoolGuy commented on #2412
After our discussion in this issue and the related PR (#2414) we came to the conclusion that this is not doable currently. So this is not a bug but rather a known regression. For the corresponding feature request please see #2415

We will close this issue when our this problem is documented in our rtd and we have some adjustments in the makefile for a temporary fix.

[2020-09-25 09:21] SchoolGuy commented on #1843
So we have the older issue #1777 so I will close this as a duplicate one and track my progress there. I am not closing this because I won't do it. Please move any comments or suggestions over to #1777!

[2020-09-25 09:21] #1843 closed

[2020-09-25 09:23] SchoolGuy commented on #1777
So to support UEFI we need to be able to do the following things:

- [ ] Generate configs for the PXE/HTTP-Boot/...
- [ ] `cobbler buildiso` needs to support this
- [ ] Koan needs to be able to detect and set this up in `virsh` --> Separate issue in Koan.
- [ ] We need to distingish between a system which is booted via (U)EFI and and via legacy.
- [ ] We need to document how this is working so eve

[2020-09-25 09:25] SchoolGuy commented on #1777
I found already linked the following PR: https://github.com/celesteking/cobbler/pull/1

Below is the patch generated from the PR.

[code]

[2020-09-25 09:25] SchoolGuy commented on #1777
The patch is targeted for Release 2.8.x so this needs to be adjusted and split because Koan is now a separate Repo.

[2020-09-25 09:40] SchoolGuy commented on #1279
This is now part in our cross-distro specfile and done via docker-compose thus we can see this as done.

[2020-09-25 09:40] #1279 closed

[2020-09-25 13:53] dansou901 commented on #1777
Just to document what I have done to make uefi pxe boot work via grub:
1. Installed grub2-x64-efi-modules as dependency for the mkgrub.sh script (for x64 efi targets, for other targets you will need to install other packages)
2. Created a bootable grubx64.efi loader via /usr/share/cobbler/bin/mkgrub.sh
3. copied that loader to tftp root folder
4. in /etc/cobbler/settings grubconfig_dir has to be s

[2020-09-25 15:03] dansou901 opened #2418 "cobbler sync not prefixing https when http_port is 443"
### Describe the bug

When using https for cobbler and having http_port set to 443, the url prefix in the urls present in kernel options in pxelinux.cfg/default stays http, but should be set to https. This results in errors during autoinstallation file fetching.

### To Reproduce

1. Use https for cobbler web interface and api
2. Set http_port to 443 in settings
3. Define profiles with autoinstall

[2020-09-29 12:13] brejoc opened #2419 "Error in settings results in strack trace distro import"
### Describe the bug

Changing the default config from this:
[code]

to this:
[code]

… results in this stack trace:

[code]

### To Reproduce

1. Change the config to **not** have the required indentation.
2. Import distro: `cobbler import --path /mnt --name test_distro`
3. Wait for error message.

### Expected behavior

Cobbler should instead complain about the settings.

### Version

[code]

##

[2020-09-29 14:19] SchoolGuy commented on #2419
The problem is that our serializer is not safeguarded against errors during the reading of the settings file. I know what to do. Either I can explain it in a 1-v-1 to somebody or we need to wait until I have time for this...

[2020-09-30 15:16] holmesb commented on #2381
This has been worked-around by adding an option that [disables caching](https://github.com/cobbler/cobbler/pull/2387).

Be great if could have a new Cobbler release that is compatible with Terraform @SchoolGuy

[2020-09-30 15:16] #2381 closed

[2020-09-30 15:18] SchoolGuy commented on #2381
@holmesb If we test `libcobblersignatures` and integrate it we can release a new version. Before that I would like to keep the current version.

[2020-10-02 11:56] SchoolGuy commented on #2419
So after a quick chat with @brejoc and @agraul we thought that a schema library may be the best option to catch such errors.

A popular library which could solve the issue would be https://pypi.org/project/schema/ for example.

[2020-10-02 15:36] SchoolGuy commented on #1777
So update on my progress with this so far:

- I manged create a testsetup with sumaform (which means I have a modified Cobbler 3.1.2 from SUMA)
- I have found a bug when using ``--standalone --distro``. If it's not a bug the error message is not understandable and thus we need to improve this behavior.

[2020-10-02 16:02] SchoolGuy commented on #1777
Okay the bug was fixed in my pr with the commit bf23e45

[2020-10-05 10:47] mpsOxygen opened #2421 "Why doesn't Cobbler 3.1.2 have esxi7 signatures?"
### Version

[code]
Cobbler 3.1.2
  source: ?, ?
  build time: Wed Jul  8 00:00:00 2020

### Question

While on the release notes for Cobbler 3.1.2 (https://cobbler.github.io/blog/2020/05/27/cobbler_3.1.2_released.html) it says esxi7 is added:
Signatures for ESXi 6 and 7 (https://github.com/cobbler/cobbler/pull/2308)

In reality I cannot find the signatures in either my build or the master branch

[2020-10-05 11:18] SchoolGuy commented on #2421
Yes you are correct. We need to include that also for master... Thanks for mentioning.

[2020-10-05 11:19] SchoolGuy commented on #2421
There is a PR (https://github.com/cobbler/cobbler/pull/2389) which will close this issue but the one who opened it is not working on it sadly.

[2020-10-05 11:28] mpsOxygen commented on #2421
Is there anything I can do to help?

[2020-10-05 12:12] SchoolGuy commented on #2421
Port PR #2308 to master and we are good. That is a "simple" json file which should be easy to understand. The tool to modify that json file is sadly not finished and too unstable to use. However if you are interested to help more I could look what there is to be done to test that tool to make it prod ready.

[2020-10-05 20:04] mpsOxygen commented on #2421
I tried getting it to run on my system, after some modifications to the distro file I got it to import the distro but it does not copy the boot files to the tftpboot directory or the http directory. I can't tell what or where the actual problem is. :(

[2020-10-06 05:00] SchoolGuy commented on #2421
Don't worry. I will try today at work and report back here.

[2020-10-09 18:40] StHeck commented on #2339
Cobbler sync fails in 20.04 (Focal) because Focal now uses named and not bind9.

Simple changes in utils.py:

-    (dist, _) = os_release()
-   if dist == "debian" or dist == "ubuntu":

+    (dist, version) = os_release()
+   if dist == "debian" or dist == "ubuntu" and version < 20.04:

Anywhere it decides whether to use named or bind9 and where their support files are.

[2020-10-16 07:37] SchoolGuy opened #2422 "Linting & Dependency tracking"
### Version

[code]

### Question

Currently we are using Codacy for Linting our Pull Requests and some basic linting in our CI. I now found the following tool: <https://pyup.io/>.

This new tool now checks for Python dependency problems. In my eyes it would be reasonable to enable that for us but I wanted to check with the community first.

My question to the community now is what tools to we wan

[2020-10-16 07:49] dansou901 commented on #2422
Good effort! If we follow this road completely, we will need pyup.io additionally to the tools we already use. Is the list you put up in your first post complete on what we have enabled for now? Would it be a good idea to document this in the wiki section of the project? That way, it would be easier to track those things.
Something else: When we ever decide to provide docker containers in the futu

[2020-10-16 07:51] dansou901 commented on #2422
For Codacy: if there is only configuration that is needed, maybe I can help. I don't know the tool, but I can go through the docs and try to configure it in a way that it works for us. As said before: documentation on what is enabled already will help others to understand what needs to be done.

[2020-10-16 07:57] SchoolGuy commented on #2422
@dansou901 Yes the first list are the tools enabled in the CI and the second list is what is enabled in Codacy. Codacy basically collects these tools and acts as a CI and renders the results nicely. I enabled Pyup for a testrun and we now have a lot of version pinning PRs open. Also it seems that they depend on requirements files.

[2020-10-18 06:03] Kirandp6 opened #2431 "Using cobbler for On-Premise Ubuntu Server Repo"
### Version

Cobbler 2.8.5
  source: ?, ?
  build time: Tue Oct 15 01:59:43 2019

[code]

### Question
I would like Using cobbler for On-Premise Ubuntu Server Repo , ie on-premise server will sync internet repo on a schedule & then it will act as a On-premise repo.

I have Centos 7 server on which cobbler is installed. Here is the error i am getting

#######################################

Comman

[2020-10-18 06:08] Kirandp6 commented on #2431
Also tried below

cobbler repo add --mirror=http://mirror.enzu.com/ubuntu/dists/bionic/ --name=bionic-all-v1      --arch=x86_64 --breed=apt
cobbler reposync --only="bionic-all-v1"

task started: 2020-10-17_202908_reposync
task started (id=Reposync, time=Sat Oct 17 20:29:08 2020)
hello, reposync
run, reposync, run!
running: /usr/bin/debmirror --nocleanup --method=http --host=mirror.enzu.com --root=

[2020-10-18 06:12] Kirandp6 commented on #2431
I did look at https://help.ubuntu.com/community/Debmirror ... but did not get clue how i can use this with cobbler ..

[2020-10-18 08:22] hbokh commented on #2431
Since `debmirror` complains about a missing argument, try this:

`cobbler repo add --mirror=http://mirror.enzu.com/ubuntu/ --name=bionic-all-v1 --arch=x86_64 --breed=apt --apt-dists=bionic --apt-components=main`

---

I am unable to reproduce this on Cobbler 3.1.2. It seems to be broken, so I can't do anything more than what I mentioned above. Cobbler error:

[code]

[2020-10-18 08:35] Kirandp6 commented on #2431
@hbokh  thanks for reply & help  !  that seems working, but any idea on how i will get the keys imported ..

i did below

cobbler repo add --mirror=http://mirror.enzu.com/ubuntu/ --name=bionic-all-v3 --arch=x86_64 --breed=apt --apt-dists=bionic --apt-components=main

 cobbler reposync --only="bionic-all-v3"

Now error is

task started: 2020-10-18_013253_reposync
task started (id=Reposync, time=Sun

[2020-10-18 08:42] hbokh commented on #2431
Not sure, but I found this: https://github.com/cobbler/cobbler/issues/1900#issuecomment-488048904

And this as a reference: https://wiki.ordi49.fr/doku.php/en:tech:dev:debmirror

[2020-10-18 08:46] Kirandp6 commented on #2431
thanks again .. i was also looking for below response in google.. seems that option is not there now or i do not how to use

ie passing flag --no-check-gpg.
#######################################

https://serverfault.com/questions/669809/sync-ubuntu-repository-with-cobbler-server-fails

You haven't added the keys to the gpg keychain. I am running a near identical configuration to yours (CentOS 6.

[2020-10-18 09:03] dansou901 commented on #2431
Hi, try something like gpg --homedir --recv-keys 3B4FE6ACC0B21F32 prior to importing the repo.

[2020-10-18 09:09] Kirandp6 commented on #2431
@dansou901  thanks i will try ..  BTW i tried below but still error .. my cobbler box is CentOS 7 & i am trying this Ubuntu repo on it ...

===
wget http://mirror.pnl.gov/ubuntu//pool/main/u/ubuntu-keyring/ubuntu-keyring_2012.05.19_all.deb
dpkg -x ubuntu-keyring_2012.05.19_all.deb ~
gpg --keyring ~/usr/share/keyrings/ubuntu-archive-keyring.gpg --export|gpg --no-default-keyring --keyring /var/data/

[2020-10-18 09:11] Kirandp6 commented on #2431
Still no luck

gpg --homedir /var/lib/cobbler --recv-keys 3B4FE6ACC0B21F32
gpg: WARNING: unsafe permissions on homedir `/var/lib/cobbler'
gpg: keyring `/var/lib/cobbler/secring.gpg' created
gpg: keyring `/var/lib/cobbler/pubring.gpg' created
gpg: no keyserver known (use option --keyserver)
gpg: keyserver receive failed: Syntax error in URI

===

cobbler reposync --only="bionic-all-v3"
task started

[2020-10-18 09:13] Kirandp6 commented on #2431
Ubuntu notes i see like below
#######################################

If the maintainer does not tell you how to add the key then you need to find the "key hash" of the repository in order to look up the key on a public key server. Once you know the key hash, the key can be retrieved using the command:

gpg --keyserver [name of keyserver] --recv-keys [keyhash]
For example, if the key hash is CE49

[2020-10-18 09:14] dansou901 commented on #2431
ah sorry, homedir has to be /var/lib/cobbler/. nupg and it seems you have to use --keyserver and specify one, just search hkp keyservers

[2020-10-18 09:19] Kirandp6 commented on #2431
gpg --keyserver hkp://keyserver.ubuntu.com:80  --homedir /var/lib/cobbler/.gnupg --recv-keys 3B4FE6ACC0B21F32
gpg: WARNING: unsafe permissions on homedir `/var/lib/cobbler/.gnupg'
gpg: external program calls are disabled due to unsafe options file permissions
gpg: keyserver communications error: General error
gpg: keyserver receive failed: General error

[2020-10-18 09:28] Kirandp6 commented on #2431
seems my network firewall issue .. i did on other box & works , thanks @dansou901

gpg --keyserver hkp://keyserver.ubuntu.com:80 --homedir . --recv-keys 3B4FE6ACC0B21F32
gpg: WARNING: unsafe permissions on homedir '/root/test/test123'
gpg: keybox '/root/test/test123/pubring.kbx' created
gpg: key 3B4FE6ACC0B21F32: 21 signatures not checked due to missing keys
gpg: /root/test/test123/trustdb.gpg: tr

[2020-10-18 09:30] dansou901 commented on #2431
for the unsafe permissions do a chmod 700 /var/lib/cobbler/.gnupg

[2020-10-18 09:32] dansou901 commented on #2431
and in the command before you forgot to set homedir to /var/lib/cobbler/.gnupg which is home to the keyring cobbler evaluates

[2020-10-18 09:37] Kirandp6 commented on #2431
i copied the files created over to this CentOS box ... i see new error now

#######################################
files

/var/lib/cobbler/.gnupg : # ls
crls.d  private-keys-v1.d  pubring.gpg  pubring.kbx  pubring.kbx~  S.dirmngr  secring.gpg  S.gpg-agent  S.gpg-agent.browser  S.gpg-agent.extra  S.gpg-agent.ssh  trustdb.gpg  trustedkeys.gpg

Also did

cp trustdb.gpg trustedkeys.gpg

as that file

[2020-10-18 09:38] Kirandp6 commented on #2431
it could be purely my network firewall.. so i will have to work with firewall folks..

[2020-10-18 09:49] Kirandp6 commented on #2431
i moved this vm to new subnet .. now error is diff

httpd does not appear to be running and proxying cobbler, or SELinux is in the way. Original traceback:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/cobbler/cli.py", line 251, in check_setup
    s.ping()
  File "/usr/lib64/python2.7/xmlrpclib.py", line 1233, in __call__
    return self.__send(self.__name, args)
  Fi

[2020-10-18 09:50] Kirandp6 commented on #2431
selinux is disabled on the box already .. not sure if it needs python 3

[2020-10-18 09:51] Kirandp6 commented on #2431
I will be back in 10 odd hrs .. thanks

[2020-10-18 10:26] hbokh commented on #2431
[code]

FYI that mirror is not running rsync at all, only http on port 80.

Try a mirror which does, for example the one in the Netherlands: http://nl.archive.ubuntu.com/ - just to see if it works.

[2020-10-18 20:39] Kirandp6 commented on #2431
Thanks for reply for now i tried below

nc -zv nl.archive.ubuntu.com 80
Ncat: Version 7.50 ( https://nmap.org/ncat )
Ncat: Connected to 213.136.12.213:80.
Ncat: 0 bytes sent, 0 bytes received in 0.45 seconds.

#######################################

similar error

cobbler repo add --mirror=http://nl.archive.ubuntu.com/  --name=bionic-all-v4 --arch=x86_64 --breed=apt --apt-components=main

^Chttpd

[2020-10-18 21:17] dansou901 commented on #2431
How is your cobbler set up? Do you have httpd running in front of cobbler and properly configured? Please show us your httpd config files for cobbler.

[2020-10-18 21:38] Kirandp6 commented on #2431
let me get back on that on how i did the setup of cobbler with http details

#######################################
in mean time i moved server back to old subnet with DNS working ( i moved to new subnet earlier as i was thinking it is network firewall issue ) , now the cmd is not hanging

both below point to

received on stderr: Option dist requires an argument
Usage: /usr/bin/debmirror [options

[2020-10-18 21:49] Kirandp6 commented on #2431
How is your cobbler set up? Do you have httpd running in front of cobbler and properly configured? Please show us your httpd config files for cobbler.

All i did is install cobbler with epel
then ran cobbler check & fix all what is needed , i think one of the thing that time it asked is httpd install
no change change made on httpd configs

i also just checked

https://ip/cobbler_web is not working

[2020-10-18 21:52] Kirandp6 commented on #2431
i am planning to use it more of yum & apt repos

#######################################

cobbler repo list
   bionic
   bionic-all
   bionic-all-v1
   bionic-all-v2
   bionic-all-v3
   bionic-all-v6
   bionic-all-v7
   bionic-all-v8
   xenial-main

#######################################
removed all

#######################################

then did

cobbler reposync
task started: 2020-10-18_1452

[2020-10-18 21:53] Kirandp6 commented on #2431
so i think, cobbler repo add , for ubuntu needs more options..  we missing something per error  message

[2020-10-18 21:59] Kirandp6 commented on #2431
tried

sudo cobbler repo add --name=local-trusty --breed=apt --arch=x86_64 --mirror=http://hu.archive.ubuntu.com/ubuntu/ --apt-components=main,restricted,universe,multiverse --apt-dists=trusty,trusty-updates,trusty-security

cobbler reposync

#######################################

task started: 2020-10-18_145729_reposync
task started (id=Reposync, time=Sun Oct 18 14:57:29 2020)
hello, reposync
r

[2020-10-18 22:18] Kirandp6 commented on #2431
I just below per @hbokh

cobbler repo add --mirror=http://mirror.enzu.com/ubuntu/ --name=bionic-all-v1 --arch=x86_64 --breed=apt --apt-dists=bionic --apt-components=main

then

cobbler reposync --only="bionic-all-v1"
task started: 2020-10-18_151547_reposync
task started (id=Reposync, time=Sun Oct 18 15:15:47 2020)
hello, reposync
run, reposync, run!
*** TASK COMPLETE ***

now running

reposync

sh

[2020-10-18 22:23] Kirandp6 commented on #2431
reposync is done, not sure if it downloaded anything

what will be client side testing i can do next ...  what to update in /etc/apt/sources.list

thanks

[2020-10-19 00:39] Kirandp6 commented on #2431
so only change in recent time is i removed all old repos

[2020-10-19 07:51] Kirandp6 commented on #2431
apparently it did not work & as i did so many things to get this working & lost track, i am going to start from scratch

closing this topic

Thanks for those who replied

[2020-10-19 08:23] Kirandp6 opened #2432 "Build Cobbler 3.x from source on CentOS 7"
### Version

Yet  to install , 3.x latest

### Question

As with normal epel repo on CentOS 7, i do not get latest cobbler , i decided to download the sorce code

did
git clone https://github.com/cobbler/cobbler.git

cd cobbler
source distro_build_configs.sh

cat /etc/redhat-release
CentOS Linux release 7.8.2003 (Core)

python --version
Python 3.6.9

Error

make install
Traceback (most recent call

[2020-10-19 14:04] dansou901 commented on #2432
is there a reason that doesn't allow you to use CentOS 8? In CentOS 8 you'll get the latest version from epel.

[2020-10-19 14:18] SchoolGuy commented on #2431
@Kirandp6 Please let me know if this works when you try again. I want to make Cobbler work as it did back in the days. This project was dead for a long time but I am trying my best to fix it up again because I think it is quite unique. The only thing I am lacking to fix it up completely is time to code and hardware to test at home. Thus people like you are better then any money since you are using

[2020-10-19 14:23] SchoolGuy commented on #2432
@Kirandp6 So this definitely works on CentOS7 since we are building every pushed commit in the CI on CentOS7. Thus maybe the docs are not good enough but from a technical side this should work.

The error message you are getting is due to a missing dependency. According to the website of Sphinx (<https://www.sphinx-doc.org/en/master/usage/installation.html>) this should work with `yum install pyth

[2020-10-19 14:44] Kirandp6 commented on #2432
@SchoolGuy  , Thanks, i had to do below

yum install *sphinx*  -y

 yum install *coverage*  -y

can i ignore the 2 last lines - errors

copying svc/services.py -> /var/www/cobbler/svc/
copying cobbler/web/settings.py -> /usr/local/share/cobbler/web/
creating /etc/cobbler/zone_templates
copying templates/zone_templates/foo.example.com -> /etc/cobbler/zone_templates
copying config/cobbler/logging_co

[2020-10-19 14:57] SchoolGuy commented on #2418
So we have various places which contain hardcoded `http` URLs. Thus I think this is not limited to kernel parameters. Deeper investigation is needed since the template itself is not containing the lock on the `http`.

[2020-10-19 14:59] SchoolGuy commented on #2432
@Kirandp6 Yes you can. That effectively means that the directorys `/usr/local/share/cobbler/web` and `/var/lib/cobbler/webui_sessions` are owned by the user you used for building Cobbler. This means that your webserver will maybe have trouble serving some web content but that can easily be fixed with a `chown` of the webserver user of your OS.

[2020-10-19 15:11] dansou901 commented on #2418
There is an option called "client_use_https". When that is set to 1, all cobbler urls which are getting called anywhere should be changed to https.

[2020-10-19 15:13] hbokh commented on #2432
I used to build the RPMs on my Mac **using Docker:**
Run this in the Cobbler repo base directory:
`./tests/build-and-install-rpms.sh el7 dockerfiles/CentOS7.dockerfile`

and the RPMs can be found after a successful  build in subdir. `rpm-build`.
These packages in that directory can be copied to a CentOS7 host and installed over there:

- `cobbler-3.2.0-1.el7.noarch.rpm`
- `cobbler-web-3.2.0-1.el7.

[2020-10-19 15:18] SchoolGuy commented on #2418
@dansou901 I agree that this should be the case but apparently we did not implement that everywhere. If I fixed some other (in my opinion) more important tech-debt (PR will come through later today), then I take care of this. Sorry to not be able to help faster.

[2020-10-19 15:34] hbokh commented on #2432
Tried to build RPMs on my little CentOS7 box. This also works, without using Docker.
Had to install `wheel` for Python3 first: `pip3 install wheel`.
Than ran `make rpms` and subdir. `rpm-build` showed freshly baked RPM files.

I suggest to try this method (create and install packages) instead of `make install` from source.

[2020-10-19 15:40] SchoolGuy commented on #2432
FYI @Kirandp6: In the end the scripts are also executing `make install`. This target is just safeguarding a lot that could be missing... Thus I would agree with @hbokh that as long as we have such a complex installation process `make rpms` ist the best option. Although technically spoken it is not 100% from source as this makes use of a lot of pre built dependencies via your package manager.

[2020-10-19 15:40] hbokh commented on #2432
This is odd!
`wwwrun` for `APACHE_USER` is only used for SUSE, not for CentOS /  Fedora.

Try using `bash -x` instead of `source` before `distro_build_configs.sh`.
Here's my outputm which clearly shows `+ APACHE_USER=apache`:

[code]

[2020-10-19 15:50] dansou901 commented on #2418
@SchoolGuy don't worry too much about this one, if there are other ones to fix which are more urgent, go for it. I've got a workaround so I'm fine for the time being, this is just for completeness.

[2020-10-19 17:43] Kirandp6 commented on #2432
well.. i already did

make install

make devinstall
...

make[1]: Entering directory `/root/cobbler-source/cobbler'
# Check if we are on Red Hat, SUSE or Debian based distribution
running restorestate
if [ -n "`getent passwd apache`" ] ; then \
        chown -R apache //var/www/cobbler; \
elif [ -n "`getent passwd wwwrun`" ] ; then \
        chown -R wwwrun //usr/share/cobbler/web; \
elif [ -n "`g

[2020-10-19 17:45] Kirandp6 commented on #2432
well .. centos 8 is not fully baked wrt community ansible roles.. so i was doing centos 7 ... many roles i use today from community do not have centified yet on centos 8

[2020-10-19 17:48] Kirandp6 commented on #2432
well, i will try later this week with CentOS 8 EPEL ... so i am almost giving up on CentOS 7 source code build tho i am very near build with normal steps & have done them already ... i will keep posted

[2020-10-19 18:40] danishina opened #2436 "Cobbler /etc/cobbler/pxe/*.template"
### Version

[code]
Cobbler Version: 2.8.4-4

### Question

Stuck at a problem with /etc/cobbler/pxe/*.template files.
I notice it comes with default files but I was wondering if I can add my own templates and use them in profiles, for ex:

Profile:
lrh7v7-x86_64
Templates:
/etc/cobbler/pxe/pxeprofile_my.template
/etc/cobbler/pxe/pxesystem_my.template

Any help will be appreciated.

Regards
-danis

[2020-10-19 22:39] Kirandp6 opened #2437 "Cobbler reposync: Attribute Error while executing the task"
### Version

Trying to install

### Question

Doc says

But the EPEL do not have it

[code]

[code]

[code]

[code]

<https://cobbler.readthedocs.io/en/release28/2_installation/installing%20from%20packages.html>

other things i can install just ok

eg `yum install -y nc`, ...

So not issue with EPEL or OS

Thanks

[2020-10-19 23:03] Kirandp6 commented on #2432
trying the centos 8 EPEL wrt https://github.com/cobbler/cobbler/issues/2437  , so closing this one

[2020-10-19 23:03] #2432 closed

[2020-10-19 23:13] Kirandp6 commented on #2437
did install with manual download

https://centos.pkgs.org/8/epel-modular-testing-x86_64/cobbler-3.1.2-1.module_el8+9018+49c2ef9c.noarch.rpm.html

[2020-10-19 23:18] Kirandp6 commented on #2437
I did below

 sudo cobbler repo add --name=local-bionic --breed=apt --arch=x86_64 --mirror=http://nl.archive.ubuntu.com/ubuntu/ --apt-components=main,restricted,universe,multiverse --apt-dists=bionic,bionic-updates,bionic-security
cobbler  reposync --only="local-bionic"

Error

cobbler  reposync --only="local-bionic"
task started: 2020-10-19_191649_reposync
task started (id=Reposync, time=Mon Oct

[2020-10-20 02:15] Kirandp6 commented on #2437
any suggestions Please

[2020-10-20 03:13] Kirandp6 commented on #2431
Sure re-opening

[2020-10-20 03:20] Kirandp6 commented on #2431
@SchoolGuy  thanks for the kind response .. i created new issue where i gave my feedback /issues - https://github.com/cobbler/cobbler/issues/2437 .. if we can discuss in that will help. i am open for a zoom call if that will make it any faster ..  i am in PST but is flexible on time , thanks , closing this one

[2020-10-20 03:20] #2431 closed

[2020-10-20 08:58] hbokh commented on #2437
Same error here, so this is broken at the moment.

[2020-10-20 09:08] SchoolGuy commented on #2437
I will investigate this week.

[2020-10-20 09:08] SchoolGuy commented on #2437
But this will be broken with 3.2.0

[2020-10-21 01:34] Kirandp6 commented on #2437
How can we install 3.0 say ? the EPEL also seems broken.  Should this work ok on older versions ?

[2020-10-21 03:05] opoplawski commented on #2437
FWIW - proper way to install on EL8 is:
[code]

[2020-10-24 10:28] SchoolGuy commented on #2436
Yes of course you can do that. Only remember to use them then in the appropriate places. It is also possible to modify the existing ones.

[2020-10-24 10:29] SchoolGuy commented on #2421
#2435 should fix this.

[2020-10-24 10:29] SchoolGuy commented on #2421
Release 3.2.0 will include this PR.

[2020-10-24 10:29] #2421 closed

[2020-10-25 19:30] opoplawski opened #2440 "logging check fails with SELinux"
### Describe the bug

Commits 012bca33af7e0a8f544ee6f4b80ae15176c82590 and 7dafc770b2bf2b035701d66e6083f2f009675e04 attempt to deal with logging in the apache context versus the cobblerd context.  Unfortunately this check:
[code]
is not correct on an SELinux system as the cobblerd_t context does not have write permissions to /var/log/cobbler/cobbler.log, only append.

### To Reproduce

On SELinux

[2020-10-25 19:37] opoplawski commented on #2440
@watologo1 can you point me to where any cobbler code running as apache would try to do logging?  i.e. what triggered this issue in the first place?

[2020-10-25 19:52] opoplawski commented on #2440
Never mind - I found it after restarting apache and checking the apache error log.

[2020-10-26 02:58] Kirandp6 commented on #2437
yum update -y cobbler
Last metadata expiration check: 0:10:01 ago on Sun 25 Oct 2020 10:47:25 PM EDT.
Dependencies resolved.
Nothing to do.
Complete!

#######################################

dnf module install cobbler
Last metadata expiration check: 0:09:14 ago on Sun 25 Oct 2020 10:47:25 PM EDT.
Dependencies resolved.
Nothing to do.
Complete!

#######################################

 cobbler ve

[2020-10-26 02:59] Kirandp6 commented on #2437
Cobbler V3.2.0

@SchoolGuy SchoolGuy released this 2 days ago

[2020-10-26 04:29] SchoolGuy commented on #2437
@Kirandp6 as always you wait until downstream follows with the packaging.

[2020-10-26 15:09] opoplawski commented on #2437
@Kirandp6 If you are still running EL8 - https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-MODULAR-2020-e2f953dfea is now in the epel-testing-modular repo.

[2020-10-27 21:20] danishina commented on #2436
Hmm in that case Im doing something incorrect.

I created 3 files:
/etc/cobbler/pxe/pxesystem_abc.template
/etc/cobbler/pxe/pxelocal_abc.template
/etc/cobbler/pxe/pxelocal_abc.template

Then I created a new OS profile and under the ‘Management Tab’ leveraging ‘Template files’ I call /etc/cobbler/pxe/pxesystem_abc.template.

When I try to build a system it doesn’t pickup /etc/cobbler/pxe/pxesystem_

[2020-10-27 22:18] y2kenny opened #2443 "PXE menu for specific system"
### Version
[code]
### Question
For any system not specified in Cobbler, if it is PXE booted, it will see a list of profile available to use.  But if I add a system to Cobbler, I have to specify a profile since selecting a 'None' profile will cause a sync error per #1510.  Is there a way for me to specify a system in Cobbler but still have it see the default pxelinux.cfg (so that user can manually

[2020-10-28 06:37] SchoolGuy commented on #2443
No. What you want is per definition not possible. @jmaas also answered this back then and in this regard nothing has changed. If you want to change the profile you need to change it in the system also.

In my eyes this is pretty reasonable: Either you want your system managed and want to know the state of it or you have an unmanaged system. Everything in between will only cause trouble in my eyes.

[2020-10-28 06:51] SchoolGuy commented on #2436
Okay while I strongly recommend to upgrade Cobbler 3, I will still try to help you.

I took a look at the code we have and discovered that the filename is to my surprise hardcoded. I wasn't aware that we can't override this.
However this does not stop you from achieving what you want to do! All `.template` files are Cheetah templates, thus you can just put some template code in there and write con

[2020-10-28 13:28] danishina commented on #2436
Thank you so much.  I feel better.
Let me poke around on how to modify the .template…
By any chance, do you guys have any reference material for these templates ?

From: Enno G.<mailto:notifications@github.com>
Sent: Wednesday, October 28, 2020 2:51 AM
To: cobbler/cobbler<mailto:cobbler@noreply.github.com>
Cc: danishina<mailto:danishm@hotmail.com>; Author<mailto:author@noreply.github.com>
Subject:

[2020-10-28 13:42] SchoolGuy commented on #2436
As written in the last line: https://cheetahtemplate.org

[2020-10-30 00:31] Kirandp6 commented on #2437
i had to do this

 dnf remove cobbler

yum install -y --disablerepo="*"  --enablerepo="epel-testing-modular" cobbler

Gave dependacies error

so did below

dnf module install cobbler

## update

yum upgrade -y --disablerepo="*"  --enablerepo="epel-testing-modular" cobbler

Am i missing anything , or this works-around is just ok

[2020-10-30 00:32] Kirandp6 commented on #2437
Getting error
 /bin/systemctl start cobbler.service
Failed to start cobbler.service: Unit cobbler.service not found.

[2020-10-30 00:58] Kirandp6 commented on #2437
i was doing a typo cobbler s cobblerd

I removed all packages & install dependancies manually

then re-installed

now ok

cobbler version
Cobbler 3.2.0
  source: ?, ?
  build time: Sun Oct 25 21:46:20 2020

[2020-10-30 01:05] Kirandp6 commented on #2437
still getting error on repo sync

#######################################

sudo cobbler repo add --name=local-bionic --breed=apt --arch=x86_64 --mirror=http://nl.archive.ubuntu.com/ubuntu/ --apt-components=main,restricted,universe,multiverse --apt-dists=bionic,bionic-updates,bionic-security

#######################################

cobbler reposync --only="local-bionic"
task started: 2020-10-29_21

[2020-10-30 01:14] Kirandp6 commented on #2437
https://serverfault.com/questions/669809/sync-ubuntu-repository-with-cobbler-server-fails

[2020-10-30 01:15] Kirandp6 commented on #2437
https://ubuntuforums.org/archive/index.php/t-2217665.html

[2020-10-30 03:58] Kirandp6 commented on #2437
cobbler repo add --mirror=http://nl.archive.ubuntu.com/ubuntu/dists/bionic/ --name=bionic-all-v7 --arch=x86_64 --breed=apt --apt-components=main

#######################################

cobbler reposync --only="bionic-all-v7"

#######################################

task started: 2020-10-29_235615_reposync
task started (id=Reposync, time=Thu Oct 29 23:56:15 2020)
running python triggers from /va

[2020-10-30 03:59] Kirandp6 commented on #2437
cobbler version
Cobbler 3.2.0
  source: ?, ?
  build time: Sun Oct 25 21:46:20 2020

[2020-10-31 03:22] opoplawski commented on #2437
For the last error, it appears that "--apt-dists" really needs to be required option for debian repos:
[code]
That's going to fail if "dists" is empty as you show.

As for the previous one - the links you show suggest that you need to add the gpg keys - have you done so?  Alternatively, it appears that you should be able to add `--no-check-gpg` to the "yumopts" and that will be added to the debmir

[2020-10-31 07:58] Kirandp6 commented on #2437
Thanks for the reply

I added --apt-dists as below

sudo cobbler repo add --name=local-bionic-1 --breed=apt --arch=x86_64 --mirror=http://nl.archive.ubuntu.com/ubuntu/ --apt-components=main,restricted,universe,multiverse --apt-dists=bionic,bionic-updates,bionic-security

Then also did below on a "ubuntu" box

 gpg --keyserver hkp://keyserver.ubuntu.com --search-key 3B4FE6ACC0B21F32

Which created

[2020-10-31 08:15] Kirandp6 commented on #2437
i tried to use a Ubuntu 16 box, simply did apt install cobbler

#######################################

it fails , any idea on below ?

cobbler version
Traceback (most recent call last):
  File "/usr/bin/cobbler", line 35, in <module>
    sys.exit(app.main())
  File "/usr/lib/python2.7/dist-packages/cobbler/cli.py", line 645, in main
    rc = cli.run(sys.argv)
  File "/usr/lib/python2.7/dist-pack

[2020-10-31 16:19] opoplawski commented on #2400
Looks like this got forgotten about and never applied?

[2020-10-31 23:08] Kirandp6 commented on #2437
Any idea on below error ... i see lots of data is downloaded

here i manually imported Ubuntu ISO 18.04 on CentOS 7 box & then did something like below

cobbler repo add --mirror=http://nl.archive.ubuntu.com/ --name=bionic-all-v2 --arch=x86_64 --breed=apt --apt-dists=bionic --apt-components=main

cobbler reposync --only="bionic-all-v2"

#######################################
cobbler reposync

tas

[2020-10-31 23:09] Kirandp6 commented on #2437
i used an old version of

Cobbler 2.8.5
  source: ?, ?
  build time: Tue Oct 15 01:59:43 2019

[2020-11-01 16:59] opoplawski commented on #2437
Again, you are either going to need to configure gpg properly to verify the signatures (I don't know how to do this), or tell debmirror to not do gpg checks (I posted how I think you can do this above).

[2020-11-02 08:23] SchoolGuy commented on #2400
Yes it was forgotten. Damit. I will create a PR now.

[2020-11-02 15:58] SchoolGuy commented on #2400
@fonzinc I never used PAM but while I read into it and create some testcases so your error can't reappear please be patient. I will try my best.

[2020-11-02 16:03] SchoolGuy commented on #2400
I wrote to the original author of the PAM Python connector to see if we can get the patch also included in his library and depend on the library (since our source code is just copy & pasted from his sources).

[2020-11-02 16:05] SchoolGuy commented on #2400
@catlee maybe you are faster to respond directly here...

[2020-11-03 13:31] mpsOxygen commented on #2421
Import is still failing with:
[root@lab-provisioning-cobbler ~]# cobbler import --name=ESXI70b --breed=vmware --path=/mnt/esxi70b
task started: 2020-11-03_153100_import
task started (id=Media import, time=Tue Nov  3 15:31:00 2020)
running python triggers from /var/lib/cobbler/triggers/task/import/pre/*
running shell triggers from /var/lib/cobbler/triggers/task/import/pre/*
shell triggers finished

[2020-11-03 13:35] SchoolGuy commented on #2421
@mpsOxygen The signatures are there. Let's open a new one for this. This is something different as far as I can see.

[2020-11-03 13:37] mpsOxygen commented on #2421
Ok, will do!

[2020-11-03 13:41] mpsOxygen opened #2448 "Cobbler 3.2.0 fails to import ESXi image with a type error"
### Describe the bug

 cobbler fails to import ESXi image with am exception:
Exception occured: <class 'TypeError'>
Exception value: cannot use a string pattern on a bytes-like object

### To Reproduce

1. mount ESXi iso: mount -t iso9660 -o loop,ro VMware-VMvisor-Installer-7.0b-16324942.x86_64.iso /mnt/esxi70b
2. try to import ESXi: cobbler import --name=ESXI70b --breed=vmware --path=/mnt/esxi70b

[2020-11-03 14:15] mpsOxygen commented on #2448
I think the problem is in get_file_lines() from import_signatures.py, when it opens a gzip file it returns a bunch of bytes that will never work with  m = re_krn2.match(line)

[2020-11-05 07:17] mpsOxygen commented on #2448
Ok so the facts that get_file_lines() from import_signatures.py returns bytes is a bug, but I am also starting to think that using "kernel_arch":"tools\\.t00" in the signatures file for VMware is just wrong. That is an arhive with the vmware tools, so all executables not much text and there is nothing in there that could help you determine the architecture of the image.

I will try and find a bett

[2020-11-05 09:42] SchoolGuy commented on #2448
That information spares me a lot of time. I think that I can maybe reserve some time this weekend for this... But I am not sure.

[2020-11-06 04:36] y2kenny commented on #2443
@SchoolGuy So the way I was thinking of using it is this: Cobbler manages things like IP addresses, domain-name, etc. but the users of the system get to pick the OS/distros they want to install from the PXE menu.  I don't think this is too crazy of a use case.  If there are other ways to achieve the same functionality I am certainly open to it.

[2020-11-06 07:24] mpsOxygen commented on #2448
I think vmware-esx-base-osl.txt would e a better fit for finding the arch. There are some included file names in there that contain architecture.

[2020-11-06 22:04] sgh1 commented on #2149
This ended up being helpful: https://lists.fedorahosted.org/pipermail/cobbler/2011-December/007025.html Just remove the try/catch and say serializer.deserialize(item) instead of if not serializer.deserialize(item): raise"".

Restart and check the log again.

My issue ended up being that I had a kickstart file in the .../cobbler/systems.d directory. I'm not familiar with the code base, but it seems

[2020-11-10 11:40] SchoolGuy commented on #2149
Well okay. So the Python2 version won't get fixes from me. I would highly advise at least to upgrade to 2.8.5! If somehow possible to Cobbler 3.x.x to be Python 3.

Regarding the specific issue... @MohanrajBabu is this resolved or not?

[2020-11-10 11:44] SchoolGuy commented on #2448
Okay so the weekend went differently then I anticipated. Looking at this when more time is available but we need to fix this... *sigh*

[2020-11-10 11:47] SchoolGuy commented on #2443
Fine. I see your point now. But for now I can't prioritize this since there is so much on the table. But I won't forget it.

[2020-11-10 18:23] y2kenny commented on #2443
@SchoolGuy Understood and I appreciate all your work.  I will look into contributing a PR when I have time.

[2020-11-13 21:12] ghjs commented on #2376
I missed mentioning this issue in PR [#2451](https://github.com/cobbler/cobbler/pull/2451).

[2020-11-13 21:40] SchoolGuy commented on #2376
This was closed via the mentioned PR. Thus closing this.

[2020-11-13 21:40] #2376 closed

[2020-11-15 20:28] bowlerct commented on #2369
I don't have a lot of time but would like to help with cobbler and more on the UI side. I am familiar with several frontends (php, bootstrap, Ext-JS, jsp) but not angular so I need to read some docs and tutorials on it. I'm looking forward to contributing and keeping the project going.

[2020-11-18 12:50] SchoolGuy opened #2452 "Cobbler master is broken because of import errors on building the docs."
### Describe the bug

CI in Cobbler `master` is broken. This is due to import errors on generating the documentation.

### To Reproduce

1. Go to <https://travis-ci.com/github/cobbler/cobbler/jobs/442358053#L1300-L1316>
2. See error

### Expected behavior

CI passes correctly without problems.

### Version

[code]

### Screenshots

Not applicable.

### Additional context

Occured after merging #24

[2020-11-19 08:11] SchoolGuy commented on #2412
I will close this Bug, since we have a Feature Request for it, namely #2415 .

For now this behavior is intended. The patch for solving it is included in the Feature Request.

[2020-11-19 08:11] #2412 closed

[2020-11-19 08:12] SchoolGuy commented on #2393
@dansou901 Do you think you will be able to progress this? Or shall someone else take over? What is your desire in this regard?

[2020-11-19 08:15] SchoolGuy commented on #2345
Since I just now saw that this is solved we will close this. If the problem persists, please reopen.

[2020-11-19 08:15] #2345 closed

[2020-11-19 08:18] SchoolGuy commented on #2340
@opoplawski or @Conan-Kudo Do one of you maybe have an idea how to solve this. Our specfile is already pretty modular and complicated. Adding another branch for this case feels wrong, although I don't know how to solve it in a more elegant way.

[2020-11-19 08:22] SchoolGuy commented on #2313
This was solved through #2401

[2020-11-19 08:22] #2313 closed

[2020-11-19 10:30] SchoolGuy commented on #2256
With https://github.com/cobbler/cobbler.github.io/commit/95c050597b72e195b3b511cc16aadf1007ad88b2 and https://github.com/cobbler/cobbler/commit/3e9acdee44cbf4bcba920b3053abfcc3cee9c7b1 this was fixed.

[2020-11-19 10:30] #2256 closed

[2020-11-19 10:48] SchoolGuy commented on #1486
Since we will split Cobbler Web out of the main package again, I will close this. There we will rethink everything from scratch. Tests will of course be there...

[2020-11-19 10:48] #1486 closed

[2020-11-19 10:59] SchoolGuy commented on #1522
@kflavin correctly found the issue. I want to fix this but for now we need to clean up the items first. I will plan this for 4.0.0 which will have a new web interface and hopefully a lot more extensive docs about authentication and authorization.

[2020-11-19 11:05] SchoolGuy commented on #1531
I find it quite reasonable to have an object pointing to another object.

What we could do is that we introduce an item `symlink` which just has two attributes: Name and Link Target. When Cobbler is accessing the symlink it just shows the object with the new name. The only problem then we need to solve is how we include this in searches etc but let's think about that later.

[2020-11-19 12:03] SchoolGuy commented on #1516
So we have a token expiration after the default timeout of 3600s (or 1h). After this you need to re-login to fix this. The default of this may be changed https://cobbler.readthedocs.io/en/latest/cobbler-conf.html#auth-token-expiration

[2020-11-19 12:04] SchoolGuy commented on #1516
Also you can of course expire that token explicetly via https://cobbler.readthedocs.io/en/latest/code-autodoc/cobbler.html#cobbler.remote.CobblerXMLRPCInterface.logout

[2020-11-19 12:05] SchoolGuy commented on #1516
I think we can close this since the information provided doesn't give enough context to see what is happening here. Thus closing. If the problem persists, I would kindly ask you to reopen this with more information.

[2020-11-19 12:05] #1516 closed

[2020-11-19 12:08] SchoolGuy commented on #1801
This is not a bug but rather a limitation when running Cobbler via systemd. We need to document this asap to inform users about this.

[2020-11-19 12:21] SchoolGuy commented on #1782
Okay when we have cleaned up the Items of Cobbler this should be a lot easier. Thus moving this to 3.3.0

[2020-11-19 12:28] SchoolGuy commented on #2415
According to https://access.redhat.com/support/policy/updates/errata#Life_Cycle_Dates the EOL of RHEL 7 is not yet defined. Thus we need to hope that the version of pip in RHEL 7 will increase soon.

However we know that the normal support for RHEL 7 will end at the 30th of June 2024. Thus this will be the latest point when we can tackle this.

[2020-11-19 12:29] SchoolGuy commented on #2415
@Conan-Kudo How can I monitor the version of pip in RHEL? I don't have a RHEL subscription at hand sadly.

[2020-11-19 12:34] Conan-Kudo commented on #2415
@SchoolGuy CentOS and RHEL versions of pip are identical.

[2020-11-19 12:34] Conan-Kudo commented on #2415
RHEL 7 EOL is June 2024.

[2020-11-19 12:35] Conan-Kudo commented on #2415
The end of "normal support" is the effective EOL for all intents and purposes.

[2020-11-19 12:36] SchoolGuy commented on #2335
We can't use a `Suggests` in the specfile because this is not always supported. I think we should instead document this because setting up Cobbler to use LDAP is not something which is done out of the box for you.

@dansou901 Would you agree or do you have a desired better solution in mind?

[2020-11-19 12:38] SchoolGuy commented on #2343
Fixed through https://github.com/cobbler/cobbler/pull/2347 and https://github.com/cobbler/cobbler/pull/2359

[2020-11-19 12:38] #2343 closed

[2020-11-19 12:39] SchoolGuy commented on #2415
Perfect then I can monitor the CentOS and we are good.

[2020-11-19 12:42] SchoolGuy commented on #2415
Pip version will be monitored through this: https://pkgs.org/search/?q=pip

Sadly one cannot filter via GET parameters the rest of the information.

[2020-11-19 12:43] SchoolGuy commented on #2403
I find that the docs about this are rather vague or missing. Let's fix that for the next release.

[2020-11-19 12:47] SchoolGuy commented on #2340
Correct package name for CentOS & RHEL: `python3-mod_wsgi`

[2020-11-19 12:48] dansou901 commented on #2335
That would help of course and should be enough. When we ever want to do an official docker image for cobbler (which we should do latest for 4.0.0 in my eyes), we should include the needed package there of course.

[2020-11-19 12:49] dansou901 commented on #2393
I still want to do this, sadly I didn't find the time yet to do so. But I will have at least one more week of holidays this year, then I'll start on this for sure.

[2020-11-19 12:51] SchoolGuy opened #2453 "Create an official container image for Cobbler"
### Is your feature request related to a problem?

Currently we only use Docker or containers in general for testing. Since it is apparently possible to run Cobbler in such an environment we should provide such a solution.

### The Behaviour you'd like

`docker pull cobbler` or something similar should pull a production ready Cobbler image.

### Alternatives you've considered

Well hosting in a VM

[2020-11-19 12:52] SchoolGuy commented on #2393
Thanks a billion times! I will try to integrate the openSUSE OBS so you don't have to worry about dependencies and building.

[2020-11-19 12:58] SchoolGuy commented on #2385
Good addition I think but let's not do too much for the next two releases. I think 4.0.0 is a good target.

[2020-11-19 12:59] SchoolGuy commented on #2312
Let's reproduce this on the current version for the next-next release and if yes do it for it.

[2020-11-19 12:59] Conan-Kudo commented on #2340
This is probably a bug in the EPEL 7 package for `python3-mod_wsgi`, as it's supposed to be named `python36-mod_wsgi` by policy. @carlwgeorge could you fix this to at least add a Provides for the binary package to have the other name?

[2020-11-19 13:06] SchoolGuy commented on #2247
Let's add a test for this and see if it works. If not let's fix it.

[2020-11-19 13:10] SchoolGuy commented on #2281
@2020ross Could you please share your kickstart file? Or at least the part which is throwing an error? If not then I can't help you with debugging. Also 2.8.x and older are EOL since Py2 is EOL. Thus also - if possible - try to reproduce on the current version.

[2020-11-19 13:26] SchoolGuy commented on #2183
So due to the fact that Cobbler need to run as root currently and the Apache 2 user needs access to both files this won't be fixed by us. At least not until we have cleaned up everything very very good. Thus closing this and leaving the selinux policy mess to downstream. I recommend running this without selinux anyway because of the many permissions we need currently.

[2020-11-19 13:26] #2183 closed

[2020-11-19 13:28] SchoolGuy commented on #2168
@opoplawski Is this the only thing that we need to think of when fixing this or is there more required when fixing the Py2/3 compability with this script?

[2020-11-19 13:33] SchoolGuy commented on #2246
This was indeed removed with https://github.com/cobbler/cobbler/commit/83d233e4e876a645a67e35479db7f8b9afd67766

Also from our bash completion this was removed with https://github.com/cobbler/cobbler/commit/eda635ffb86bf81e56fb845070f798e5ea9e441f#diff-1ff61e97e995655681608a9d2952adfc9e45f25e2c3e2a73efbbc1f22e6ee2c6

Thus closing this issue.

[2020-11-19 13:33] #2246 closed

[2020-11-19 13:36] SchoolGuy commented on #2262
According to `item.py +28` we know that the default value of this should be a dict. Thus this is definitly a dict. Let's fix it for the next release!

[2020-11-19 13:37] SchoolGuy commented on #2221
Images do work in general when using current releases. Thus closing this because of too little context.

[2020-11-19 13:37] #2221 closed

[2020-11-19 13:39] SchoolGuy commented on #2193
The question was answered and no follow ups were raised. Thus closing this one.

[2020-11-19 13:39] #2193 closed

[2020-11-19 13:45] SchoolGuy commented on #627
Let's get this working again with 3.3.0 so we have an alternative to the file backend.

[2020-11-19 13:45] SchoolGuy commented on #601
Let's try to replicate for 3.3.0 and if it persists then fix it.

[2020-11-19 13:48] SchoolGuy commented on #1057
This is something which we can clean up when we cleaned up the items and caching situation. Thus we need to postphone this a lot.

[2020-11-19 13:50] SchoolGuy commented on #692
This was fixed by #1763

[2020-11-19 13:50] #692 closed

[2020-11-19 13:55] SchoolGuy commented on #1352
So this is not done and currently makes no sense. But in the future it may make sense. Let's implement it later.

[2020-11-19 14:01] SchoolGuy commented on #1203
If this bug is still a thing we need to fix it for v3.3.0

[2020-11-19 14:06] SchoolGuy commented on #1252
Closed via #2367

[2020-11-19 14:06] #1252 closed

[2020-11-19 14:13] SchoolGuy commented on #1873
Not enough context, thus closing.

[2020-11-19 14:13] #1873 closed

[2020-11-19 14:23] SchoolGuy commented on #1913
This appears more complicated. Let's do it later.

[2020-11-19 14:27] SchoolGuy commented on #1911
Contributions welcome but I won't have time for this in the near future.

[2020-11-19 14:30] SchoolGuy commented on #1956
So a Profile without a Distro cannot exist currently. We should have tests. If we find this again we will open a bug against the current version again.

[2020-11-19 14:30] #1956 closed

[2020-11-19 14:31] SchoolGuy commented on #1555
This works somehow. Thus we can postphone until 4.0.0

[2020-11-19 14:43] SchoolGuy commented on #1560
So this is something really magic. I don't have a clue so far so let's postphone it a bit.

[2020-11-19 14:44] SchoolGuy commented on #1545
This should have something to do with the autoinstall files if I am correctly.

@opoplawski Is this still relveant and if yes could you open a PR for that. I am certainly no kickstart expert.

[2020-11-19 14:46] SchoolGuy commented on #2440
We merged the PR. Thus closing this one as it will drop out with Cobbler 3.3 possibly anyway.

[2020-11-19 14:46] #2440 closed

[2020-11-19 14:47] SchoolGuy commented on #2440
Please reopen if I did close this too early.

[2020-11-19 14:49] SchoolGuy commented on #2437
So this issue is too confusing for me. Is there anything to clean up or to fix. If nothing is raised until the end of the week, I will just close it.

[2020-11-19 14:51] SchoolGuy commented on #2077
The linked information was moved to another location for which we should need a new bug. Thus closing this one.

[2020-11-19 14:51] #2077 closed

[2020-11-19 14:52] SchoolGuy commented on #2436
So no follow ups there. Thus closing this. Please reopen if more information is required!

[2020-11-19 14:52] #2436 closed

[2020-11-19 15:02] SchoolGuy commented on #2078
No response from reporter and problem not related to Cobbler. Thus closing this one.

[2020-11-19 15:02] #2078 closed

[2020-11-19 15:05] SchoolGuy commented on #2336
We will provide instructions for setting up Cobbler behind a Proxy when having a Docker Container for production. Thus related to #2453

[2020-11-19 15:08] SchoolGuy commented on #2290
Context for this one: http://www.dns-sd.org/trailingdotsindomainnames.html and https://www.ietf.org/rfc/rfc1034.txt

Thus we need to fix. SInce it is not our most important issue we need to fix this later.

[2020-11-19 15:12] SchoolGuy commented on #2284
Sorry this one is to advanced for me now. I will schedule this for 4.0.0, maybe then I know what to do about this.

[2020-11-19 15:14] SchoolGuy commented on #2286
So the webinterface will be removed with 3.3.0

I won't do this for the (probably) last minor release with that config file available.

[2020-11-19 15:23] SchoolGuy commented on #2149
No response and the mysql backend is removed anyway. Thus closing this one.

[2020-11-19 15:23] #2149 closed

[2020-11-19 15:30] SchoolGuy commented on #2138
@yogi401 I didn't find any hard evidence and havn't had the time to try it but it seems to me that

[code]
or mutually exclusive to one another. Setting both would be wrong but I am not sure and will confirm for the next release.

[2020-11-19 15:30] SchoolGuy commented on #2138
Context: https://askubuntu.com/questions/142816/which-debconf-preseed-option-to-install-grub-automatically-to-mbr

[2020-11-19 15:38] #2128 closed

[2020-11-19 15:39] SchoolGuy commented on #1816
That is not Cobbler related. Thus closing.

[2020-11-19 15:39] #1816 closed

[2020-11-19 15:43] SchoolGuy commented on #1819
No clue about this one but we will need to have a look anyway. Later though because we only of a finite amount of time...

[2020-11-19 15:46] SchoolGuy commented on #1881
Documentation which was prepared already for us. Let's get this into the next full release.

[2020-11-19 15:48] SchoolGuy commented on #1907
So this is due to the fact that not all settings are apparently correctly read. We need to polish the settings anyway. Thus this is something for the next full release.

[2020-11-19 15:50] SchoolGuy commented on #1915
Okay with our currently Cobbler code we have even a problem more because we have only the default MACs. Thus we need to add that. This won't be done soon. Thus this is 4.0.0 or later.

[2020-11-19 15:53] SchoolGuy commented on #2098
@ClaudiuLSH Were you able to fix this or is this still a problem. If it is a problem: What can Cobbler do for you to improve the situation?

[2020-11-19 15:55] SchoolGuy commented on #2121
Closing this in favor of #2337 which is a general issue for the esxi support for Cobbler.

[2020-11-19 15:55] #2121 closed

[2020-11-19 15:55] SchoolGuy commented on #2235
Closing this in favor of #2337

[2020-11-19 15:55] #2235 closed

[2020-11-19 15:57] SchoolGuy commented on #2277
This is closed in favor of #2337

[2020-11-19 15:57] #2277 closed

[2020-11-19 15:57] SchoolGuy commented on #2448
This is closed in favor of #2337

[2020-11-19 15:57] #2448 closed

[2020-11-19 16:05] #1942 closed

[2020-11-19 17:52] SchoolGuy commented on #1632
So this can virtually mean anything. From wrongly configured repositories, to a router being down, ... Thus closing this one.

[2020-11-19 17:52] #1632 closed

[2020-11-19 18:00] SchoolGuy commented on #1783
We need to document better how to set all of this up...

[2020-11-19 18:13] SchoolGuy commented on #1189
No comments and hard to verify for me for now. Thus closing this one.

[2020-11-19 18:13] #1189 closed

[2020-11-19 18:17] SchoolGuy commented on #1530
I think this is just a documentation issue. We need to document what does what and explain the preseeding in Cobbler more in detail. But this is a lot of work. Thus pushing this back for now...

[2020-11-19 18:20] SchoolGuy commented on #1818
The PR #1856 was never ported to `master` but according to @philseeley there is no need. Thus closing this issue as done.

[2020-11-19 18:20] #1818 closed

[2020-11-19 18:36] SchoolGuy commented on #1460
Distribution of binary files and serve them via the server is certainly possible. Templating them is not possible since all engines I am aware of have text based approaches for the logic directives they are introducing.

[2020-11-19 20:44] carlwgeorge commented on #2340
I don't believe that is a policy (if I'm incorrect here please show me the policy).  Naming packages python36-* was common when the only python3* packages available were EPEL's python34-* and python36-* packages, but now that RHEL ships python3-* packages my preference is to follow that naming scheme.

Of course I have no issue adding a virtual provides to make it easier to use.

[2020-11-20 02:56] opoplawski commented on #1545
It likely is still an issue.  However, it's probably worth reviewing the entire anamon process and seeing if it is even worth keeping.

[2020-11-20 03:01] opoplawski commented on #2168
I think this is fixed now with 0702a7ba3797e18c250faa61d6f0099ed9450951

[2020-11-20 03:01] #2168 closed

[2020-11-20 17:10] tpw56j commented on #2369
I have some time and I could try to solve some of the issues that you think you can assign me.
In addition, I have some experience in using Cobbler for installing Windows, which I have outlined in https://habr.com/ru/post/263883 in Russian. If you find this interesting, then I could translate it into English for the Cobbler community.

[2020-11-21 09:46] SchoolGuy commented on #2369
@tpw56j We have an open feature request for that. So if you could translate that into English, it would be marvelous! I would love to post that on our blog!

[2020-11-24 21:16] SchoolGuy commented on #2452
This got fixed through merging the latest PR #2439

[2020-11-24 21:16] #2452 closed

[2020-11-25 11:44] #2400 closed

[2020-11-27 11:17] watologo1 opened #2462 "Use proper MAC address format in /etc/dhcpd.conf"
This one should be easy. Currently such MAC addresses are used:
hardware ethernet 68:5:ca:2f:c7:87
hardware ethernet 2:0:0:0:2:3

It should be 2 letters per byte like:
hardware ethernet 68:05:ca:2f:c7:87
hardware ethernet 02:00:00:00:02:03

[2020-11-27 18:25] tpw56j commented on #2369
I am ready to provide this translation into English. The implementation of the Windows installation feature described in the post has many disadvantages. I did it more than 5 years ago and now I would do a lot differently, but it still works for me. I would be very grateful if someone could help make English text in the post more correct. How can I share this post for discussion?

[2020-11-27 20:52] SchoolGuy commented on #2369
@tpw56j Just open a WIP PR for the website. Did you ever work with Jekyll?

[2020-11-28 19:16] SchoolGuy commented on #2340
@Wildcarde Could you please check if your problem was solved by the virtual provides which we now have?

[2020-11-30 18:55] Wildcarde commented on #2340
I'll try and dig into this this week, thanks!

[2020-12-01 14:01] dansou901 commented on #2369
@tpw56j when you're done just ping me in the pull request for grammar / spelling, I can help you with that

[2020-12-02 15:33] dansou901 commented on #2369
@tpw56j we also want to use cobbler for Windows installations in the future so your implementation would help us to get started, maybe together we'll find other ways of solving this.

[2020-12-02 16:13] tpw56j commented on #2369
@dansou901 I am very glad that there is interest in this topic and there is someone with whom to discuss these problems. Now I will create a WIP PR and post the trigger code, and I will describe how it works a little later.

[2020-12-02 16:51] tpw56j commented on #2369
WIP: Trigger to generate Windows boot files #2466

[2020-12-02 17:05] dansou901 commented on #2369
I can't help you with reviewing that PR as I am not a developer and can't speak python, some of the other ones should be able to help you with that. But as soon as you do your PR against the website with the blog post, I'll review that.

[2020-12-02 17:20] tpw56j commented on #2369
@dansou901 How to create a PR against the website?

[2020-12-02 17:27] dansou901 commented on #2369
You can find in the repo https://github.com/cobbler/cobbler.github.io. It's written in jekyll, which is mostly markdown code, you'll just have to figure out where to add the blog post.

[2020-12-02 17:29] dansou901 commented on #2369
Just add *.md file to the _posts directory, that should be all if I'm not mistaken. You can see the file name syntax in the other posts.

[2020-12-02 17:41] SchoolGuy commented on #2369
@tpw56j If you need more help we could have a session in Jitsi to do it together. I would really love if we get this into our website!

[2020-12-02 18:29] tpw56j commented on #2369
I posted a description of working with a trigger as commit in #2466 cobbler/docs/user-guide/windows.rst. I'll try to figure out how to transfer this to a website.

[2020-12-02 20:15] SchoolGuy commented on #2369
@tpw56j Don't bother. It is worthy of being in the official docs. I will write an annoucement post for you.

[2020-12-03 05:53] tpw56j commented on #2369
@SchoolGuy It seems to me that official Windows support in Cobbler should be done somewhat differently. But this may require a lot of changes to the Cobbler code. Hacking Microsoft binaries in pxeboot.n12 and bootmgr.exe looks very doubtful (how legal is it?). Though wimboot from iPXE does similar things. I dont know..

[2020-12-03 05:56] SchoolGuy commented on #2369
@tpw56j I will review carefully and ask a legal guy from my company. It may be that we need to package this extra, as it requires additional dependencies etc. In any way I want your work as part of Cobbler because this is a huge step for us!

[2020-12-03 06:22] tpw56j commented on #2369
@dansou901 Thanks for the tips on https://github.com/cobbler/cobbler.github.io. I forked and cloned the repo. For a blog, what I wrote at https://github.com/tpw56j/cobbler/blob/master/docs/user-guide/windows.rst doesn't quite fit. There is too much code and little explanation. I'll add some clarification and now I'm looking for a way to hide large sections of code in links so that those who are in

[2020-12-04 06:30] tpw56j commented on #2369
Draft blog post in https://github.com/cobbler/cobbler.github.io WIP PR: Trigger to generate Windows boot files. The formatting is broken, I'll fix it later.

[2020-12-04 10:46] dansou901 commented on #2369
@tpw56j thanks a lot for your work. If I don't get to review it today, I'll certainly do so tomorrow.

[2020-12-04 23:33] neilkatin opened #2467 "Cobbler should show name of missing configuration variable"
### Cobbler fails with cryptic error message if a required configuration variable is missing

I recently upgraded to cobbler 3.2 (as part of a fedora 33 upgrade).  The ```rsync_flags``` setting was renamed to ```reposync_rsync_flags```.  Cobbler died with an Attribute error, without saying which attribute was missing.

I've had this problem in the past; I decided to propose a fix this time.

### T

[2020-12-08 11:15] Alex-Souslik opened #2470 "How to get ID of exsiting system in API?"
### Version

[code]
Cobbler 3.2.0
    source: ?, ?
    build time: Sun Nov  1 09:04:03 2020
### Question
I know that when creating a system through the  XMLRPC API the ID is returned, but suppose I want to modify a system I created earlier and I didn't save the ID. how can I get it through the API?

[2020-12-09 06:27] SchoolGuy commented on #2335
Fixed through: https://github.com/cobbler/cobbler/pull/2464

[2020-12-09 06:27] #2335 closed

[2020-12-09 06:28] SchoolGuy commented on #2262
Fixed through https://github.com/cobbler/cobbler/pull/2464

[2020-12-09 06:28] #2262 closed

[2020-12-09 06:28] SchoolGuy commented on #2228
Fixed through https://github.com/cobbler/cobbler/pull/2464

[2020-12-09 06:28] #2228 closed

[2020-12-09 06:28] SchoolGuy commented on #2155
Fixed through https://github.com/cobbler/cobbler/pull/2464

[2020-12-09 06:28] #2155 closed

[2020-12-09 06:28] SchoolGuy commented on #2058
Fixed through https://github.com/cobbler/cobbler/pull/2464

[2020-12-09 06:28] #2058 closed

[2020-12-09 06:28] SchoolGuy commented on #1801
Fixed through https://github.com/cobbler/cobbler/pull/2464

[2020-12-09 06:28] #1801 closed

[2020-12-09 06:29] SchoolGuy commented on #1491
Fixed through https://github.com/cobbler/cobbler/pull/2464

[2020-12-09 06:29] #1491 closed

[2020-12-09 06:29] #2259 closed

[2020-12-09 06:45] SchoolGuy commented on #2470
You have in the API the `find_<object_type>()` methods. Via these methods you can easily find any system or item in Cobbler you previously created. Please see for reference: https://cobbler.readthedocs.io/en/latest/code-autodoc/cobbler.html#cobbler.api.CobblerAPI.find_system

[2020-12-09 06:47] SchoolGuy commented on #2470
If you find that the docs are not extensive enough about this please state so. We are reliant on user feedback in regards to our docs. Many of us developers don't have access to a "demo" or "production" setup which is pure Cobbler. Thus we don't use it except some fake test or dev cases.

[2020-12-09 07:40] Alex-Souslik commented on #2470
I'm aware but to my knowledge, correct me if I'm wrong, the system object returned from `find_system()` doesn't include the id which is required for `modify_system()` and as such doesn't help me.

[2020-12-09 15:21] SchoolGuy commented on #2470
For that you have the `get_<object_type>_handle()` - https://cobbler.readthedocs.io/en/latest/code-autodoc/cobbler.html#cobbler.remote.CobblerXMLRPCInterface.get_system_handle

[2020-12-09 15:24] Alex-Souslik commented on #2470
Thank you very much!

[2020-12-09 15:24] #2470 closed

[2020-12-09 16:28] SchoolGuy opened #2471 "Package Cobble Triggers and Modules"
### Is your feature request related to a problem?

Currently we package Cobbler completely as a monolithic thing, although our architecture is modular.

### The Behaviour you'd like

Each module (except a default) should be split out of the main package in the RPMs and DEBs, to make use of this modularity.

Exception: Via PyPi we should always install everything because if we split that, we would

[2020-12-14 15:56] Wildcarde commented on #2340
I've got this building from source now using a two stage build. I've run into some issues with the rest of my deployment because there are differences between the modules.conf I'm supplying and the one compatible with 3.20 but the basic build issue seems to be resolvable at this time.

[2020-12-15 06:02] SchoolGuy commented on #2340
@Wildcarde Do you think this can be closed then or do we need to leave it open?

[2020-12-15 13:20] Dreamfire73 opened #2472 "Cobbler should work with external proxy"
### Describe the bug

Unable to use commands such as "cobbler get-loaders" or "cobbler signature update" while using proxy in  /etc/cobbler/settings

### To Reproduce

1. Go to /etc/cobbler/settings and reference external proxy ` proxy_url_ext: "http://my.proxy.fr:port"`
2. Restart cobblerd and do `cobbler sync`
3. Do `cobbler get-loaders`
4. Error occured without updating loaders (see screenshot

[2020-12-15 16:31] xenlo opened #2473 "Doc not align with command arguments"
### Describe the bug

The man pages and the [cobbler doc](https://cobbler.readthedocs.io/en/latest/cobbler.html) are not in line with the `cobbler` command and arguments.

Here is table comparing attributes documented and those accepted by the command `cobbler` to add/edit a profile:
| cmd args | Doc |
| --- | --- |
| --autoinstall | autoinst |
| --autoinstall-meta |  |
| --boot-files |  |
| --com

[2020-12-15 18:05] SchoolGuy commented on #2472
This has some greater implications because we need to check the whole code for downloading stuff from remotes and thus then adjusting this to be downloaded via the proxy. But thanks for spotting and reporting! Sorry for the inconvenience...

[2020-12-15 19:42] Wildcarde commented on #2340
I think this can be resolved, thanks!

On Tue, Dec 15, 2020 at 1:02 AM Enno G. <notifications@github.com> wrote:

--
-Garrett

[2020-12-16 09:07] qibinjin opened #2474 "when i change distro name soft links in /var/www/cobbler/links/ wasn't update automatically"
### Describe the bug

when i change distro name, the soft links in /var/www/cobbler/links/  wasn't update automatically

### To Reproduce

1.go to change distro name
2.run cobbler sync
3.find that image url in ks file returned 403
url like this "http://xxx/cblr/links/CentOS-7.8-x86_64"

### Expected behavior

1.when i change distro name and run cobbler sync,it will  automatically update soft links

[2020-12-16 11:03] #2340 closed

[2020-12-19 16:33] SchoolGuy commented on #2474
Can you reproduce this with the most current version?

[2020-12-21 15:59] #2467 closed

[2020-12-21 16:02] SchoolGuy commented on #2473
@xenlo Since it would be good to have this in the next release. Thus I will wait to make it until we have merged your PR.

[2020-12-21 16:28] SchoolGuy commented on #1855
The current webinterface will be removed with Cobbler 3.3.0 and a new webinterface will be added when we have time. Thus removing this because it won't be fixed.

[2020-12-21 16:28] #1855 closed

[2020-12-21 16:29] SchoolGuy commented on #1702
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:29] #1702 closed

[2020-12-21 16:29] SchoolGuy commented on #1629
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:29] #1629 closed

[2020-12-21 16:29] SchoolGuy commented on #1546
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:29] #1546 closed

[2020-12-21 16:30] SchoolGuy commented on #1973
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:30] #1973 closed

[2020-12-21 16:31] SchoolGuy commented on #2287
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:31] #2287 closed

[2020-12-21 16:31] SchoolGuy commented on #2289
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:31] #2289 closed

[2020-12-21 16:31] SchoolGuy commented on #2294
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:31] #2294 closed

[2020-12-21 16:31] SchoolGuy commented on #2136
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:31] #2136 closed

[2020-12-21 16:32] SchoolGuy commented on #2375
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:32] #2375 closed

[2020-12-21 16:32] SchoolGuy commented on #2222
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:32] #2222 closed

[2020-12-21 16:34] SchoolGuy commented on #1485
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:34] SchoolGuy commented on #1484
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:34] #1484 closed

[2020-12-21 16:35] SchoolGuy commented on #1482
The webinterface will be removed with 3.3.0 and thus I will close this issue. A new interface will be created when the Team has time and resources for it.

[2020-12-21 16:35] #1482 closed

[2020-12-21 16:37] #1485 closed

[2020-12-21 16:51] SchoolGuy commented on #1384
So to get the power status you can be called with `status`.

https://cobbler.readthedocs.io/en/latest/code-autodoc/cobbler.html#cobbler.remote.CobblerXMLRPCInterface.power_system

[2020-12-21 16:51] #1384 closed

[2020-12-21 17:24] SchoolGuy commented on #698
So in `replicate.py` we have no more hardcoded URLs. However the usage of a socket is not possible but that is a separate issue I guess. Thus closing this one...

[2020-12-21 17:24] #698 closed

[2020-12-21 17:26] SchoolGuy commented on #1176
More information after a quick search: https://wiki.archlinux.org/index.php/dnsmasq#TFTP_server

[2020-12-21 17:31] SchoolGuy commented on #1502
This is possible since https://github.com/cobbler/cobbler/pull/1517 and thus can be closed. If there is a bug with it we need to open a new ticket.

[2020-12-21 17:31] #1502 closed

[2020-12-21 17:32] xenlo opened #2475 "Wrong return code on `cobbler check` failure"
### Describe the bug

When the command `cobbler check` fails, it prompts correctly error messages but it returns `0` as return value to the shell.
It should be some value higher than zero to indicate that it didn't ended successfully.

### To Reproduce

1. Generate a typo in the config `/etc/cobbler/modules.conf`
    (for instance like a `module = wroooong_managers.bad`)
2. Then check the config w

[2020-12-21 17:41] SchoolGuy commented on #1494
I think we can close this because most things are dynamic and those things which aren't, will be eliminated with each release as part of tackling tech-debt. Thus closing this one because of the lack of specific information.

[2020-12-21 17:41] #1494 closed

[2020-12-21 17:47] SchoolGuy commented on #1444
We need to document this. It should already be possible due to the fact that you can execute commands via the script sections in your autoinstall file. Making that possible would open the system for command injection since that command would literally just taken and executed. Thus I guess we leave it like this but revisit at a later point to overhaul our docs.

[2020-12-21 17:50] SchoolGuy commented on #1503
Well we need to check the code for usages and then transform and eliminate usages of hardcoded domains but with the exception to the `signatures.json` file I think that we should remove all dependencies to cobbler.github.io

[2020-12-21 18:07] SchoolGuy commented on #1262
Indeed we need to make that possible at some point. But no prio because noone else requested it.

[2020-12-21 18:12] SchoolGuy commented on #1290
So nothing has moved here in half a decade... Thus I would like to close this. Refactoring the Cobbler Server to manage remote services would require us to redo the architecture. Thus I will close this as the benefit does not reflect the needs of the majority currently.

[2020-12-21 18:13] #1290 closed

[2020-12-21 18:39] SchoolGuy commented on #1475
Because of the lack of information and inactivity I will close this issue.

[2020-12-21 18:39] #1475 closed

[2020-12-21 18:44] SchoolGuy commented on #1325
Since the GUI will be removed with 3.3.0, we will recompose everything. Thus I will close this one and we will open another one in the web repo if needed.

[2020-12-21 18:44] #1325 closed

[2020-12-21 18:47] SchoolGuy commented on #952
This is very old and there is a lot of context missing for me to understand it. Thus closing it. Pls reopen if needed.

[2020-12-21 18:47] #952 closed

[2020-12-21 18:49] SchoolGuy commented on #530
The integrated TFTP Server in Python will be either deprecated or split. Thus closing this.

[2020-12-21 18:49] #530 closed

[2020-12-21 18:53] SchoolGuy commented on #1916
As per @ngo 's comment I will close this since it appears to be fixed as far as I understand. Please reopen if I am wrong.

[2020-12-21 18:53] #1916 closed

[2020-12-21 18:55] SchoolGuy commented on #338
The UI will be completly removed with 3.3.0 and thus I will close this one.

[2020-12-21 18:55] #338 closed

[2020-12-22 15:39] Hyper200 commented on #2195
Hi there,

Is there a work around available for this?

Having the done a cobbler signature update

cobbler signature update
task started: 2020-12-22_153759_sigupdate
task started (id=Updating Signatures, time=Tue Dec 22 15:37:59 2020)
Successfully got file from https://cobbler.github.io/signatures/2.8.x/latest.json
*** TASK COMPLETE ***

We get this on the import:

cobbler import --path=/media/iso

[2020-12-24 10:22] xenlo opened #2478 "Scripts in `/var/lib/cobbler/scripts/` not found"
### Describe the bug

It seems that scripts under `/var/lib/cobbler/scripts/` are not taken into account any more since migration to cobbler 3.

Here is the output I get when `curl`ling the http://cobbler-server.domain.org/cblr/svc/op/script/system/my-little-test-host/?script=my_test_preseed_late_default:
[code]
And the script is well stored under `/var/lib/cobbler/scripts/my_test_preseed_late_def

[2020-12-25 09:01] qq8554650 opened #2480 "Exception value: cannot use a string pattern on a bytes-like object"
### Describe the bug

[code]

VMware-VMvisor-Installer-7.0.0.update01-16850804.x86_64-DellEMC_Customized-A00

<https://aliyun8.com/cobbler3.2_esxi/VMware-VMvisor-Installer-7.0.0.update01-16850804.x86_64-DellEMC_Customized-A00.png>
<https://aliyun8.com/cobbler3.2_esxi/VMware-VMvisor-Installer-7.0.0.update01-16850804.x86_64-DellEMC_Customized-A00_setversion_esxi70.png>

VMware-VMvisor-Installer-6.7.

[2020-12-26 12:27] #2473 closed

[2020-12-26 12:32] #2478 closed

[2020-12-26 12:43] SchoolGuy commented on #2480
So the problem is that the file which Cobbler thinks is correct for detecting the distro is gziped. Thus the pattern which Cobbler tries is applied to a byte object like the exception is saying. Thus thus distro won't work for now... Due to the fact that this release (3.2.1) is more then full with work, I can't include it. However I would accept PR's for this. Otherwise please have patience.

[2020-12-26 12:44] SchoolGuy commented on #2195
@Hyper200 So far sadly no. But I will try to fix is for the next release 3.2.1!

[2020-12-26 13:01] javier-angulo commented on #2480
Hi,
I was able to import esxi modifying modules/managers/import_signatures.py.
In get_file_lines, changing

[code]
with:
[code]
I believe this has something to do with python2 to python3 change.
I am more a sysadmin than a python developer, but maybe this can help @qq8554650 as a temporary workaround.

Cheers,
Javier

[2020-12-27 15:24] SchoolGuy commented on #2480
@javier-angulo Thanks for that! I will prepare a patch with this later so we can fix this for everyone!

[2020-12-27 15:26] SchoolGuy commented on #2480
@javier-angulo Would you be able to test a PR I would prepare?

[2020-12-28 06:44] SchoolGuy commented on #2480
It is not fixed yet...

[2020-12-28 07:37] qq8554650 commented on #2480
OK.then fix I test it.I saved the problematic environment

[2020-12-28 20:07] SchoolGuy commented on #2480
[code]

So please test this diff. It requires the installation of the package `python3-magic` or `pip install file-magic`. The dependency now calls directly to the library and does not use a subprocess call. Which is more secure and cleaner to read and interpret.

[2020-12-29 04:19] gregswift opened #2483 "Adding snippet via UI retains path"
### Describe the bug

I added a snippet via the UI and it shows the snippet in the list with the full path `var/lib/cobbler/snippets/name` prefixed. So use the snippet in a template i have to do the whole path.  and it turns out that the full path got created recursively as `/var/lib/snippets/var/lib/snippets`

[code]

### To Reproduce

1. Open web ui
2. Goto snippet and click add
3. Add the snipp

[2020-12-29 04:22] gregswift commented on #2483
Annoyingly enough.... there isnt a log?

[code]

[2020-12-29 05:52] javier-angulo commented on #2480
Thank you @SchoolGuy , and sorry for late answer. I have only been able to test this patch with ESXi 6.7, though I guess problem and fix is equal for all versions.
With this patch esxi 6.7 distro imports correctly (looks like it does not think distro is gzipped now):
[code]

[2020-12-29 05:56] gregswift commented on #2483
It feels like the bug is happening [here](https://github.com/cobbler/cobbler/blob/master/cobbler/autoinstall_manager.py#L222-L241)... but i cant prove it... so i changed it to log a bit...

[code]

And this is whats in the logs

[code]

which shows my suspicions were wrong.. its definitely happening earlier.  seems like its coming from `web/views.py` under the `snippet_save` function? which i dont

[2020-12-29 19:36] kpiche commented on #2195
In CentOS 8.3 the centos-release RPM was renamed to centos-linux-release.  After adding "centos-linux" to the rhel8 version_file expression in distro_signatures.json the import worked.

[2021-01-03 13:42] SchoolGuy opened #2486 "Architecture handling in Cobbler"
### Is your feature request related to a problem?

Currently we use for architectures a `str` object. Which means in the code this is typed by hand a lot of times. Typing stuff by hand is error prone and we can't check the logic since an automatic tool can't check such things (afaik).

### The Behaviour you'd like

Use an Enum, Constants, data objects, ...

### Alternatives you've considered

I/We

[2021-01-04 20:50] #2483 closed

[2021-01-05 09:24] #2480 closed

[2021-01-05 11:38] javier-angulo opened #2505 "replicate fails with Invalid URL for remote boot kernel"
### Describe the bug

When adding or importing a distro (example is from imported esxi distro), looks like remote_boot_initrd and remote_boot_kernel are set to None.

[code]
Not sure what is going on there, as in cobbler/items/distro.py both defaults are set to None but initialized to empty string later at init.

And problem starts when I try to replicate that distro from another server:
[code]

I

[2021-01-05 12:51] SchoolGuy commented on #2505
Yeah this is the problem with XMLRPC. `None` is there an illegal type and thus this fails per design. This is a problem in general. Many places have wrapper methods but we need to fix that. Thanks for conforming!

[2021-01-05 17:30] SchoolGuy commented on #2422
Travis currently is not running due to a negative credit balance. I think I will replace that with a Jenkins Instance hosted by myself. That will have the effect that the the tests run slower but I also don't like the fact that they have a "Marketplace" which indicates that they do wish at some point to earn money with it. Gitlab is also a good idea but for that I would need to use my personal cre

[2021-01-05 17:58] dansou901 commented on #2422
GitLab CI still isn't ready for forks, also see https://gitlab.com/gitlab-org/gitlab/-/issues/5667 and https://gitlab.com/gitlab-org/gitlab/-/issues/281689 on that. Will be fixed sometime in the current year I hope, but can also take more time if we're unlucky, so going with a Jenkins instance wouldn't be bad. Where would you be hosting that?

[2021-01-05 18:27] SchoolGuy commented on #2422
@dansou901 In my basement. Thus 1000MBit/s down + 50 MBit/s up but that includes also the rest of the server and our home network...

[2021-01-05 18:39] dansou901 commented on #2422
Would it be good to have a backup instance in the background in case yours has problems? I also have a server in my flat with 500 Mbit/s down and 50 Mbit/s up where I can just spin up another container with Jenkins in it.

[2021-01-05 18:59] SchoolGuy commented on #2422
@dansou901 How do we configure this then? One Container needs to be the master and running the pipeline both times (your and my flat/house) is not a cool thing in my eyes...

[2021-01-05 19:01] dansou901 commented on #2422
No. I just would start up mine in case yours has severe problems you can't solve within one day. Just as an idea.

[2021-01-05 19:44] dansou901 commented on #2422
Ok so we should have identical configurations on our servers and test the manual failover mechanism somehow (easiest would be to just change dns when needed, we should also have the same email address configured for Let's Encrypt on both sides, just to be sure). Should we do a separate repository with the compose configuration in it?

[2021-01-05 20:26] SchoolGuy commented on #2422
@dansou901 Let me check tomorrow what is possible

[2021-01-05 20:31] dansou901 commented on #2422
and maybe we should continue talking about ci in another issue, this one will be closed by your pull request once merged

[2021-01-05 20:37] dansou901 opened #2507 "Move CI from Travis to Github Actions"
As discussed in #2422, we need a new CI System. Just opening this issue to continue discussing the new infrastructure. My proposal would be:
* have traefik already configured on a docker host via compose with let's encrypt for certificates
* also use compose to spin up jenkins behind that mentioned traefik
* have a live instance and a backup instance which is only started manually when the live in

[2021-01-06 08:10] SchoolGuy commented on #2507
So my home setup will be (I am in the process of moving away from a professional hoster as I don't want to spend that money):

- Traefik in Docker
- Docker Containers behind that Proxy via Let's Encrypt

Since I only have 8GB of RAM and 4 Cores (for now) and I don't want to use Docker Swarm (my setup wouldn't work with Swarm), I thought about having a K3s Raspi Cluster and deploying Jenkins to tha

[2021-01-06 09:52] dansou901 commented on #2507
If you want to do a K3S Raspi Cluster, do that. Then I don't think that we need a backup cluster. That was just in case you planned to have it running next to your home setup on your existing server. But having code as infrastructure for the Raspi Cluster is a good idea anyway, so we should have that living in separate repositories, maybe even private ones where only we have access. That way, if a

[2021-01-06 09:54] dansou901 commented on #2507
On the Raspi Cluster you can then use https://github.com/jenkinsci/helm-charts to install jenkins.

[2021-01-06 12:52] SchoolGuy commented on #2507
@dansou901 Thanks for the hint. I will do so immediately when my parts are there. I guess latest end of January we can expect that I can start working on that Jenkins Instance of mine...

[2021-01-07 07:26] SchoolGuy commented on #1370
@loreson @watologo1 Will work on this happen or can I unassign him/you again?

[2021-01-07 07:56] SchoolGuy commented on #2247
So I totally missed this one sadly. We have a test for the passthrough auth for a while now. The main Cobbler Server doesn't care about the username and password. It expects to be handed the Shared Secret in the password field.

A quickfix for you is the following replacement in `/usr/share/cobbler/web/cobbler_web/views.py`:

Look for the line `token = remote.login(username, utils.get_shared_secre

[2021-01-07 08:10] SchoolGuy commented on #2247
P.S.: Before I wrote my answer I googled for an hour. I havn't found any occurrence where this was not set as the basic assumption. Thus if this is not present the login can't succeed. So I believe that Cobbler does in fact handle this correctly, although the Error Message could be displayed better I think. :/

[2021-01-07 08:10] SchoolGuy commented on #2247
But that Django Monster will be gone soon. Thus don't worry about it.

[2021-01-07 08:11] SchoolGuy commented on #2247
@teridon Please Please Please try to update to a Cobbler 3 Version. We have a very very very small core contrib team and thus lacking the possibility to support such old versions in most of the times.

[2021-01-07 08:26] SchoolGuy commented on #2403
I looked through the code and saw that the file is loaded but never actually used. I will dive into it to fix it.

[2021-01-07 17:57] #2422 closed

[2021-01-08 14:53] nodeg commented on #2260
I tested this with a new docker container (git master) and was not able to reproduce the issue.

[code]

[code]

[2021-01-09 11:54] SchoolGuy commented on #2260
@hbokh Could you check with the post above if this is solved? If not what is missing?

[2021-01-09 11:55] watologo1 opened #2511 "Support DHCP for IPv6"
Add another manager writing dhcpd6 config and restart service the same way it is currently done for dhcpd4

Also see:
#2225
#1680

[2021-01-09 11:56] watologo1 commented on #2225
Just for the records (@darcyllingyan) this will change soon:
#2511

[2021-01-10 11:12] hbokh commented on #2260
In the OpenSUSE container as shown above works indeed (when you also install packages `tree`).

However, at this moment I am unable to build both a Debian 10 or CentOS 7 container.
Starting with both distro's having an issue with an unused variable.

Debian 10 - `./tests/build-and-install-debs.sh deb10 dockerfiles/Debian10.dockerfile`:
[code]

CentOS 7 - `./tests/build-and-install-rpms.sh el7 dock

[2021-01-10 11:15] hbokh commented on #2260
Checking for dependencies on a Cobbler 3.2.0 CentOS7 package I built on October 19th 2020 does not show `python36-file`:

[code]

[2021-01-10 11:38] hbokh commented on #2260
Commenting line 219 in `cobbler.spec` and retrying the Debian 10 build gives a package that includes the formerly missing directories.

Checking with `dpkg -c deb-build/DEBS/all/cobbler_3.2.0-1debian10_all.deb`

[code]

[2021-01-11 08:21] SchoolGuy commented on #2260
@hbokh Then I will close this issue and see it as fixed. The issue with the `python3-file` problem I will fix in another PR.

[2021-01-11 08:21] #2260 closed

[2021-01-11 17:58] SchoolGuy commented on #2507
Since the Gitter discussion brought no storms of enthusion but rather eyebrow rasing and we have our first "could-been-prevented-by-CI" problem, I will now port Travis to Github Actions.

[2021-01-11 17:58] SchoolGuy commented on #2507
Jenkins is not from the table but my parts are not ready at home and thus we will use Github Actions as Long as reasonable possible.

[2021-01-11 18:51] SchoolGuy commented on #2507
Github offers to self host runners. Thus I think Github Actions are far better because we just host the runners and are done. @dansou901 do you think the same, or do you think Jenkins would offer us more?

[2021-01-11 19:12] dansou901 commented on #2507
We are currently migrating to Github, so it's best to stay at it for the time being, at least until Gitlab supports forks. If we still want to self host until then, we should stay at Github Actions (following the keep it simple principle).

[2021-01-11 20:20] teridon opened #2515 "cobbler centos7 docker build not working"
### Describe the bug

Building cobbler via docker on centos7.9.2003 is not working

### To Reproduce

1. git clone cobbler repo
2. git checkout release32
3. sudo ./tests/build-and-install-rpms.sh el7 dockerfiles/CentOS7.dockerfile

Near the end of the build process (step 8 of Dockerfile), I get:

[code]

I'm using the Centos-provided docker, docker-1.13.1-203.git0be3e21.el7.centos.x86_64

[2021-01-12 07:02] SchoolGuy commented on #2515
@teridon What are your permissions on the host folder you mounted for that build? Because my guess would be that you have a problem there.

[2021-01-12 10:53] dansou901 commented on #2393
I already did some digging around and try to figure out the best way of doing this. I'm still quite new to debian packaging as I never packaged something as big as cobbler. What I found is that the openstack did debian builds way back until version 2.6.6. So to get the current version into debian, we would need to inherit their responsibility for the cobbler package which should be orphaned by now

[2021-01-12 11:09] SchoolGuy commented on #2393
@dansou901 The way of getting this on the SUSE side is just to ask nicely on the appropriate mailing list. Thus I believe a mail and updating to the latest version is the thing to to. If you somehow see a showstopper, I would be glad to help you...

[2021-01-12 13:04] dansou901 commented on #2393
It's much more complicated on debian, see the following document: https://www.debian.org/doc/manuals/distribute-deb/distribute-deb.html. They have a special issue tracking system to ask for including packages on which you have to follow a specific route to have your package added. The package also needs to meet specific requirements. It's all listed in the link above.

[2021-01-12 13:25] SchoolGuy commented on #2393
Thanks. I will have a look. Maybe we can split the work so it gets easier for both of us!

[2021-01-12 13:47] teridon commented on #2515
This appears to be a docker/SELinux issue (I have SElinux in enforcing mode); the test script needs to add ":Z" to the mount:
[code]
when I added ":Z" as above, the RPMs were built successfully.

see http://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/

Unfortunately, while using ":Z" fixes the RPM build, there are other issues caused by SELinux later

[2021-01-12 14:14] SchoolGuy commented on #2515
@teridon I will relabel this issue as a feature request and adjust accordingly. I have no history eoth SELinux. Thus this will probably not be done before 4.0 because that will be the first actual release where Cobbler will run inside a Container and we will support this use case.

[2021-01-12 18:23] SchoolGuy commented on #2247
I consider this as fixed because there was no response for five days to my direct mention. Since I can't find a Bug in Cobbler I consider it invalid. If someone disagrees, please reopen this issue!

[2021-01-12 18:23] #2247 closed

[2021-01-14 13:18] SchoolGuy commented on #2515
Okay so CentOS 7 is from the table because it has no full Python3 Support (we have missing dependencies). Thus we won't provide packages. We have very little manpower and thankfully Python3 makes our life much easier. However I won't close this but try to fix this on CentOS 8 because I guess we will have the same problem there.

[2021-01-14 20:15] asimat opened #2517 "UEFI does not work."
As new PCs will no longer come with legacy BIOS, I am trying to get UEFI working. It works fine with our WDS, but not with cobbler.

I have tried version 2.8.5 and v3.2, UEFI does not work. If I copy grubx64.efi from Centos8.3 CD then it boots to grub prompt.

I am using CENTOS 8.3 for my cobbler server, with TFTPD on same server but using a windows DHCP with option 60, 66 & 67 being used which po

[2021-01-14 20:24] asimat opened #2518 "Web Interface broken - but easy fix"
I installed v3.2 and the web interface does not work. However I got it working with following two fixes.

replaced `/etc/httpd/conf.d/cobbler_web.conf` with the one from master git https://github.com/cobbler/cobbler/blob/master/config/apache/cobbler_web.conf

then vi `/etc/httpd/conf.d/cobbler_web.conf` and change the following line to:

[code]

Can we fix this on priority as most users would need

[2021-01-14 20:31] asimat commented on #2286
Will there be a replacement for Web Interface ?

Remove means lots of people will stop using the new versions of cobblers.

[2021-01-14 20:35] asimat commented on #2210
Quick fix for CentOS8 create repo is:

vi /var/lib/cobbler/distro_signatures.json

Modify to following under rhel8

"version_file": "(redhat|sl|slf|centos|centos-linux|centos-stream|oraclelinux|vzlinux)-release-(?!notes)([\\w]*-)*8[\\.-]+(.*)\\.rpm",

[2021-01-14 20:41] asimat commented on #2195
For general users, this means do:

vi /var/lib/cobbler/distro_signatures.json

Makes the line version_file look as follow:

"version_file": "(redhat|sl|slf|centos|centos-linux|centos-stream|oraclelinux|vzlinux)-release-(?!notes)([\\w]*-)*8[\\.-]+(.*)\\.rpm",

[2021-01-15 11:10] javier-angulo commented on #2517
Hello @asimat ,UEFI works on v3.2 (at least for me).
grub/grubx64.efi needs to be generated with mkgrub.sh (at /usr/share/cobbler/bin/mkgrub.sh on CentOS).
For that you need to install package grub2-efi-x64-modules
Also, you will need to export GRUB2_MOD_DIR for the script (maybe script has the default path for Suse?):
`# export GRUB2_MOD_DIR="/usr/share/grub"; sh /usr/share/cobbler/bin/mkgrub.sh`

[2021-01-15 15:17] dansou901 commented on #2518
I don't think that this will be fixed as the current web interface will be removed in 3.3.0. A new web interface is already being developed but will need more time and I guess it won't be ready for 3.3.0. We will try to make sure that the timeframe for cobbler being without a web interface is as short as possible.

[2021-01-15 15:19] dansou901 commented on #2517
^^ I can second that, I also have UEFI via grub and cobbler working fine in our env.

[2021-01-16 10:52] #2507 closed

[2021-01-16 11:05] SchoolGuy commented on #2517
I will close this as a duplicate of #1777 (or rather this issue is a subset of what I am trying to do).

@asimat As said UEFI works but the docs are not good and `buildiso` is not able to generate a UEFI Bootable ISO for you. The fact to make this possible will be hard due to the concept of Secure Boot but I will find a way. For only provisioning clients via Cobbler directly stay to the tips from

[2021-01-16 11:05] #2517 closed

[2021-01-16 11:11] SchoolGuy commented on #2286
@asimat There will be indeed a replacement. This new web-interface will be decoupled to enable people to run Cobbler in a Container and not have a dedicated Server for it. This new web-interface will be written in Angular and be published once the contributor who does the initial work feels comfortable enough to publish it. It will have the same feature for version 1.0 and will be compatible with

[2021-01-16 11:12] SchoolGuy commented on #2210
@DwayneGit Was this issue resolved? If not I will try to recreate and fix it for one of the two next releases.

[2021-01-16 11:12] SchoolGuy commented on #2210
@asimat Thanks for the quickfix!

[2021-01-16 11:14] SchoolGuy commented on #2210
@DwayneGit Do you know the versions which are affected by this?

[2021-01-16 11:17] SchoolGuy commented on #2518
@asimat I will fix it for 3.2.1 but you are welcome to open a PR for this as well.

[2021-01-16 14:30] DwayneGit commented on #2210
@SchoolGuy I haven't used cobbler in a while so I can't say If this is still an issue but it was on the latest version at the time of reporting 11/25/19.

[2021-01-16 14:36] SchoolGuy commented on #2210
Okay then I will just check before the next release and then close it or fix it.

[2021-01-16 14:38] SchoolGuy commented on #2515
Okay. Update on this one: Since we have dependencies not available for CentOS 7 this won't be supported anymore. BUT I will update for the next release instead the docs on how to make it work without using the RPMs so you guys can continue to use it.

[2021-01-17 02:57] asimat opened #2519 "Cobbler-3.2 reposync Failed"
### Describe the bug

cobbler reposync task fails

I am using CentOS-8.3 - minimum install - with fresh Cobbler-3.2 installed.

First part of reposync I managed to fix, the second part of the task runs python scripts which I don't understand

First part runs a command: /usr/bin/dnf reposync -n -d .....  --> this I fixed easily as below:

The -d no longer works under CentOS-8, its now --delete. Thi

[2021-01-18 00:07] asimat opened #2520 "Web Interface - Snippet save path is wrong"
### Describe the bug

When you try to save a snippet using web interface it saves it to: /var/lib/cobbler/snippets/var/lib/cobbler/snippets/

Instead of /var/lib/cobbler/snippets/

If you list snippets in webinterface it then shows the path and full filename e.g. var/lib/cobbler/snippets/test instead of just test

### To Reproduce

1. Go to: Web interface >> snippets'
2. Click on : Create New Auto

[2021-01-18 00:21] asimat commented on #2369
Happy to do testing and write some documentation / guides. I never digged deep in to cobbler's inner working before, but as I am trying to migrate to v3.2 so have learned a lot due to loads of bugs being present.

I work in windows + linux (CentOS) environment, where DHCP server is Windows 2016/2019 server, and cobbler machine runs PXE deployment and puppet. Can do some testing and write guides to

[2021-01-18 07:08] SchoolGuy commented on #2369
@asimat Greatly appreciated! Feel free to open PRs and Issues for problems you encounter. If you have any questions you may find us on [Gitter](https://gitter.im/cobbler/community) (which can be used via your GH Account or bridged via Matrix).

[2021-01-18 08:28] SchoolGuy commented on #2520
@asimat I regret that you experience so many bugs but Cobbler was dead for a long time and I am trying to revive it. I am getting rid of more and more tech-debt. The Web Interface with Django (which will be droped with 3.3.0) has shaped Cobbler in a way that I can't introduce anything new or refactor things. This is one reason why I decided to decouple the Web UI your fixes will definitely get int

[2021-01-18 10:50] #2403 closed

[2021-01-18 23:21] asimat commented on #2520
Good plan. Looking forward to the new versions.

Can you give me a hint which file has the snipper save path ?

[2021-01-18 23:32] asimat commented on #2519
Is there a temp fix for reposync ? any files I can download and replace ?

Is there something I can run manually so it cleanly updates the repo. Right now the scripts that run after reposync are failing and leaving the repo in some unusable state.

[2021-01-19 02:42] asimat commented on #2519
FIXED !!! needs: yum install python3-librepo

needs: python3-librepo  --> the error message says 'yum/librepo is required to use this feature'

yum install python3-librepo
service cobblerd restart
cobbler sync

Reposync then works fine.

I guess the package installer needs to force install this package. Its probably mentioned as a requirement somewhere - but as I installed from rpm, so was expecti

[2021-01-19 03:57] ShrutiChavali opened #2521 "How to make a whole playbook, including vars_prompt, run sequentially on all the target hosts"
### Version

[code]

### Question

I have a network playbook, which assigns IP to 3 network interface cards on VM (ens192 is already set during VM creation).

[code]

And I want to run this playbook on 2 hosts (node1, node2) at the same time, as below:
`# ansible-playbook -i inventory network_setup.yml -l node1, node2 -vv`

I tried using serial: 1 at the start of the playbook, but only the tasks p

[2021-01-20 07:22] SchoolGuy commented on #2520
@asimat Grep the code for `autoinstall_snippets_dir`. This gives you an entry point for this problem most probably.

[2021-01-20 07:24] SchoolGuy commented on #2519
@asimat The specfile sets a `Recommends`, meaning it won't install it per default but I agree that this error message needs to be improved or we need to change this to a `Require`. At least we need to document the error messages better in Cobbler... So much to do... XD

[2021-01-20 07:27] SchoolGuy commented on #2521
Sorry for the reopen. I missclicked. Anyway. I have no idea what Cobbler in this context is used for. Are you referring to our Ansible repo? Then please open the issue there. Does Cobbler has problems or is this more of a support question?

[2021-01-20 10:02] liangychen-sh opened #2522 "Execute "cobbler status" command failed"
### Version

[code]

### Question
Got error while execute cobbler status
[code]

[2021-01-20 10:56] dansou901 commented on #2522
First of all, you should update to latest cobbler, at least something greater than 3.x. Second, are you sure that cobblerd service is running?

[2021-01-20 19:15] javier-angulo commented on #2520
I believe this was fixed on #2485
I can reproduce the error on 3.2.0 (but not in master).

[2021-01-20 21:04] SchoolGuy commented on #2520
@javier-angulo Okay then let's close this.

[2021-01-20 21:04] #2520 closed

[2021-01-20 23:54] asimat opened #2523 "Puppet7 support"
### Is your feature request related to a problem?

Puppet cert clean and sign commands have changed. Which requires minor alterations only.

In cobbler settings file, we should add more options for puppet version (3-5 will use same command), puppet 7 will use the following. So if puppet version is 7 then we will need to make modification to pre_puppet.py and post_puppet.py

### The Behaviour you'd

[2021-01-22 17:14] javier-angulo opened #2525 "ESXi 7.0U1 bootfcg template is incorrect"
### Describe the bug

Hello,

looks to me that ESXI 7.0U1 support introduced on #2442 is wrong.
- on bootcfg_esxi70u1.template, prefix and modules are hardcoded and should be a variable:
[code]
- on distro_signatures.json,  version_file_regex for esxi70 catches any esxi70u1 regex string
`"version_file_regex": "^(VMware )?ESXi( )?(v)?7(\\.)?0(\\.)?.*$"`
`"version_file_regex": "^(VMware )?ESXi( )?(v

[2021-01-22 18:10] javier-angulo commented on #2369
@SchoolGuy thank you for your efforts, very much appreciated. At my company we are happily using cobbler to deploy ESXi and CentOS across 4 datacenter (recently updated from 2.6 to 3.2) . Sadly I am not a python dev and I am involved in other projects, but will try to contribute with minor fixes and testing.

[2021-01-22 18:56] SchoolGuy commented on #2369
@javier-angulo If you provide good Bug Reports and share guides or write Blog Posts that would also contribute to Cobbler in a awesome way! Everything you can offer I will gladly take!

[2021-01-22 19:51] asimat commented on #2523
Sorry but as I have never worked in development environment so don't know what you mean by "pull request with your changes"

I have attached the two modified files, however someone needs to add puppet version check from settings file.

** file extensions changed from .py to .txt

[pre_puppet.txt](https://github.com/cobbler/cobbler/files/5858238/pre_puppet.txt)
[post_puppet.txt](https://github.com/

[2021-01-22 20:34] SchoolGuy commented on #2523
@asimat If you are interested, I could give you directions on how to open a Pull Request and get you started with becoming a developer.

In any case thanks for the files! They will be very helpful!

[2021-01-31 22:10] krehm opened #2529 "Deleting a system (or any object) may not persist across cobbler restarts"
Problem is seen in

[code]

This bug was actually fixed via commit 63d8312bac0bc4a1567d7e511beddfa89f4e1562 in December 2020.  File modules/serializers/file.py functions serialize_item() and serialize_delete() were appending the string ".json" to the filename twice.    Rather than trying to delete file "object.json", serialize_delete() would try to delete "object.json.json" which didn't exist, and

[2021-02-01 12:22] SchoolGuy commented on #2529
Okay I agree that we need code to fix that automatically. Or at least document this more extensively.