[2021-02-01 12:23] SchoolGuy commented on #2529
Related PR is https://github.com/cobbler/cobbler/pull/2451

[2021-02-01 15:09] SchoolGuy commented on #2529
@krehm If you update to 3.2.0, does that error persist? Or is that something you can't do?

[2021-02-01 16:28] hbokh commented on #2166
Solved with Document Terraform provider #2528

[2021-02-01 16:28] #2166 closed

[2021-02-02 17:43] SchoolGuy commented on #2515
Since there is no further response and I don't plan on supporting CentOS 7 (no full Python 3 stack), I will close this issue. If this is relevant, pls reopen.

[2021-02-02 17:43] #2515 closed

[2021-02-03 11:19] BrunoMSong opened #2535 "cobbler 2.8.5 can not import Ubuntu 18.04.4-desktop"
when I import Ubuntu image to the cobbler, it show me below errors, Can anyone tell me how to fix this issue? TKS

received on stderr:
running: /usr/bin/file /var/www/cobbler/ks_mirror/Ubuntu/dists/bionic/restricted/binary-amd64/Release
received on stdout: /var/www/cobbler/ks_mirror/Ubuntu/dists/bionic/restricted/binary-amd64/Release: ASCII text

received on stderr:
running: /usr/bin/file /var/www

[2021-02-03 11:22] BrunoMSong commented on #2535
Btw, I can import centos successfully.All Ubuntu Images(desktop:18.04.20.04,server:18.04) I have try are failed!

[2021-02-03 13:19] SchoolGuy commented on #2535
@BrunoMSong If you habe a Cobbler 3.X and can reproduce that we can try to support you. With the Python 2 Version we sadly can't help. There is - to my regret - just not enough people to support such an old version.

[2021-02-06 05:48] BrunoMSong commented on #2535
how can I upgrade from cobbler 2.8.5 to cobbler 3.x, is there a manual for this?

[2021-02-06 05:52] BrunoMSong commented on #2535
I try to install the cobbler 3.2 from source, but it`s difficult. is there a easy way to install it  on centos or ubuntu server?

[2021-02-08 07:26] SchoolGuy commented on #2535
@BrunoMSong The EPEL Module seems sadly not up to date. (see: https://src.fedoraproject.org/rpms/cobbler)

However you can just use the docker-compose file for that. Just checkout the Git Tag 3.2.0 and then type in `docker-compose build & docker-compose up -d`. Please remember that these rpms won't be signed and that docker needs to be able to write to the cloned directory as the RPMs will appear

[2021-02-08 16:59] BRVN01 commented on #2318
Hello,
I managed to fix this error, first install pxelinux; to have access to some files. After that, copy these new files to some folders and then run 'cobbler sync', the error must be gone, at least it works for me, I hope I can help.

sudo cp /usr/lib/PXELINUX/pxelinux.0 /usr/lib/syslinux/
sudo cp -v /usr/lib/syslinux/modules/bios/{ldlinux.c32,libcom32.c32,libutil.c32,vesamenu.c32} /var/lib/cob

[2021-02-08 22:37] BRVN01 opened #2540 "cobbler_api: 404 Not Found"
### Version

[code]

### Question
I'm trying to compile Cobbler for Debian buster and focal Ubuntu, but I always stop at the same problem.

I'm using this link to compile (https://cobbler.readthedocs.io/en/latest/installation-guide.html#id2).

The message that appears on both systems follows (I am using the most current version).

[code]

Would anyone know how to solve?

Thanks!

[2021-02-09 16:27] SchoolGuy commented on #2540
So effectively this means that your Cobbler hasn't started up. The reason why could possibly in `/var/log/cobbler/cobbler.log`. If this file is missing the output of the installation process should be watched closely as it could be that some error is silently ignored...

[2021-02-09 18:42] BRVN01 commented on #2540
I'm finding something strange, when I see cobblerd and apache2, both are running.

● cobblerd.service - Cobbler Helper Daemon
     Loaded: loaded (/lib/systemd/system/cobblerd.service; enabled; vendor preset: enabled)
     Active: active (running) since Tue 2021-02-09 18:12:48 UTC; 5s ago
    Process: 1122 ExecStartPost=/usr/bin/touch /usr/share/cobbler/web/cobbler.wsgi (code=exited, status=0/SUCC

[2021-02-10 07:14] SchoolGuy commented on #2540
The errors while building you can ignore. This is just the Sphinx autodoc extension which can't find the Logging File Config of Cobbler. I am aware of it and know it is harmless. Fixing this at a later point when we can invest more time in such "false-postives".

[2021-02-10 07:15] SchoolGuy commented on #2540
Since you are on a Debian System... Could it be that armor is in the permissive mode and blocking the communication?

[2021-02-10 13:06] BRVN01 commented on #2540
I don't have SELinux, but I can put it on to see if something changes. I'll test.

[2021-02-10 19:41] SchoolGuy commented on #2540
@BRVN01 Apparmor is the equivalent of SELinux on Debian. It is enabled by default. Thus it could be that this is blocking the API calls.

[2021-02-10 22:58] BRVN01 commented on #2540
I apologize, I always thought that apparmor is the same as selinux.
I removed the apparmor, but nothing has changed.

Is there no possibility that /cobbler_api does not exist? I didn't find him anywhere.

[2021-02-11 05:52] SchoolGuy commented on #2540
`cobbler_api` is the path in the Apache configuration. Thus it only exists there.

[2021-02-15 15:10] razorsedge commented on #2195
And then restart cobblerd.
`service cobblerd restart`

[2021-02-15 15:18] Hyper200 commented on #2195
This worked thanks !

[2021-02-15 19:10] needacobbler opened #2544 "cobbler import fails"
### Describe the bug
Trying to import cobbler image fails.

[code]

### Additional context

git install on Centos 8.3 system.  Fails installing Centos 8.2 and 8.3 images.
Previously worked on git install of cobbler 3.0 on Centos 8.2 system with Centos 8.2 image.

[2021-02-15 19:14] SchoolGuy commented on #2544
@needacobbler I will very much try to fix it with 3.2.1 due to the amount of people working on this project this will take a while but thanks for the report! Your name is just astonishing cool! 🥳

[2021-02-15 19:18] SchoolGuy commented on #2544
That one seems easy to fix. I will do it tomorrow when I am on my desk again.

[2021-02-16 08:05] nodeg commented on #2518
@asimat I am trying to reproduce your issue. You said you replaced the `cobbler_web.conf` file from release 3.2.0 with the one from master. The only difference is one [commit](https://github.com/cobbler/cobbler/commits/master/config/apache/cobbler_web.conf) introduced last month.
Here you can see what this commit actually changed:
[code]

The line you edited

is the same in both versions, so the p

[2021-02-16 08:08] SchoolGuy commented on #2544
Okay I noticed that the `import_signature.py` file had no typing (as many many places we touch) and only basic testcoverage. Thus I will add that with a PR. With these tests we should see if the code behind that line of code fails.

[2021-02-16 12:18] SchoolGuy commented on #2337
Helpful comment with points to takle: https://github.com/cobbler/cobbler/pull/2541#issuecomment-779498993

[2021-02-17 12:41] #2529 closed

[2021-02-17 12:55] SchoolGuy commented on #312
We'll need to take a deeper look at the iso building after the next release (3.2.1). Thus rescheduling.

[2021-02-17 12:58] SchoolGuy commented on #2138
Since I want to get the release out and it is highly likely that this is not a Cobbler Bug, I will relabel and unschedule this. Trying this out means I need to get familiar with preseed since I never touched it before.

[2021-02-17 13:00] SchoolGuy commented on #1545
Since this may include reviewing the whole process and I am unfamiliar with the anamon process I will reschedule it from 3.2.1 to 3.3.0 to get the release out.

[2021-02-17 13:04] SchoolGuy commented on #2316
So I believe that #2317 is part of this issue. So I will close it and work on this after we got the settings correctly validated.

[2021-02-17 13:04] SchoolGuy commented on #2317
Closing as this is a subtask of #2316

[2021-02-17 13:04] #2317 closed

[2021-02-18 06:08] #2505 closed

[2021-02-18 08:42] SchoolGuy commented on #2544
Okay I was finally able to reproduce with @nodeg

We found one error but there are more. We are investigating.

[2021-02-18 10:45] nodeg commented on #2195
The only change here is the missing `almalinux` entry. I tested importing CentOS 8 with your suggested change and without it on the `master` branch and was **not** able to reproduce the issue. In both cases the import was successful unless you take a netinstall/live image instead of a full DVD image.

I used the following 2 images from [here](https://ftp.fau.de/centos/8.3.2011/isos/x86_64/) to tes

[2021-02-18 10:45] #2195 closed

[2021-02-18 12:27] nodeg commented on #2544
I was able to reproduce this issue on the `master` branch on openSUSE Leap 15.2 but not on  openSUSE Tumbleweed.

[code]

I worked with 2 ISOs. One is a full DVD where `cobbler import` should work and the other is a netinstall/live ISOs where `cobbler import` should not work.

[code]

When trying the `netinstall/live` ISO `cobbler import` fails but not the expected way. See #2195.

[code]

When us

[2021-02-18 13:08] SchoolGuy opened #2549 "Settings: Combination of allow_dynamic_settings and subsettings do not work"
### Describe the bug

When settings `allow_dynamic_settings` to `1` or `True`, settings defined in files loaded from `include` are not persisted after a restart.

### To Reproduce

1. Enable `allow_dynamic_settings`
2. Restart Cobbler
3. Change a setting via CLI or WebUI.
4. Restart Cobbler
5. Settings are loaded
4. See error in the Settings Report

### Expected behavior

Settings are loaded corre

[2021-02-20 09:58] SchoolGuy opened #2552 "Convert Cobbler Settings to Convention over configuration"
### Is your feature request related to a problem?

Currently our settings file is very extensive and we are requiring all kind of keys. Since PyYAML does not support comments this makes the file very user unfriendly.

The fact that we do have an `include` list of directories doesn't make things easier.

### The Behaviour you'd like

- Only settings changed by the user should be in `settings.yaml`.

[2021-02-20 10:01] SchoolGuy commented on #2552
This issue should also make use of the `validate` function when reading settings. With 3.2.1 we are only validating settings when writing settings to the disk.

[2021-02-21 14:13] #2419 closed

[2021-02-25 08:46] TerranMan opened #2553 "Can't build CentOS8 docker image - lack of dependencies"
### Describe the bug

Error:
Problem: conflicting requests
-nothing provides python3.6.dist(contextlib2) >= 0.5.5 needed by python3-schema-0.7.3.-1.el8.noarch

Solution:
Added RUN rpm -Uvh https://ftp.lysator.liu.se/pub/opensuse/tumbleweed/repo/oss/noarch/python36-contextlib2-0.6.0-2.3.noarch.rpm
(for x86-64)
![err](https://user-images.githubusercontent.com/6996410/109127074-0c7c4000-775f-11eb-9df

[2021-02-25 08:50] SchoolGuy commented on #2553
Thanks for opening an issue explicitly. We are already aware of it and are working on it.

[2021-02-25 22:27] #2525 closed

[2021-02-27 09:08] nvtkaszpir commented on #2339
Worth read https://louwrentius.com/understanding-the-ubuntu-2004-lts-server-autoinstaller.html

[2021-02-28 13:59] SchoolGuy opened #2566 "CI will fail on master due to missing automatic version increase"
### Describe the bug

Currently we are having a hardcoded version in `setup.py` this needs to change to make versioning more dynamic to the CI.

### To Reproduce

1. Look at `setup.py` and our Github workflow.

### Expected behavior

The CI pushes with every new `master` commit a new version to the Test PyPi.

### Version

[code]

### Screenshots

### Additional context

[2021-03-02 12:51] Jack-Ywn opened #2567 "Expect container releases"
Expect to release a container version of the deployment

[2021-03-02 13:39] SchoolGuy commented on #2567
Currently it is not easy to run Cobbler inside a Docker Container. Since we are near the release of `3.2.1` (only a few left), we will append that to `3.3.0`. Official support for a production environment in a container for Cobbler will hit with `4.0.0`-

[2021-03-02 16:20] hagaluly commented on #2517
any due date on cobbler UEFI support?
we also have a lot of new servers supporting only UEFI
is there any date upon releasing the fix?

[2021-03-03 00:53] opoplawski commented on #2553
contextlib2 is now in EPEL testing - please provide karma here: https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2021-65e082736e

[2021-03-03 13:06] nodeg commented on #2566
@SchoolGuy and I decided that we will use nightly builds as used in [Tensorflow](https://github.com/tensorflow/tensorflow/blob/master/.github/workflows/update-nightly.yml).

[2021-03-03 13:10] nodeg commented on #2544
As the import work as intended, I see no reason to invest here further. But there wil be an improved version of `cobbler check` where every needed dependency will be checked.

[2021-03-03 14:21] #2311 closed

[2021-03-03 16:44] mwaldron104 opened #2570 "Unable to render any installation templates"
### Describe the bug

After upgrading cobbler from 2.8.5 to 3.2.0, it cannot render any automatic installation templates. This occurs no matter which template I try to view, including ones provided with cobbler.

### To Reproduce

1. Go to 'Profiles'
2. Click on 'View Automatic Installation Template' for a profile
[code]

### Expected behavior

A display of the kickstart file.

### Version

3.2.0

[2021-03-03 18:18] SchoolGuy commented on #2570
I believe this is fixed as of #2533 (we had a very very similar looking stacktrace in the PR), thus I will close this one. If it is still existing after 3.2.1 please reopen.

[2021-03-03 18:18] #2570 closed

[2021-03-04 06:11] tim1670 commented on #2540
I reproduced this problem in Ubuntu20.04lts desktop version. The solution is to create a new apache2 conf-enable folder (it seems to be the name) to correspond to all the soft connections related to the cobbler configuration file in the conf-available folder, and comment according to the log Useless configuration.

[2021-03-04 07:29] #2566 closed

[2021-03-04 07:52] SchoolGuy commented on #2544
I will close this issue as this will be worked on via #2316.

[2021-03-04 07:52] #2544 closed

[2021-03-04 07:58] SchoolGuy commented on #2316
TODO-List to close this issue:

- [ ] The checks we are doing, are independent of the `cobbler check` command
- [ ] The `cobbler check` command uses the new implementation
- [ ] We add a check for having installed all required dependencies
- [ ] We don't dump stacktraces in case of a failing check but instead a meaningful error message
- [ ] Logging in these modules is not dependent to the Cobbler

[2021-03-04 08:09] hagaluly commented on #1756
there is support in UEFI! from ver 2.8 >

[2021-03-04 11:01] SchoolGuy commented on #2316
This is to huge to be part of 3.2.1 thus I will move the milestone.

[2021-03-04 11:45] dansou901 commented on #2567
This will also need a few customizations to the startup behaviour of cobblerd. I propose that all folders in which custom stuff like images, repos, profiles and so on are stored will be created on startup if they don't exist. As soon as that's implemented, it'll be quite easy to build a docker image for production usage.

[2021-03-04 11:45] dansou901 commented on #2567
For now, these directories are created at install time. This is not sufficient for docker images.

[2021-03-04 11:48] dansou901 commented on #2553
According to your link @opoplawski contextlibs2 is now in stable, can you confirm that? If yes, it should be possible to build a new centos 8 image of cobbler now, correct?

[2021-03-04 12:35] nodeg commented on #1370
@hbokh I was not able to reproduce this on `master` on openSUSE Leap 15.2.

[code]
When removing only `test-x86_64`, the folder `/srv/www/cobbler/distro_mirror/test` still exists due to the existing link of the copy `test2-x86_64`. The link for `test-x86_64` was correctly removed. After removing `test2-x86_64` the folder `/srv/www/cobbler/distro_mirror/test` was also deleted.
So I think the behavi

[2021-03-04 13:03] SchoolGuy commented on #2567
@dansou901 That is indeed a helpful hint and would take those steps away from the installation and we would be more resiliant against problems. So we need to add that to this task.

[2021-03-04 13:05] SchoolGuy commented on #2553
@dansou901 Latest build on `master` has not yet received that from an hour ago.

[2021-03-04 19:02] SchoolGuy commented on #2553
As of https://github.com/cobbler/cobbler/runs/2033887369 we are successful again. Thanks a lot @opoplawski ! This is great news! And even on point for the new release I will be shipping later in the evening!

[2021-03-04 19:02] #2553 closed

[2021-03-05 15:04] SchoolGuy commented on #1492
So update on this: We are currently roughly at about 25% coverage and are using Github CI, since Travis changed their pricing model. I will consider this closed when we have over 50% coverage with unit tests instead of our integration tests. This means that we have a lot of work to do but it will be worth it in my eyes.

[2021-03-06 10:55] hbokh commented on #1370
This has been over a year...
Unfortunately I don't have the tests / infra available anymore to do this **quick**. I have to set that all up again, which I am not planning to ATM. Sorry...

[2021-03-06 11:39] SchoolGuy commented on #1370
@hbokh No problem. Then we check at a later point. The next release will take a while definitively...

[2021-03-06 14:25] #2286 closed

[2021-03-06 20:36] nodeg opened #2574 "[feat] Move from the deprecated optparse to argparse (CLI)"
### Is your feature request related to a problem?

According to the [documentation](https://docs.python.org/3/library/optparse.html), `optparse` is deprecated since Python 3.2. According to [PEP 594](https://www.python.org/dev/peps/pep-0594), however, it will not be removed in the near future since it is so widely used. Nevertheless to make Cobbler more future proof, we should switch to [argparse]

[2021-03-06 20:44] nodeg commented on #2522
Furthermore the Cobbler log (`/var/log/cobbler/cobbler.log`) would be helpful, too.

[2021-03-06 20:51] nodeg commented on #2518
I will close this issue now since we removed the Django webinterface with #2434 for the upcoming version 3.3.0. Furthermore I was not able to reproduce the issue and there is no feedback from the creator of the issue.

[2021-03-06 20:51] #2518 closed

[2021-03-06 22:10] nodeg commented on #1760
I was not able to reproduce this on openSUSE Leap 15.2 with git master.

[code]

[2021-03-07 13:20] michiboo commented on #2574
Hi can I help on this issue?

[2021-03-07 13:42] SchoolGuy commented on #2574
@michiboo Yes of course! Feel free to open a Pull Request! After a short review, we will merge it as soon as reasonable!

[2021-03-07 13:49] SchoolGuy commented on #1760
Since we were not able to reproduce this, we will close it. If the issue reapers, we will reopen this issue.

[2021-03-07 13:49] #1760 closed

[2021-03-07 21:57] BRVN01 commented on #2540
I don't know if I did something wrong, but it didn't work.

I created the conf-enable folder, after that included the folder in apache.conf, but it didn't work,
Can you help me again, please?

[2021-03-08 03:32] mohantnr opened #2576 "cobbler buildiso fails on Ubuntu 20.04.2 LTS"
### Describe the bug

buildiso is failing with below error message
[code]

### Version

[code]

### Additional context

cobbler build iso is failing with below message

[code]

[2021-03-08 06:17] SchoolGuy commented on #2540
@BRVN01 Did you do a `a2enconf` for the configuration? Otherwise it won't be active.

[2021-03-08 09:37] SchoolGuy opened #2577 "Dynamic Settings are broken"
### Describe the bug

When trying to use dynamic settings via the CLI we get the hint to enable it. This is in conflict what @ckleu has configured in his config file.

### To Reproduce

[code]

### Expected behavior

- Dynamic Settings work and are set.
- We have tests with the next release which detect such regressions.

### Version

[code]

### Screenshots

### Additional context

Discovered in

[2021-03-08 09:39] SchoolGuy commented on #2577
Since we refactored the settings for 3.2.1 we need to check if that is also the case with the current version...

[2021-03-08 14:50] nodeg opened #2579 "Remove leftover validateks code"
`cobbler validateks` was removed in 2009 with https://github.com/cobbler/cobbler/commit/4a18e37b26381b6c85f657f8a3356d4115c2538b.

We still have some leftovers in our code which can safely be removed.

[code]

[2021-03-08 14:51] #2098 closed

[2021-03-08 14:54] #2138 closed

[2021-03-08 14:54] #2161 closed

[2021-03-08 14:56] #2245 closed

[2021-03-08 14:56] #2336 closed

[2021-03-08 14:56] #2443 closed

[2021-03-08 14:56] BRVN01 commented on #2540
Yes, I did. Actually, I created a symbolic link pointing there.
Now I did it with a2enconf, but it didn't work.

[2021-03-08 14:56] #2521 closed

[2021-03-08 16:46] mohantnr opened #2587 "cobbler get-loaders --force failing with Exception value: 'str' object has no attribute 'get'"
### Describe the bug

[code]

### Steps to reproduce

1. cobbler get-loaders
2.
3.

### Expected behavior

### Cobbler version

[code]

### Operating system

[code]

### Cobbler log

[code]

### Screenshots

### Additional information

[2021-03-08 17:23] nodeg commented on #2587
Could you please provide a partial output of the cobbler log (`/var/log/cobbler/cobbler.log`), please?

[2021-03-08 17:34] nodeg commented on #2587
We will remove the `get-loaders` command with the upcoming version 3.3.0. It already got removed in master with #2572.

I tested the command with a fresh Cobbler installation on openSUSE Leap 15.2 and was not able to reproduce it.

[code]

[2021-03-08 17:37] dansou901 commented on #2587
As the whole get-loaders code will be removed in a future version (see also #2572), I think we can close this as won't fix.

[2021-03-09 01:48] mohantnr commented on #2576
any workaround for this problem?

[2021-03-09 07:44] SchoolGuy commented on #2576
@mohantnr So far no. We are trying to investigate.

[2021-03-09 18:35] johol commented on #2287
Attached patch should fix this issue.

[cobbler-3.2.1-image-install.txt](https://github.com/cobbler/cobbler/files/6110710/cobbler-3.2.1-image-install.txt)

[2021-03-09 18:37] johol commented on #1562
Attached patch to latest 3.2.1 tar file fixed this issue for me

[cobbler-3.2.1-add-oracle-linux-distro.txt](https://github.com/cobbler/cobbler/files/6110731/cobbler-3.2.1-add-oracle-linux-distro.txt)

[2021-03-12 02:35] phrend opened #2592 "Allow more than 100 cobbler sync's in a day"
### Is your feature request related to a problem?

I manage thousands of servers with cobbler, and although rare, I sometimes want/need to make more than 100 independent changes that require a cobbler sync in a single day, but am blocked by this section of the code:
https://github.com/cobbler/cobbler/blob/master/cobbler/modules/managers/bind.py#L517-L529

### Provide a detailed description of the

[2021-03-12 09:22] nodeg opened #2593 "[docs] Collection of errors in the documentation"
This issue is for collecting all errors regarding documentation.

### TODO
- [x] Fix broken links
- [x] Add new `cobbler sync --dns` and `cobbler sync --dhcp` commands
- [x] Improve the [source installation section](https://cobbler.readthedocs.io/en/latest/installation-guide.html#id2)
- [x] Add missing ISC manager module
- [x] Fix links in `/etc/cobbler/modules.conf`
- [x] Remove whitespaces in se

[2021-03-13 13:54] tim1670 commented on #2540
In the final analysis, it is an apache configuration problem. Please configure the apache configuration correctly. In addition, this method is only for version 3.2.

[2021-03-13 14:00] tim1670 commented on #2587
After removing get-loaders in version 3.2.1, I cannot boot pxe at all, which is very frustrating! I am Ubuntu 20.04 version. It's not that I don't approve of deletion, but I can't use version 3.2.1 at all. At least version 3.2 can also guide pxe to start, and I haven't found any solution in the update log and documentation.

[2021-03-13 14:16] SchoolGuy commented on #2587
@tim1670 There is the `mkgrub.sh` script which should help you. We will try to improve the docs drastically for the next version to make such things more trivial. This project should make life easy and not harder.

[2021-03-14 03:49] tim1670 commented on #2587
@SchoolGuy I try to run the script, the log prompts:
~/cobbler/scripts$ sudo sh mkgrub.sh

mkgrub.sh: 5: [[: not found
mkgrub.sh: 6: [[: not found
mkgrub.sh: 32: function: not found
mkgrub.sh: 34: local: not in a function

Seems not compatible with Ubuntu 20.04?

In fact, I just hope that the LAN  server pxe can guide other servers in the LAN to automatically install Linux unattended, and download

[2021-03-14 07:58] SchoolGuy commented on #2587
@tim1670 Ubuntu uses Dash and the script is written in Bash. Thus try to execute with `bash /path/to/script`. Also you need to install the bootloaders for the appropriate distros before.

[2021-03-14 13:07] nodeg commented on #2587
Some background information about the change in Ubuntu: https://wiki.ubuntu.com/DashAsBinSh Maybe we find some time to make our Bash scripts POSIX compliant.

[2021-03-15 07:01] mohantnr commented on #2587
logs: when we run cobbler check:
2021-03-14T23:54:57 - INFO | check
2021-03-14T23:54:57 - INFO | running: wget --help
2021-03-14T23:54:57 - INFO | received on stdout: GNU Wget 1.20.3, a non-interactive network retriever.
Usage: wget [OPTION]... [URL]...

Mandatory arguments to long options are mandatory for short options too.

Startup:
  -V,  --version                   display the version of Wget

[2021-03-15 08:35] SchoolGuy commented on #2587
@mohantnr What is your question now? And is it even related to this Question?

[2021-03-15 09:45] mohantnr commented on #2587
You have requested to provide cobbler.log output. so i have updated case.

[2021-03-15 09:57] nodeg commented on #2587
Were you able to run the `mkgrub.sh` script successfully after the information from @SchoolGuy to execute it with Bash instead of Dash?

[2021-03-24 07:48] nodeg opened #2603 "[Feat] Make shell scripts POSIX compatible"
### Is your feature request related to a problem?

Just a feature request to make our scripts more portable. See #2587 where a user has problems running on of our Bash scripts under Dash (the default shell in Ubuntu).
The shell script files are listed [here](https://github.com/cobbler/cobbler/search?l=shell).

### Provide a detailed description of the proposed feature

Check our few shell scripts

[2021-03-24 07:58] hbokh opened #2604 "[Branding] Add a more distinctive GitHub avatar"
In my personal opinion the default Cobbler avatar could (should) be replaced with something more distinctive
 / distinguishing than the randomly chosen GitHub avatar. This will give a more professional look.

As an example have a look at https://registry.terraform.io/providers/cobbler/cobbler/latest

![Screenshot 2021-03-24 at 08 43 20](https://user-images.githubusercontent.com/519955/112273071-37

[2021-03-24 09:00] nodeg commented on #2604
Thanks for opening this up, @hbokh. @SchoolGuy and I discussed this a couple of weeks ago and he mentioned that there is already someone who is working on a new logo. But I am not sure who it is and where it is developed. @SchoolGuy do you have more information?

[2021-03-24 14:37] SchoolGuy opened #2605 "Fedora CI shows incorrect date on RPM build"
### Describe the bug

While working on PR #2599 @hbokh discovered that the timestamp of our Fedora CI is weird. This should not be the case.

### Steps to reproduce

1. Got to <https://github.com/cobbler/cobbler/runs/2181937721#step:3:9351>

### Expected behavior

The timestamp should be the current time.

### Cobbler version

[code]

### Operating system

Fedora 34

### Cobbler log

[code]

### S

[2021-03-24 14:39] SchoolGuy commented on #2604
I have an appointment with a friend of mine who will maybe help us to design a new logo. Let's see where this goes. I will report back tomorrow.

[2021-03-25 19:05] SchoolGuy commented on #2604
@hbokh @nodeg I have talked to my friend and she will prepare some things. When she is ready she will post some drafts here. We can then discuss with her all further steps in that regard. It will take a few days however since she is not a wizard. :)

[2021-03-27 10:07] SchoolGuy commented on #2415
Since we don't support CentOS 7 due to the missing full Python 3 stack we can now do this. CentOOS 8 and all other distros seem to have the appropriate pip version available.

[2021-03-27 10:09] SchoolGuy commented on #2415
@nodeg Would you please be so kind and redo your PR. I would also love if you could add to the then open PR that we build packages for openSUSE Leap 15.3 & openSUSE Tumbleweed in the pipeline so we build all packages on a PR.

[2021-03-28 13:13] mandutzsenta commented on #2604
Hello there :)

I made some logo design prototypes. As you might notice they differ... a lot! That's because first we wanted to have a serious logo somehow displaying the use of the tool. The second idea was to have something unique that is recognizable and also contains a pun (cobbler as in the dish).
Please let me know which one you like best or what changes I should make.

Idea 1:
Version 1:

!

[2021-03-28 14:45] SchoolGuy commented on #2604
So I would vote for idea 2, version 1 since this can be used as an icon and is easily recognizable. But I will leave it up to the community to decide which way we do want to go.

[2021-03-28 15:06] SchoolGuy commented on #2369
So an update on this as of now:

- For openSUSE we have stable packaging
- For Redhat based distros we have stable packaging
- Debian and Debian based systems are still missing (upstream), since we don't provide native packaging for them - DEBs are available still through `debbuild`
- We are working on a new Web Interface and other tech-debt is identified and will be worked on.
- Contributions fro

[2021-03-28 15:06] #2369 closed

[2021-03-28 15:08] SchoolGuy commented on #2587
Since for almost two weeks there was no response, I will close this. The functionality is discouraged for a long time and has been removed on `master`.

[2021-03-28 15:08] #2587 closed

[2021-03-28 15:10] SchoolGuy commented on #2592
This needs to be fixed by 3.3.0. After the refactorings for the next version, this should not be a big deal.

[2021-03-28 15:34] dansou901 commented on #2604
I do like idea 2, version 1 as well. But I have a suggestion: is it possible to have the top of the "cobbler" a bit less flat and more bumpy? Or is that too much?

[2021-03-28 15:34] hbokh commented on #2604
👍🏻
Personally I prefer idea 1, because I fail to see what a pie / cake has to do with Cobbler. 😇
Looks like the one with the tools fits best in a square icon spacing.

[2021-03-29 13:44] nodeg commented on #2415
What do you exactly mean by that?

[2021-03-29 13:59] nodeg commented on #2604
My favourite is idea 2, version 1, too since it looks really cute and delicious. Like @hbokh I did not know that a Cobbler is also something to eat, so now that I know that, I feel reassured about my decision according to instinct / my gut.

[2021-03-31 20:13] Conan-Kudo commented on #2604
I like idea 2, version 1 as well. 😉

[2021-04-01 06:59] SchoolGuy commented on #2604
So as an intermediate summary:

- Idea 1 (unspecified version): @hbokh
- Idea 2 - version 1: @Conan-Kudo @nodeg @dansou901 @SchoolGuy

I think I'll let the vote go on a little while in case someone comes around. The issue is pinned so everyone should see it.

[2021-04-01 16:39] hbokh commented on #2604
Let me quote a co-worker of me:
_I wouldn't associate Cobbler with being "a piece of cake"._
😇

[2021-04-01 17:26] SchoolGuy commented on #2604
@hbokh That quote makes me even more want to use the cake because it should be one day...

P.S.: Not the right issue but could you possibly interview him and collect his pain points in a GH Discussion please? I would really like to make it easier...

[2021-04-03 11:05] hbokh commented on #2604
I consider it as a tongue-in-cheek kind of joke. No need for an inquisition. 🕵🏻‍♂️

[2021-04-03 11:11] hbokh commented on #2604
FYI @mandutzsenta the cake is not going to fit as an avatar with the current (rectangle) dimensions:

![Screenshot 2021-04-03 at 13 07 32](https://user-images.githubusercontent.com/519955/113476734-982f6d80-947d-11eb-9bee-69590f17c375.png)

[2021-04-06 09:27] nodeg commented on #2604
Furthermore we need a dark version for dark themes.

[2021-04-06 09:29] nodeg commented on #2574
@michiboo Any progress on this?

[2021-04-06 09:37] michiboo commented on #2574
Hi I have been working on it~ but still not finished !

[2021-04-06 09:39] nodeg commented on #2574
Nice. Thank you for the quick update! If you have any question, do not hesitate to ask.

[2021-04-07 13:18] nodeg opened #2611 "[Feat] Replace git subprocess_call() with safer wrapper"
### Is your feature request related to a problem?

No.

### Provide a detailed description of the proposed feature

This depends on #2415.

Replace our git `subprocess_call()` call in `cobbler/modules/scm_track.py` with a native Python library as e.g. wrapper for `subprocess_call()`.

### Alternatives you've considered

e.g. [GitPython](https://pypi.org/project/GitPython)

### Additional informati

[2021-04-07 14:09] SchoolGuy opened #2612 "Independence from service"
### Is your feature request related to a problem?

Currently we have explicit hardcoded calls to `service NAME restart` and other similar commands. This means if we run in a docker environment we will ultimately fail.

### Provide a detailed description of the proposed feature

I desire that we support:

- `service`
- `systemd`
- `supervisord`

for process management. The last two systems have API

[2021-04-07 14:13] SchoolGuy commented on #2453
TODO List (incomplete currently):

- [ ] Creating all folders automatically. - #2860
- [x] Get templates for the folders from somewhere. - #3139
- [ ] Be able to restart remote services (dhcp, dns, ...) in a different container. - #3138
- [ ] Be able to configure everything via ENV variables. - #3137
- [ ] Provide docs how to use the container-stack with both Docker and Podman.
- [ ] Optional: Pro

[2021-04-07 15:51] dansou901 commented on #2453
I can help with the Dockerfiles and configuration parsing once the creation of folders is implemented correctly. Maybe I can help also with Kubernetes when time comes.

[2021-04-08 03:48] arafatx commented on #2126
@yogi401 netcfg/choose_interface=eth0 or netcfg/choose_interface eth0  ? doesn't seem to work here

[2021-04-10 08:51] SchoolGuy commented on #2604
Since we did not get more votes in the last days I consider the final results this:

[2021-04-11 01:24] ageoffron commented on #2437
I reviewed and read the comments and feel this might help others as I can confirm that the options @opoplawski suggested do work. I'm ignoring the gpg error for the time being.

Context:
I'm using cobbler 3.2.1 from source on a CentOS 8 and I'm able to sync Ubuntu 18.x successfully

- I added the ubuntu repo:
`cobbler repo add --name=ubuntu-bionic --apt-components=main,restricted,universe --apt-di

[2021-04-14 10:50] mitodeboa opened #2614 "Cobbler sync logfile task error"
### Describe the bug

cobbler sync
throws
[code]

### Steps to reproduce

1.cobbler sync

### Expected behavior

Expected cobbler sync without errors

### Cobbler version

[code]

### Operating system

CentOS Stream release 8

### Cobbler log

[code]

### Screenshots

### Additional information

the cause seems to be because the sync task is being written to the main log instead of the task log

[2021-04-15 19:05] crandalj opened #2617 "AlmaLinux 8.3 import error"
### Describe the bug

[code]

### Steps to reproduce

1. prepare distro for import
2. cobbler import --name=AlmaLinux8 --arch=x86_64 --path=/mnt
3.receive error

### Expected behavior

Expected cobbler to finish import process so that the pxe boot profile could be used.

### Cobbler version

[code]

### Operating system

### Cobbler log

[code]

### Additional information

Issue  #2194 seems to ha

[2021-04-15 20:11] crandalj commented on #2617
Issue likely from old version from yum conflicting with the newer version. Uninstall was performed but it's likely the /usr/local/lib/python3.6/site-packages/cobbler remained from previous install.

[2021-04-15 20:24] crandalj commented on #2617
Previous version was cobbler 2.8 which uses python 2 so reopening. Jumped to the wrong conclusion. Sorry! Going to leave it open and let someone more familiar with this issue hopefully tell me whether it's valid or not.

[2021-04-16 07:17] SchoolGuy commented on #2617
@nodeg It would be very cool if you could try to reproduce this on `master` (and if not occuring) then on the `release32` branch. If not I will try after the 5th of may...

[2021-04-16 13:17] crandalj commented on #2617
@SchoolGuy

I updated my server to use the master branch and did a make devinstall. I also updated the cobbler package in pip3 with a reinstall since the service didn't want to come up.

[code]

Once updated the service came up.

Reran the commands I tried originally and an error still.

[code]

I retried with Debian 10 and that import appears to work. AlmaLinux is new, and I saw it should have a

[2021-04-16 18:03] SchoolGuy commented on #2617
Thanks for your report! We don't have tests for this particular part and I never saw your error happening before. Sadly I can't play as much as desired with Cobbler myself so it will take some time but in May I will revisit this latest. Until then please be patient. :)

[2021-04-17 00:47] asimat opened #2618 "Cobbler 3.2.1"
How to do I install the web interface. ?

I used a git sync and then used make rpms. But it does not make the rpm for web-interface like in previous versions.

Any other way to install web interface

[2021-04-17 06:02] SchoolGuy commented on #2618
Currently there is none. With the next stable version there will be a new one.

[2021-04-17 06:02] #2618 closed

[2021-04-20 08:03] nodeg commented on #2614
[code]
This seems weird, since in line 801 of cli.py it states the following
[code]
which was added with a4632b74f2b29674999a02beefd28474c7fc3782 on March 30 2021 and you are already using the most recent version from April 9 2021 of the master branch.

[2021-04-20 08:22] SchoolGuy commented on #2604
Just a quick update. I am working on my final papers and exams of my apprenticeship. On the 5th of May this will be done. I have a lot in the queue but after that I will continue to work on this. It is not forgotten!

[2021-04-20 08:22] SchoolGuy commented on #2604
Just a quick update. I am working on my final papers and exams of my apprenticeship. On the 5th of May this will be done. I have a lot in the queue but after that I will continue to work on this. It is not forgotten!

[2021-04-20 09:09] mitodeboa commented on #2614
If that seems weird because I have rebuilt with python3.9 and the issue is gone

[2021-04-20 10:08] SchoolGuy commented on #2614
Then let's mark this as done. We can't reproduce it and it is fixed for the reporter...

[2021-04-20 10:08] #2614 closed

[2021-04-20 13:11] mitodeboa commented on #2614
Sorry for the inconvenience

[2021-04-22 10:50] heroin-moose opened #2622 "Provide hierarchical drop-downs for profiles in the web interface"
### Is your feature request related to a problem?

If a user has many distros and some of those distros have many associated profiles (think hundreds), a plain profile list becomes hard to navigate. For example, I have a bunch of ESXi, SLES and RHEL distros that are used for regular infrastructure. Also I have a special FooBar distro and I use Cobbler to deploy that FooBar distro for testing. This

[2021-04-24 07:28] SchoolGuy commented on #2622
This will stay here until the Web Interface has basic CRUD functionality. After that we need to check what part of this feature request needs to be handled in the core and what on the frontend side.

[2021-04-26 07:24] nodeg commented on #2617
I could **not** reproduce this on a fresh openSUSE Leap 15.3 VM with installed Cobbler from source (master branch).  I used the `AlmaLinux-8.3-x86_64-dvd.iso` ISO from https://ftp.fau.de/almalinux/8.3/isos/x86_64/.

[code]

[code]

[code]

[code]

@crandalj Did you probably use the `minimal` or `boot` ISO of AlmaLinux?

[2021-04-27 08:10] nodeg opened #2623 "[feat] Extend Cobbler import to recognize live ISOs"
### Is your feature request related to a problem?

No.

### Provide a detailed description of the proposed feature

At the moment it is not possible to import live ISOs.
I tried to import Fedora 34 beta (`Fedora-Workstation-Live-x86_64-34_Beta-1.3.iso`) and Fedora 33 (`Fedora-Workstation-Live-x86_64-33-1.2.iso`) from [here](https://ftp.fau.de/fedora/linux/releases/) but it was not recognized corre

[2021-04-27 17:30] crandalj commented on #2617
@nodeg I used the boot iso. I can't get the CentOS isos to load either. This was done on a CentOS 7 machine. So if there are any package differences between OpenSUSE and CentOS distributions for how cobbler operates then it wouldn't be caught.

I reinstalled from scratch and used CentOS 8 and still can't get imports working. I git cloned the latest, installed requirements for rpm build, built the

[2021-04-28 06:05] nodeg commented on #2617
Yes. At the momente Cobbler only support importing a full ISO (no boot/minimal/live). See [1.7.1. Download an ISO image](https://cobbler.readthedocs.io/en/latest/quickstart-guide.html#download-an-iso-image) and #2623.

[2021-04-28 06:10] nodeg commented on #2475
Duplicate of #1057.

[2021-04-28 06:10] #2475 closed

[2021-04-28 12:24] crandalj commented on #2617
@nodeg That's a simple fix for an obscure error. I don't know a lot about the contents between a boot, minimal, and dvd/full iso but some kind of error message at that point of the import could mention they received this error due to possibly using a boot or minimal ISO.

Sorry this wasted time on chasing down a non-existent bug in the signatures.

[2021-04-28 12:24] #2617 closed

[2021-04-28 13:35] nodeg opened #2624 "Improve our code quality"
I ran [Prospector](http://prospector.landscape.io/en/master/contents.html) and Codacy locally with [codacy-analysis-cli](https://github.com/codacy/codacy-analysis-cli)  over all our code inside the `cobbler` folder. Most of the findings are just information and warnings but I think fixing those will improve the overall quality of the project.

For running those checks you can use the tools directl

[2021-04-28 14:12] nodeg commented on #2617
No problem. @SchoolGuy and I discussed that it would be nice to have a more visible alert on this. For the future our plan is to extend Cobbler to be able to parse and import boot/minimal/live ISOs, too. See #2623.

[2021-04-28 14:14] dansou901 commented on #2623
When we're doing this, we should also consider supporting Boot isos and rescue systems like for example System Rescue CD, Knoppix, ct desinfect and similar ones.

[2021-05-04 14:13] nodeg opened #2625 "[tests] Add more unit tests"
To effectively introduce more useful features and fix old stuff, it is necessary to have more unit tests and increase our test coverage. At the moment we have ~28 % code coverage according to [Codecov](https://app.codecov.io/gh/cobbler/cobbler).
Furthermore some of our currently implemented tests are too rudimentary and have to be improved dramatically.

Related issues:

- Improve error handling #

[2021-05-07 14:12] bruncsak opened #2628 "Existing <searchlist></searchlist> tag in autoyast.xml even if name_servers_list is empty"
### Describe the bug

When installing **tumbleweed**, `yast2` complains about syntax error in the `autoyast.xml`.
It looks like that
[code]
is printed into `autoyast.xml`, even if the `name_servers_list array` is empty.

### Steps to reproduce

I believe any `suse` breed system with empty name_servers_list would produce an `autoyast.xml` file having the empty list in between the `<searchlist>` and

[2021-05-07 15:00] SchoolGuy commented on #2628
Feel free to open a PR. This is purely templating related. So feel free to open a PR, I would be willing to help you. Here a pointer to the file which I think is related: https://github.com/cobbler/cobbler/blob/d6fa0b14051fcd0cd7c6d562c5d56eeca0422f44/autoinstall_snippets/SuSE/networking.xml#L28

I would have expected with the wrapped `ifVar` that this is already taken care of.

[2021-05-07 15:25] bruncsak commented on #2628
Here is the pull request: https://github.com/cobbler/cobbler/pull/2629

[2021-05-10 11:56] nodeg commented on #2628
Fixed with #2629. Thank you for the contribution @bruncsak.

[2021-05-10 11:56] #2628 closed

[2021-05-13 15:44] shannonpetry opened #2634 "cobbler restart drops profiles and repos (2.8.5)"
### Describe the bug

Copying profiles and distros from a master works without issue. Cobbler restart causes both to vanish.

### Steps to reproduce

1. cobbler replicate --master=<IP of master> --distro=CentOS7*
cobbler distro list
   CentOS-7-x86_64
2. cobbler replicate --master=<IP of master> --profile=MyCentOS7
cobbler profile list
   MyCentOS7
3. cobbler profile edit --name=MyCentOS7 --server

[2021-05-13 16:59] SchoolGuy commented on #2634
@shannonpetry I took the liberty of improving the readability. Is it possible for you to reproduce this with a current version of Cobbler. Problems exclusively for Cobbler 2.X.X we won't fix. Python 2 is EOL and we have little manpower. However if this is also reproducible for Cobbler 3.2.X then we will try to fix it if we can.

However if you can fix it yourself, you are more then welcome to open

[2021-05-13 18:28] shannonpetry commented on #2634
Thank you for the update. I will look at moving to a more current version of Cobbler and testing further.

In the mean time, is there a way to tell cobbler to import the .json files in profiles.d, distros.d, etc? (it is quite possible that it should simply read them, but is not for some reason).

[2021-05-13 20:01] SchoolGuy commented on #2634
@shannonpetry I will be honest. The Cobbler Replicate functionality was not being tested since I took this project over. So as of now I can't tell you what it is supposed to do and what not. I will take a deep look at the current code and try to write some tests at the weekend or during next week.

For the upgrade process I would recommend you to take a thorough backup of everything and to consult

[2021-05-13 20:53] shannonpetry commented on #2634
Thanks again!  The honesty and recommendation is greatly appreciated!

[2021-05-15 15:42] SchoolGuy commented on #2604
This is done as of now. PR https://github.com/cobbler/cobbler.github.io/pull/165 will work on implementing this on our website.

[2021-05-15 15:43] #2604 closed

[2021-05-18 09:34] SchoolGuy opened #2635 "Trying to write file into folder which doesn't exist"
### Describe the bug

While working on an internal bug at my company I discovered that a workaround we introduced did not fix the root cause.

Workaround: https://github.com/cobbler/cobbler/blob/a5dc69ea111dee449c64c5185496b88b14cb9342/cobbler/tftpgen.py#L714-L724

### Steps to reproduce

1. Delete `/var/lib/tftproot/.../systems`
2. Add a system
3. Stacktrace in Cobbler log

### Expected behavior

[2021-05-18 09:36] SchoolGuy commented on #2635
CC @nodeg this needs to be fixed asap.

Cleanest solution is in my eyes to generate all folders we require in an own method and execute that directly after the deletion of the folders.

[2021-05-18 10:55] nodeg commented on #2635
We already have a similar internal method for this in `sync.py` if I remember correctly:

https://github.com/cobbler/cobbler/blob/11a5beefadad58af54e7e2bd31777a60d699eab3/cobbler/actions/sync.py#L182-L203

[2021-05-18 11:47] meaksh commented on #2635
FYI I've just created https://github.com/cobbler/cobbler/pull/2636 which should prevent the situation we're facing here

[2021-05-18 11:49] nodeg commented on #2635
Awesome! Thank you Pablo!

[2021-05-19 11:37] SchoolGuy opened #2637 "Autoyast validation inside Cobbler"
### Is your feature request related to a problem?

Kickstart files can be validated inside Cobbler. This would be good to have for autoyast as well.

### Provide a detailed description of the proposed feature

See above.

### Alternatives you've considered

Pushing this back: Not applicable as templating is too dynamic and thus manual validation is not an option.

### Additional information

Ortho

[2021-05-19 11:38] SchoolGuy opened #2638 "Preseed validation"
### Is your feature request related to a problem?

Same as #2637

### Provide a detailed description of the proposed feature

See above

### Alternatives you've considered

See related issue

### Additional information

Same as in the similar above mentioned issue.

[2021-05-24 09:02] sujit-jadhav commented on #2587
@SchoolGuy  Are you saying that "cobbler get-loaders" will be deprecated in Cobbler 3.3 ?
When is Cobbler 3.3 release expected? Omnia already using Cobbler version 2.8.5, can you suggest us how to overcome this issue?
We are getting  "HTTPS Error 404 - Not Found" for "https://cobbler.github.io/loaders/README"

[2021-05-24 09:24] SchoolGuy commented on #2587
@sujit-jadhav Yes it is removed already on `master`. The content from our website was also removed. The bootloaders which were present were very out of date (multiple-years), thus full of security flaws and missing features.

Cobbler 3.3.0 is expected to be released end of June but since we have two major PRs open, I expect the version to be deleyed until we have them in and Cobbler is stable agai

[2021-05-25 12:04] nodeg opened #2644 "Extend `CobblerException` class to include more exceptions"
### Is your feature request related to a problem?

No.

### Provide a detailed description of the proposed feature
After replacing most of the generic CX exceptions with #2643, I saw that there are still some generic CX exceptions which could not be replaced with Python built-ins. To replace those with more meaningful ones we should extend the `CobblerException` class to include more exceptions in

[2021-05-26 13:01] nodeg opened #2646 "Missing tftpboot directories"
### Describe the bug

When editing a system or triggering a Cobbler sync some required folders under `/srv/tftpboot/grub/` are not written and populated correctly. Especially `/srv/tftpboot/grub/system/<MAC>`and  `/srv/tftpboot/grub/system_link/<SYSTEM_NAME>` is missing.

### Steps to reproduce

1. Create or edit a system
2. Check the directory structure and files in `/srv/tftpboot/grub/`
3. Obser

[2021-05-26 13:03] SchoolGuy commented on #2646
@nodeg If possible please put the creation of the folder in the area where other directories for TFTP are created so we have them logically grouped together.

[2021-05-27 13:09] Gitrrrr opened #2648 "Sles15sp3 failed with autoyast profile is not a valid XML document"
### Describe the bug

1. autoyast profile is not a valid XML document error shown when performing the installation on sles15sp3.
NOTE: Same XML work well for sles15sp2

### Steps to reproduce

1.Deploy sles15sp3 OS using cobbler

![sles15sp3_issue](https://user-images.githubusercontent.com/33834514/119831288-c29c2500-bf1a-11eb-8f5a-0172a04ebf59.jpg)

[2021-05-27 14:21] SchoolGuy commented on #2648
@nodeg @watologo1 I guess you want to check this inside Orthos and investigate...

[2021-05-27 14:22] SchoolGuy commented on #2648
@Gitrrrr May I ask what Cobbler version you are on?

[2021-05-27 15:29] Gitrrrr commented on #2648
@SchoolGuy I am using the 2.8.2 cobbler version.

[2021-05-27 15:46] SchoolGuy commented on #2648
@Gitrrrr Do you have a way to possibly reproduce this on`master` or the latest stable release?

[2021-05-27 18:16] Gitrrrr commented on #2648
@SchoolGuy Due to we are running 24x7 different os on our huge database lab. We can not move to latest stable release.

[2021-05-28 09:02] nodeg commented on #2646
The issue is inherited from #2575. @watologo1 it would be good to get this fixed before @SchoolGuy's "Convert Cobbler Item FIELDS array of arrays to Python properties" (#2433) PR. Then we could spare us the rebase and the general workflow would be a lot easier.

[2021-05-30 14:20] SchoolGuy commented on #2648
@Gitrrrr Would you mind sending me a mail (cobbler.project@gmail.com) and explaining what would be required so you can move to the next stable release? If you are okay to do so in public, we could alternatively have an open GitHub discussion maybe? I would really love if I could get you of Python 2 and pleasure myself with the fact that no bugs are coming in for old releases.

[2021-05-30 14:49] Gitrrrr commented on #2648
@SchoolGuy I will do that but at this point, I don't think it is a cobbler version issue because the same works well with sles15sp2. if you can guide which file need to look for this kind of issue or any way for debugging this it will really helpful.

[2021-05-30 20:51] SchoolGuy commented on #2648
@Gitrrrr I would consider using an XML Linter and then looking for the place where the XML broke. Normally for this part you should have a snippet. Look at the snippet and then try to figure out what part of the snippet Code or data is causing the trouble. Snippets are normally found at `/var/lib/cobbler/snippets` if I am not mistaken.

[2021-06-03 08:21] Alex-Souslik opened #2657 "Cobbler API doesn't delete all system files"
### Describe the bug

When I delete a system through XMLRPC API its files in ````/var/lib/tftpboot/grub/{system,system_link}/```` remain until sync.
As a results I can't create a new system with that name and/or mac until I trigger a sync with can be quite expensive at times.

### Steps to reproduce

1. Create a system with macs in Cobbler.
2. Delete it with ```xmlrpc.client.ServerProxy(http://cob

[2021-06-03 08:33] SchoolGuy commented on #2657
@Alex-Souslik Thanks for the report! I think I already have a clue where to look. So logs are not required from my side. This will definitely be fixed for the next release 3.3.0.

[2021-06-03 08:34] SchoolGuy commented on #2657
I can also confirm that this bug will be present when using the CLI, as the CLI is using the XMLRPC API at the current point, as well as the terraform provider.

[2021-06-07 20:27] genereese opened #2659 "Cobbler Import fails on Fedora 34 Workstation"
### Describe the bug

Attempting an import of locally mounted installation media fails on Fedora 34

Attempting to import locally mounted media fails with complaints about signature imports:

[code]

Additionally, updating and then reloading the signature data also fails:

[code]

### Steps to reproduce

1. Perform fresh installation of Fedora-34 Workstation
2. Install cobbler (dnf install Cobbler

[2021-06-07 20:44] AlbertBraden opened #2660 "cobbler get-loaders fails on Centos 7 new install"
### Describe the bug

cobbler get-loaders fails with 404 error on Centos 7 new install

### Steps to reproduce

1. Install Centos 7 from https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2
2. Install cobbler and its requirements:

yum install -y epel-release
yum upgrade -y
yum install -y net-tools bind-utils pykickstart syslinux fence-agents rsync debmirror dhcp wget
yum in

[2021-06-07 20:45] AlbertBraden commented on #2660
This seems pretty new; I installed cobbler on centos 7 a few weeks ago and did not encounter it.

[2021-06-08 06:59] nodeg commented on #2660
We removed the `get-loaders` support with #2572 but this should not affect you since you are still on version 2.8.5. But together with this the bootloaders from the Cobbler website were removed, too. See https://github.com/cobbler/cobbler.github.io/commit/3d9d3c3dcf6d5acf4ad24a52643a8d1d426fc9cb
@SchoolGuy Any suggestions on how we should proceed here since version 2.x is [EOL](https://github.com/

[2021-06-08 07:08] nodeg commented on #2659
You are importing a net install image which is not supported, [yet](https://github.com/cobbler/cobbler/issues/2623). We only support importing a [full DVD image](https://cobbler.readthedocs.io/en/latest/quickstart-guide.html#download-an-iso-image). In case of Fedora 34 I was not able to find a full DVD, just a live ISO with which the import will fail, too.

[2021-06-08 13:59] SchoolGuy commented on #2660
@AlbertBraden The bootloaders of our website should have never been used in the first place. They were not updated for years and since I cannot guarantee for the content of it, I have taken them down. As said in other discussions and issues, I am expecting people to get them for themselves from the distros for numerous reasons. I am very sorry but updating, signing, as well es publishing the bootl

[2021-06-08 14:08] AlbertBraden commented on #2660
Is there a document that explains how to manually update the bootloaders?

[2021-06-08 15:23] SchoolGuy commented on #2660
@AlbertBraden They should be by the distro you want to install at least. And then you can use the normal workflows of Cobbler.

[2021-06-08 15:32] genereese commented on #2659
The problem appears to be with the signatures and the signature parsing.

Regardless of which distro / media I attempt, I receive the same python error:

[code]

I even built the RPMs, myself, from the latest git from this repo and receive the same error.

Even attempting to simply reload the signatures (unrelated to the import), it fails. Is the latest signature data (or the code which parses it)

[2021-06-08 16:17] genereese commented on #2659
Update:

I kept encountering the same errors so I wiped the system and started fresh with a download of Cobbler from the Fedora 34 repo.

The 'signature reload' function still doesn't work, and attempting to import Fedora 34 (you can obtain a full installation DVD from here: https://download-ib01.fedoraproject.org/pub/fedora/linux/releases/34/Server/x86_64/iso/) still fails with a key error.

Howe

[2021-06-08 20:49] SchoolGuy commented on #2659
@genereese Have a look at https://libcobblersignatures.readthedocs.io/en/latest/ for the format. Updates need to be pushed to the the respective file in this repo and to cobbler.github.io website repo in the same org. The easiest way would be to copy fedora 33 and replace the regex and name with Fedora 34.

[2021-06-08 20:50] SchoolGuy commented on #2659
If you feel adventurous feel free to try the CLI of the library at https://github.com/cobbler/libcobblersignatures

[2021-06-08 21:38] AlbertBraden commented on #2660
After googling around it appeared that I needed syslinux.efi so I did this:

mkdir -p /usr/local/src/loaders/
cd /usr/local/src/loaders/
wget https://mirrors.edge.kernel.org/pub/linux/utils/boot/syslinux/syslinux-6.03.zip
unzip syslinux-6.03.zip
cp efi64/com32/elflink/ldlinux/ldlinux.e64 /var/lib/tftpboot/
cp efi64/efi/syslinux.efi /var/lib/tftpboot/

Then I edited dhcp.template and changed the fi

[2021-06-08 23:44] dansou901 commented on #2660
If I remember correctly version 6.0.3 has a bug. For efi, you should be using grub.

[2021-06-09 14:03] AlbertBraden commented on #2660
I searched on my Cobbler host and found /var/www/cobbler/ks_mirror/centos7-minimal-1908-x86_64/EFI/BOOT/grubx64.efi so I copied that into /var/lib/tftpboot/ along with grub.cfg, and changed the filename in dhcp.template, and that gives me a nice menu:

![menu](https://user-images.githubusercontent.com/72027910/121369026-83ea6f80-c909-11eb-98eb-8cf094b02239.PNG)

But it fails when I select an optio

[2021-06-09 14:32] AlbertBraden commented on #2660
Until recently, I would install cobbler and run get-loaders and it would just work. Now that running get-loaders has been replaced with a complex and difficult process that is new to Cobbler users, can we get a document to help us download and install the correct loader and menu?

[2021-06-09 15:01] SchoolGuy commented on #2660
@AlbertBraden Yes you may. Actually the (easy) process is already documented: https://cobbler.readthedocs.io/en/latest/quickstart-guide.html#importing-your-first-distribution

The more complex/advanced one is distributed over the whole docs but I am working on improving the docs...

[2021-06-09 15:03] SchoolGuy commented on #2660
Keep in mind that this is for the master branch and it might not work always.

For the 2.8.5 release you may have a look here: https://cobbler.readthedocs.io/en/release28/3_general/cobbler%20direct%20command.html#import

[2021-06-10 03:16] AlbertBraden commented on #2660
I read those two documents and I see the discussion about importing, but importing the distribution is a separate step from setting up the loader and menu, and I'm not seeing the loader/menu steps in there. I ended up spending most of the day experimenting with grub.cfg, and I ended up with this:

[root@area51-os-cobbler-01]# cat /var/lib/tftpboot/grub.cfg

set default="0"

function load_video {

[2021-06-10 23:07] dlawle opened #2665 "admin user and taskomatic failing to log in"
When attempting to delete a system via spacecmd or SUSE manager, it fails, and the cobbler.log gives me the following:

[code]

Any ideas?

[2021-06-11 06:01] SchoolGuy commented on #2665
@dlawle SUSE Manager Version? Cobbler Version?

The upstream testsuite and the internal Bug Tracker are not aware that we have a problem with the login.

[2021-06-11 06:54] SchoolGuy commented on #2660
@AlbertBraden Yes these files are normally there if Cobbler is the one generating the TFTP directory and the `grub.cfg` for you. If you want to UEFI Boot your machines take a look at the `mkgrub.sh` script. Documentation for it can be found here: https://cobbler.readthedocs.io/en/latest/scripts.html#mkgrub-sh

The script is not deployed with Cobbler 2.8.5 but works perfectly well with it since it

[2021-06-11 06:56] SchoolGuy commented on #2660
@dansou901 @hbokh Please help me out here if you have a bit of time. Maybe I am seeing this from the wrong standpoint, you have more experience as users as I have...

[2021-06-11 09:56] aguerson commented on #2339
Hi all,
I haved used cobbler since 10 years now. I have deployed fedora 18 to fedora 30 with this really good tool... But RHEL decide to change the policy in CentOS 8, and I decided to deploy Ubuntu now...
I have just installed cobbler on my fresh vz-linux 8 ( OpenVZ recompiled RHEL 8 packages ).
I have to download manually the default loaders since cobbler dev's decided to delete them, but now I

[2021-06-11 09:58] aguerson commented on #2339
I precise, I use this version / package from EPEL https://dl.fedoraproject.org/pub/epel/8/Modular/x86_64/Packages/c/cobbler-3.2.0-2.module_el8+10474+71f42bad.noarch.rpm

[2021-06-11 10:44] hbokh commented on #2660
Interesting! This is going to bite us too in time, on our now +1 year old Cobbler 3.1.2 on Debian Buster (not CentOS7).

FWIW, we have these loaders in `/var/lib/cobbler/loaders/`:

[code]

On my even older Cobbler 3.1.2 at $HOME, running `cobbler get-loaders` gives this output:

[code]

This might come in handy for @AlbertBraden to at least get some loaders in the right place.

In the mean time I

[2021-06-11 12:13] dlawle commented on #2665
SUSE Manager Version: 4.0.13
Cobbler 2.9.0
  source: ?, ?
  build time: Fri Feb 12 12:00:00 2021

One interesting thing to note here, is I see a lot of documentation point to setting
[code]
In /etc/cobbler/modules.conf, but this doesn't appear to work for us, we have to use
[code]
for functionality at all

[2021-06-11 12:53] AlbertBraden commented on #2660
This is a completely terrible experience for cobbler operators, and the timing is particularly bad as we are scrambling to build Centos 7 dev environments to test the migration to Centos 8, and then from Centos 8 to something else before the end of the year. If you could just make 2.8.5 work for a few more months (without the operator spending many hours hacking loaders and menus), that would be a

[2021-06-11 15:57] hbokh commented on #2660
`cobbler check` on CentOS7 and Cobbler 2.8.5 gives this informative output:

_Some network boot-loaders are missing from /var/lib/cobbler/loaders, you may run 'cobbler get-loaders' to download them, or, if you only want to handle x86/x86_64 netbooting, you may ensure that you have installed a *recent* version of the syslinux package installed and can ignore this message entirely. Files in this dir

[2021-06-11 16:11] AlbertBraden commented on #2660
Yes, UEFI is the issue, but UEFI works "out of the box" after running get-loaders. Without get-loaders it is a mess.

[2021-06-11 18:33] hbokh commented on #2660
I created an "archive" with the old loader files. I hope this can clean up your mess a bit.

https://github.com/hbokh/cobbler-loaders

[2021-06-14 13:41] SchoolGuy opened #2667 "Make use of the OBS for Package Builds"
### Is your feature request related to a problem?

Currently our packages are only built in the CI by GH Actions and Docker. We should offload this to a more specialized environment. The OBS is a perfect fit.

### Provide a detailed description of the proposed feature

The OBS builds all packages for our branches and PRs in the future.

### Alternatives you've considered

Maintaining our Docker so

[2021-06-14 17:36] oliver-yu commented on #1777
请大神们撸起袖子加油干，把ESXI UEFI模式启动的问题搞定一下，我熬夜了几晚上测试UEFI模式安装不成功。

[2021-06-15 06:17] SchoolGuy commented on #1777
@oliver-yu I hope that Google Translate was correct with the translation of Chinese but if it was, you may find the WIP PR here: https://github.com/cobbler/cobbler/pull/2416

Approximately by the end of the week or end of next week I will get this merged hopefully and then I will stabalize the current `master` branch, so we can get the new release out soon. But since this project has currently two

[2021-06-15 06:52] SchoolGuy opened #2668 "Create Python Wrapper Library for xorriso"
### Is your feature request related to a problem?

Currently the xorriso arguments are passed into the CLI call like the user desires. This may conflict with our default and would require manual code hacking so the conflicts are resolved.

### Provide a detailed description of the proposed feature

We implement a standalone library callable in Python which enables us to have native language bindin

[2021-06-16 06:18] SchoolGuy commented on #2665
@dlawle There is very weird things going on at your installation. SUMA Uses Cobbler 3.X.X and the change you just revealed would be an update step which is automatically handled. Thus I am a bit confused. Since your SUMA version appears to have an older Cobbler which is not and never was supported, I suggest we take this to the the SUSE Bugzilla. Feel free to paste the opened Bug here so I can do

[2021-06-17 09:59] vzhestkov commented on #2665
@dlawle, have you tried to run `spacewalk-service restart`? I've seen the same behavior, most probably /etc/rhn/rhn.conf was updated with the secrets, but either java or cobbler didn't get this change (most probably java)

[2021-06-17 11:20] razorbladex401 commented on #2472
any update on this or any workaround for this? trying to setup cobbler in an environment that has no direct internet access and facing the same problem.

[2021-06-17 11:34] SchoolGuy commented on #2472
So `cobbler get-loaders` was removed due to the fact that we can't provide safe and signed bootloaders. The effort is just too much. Thus for this subcommand there won't be any solution. The upcoming release 3.3.0 won't have a solution for the general problem. This is currently a two man show and we deemed DHCPv6 support the most important thing for now. However the refactorings going on behind th

[2021-06-22 08:44] heroin-moose opened #2674 "Cannot toggle iPXE support via cobbler CLI tool"
### Describe the bug

It's not possible to toggle iPXE support, the API responds with a type check error:

[code]

### Steps to reproduce

1. Build fresh RPMs from master
2. Create a distro
3. Create a profile for that distro
4. Run `cobbler profile edit`

### Expected behavior

The given command should not fail.

### Cobbler version

[code]

### Operating system

CentOS 8.

### Cobbler log

[code

[2021-06-22 08:51] heroin-moose opened #2675 "cobbler sync fails with a Type Error"
### Describe the bug

Running `cobbler sync` fails with the Type Error.

### Steps to reproduce

1. Create a distro
2. Create a profile
3. Run `cobbler sync`

### Expected behavior

This command should not fail.

### Cobbler version

[code]

### Operating system

CentOS 8.

### Cobbler log

[code]

[2021-06-22 09:57] SchoolGuy commented on #2674
The problem is that the value on the CLI is always a str. Currently we need to convert it with the `utils` method. Sadly we can't do that in the CLI since we can't distinguish that there. Thus we need to do it in the model. This is affecting all boolean attributes.

[2021-06-22 09:58] SchoolGuy commented on #2675
This needs to use the new `to_dict` method to not fail. The logger and other internal attributes of an interface need to be excluded from the process.

[2021-06-22 16:34] heroin-moose opened #2678 "Cannot enable PXE menu for a profile"
### Describe the bug

Running the following command fails:

[code]

### Steps to reproduce

1. Create a distro (ppc64le)
2. Create a profile
3. Try to enable PXE menu

### Expected behavior

The command should not fail.

### Cobbler version

[code]

### Operating system

CentOS 8.

### Cobbler log

[code]

[2021-06-22 18:54] mwaldron104 opened #2679 "Snippets fail to render after upgrade to 3.2.1"
I upgraded a Cobbler 2.8.5 installation to 3.2.1, following guidelines posted by others, most things seem to work except that when I try to view the automatic installation template on the webgui, I get an error. If I comment out all the SNIPPET lines in the kickstart file, then it renders okay. Any SNIPPET line that I un-comment triggers the rendering error, so it fails to render any snippet.

Fro

[2021-06-22 21:31] heroin-moose opened #2680 "Sync fails during writing PXE file"
### Describe the bug

`cobbler sync` fails with the following error if some of my systems have
bootloaders set to "pxe":

[code]

### Steps to reproduce

1. Create a x86\_64 distro with bootloader "pxe"
2. Create a profile with bootloader "pxe"
3. Create an OS with bootloader "pxe"
4. Run cobbler sync

### Expected behavior

The command should not fail.

### Cobbler version

[code]

### Operating

[2021-06-22 21:41] heroin-moose opened #2681 "New systems have two identical interfaces"
### Describe the bug

Running `cobbler system add --name new --profile foobar --mac 11:22:33:44:55:66`
creates a system with two identical interfaces:

[code]

### Steps to reproduce

1. Create a new system via `cobbler system add`

### Expected behavior

There should be only one interface instead of two.

### Cobbler version

[code]

### Operating system

CentOS 8.

### Cobbler log

[code]

[2021-06-22 21:59] heroin-moose commented on #2680
I suspect that this may relate to #2681, but I am not sure yet.

[2021-06-23 06:49] SchoolGuy commented on #2681
This can in my eyes not happen but since it does anyway, I believe that this is happening somewhere in `xapi_object_edit` in the Lines 1950 and 1966. I will try to debug.

[2021-06-23 07:18] #2678 closed

[2021-06-23 07:22] SchoolGuy commented on #2680
Arghhh I tested that case and it is still bugged. I believe I needs to debug that deeper...

[2021-06-23 07:24] SchoolGuy commented on #2680
That is happening due to the fact that I rewrote how children and parents are resolved. This means at this point we need to look a child up and now we do this with a not exisiting one which means the children dict is not consistent or I havn't added a correct skip condition (e.g. when there are no children for an object).

[2021-06-23 07:27] SchoolGuy commented on #2679
Sadly this says nothing about the reason why the templating is failing. We have tests which should confirm that it should work, I know they are not perfect but it should be enough that not all snippets are failing. I will try to reproduce and check if that is still applicable for `master` or if it is fixed automatically by the next release.

[2021-06-23 09:22] SchoolGuy commented on #2680
Okay the code in question is https://github.com/cobbler/cobbler/blob/998e3f5ab9c386615a58db2f0e3e4f62166bf08b/cobbler/utils.py#L608-L612

To my understanding the child should never be `None` since we get the list of children from the item directly. Thus I believe the root cause is that a child is wrongfully in another part of the code.

[2021-06-23 09:27] SchoolGuy commented on #2680
I believe to find the root cause we need to check the following things:

- Items: Does the children Setter and Getter work as intended.
- Collections: Does adding a child object (e.g. profile) work in relation to if it gets added to the parent item.
- If above gives no result:
  - API: Do we have side effects when editing an object?
  - Remote: Do we have side effects from xapi object edit for exa

[2021-06-23 09:33] SchoolGuy commented on #2680
Okay I found a possible candidate: In the file `collection.py` is the child added but it never gets removed in the specific other collections.

[2021-06-24 15:00] mwaldron104 commented on #2679
I was mistaken in the version I upgraded to, it was actually 3.2.0 not 3.2.1. After upgrading to 3.2.1, this problem went away. It is now successfully rendering the snippets.

[2021-06-24 15:00] #2679 closed

[2021-06-24 21:11] heroin-moose opened #2688 "Attributes are not inherited"
### Describe the bug

The following attributes (if not all) are not inherited by default:

 - Automatic Installation Template
 - Automatic Installation Metadata
 - TFTP Boot Files
 - Boot loaders
 - Kernel Options
 - ... and so on

 Manually setting simple (string) attributes to `<<inherit>>` re-enables inheritance, but it does not work for lists.

### Steps to reproduce

1. Run `cobbler distro ad

[2021-06-24 21:41] heroin-moose opened #2689 "[feat] Trigger /etc/dhcpd.conf update when changing iPXE attribute"
### Describe the bug

Without manual `cobbler sync` toggling iPXE attribute does not trigger /etc/dhcpd.conf update.

### Steps to reproduce

1. Create a distro, a profile and a system with "pxe" bootloader
2. Run `cobbler system edit --name test --netboot-enabled 1 --enable-ipxe 1`
3. Check /etc/dhcpd.conf
4. Run `cobbler sync`
5. Check /etc/dhcpd.conf again

### Expected behavior

Each time the

[2021-06-24 21:50] heroin-moose opened #2690 "Removing a bootloader from system's configuration does not trigger cleanup"
### Describe the bug

If a system has several bootloaders, removing one of them does not trigger a cleanup in TFTPD directory.

### Steps to reproduce

1. Run `cobbler distro add --name dtest --arch x86_64 --kernel-options 'foo=bar' --kernel /root/vmlinux --initrd /root/initramfs.gz --boot-loaders 'pxe grub'`
2. Run `cobbler profile add --name dtest --distro dtest --boot-loaders 'pxe grub'`
3. Run

[2021-06-24 21:51] heroin-moose commented on #2681
Fixed in master, closing?

[2021-06-25 06:35] SchoolGuy commented on #2393
Since I broke `master` with one of my PRs and I want to ship the new version rather sooner then later, I think I need to reschedule this for 3.4.0. We have DEBs so it is not pressing for now imho.

[2021-06-26 01:08] heroin-moose opened #2691 "Bootloader template override"
### Is your feature request related to a problem?

There are plenty of use cases where the default templates are too limited. For example, consider Boot from SAN.
The configuration for iPXE would roughly look like this:

[code]

### Provide a detailed description of the proposed feature

I suggest adding new configuration option "boot_loaders_templates" to a distro,
a profile and a system. That op

[2021-06-27 06:35] #2674 closed

[2021-06-27 06:36] #2681 closed

[2021-06-27 08:38] SchoolGuy commented on #2680
I can't reproduce this at all but even worse I don't get any config files for any bootloader configs at all... My steps were the following (taken from bash history):

- `docker run -it --rm --name cobbler-dev -v $PWD:/code -v /mnt:/mnt cobbler-dev`
- `./docker/develop/scripts/setup-supervisor.sh`
- `cobbler import --name=opensuse153 --arch=x86_64 --path=/mnt`
- `cobbler system add --name=test --pr

[2021-06-27 08:41] heroin-moose commented on #2680
You have to enable netboot for the system.

[2021-06-27 09:04] SchoolGuy commented on #2680
Okay when not setting a bootloader on the system it gets not inherited by the distro. This needs to be fixed aswell.

[2021-06-27 09:05] SchoolGuy commented on #2680
Okay now with `--netboot-enabled=1` and manually set bootloaders, I am able to reproduce this.

[2021-06-27 09:06] heroin-moose commented on #2680
You do? I can't anymore xD

[2021-06-27 09:28] SchoolGuy commented on #2680
Okay so I can't reproduce above original stacktrace. My comment was referring to the stacktrace in the Gitter Chat

[code]

This is actually not a bug but a behavior change. If you do a

[code]

for example the inheritance to the profile is working again. I believe that this will be a usability problem in many other places, so I think we need to improve this situation before the release because mo

[2021-06-27 09:29] SchoolGuy commented on #2680
I will close this issue because noone is able to reproduce it anymore, the discussion about the improvements we can do in the related PR or in another issue.

[2021-06-27 09:29] #2680 closed

[2021-06-27 09:34] SchoolGuy commented on #2690
Since lists are mutable we have no way of discovering this except we turn the property into a `frozenset`. But this will lead to other big side effects and effectively means we have to test this change again very carefully.

[2021-06-27 09:38] SchoolGuy commented on #2689
This we can achieve through adding logic to:

https://github.com/cobbler/cobbler/blob/bb089ad80021ff765fb02dc08933b1fb54ac540f/cobbler/items/profile.py#L277-L287

and

https://github.com/cobbler/cobbler/blob/bb089ad80021ff765fb02dc08933b1fb54ac540f/cobbler/items/system.py#L1253-L1261

[2021-06-27 09:40] SchoolGuy commented on #2688
I found that this indeed works if you manually set this for a list because in most lists I manually coded this. I tried it out myself with bootloaders but I understand that this should be the default behavior. I think we need an inherit value for lists, as well as dicts. Or we need to implement a wrapper class which is immutable for both lists and dicts so we can manually control this inside the w

[2021-06-27 12:12] SchoolGuy commented on #2689
I know how and where to fix this. I will implement this tomorrow at work.

[2021-06-28 22:15] heroin-moose opened #2692 "Cannot restart Cobbler daemon if PXE menus exist"
### Describe the bug

After creating a simple boot menu Cobbler cannot be restarted.

### Steps to reproduce

1. `cobbler distro add --name foo ...`
2. `cobbler profile add --name foo ...`
3. `cobbler menu add --name bar`
4. `cobbler profile edit --name foo --enable-menu 1 --menu bar`
5. `systemctl restart cobblerd`

### Expected behavior

It should be possible to restart Cobbler.

### Cobbler ver

[2021-06-29 05:44] SchoolGuy commented on #2692
This is just an error in the order of loading items on startup. I will do it today.

[2021-06-29 07:32] heroin-moose commented on #2692
And is it normal that menu.json contains a lot of unused field like mgmt_classes or autoinstall_meta?

[2021-06-29 07:33] SchoolGuy commented on #2692
Yes because these are fields that are inhterited by `item.py`. That needs cleanup in one of the next versions indeed.

[2021-06-29 09:51] SchoolGuy opened #2693 "Add indicators for grub distro level menus"
### Is your feature request related to a problem?

This issue is related to https://github.com/cobbler/cobbler/pull/2217

Currently Grub does not indicate that the menu structure contains submenus. Thus we desire that because not everyone knows that we are using submenus now.

### Provide a detailed description of the proposed feature

An indicator in the menu which shows that this is not a boot e

[2021-06-29 11:10] SchoolGuy commented on #2693
This was refactored with https://github.com/cobbler/cobbler/pull/2575 so sadly the easy way we had then doesn't work. I will investigate deeper.

[2021-06-29 11:17] SchoolGuy commented on #2693
This feature request was raised against Cobbler version 3.1.2 since that is was SUMA uses atm. Since the refactoring by @tpw56j was done, I need to reproduce that on `master` now.

@tpw56j do you have an idea how to add an indicator. I saw your code and was wondering where the most top level menu is generated for all loaders? In `make_pxe_menu` maybe but I am not sure right now.

[2021-06-29 17:43] SchoolGuy commented on #2693
As written in #2684 I found that the children list has invalid entries and thus i need to dive deeper there first.

[2021-06-29 17:53] tpw56j commented on #2693
@SchoolGuy I will try to remember how the menu is formed, and maybe I will have ideas.

[2021-06-29 17:54] SchoolGuy commented on #2693
@tpw56j If not, I will dive into the code deep myself, please just give me ping in any of both cases. :)

[2021-06-29 17:59] tpw56j commented on #2693
@SchoolGuy I'm very busy right now and will only be able to do this at the end of the week.:(

[2021-06-29 18:01] SchoolGuy commented on #2693
@tpw56j That is totally fine. Don't feel bad about it. If you look at the end of the week and update if you took a look or not that is enough. If it is closed by then you just know that I now understand your code... ;)

[2021-06-29 20:08] tpw56j commented on #2693
@SchoolGuy Maybe this problem can be solved by changing the submenu templates?

For example by adding the '>' symbol  in front of $menu_name to `cobbler/templates/boot_loader_conf/grub_submenu.template`:
submenu '>$menu_name' --class gnu-linux --class gnu --class os {
$menu_items
}

[2021-06-29 20:10] heroin-moose commented on #2693
Currently I cannot find any grub menus at all in master. There is an iPXE menu (ipxe/default.ipxe), a PXELINUX menu (pxeconfig.cfg/default), but there is no Grub menu at all. Only per-system records.

[2021-06-29 20:15] SchoolGuy commented on #2693
@tpw56j Thanks for the suggestion. I will try to apply and check it tomorrow!

[2021-06-30 10:03] sujit-jadhav commented on #2587
@SchoolGuy Can you please let me know aprobable release date for Cobbler 3.3.0 ? Earlier you mentioned it will be released endof June.

[2021-06-30 11:18] SchoolGuy commented on #2587
@sujit-jadhav The roadmap is the following:

- Fixup the current broken `master`
- Enabled `buildiso` for having UEFI
- Test Cobbler then throughly
- Release Cobbler 3.3.0

BUT you will then lose the webinterface which is developed separately and is not yet done. So Cobbler itself will - if everything goes according to plan - be released by the end of July now. On the webinterface I can't put a da

[2021-07-01 20:14] aguerson opened #2697 "Integration of support of ubuntu 20.04 with cloud-init"
Integration of support of ubuntu 20.04 with cloud-init deploiement

1) I used cobbler package from EPEL8 on vz-linux 8 ( OpenVZ implementation of CentOS 8 ) https://dl.fedoraproject.org/pub/epel/8/Modular/x86_64/Packages/c/cobbler-3.2.0-2.module_el8+10474+71f42bad.noarch.rpm

I assumed you have a cobbler ready to use (

[code]

Be careful, the loaders on the cobbler repo does not exist anymore...

[2021-07-01 20:15] aguerson commented on #2576
https://github.com/cobbler/cobbler/issues/2697

[2021-07-01 20:15] aguerson commented on #2339
I did it !
https://github.com/cobbler/cobbler/issues/2697

[2021-07-02 17:02] #2693 closed

[2021-07-02 17:14] SchoolGuy commented on #2611
For Mercurial we can use this wrapper:

- PyPi: https://pypi.org/project/python-hglib/
- Docs: https://www.mercurial-scm.org/wiki/PythonHglib

[2021-07-02 17:23] SchoolGuy commented on #2697
@aguerson Thanks a lot for this guide! I will try to make this work natively with a future Cobbler release. Would you mind if we move that from here into a GH discussion into the "Show and Tell" section since we do already have issues for the topic you opened?

[2021-07-04 08:15] aguerson commented on #2697
@SchoolGuy Well, As you wish. If it could help the community and the integration of cloud-init, it is OK.

P.S.: For all users : curtin is very strange ;)

[2021-07-04 13:30] #2697 closed

[2021-07-05 10:59] SchoolGuy commented on #2660
@opoplawski Could you create a patch which removes `get-loaders` from any version available in the RH Ecosystem please?

[2021-07-05 14:06] nodeg opened #2699 "TypeError: 'Distro' object is not subscriptable"
### Describe the bug

Cobbler cannot be startet with the current master branch.

[code]

items/item.py, line 720ff:
I added some logger information to output the keys.
[code]

Cobbler log:

[code]

My guess is that the `boot_loader` key cannot be found. Maybe it should be `boot_loaders` instead.

### Steps to reproduce

1. Install Cobbler from source (master branch)
2. Start Cobbler via systemd
3.

[2021-07-07 21:32] mnys176 opened #2701 "`cobbler reposync` fails due to unknown type RepoBreeds.NONE"
### Describe the bug

In **Cobbler v3.2.1**, `cobbler reposync` fails and throws an exception that reads "unable to sync repo (<repo-name>), unknown or unsupported repo type (RepoBreeds.NONE)".

### Steps to reproduce

1. Install and build **Cobbler v3.2.1** from `master`
2. Add repos, say, **Fedora 28**
[code]
3. `$ cobbler reposync`

### Expected behavior

A `repo` entity is created with the spe

[2021-07-08 06:17] SchoolGuy commented on #2701
Since we only increase the tag before we release the new version this is not a problem with Cobbler 3.2.1 but with `master`. However you are right that we need to fix this.

[2021-07-08 11:35] SchoolGuy commented on #2625
This is linked to https://github.com/cobbler/cobbler/issues/1492

[2021-07-08 11:35] SchoolGuy commented on #1492
I superseede this issue with #2625

[2021-07-08 11:35] #1492 closed

[2021-07-09 05:55] nodeg commented on #2511
Fixed with #2539.

[2021-07-09 05:55] #2511 closed

[2021-07-09 14:59] SchoolGuy opened #2703 "Support chroot installations"
### Is your feature request related to a problem?

It was pointed out to me in an E-Mail that Cobbler either doesn't support it or it is not documented, how to install Linux systems into chroot environments with Cobbler.

### Provide a detailed description of the proposed feature

We should support:

- Debbootstrap: https://linux.die.net/man/8/debootstrap
- Yumbootstrap: https://github.com/dozzie/

[2021-07-12 09:39] nodeg commented on #2692
This should be fixed with #2684. At least I can restart Cobbler successfully.

[code]

[code]

[code]

[2021-07-12 09:56] nodeg opened #2706 "Remove Yaboot"
Since we do not support Yaboot anymore, we should remove it to clean up our code base.

At the moment we get a lot of warnings regarding it in the Cobbler log:

[code]

[code]

[2021-07-12 10:04] nodeg opened #2707 "Profile: fix filename inheritance"
### Describe the bug

A lot of duplication in the Cobbler log and the following info message:
[code]

### Steps to reproduce

1. Create distro (`cobbler distro add --name dtest --kernel /home/dom/cobblert/kernel --initrd /home/dom/cobblert/initrd`)
2. Create profile (`cobbler profile add --name ptest --distro dtest`)
3. Check out the Cobbler log

### Expected behavior

### Cobbler version

PR #268

[2021-07-12 10:33] SchoolGuy commented on #2707
This can be fixed through setting the default in a profile for filename to `""` instead of the current `<<inherit>>`

[2021-07-12 10:37] SchoolGuy commented on #2706
Well it is [really dead](https://github.com/yaboot/yaboot) but I think we should include it in this release and mark it in the notes as deprecated. With 3.3.1 or 3.4.0 we can remove it then.

[2021-07-12 10:40] didier13150 opened #2708 "No menu was displayed after pxe boot (3.2.0 on el8)"
### Describe the bug

No menu was displayed after pxe boot. Install hangs just after download successfully pxelinux.0 via tftp

### Steps to reproduce

1. Install cobbler 3.2.0 in fresh vm (rocky 8): https://gist.github.com/didier13150/44b77c74fab2a9047647f3ad1ad89b9b
3. Boot pxe new vm

### Expected behavior

Menu displayed on pxe client

### Cobbler version

from epel 3.2.0 on el8

### Operating

[2021-07-12 10:57] nodeg commented on #2707
This issue is just a reminder.

[2021-07-12 10:58] nodeg commented on #2706
Good, I agree.

[2021-07-12 11:07] SchoolGuy commented on #2708
@didier13150 Did you run a `cobbler sync` before or not? In case no, could you do that and try again please? I don't expect magic to happen but this should work and reportedly it does at most installations I know.

[2021-07-12 11:37] mnys176 commented on #2708
I saw this issue as well. Just a note, in 3.2.0 the `cobbler get-loaders` command is still implemented, but the URI it pulls the loaders from doesn't exist anymore. Try `cat /var/lib/tftpboot/pxelinux.0` after the `cobbler sync`. If you get a GitHub 404 Not Found HTML page, this is the same problem I ran into a while back. I'm no expert on the implementation of `cobbler sync`, but as far as the lo

[2021-07-12 11:41] SchoolGuy commented on #2708
If that is actually the case then this can be closed as a duplicate of https://github.com/cobbler/cobbler/issues/2660

[2021-07-12 11:41] SchoolGuy commented on #2708
@didier13150 Please confirm if this is the case.

[2021-07-12 11:52] mnys176 commented on #2708
@SchoolGuy One last note, `cobbler get-loaders` didn't exactly fail for me like in #2660, the files it got were just garbage.

[2021-07-12 11:56] SchoolGuy commented on #2708
@mnys176 Well the reason is the same as far as I understand. I removed the outdated upstream bootloaders.

[2021-07-12 12:07] didier13150 commented on #2708
@SchoolGuy yes cobbler sync is the last line in my install process (I try to restart cobblerd as well and resync).  I'm not sure it's a duplicate bug report, because version are mismatch (2.8.5 != 3.2.0) even the workaround was the same, delete the get-loaders target. Many thanks for your fast reply.

@mnys176 I don't have the idea to check type of pxelinux.0. It's a html file (which contains 404

[2021-07-12 15:48] zhukunzk1234 commented on #2708
Download all the content on this page without version number `cobbler/cobbler.github.io@3d9d3c3`.

[2021-07-12 15:50] zhukunzk1234 commented on #2708
Download all the content on this page without version number `https://github.com/cobbler/cobbler.github.io/commit/3d9d3c3dcf6d5acf4ad24a52643a8d1d426fc9cb`

[2021-07-12 15:55] zhukunzk1234 commented on #2708
cobbler/cobbler.github.io @3d9d3c3

[2021-07-14 11:54] nodeg opened #2709 "Cobbler sync: distinguish between DHCPv4 and DHCPv6"
### Describe the bug

When using the feature to manage DHCP with Cobbler, it does not distinguish between DHCP v4 and v6. When you only want to manage DHCPv4 and you only have this correctly configured you ran into issues when using `cobbler sync --dhcp`.

### Steps to reproduce

1. Add distro, profile, system
2. Enable dhcp management in settings.yaml
3. Run `cobbler sync --dhcp`

### Expected be

[2021-07-14 14:21] nodeg commented on #2689
This is no regression but a feature request. Changing the label.

[2021-07-15 07:54] nodeg opened #2710 "Cobbler sync: DNS does not work"
### Describe the bug

### Steps to reproduce

1. Set `manage_dns` to true in `/etc/cobbler/settings.yaml`
2. Restart cobblerd
3. Add distro, profile, system
4. Do a `cobbler sync` (must be done at least once before using `cobbler sync --dns`)

### Expected behavior

`cobbler sync` and `cobbler sync --dns` should work.

### Cobbler version

#2684

### Operating system

openSUSE Tumbleweed

### Cobb

[2021-07-26 07:08] #2692 closed

[2021-07-26 07:08] #2699 closed

[2021-07-26 07:08] #2707 closed

[2021-07-26 15:27] #2710 closed

[2021-07-27 13:31] nodeg commented on #2688
Is this still an issue?

I did some quick testing and got the following result:

[code]

[2021-07-27 13:42] nodeg commented on #2657
On the current master branch I was not able to reproduce this when using the CLI. I added a distro, profile and a system and then removed the system:

[code]
[code]
[code]

[2021-07-27 13:44] heroin-moose commented on #2688
It works, I've tested it.

[2021-07-27 13:50] nodeg commented on #2688
Good to know. Thanks for the update @heroin-moose.

[2021-07-27 13:50] #2688 closed

[2021-07-27 17:21] xfm396 opened #2718 "cobbler startup fails after install from source on ubuntu 20.04"
I followed the online instruction for the latest cobbler version (https://cobbler.readthedocs.io/en/latest/installation-guide.html) and wondering if someone already came cross this kind of issue before.

[code]
the IP for the server and next_server were set in /etc/cobbler/settings.yaml, and not set dhcp and dns yet.
Can anyone point out the righ direction to fix this issue?
Thanks

[2021-07-27 20:15] nodeg commented on #2718
You have not the necessary packages installed on your system. Our documentation is sadly not on point and needs dramatic improvement.
Here are 2 of your missing packages you need to install:
[code]
See e.g. https://github.com/cobbler/cobbler/blob/master/docs/requirements.rtd.txt for some of the missing Python packages.

[2021-07-27 23:39] heroin-moose commented on #2718
Another instance is already running?

[2021-07-28 09:06] nodeg opened #2719 "[feat] Improve the process of updating Cobbler"
### Is your feature request related to a problem?

Both a feature request and something to solve the problem of updating Cobbler.

### Provide a detailed description of the proposed feature

When updating Cobbler not only from higher versions but also from minor releases, there are breaking changes which have to be handled.

#### 2.x --> 3.0.0
- use v2 to v3 script

#### 3.0.0 --> 3.0.1
-  `module

[2021-07-28 16:55] SchoolGuy opened #2721 "Port mkgrub.sh script to Python"
### Is your feature request related to a problem?

While working on #2416 I noticed that it would be good to have the functionallity of the `mkgrub.sh` script available in Cobbler since we need `grub.efi` available for the ISO to be bootable again.

### Provide a detailed description of the proposed feature

- Port the script to Python
- Provide an API endpoint
- Provide a CLI command

### Alterna

[2021-07-29 11:29] nodeg opened #2722 "CLI: Unable to set values other than strings"
### Describe the bug

At the moment it is **not posibble** to set anything other than a string via the CLI.

### Steps to reproduce

1. Create a distro and a profile
2. Create a system
3. Try to set e.g. the Baud rate or the # of virt CPUs of the system

[code]

### Expected behavior
All values should be settable via the CLI.

### Cobbler version

Current master branch.

[code]

### Operating syst

[2021-07-29 19:36] nodeg commented on #2659
@genereese Could you give it another try, please With https://github.com/cobbler/cobbler/pull/2713 and https://github.com/cobbler/cobbler.github.io/pull/167 merged, the import for F34 should be successful now.

[2021-07-29 19:54] nodeg commented on #1359
iPXE support was introduces with https://github.com/cobbler/cobbler/pull/2537.

[2021-07-29 19:54] #1359 closed

[2021-07-30 06:33] nodeg commented on #1828
GRUB 2 is alreday supported and the default. Syslinux is still needed according to @SchoolGuy and Yaboot will get removed with #2723.

[2021-07-30 06:33] #1828 closed

[2021-07-30 07:48] SchoolGuy opened #2725 "Use an ORM for serialization and deserialization"
### Is your feature request related to a problem?

Currently we implement many validators and serialization logic by ourselves. This is error prone, requires good testing and in case of the MongoDB serializer is not always successfully maintained.

### Provide a detailed description of the proposed feature

I propose that we use [Marshmallow](https://marshmallow.readthedocs.io/en/stable/index.html

[2021-07-30 09:18] nodeg commented on #2722
TODO:

- fix the problem for ENUMS like the Baud rate from above.

[2021-07-30 10:17] SchoolGuy commented on #2722
Reopen because only partly fixed.

[2021-07-30 12:08] nodeg commented on #2659
I was able to successfully import [Fedora 34 server](https://download-ib01.fedoraproject.org/pub/fedora/linux/releases/34/Server/x86_64/iso/) myself with the latest master branch:

[code]

[code]

[code]

I am closing this since it works.

[2021-07-30 12:08] #2659 closed

[2021-07-30 13:00] nodeg commented on #2646
I can confirm this is not an issue with the latest manster anymore. The folders are created properly.

[code]

[2021-07-30 13:00] #2646 closed

[2021-08-02 07:28] #2706 closed

[2021-08-02 10:10] #1370 closed

[2021-08-02 12:23] #1562 closed

[2021-08-02 12:23] #2065 closed

[2021-08-03 08:49] nodeg opened #2732 "CLI: Typecheck related issues"
### Describe the bug

This is a collection of issues related to the recently introduces typechecks. #2722 is related.

### Steps to reproduce

1. Create a distro and a profile
2. Cretate a system
3. Edit system parameters
4. See that not everything is working

### Expected behavior

The CLI should work as expected with the commands/options/values given.

### Cobbler version

Master branch

### Ope

[2021-08-03 10:47] nodeg opened #2734 "Profile: child parent inheritance problem"
### Describe the bug

When creating a system you get the following info when restarting Cobbler:
[code]
although the system `stest` is present in the children list of profile `ptest` according to the .json file (output formatted):

[code]
[code]
Here the parent is not set directly because the inheritance is given via the `--profile` when creating the system.
[code]
[code]

### Steps to reproduce

[2021-08-03 10:55] nodeg commented on #2732
Closed for now since this is not an issue.

[2021-08-03 10:55] #2732 closed

[2021-08-03 12:05] #2722 closed

[2021-08-03 14:53] heroin-moose opened #2736 "Renaming a system fails with 'IP address duplicated' error"
### Describe the bug

With current master it's not possible to rename a system. The operation fails:

[code]

### Steps to reproduce

1. Create a system: `cobbler system add --name foo --profile baz --ip-address 1.2.3.4`
2. Try to rename the system: `cobbler system rename --name foo --newname bar`

### Expected behavior

It should be possible to rename a system.

### Cobbler version

[code]

### O

[2021-08-03 15:20] heroin-moose opened #2737 "Next Server (IPX) Override options are always defined"
### Describe the bug

Profile object has a bunch of attributes that were designed to override the parent value:

 - next_server_v4
 - next_server_v6

However, currently both attributes are set to the parent object's value during a Profile object creation:

[code]

This has two consequences:

 - Changes in /etc/cobbler/settings.yml won't have any effect because each Profile object already has it's

[2021-08-03 16:58] SchoolGuy opened #2738 "System rename should not recreate an object"
### Describe the bug

Currently when a system is renamed it gets destroyed and recreated. Since we are using properties this is not required from a logical point. All logic for setting a new name should be inside the name setter.

### Steps to reproduce

1. Add a Cobbler item
2. Rename it

### Expected behavior

The system should get renamed via the name property.

### Cobbler version

Any version

[2021-08-03 17:06] SchoolGuy commented on #2522
So this is not reproducible on `master` or the latest stable version. Python 2 is EOL, so I will close this issue.

[2021-08-03 17:06] #2522 closed

[2021-08-03 17:17] SchoolGuy commented on #179
This was fixed through https://github.com/cobbler/cobbler/pull/2357

[2021-08-03 17:19] #179 closed

[2021-08-04 12:58] nodeg commented on #2690
A simple `cobbler sync --system <systemname>` does not solve the issue and implementing a full `cobbler sync` is not the best way regarding to performance.
Maybe we can catch this in the `boot_loaders` property inside of `system.py`.

[2021-08-04 13:40] nodeg commented on #2736
@watologo1 was able to reproduce this with Orthos 2 on our Cobbler server.

[2021-08-04 14:13] SchoolGuy commented on #2719
So the thing that we will do is that we will take V3.2.1 as a baseline and will make an initial migration to V3.3.0 which is a bit special, after that a generic framework we will create will do all future migrations in the `settings.yaml` file.

[2021-08-04 14:13] SchoolGuy commented on #2719
That would mean that even if you skip 100 versions of the settings we will migrate you automatically one by one until you reach the version you want to run.

[2021-08-07 13:51] SchoolGuy commented on #2738
So the real problem for us is that the primary key is the name currently. That means although the name is being considered mutable it is for us currently immutable. Thus removing and reading the object is the only viable solution until this is changed. Also on the disk all objects are being identified by name. Since we currently don't have any information how and what files are being related to wh

[2021-08-09 12:00] heroin-moose commented on #2738
On the contrary, it is super easy if we split the removal logic in two steps: removing on-disk data and removing metadata (e.g. the object itself):

- Nuke object's on-disk data
- Change property
- Create object's data

[2021-08-09 12:18] #2736 closed

[2021-08-10 14:36] sujit-jadhav commented on #2587
@SchoolGuy, Is Cobbler 3.3.0 available now? We are ok to consume it without webinterface.
We tried using Cobbler 3.2.1 but we are facing issue #2614, for Cobbler 3.2.1 we are taking release 32.

[2021-08-10 14:59] SchoolGuy commented on #2587
@sujit-jadhav Sadly not. We have found that the amount of manual migration steps are not accaptable for V3.3.0 and are thus writing logic to automate that now. This sadly is more complicated then thought but it is on the way. Because of internal deadlines at my company I am required to deliver V3.3.0 by the end of this month. The error you linked was never reproduced by us or the reporter so if yo

[2021-08-10 15:13] ds-04 opened #2749 "Almalinux 8.4: `cobblerd` not starting"
### Describe the bug

A fix is needed to api.py to allow cobblerd to start on Almalinux 8.4

Temporary hack to make server work (line98 of api.py):

`old: self.dist, self.os_version = utils.os_release()`

`new: self.dist, self.os_version = 'centos', 8.4`

### Steps to reproduce

1. Install cobbler on Almalinux 8.4
2. Try to start cobblerd

### Expected behavior

cobblerd should start

### Cobbler

[2021-08-11 06:39] nodeg commented on #2624
[code]

[2021-08-11 06:41] nodeg commented on #2624
[code]

[2021-08-11 06:47] nodeg commented on #2749
In master this is already fixed and I successfully imported Alma Linux in a VM. See

https://github.com/cobbler/cobbler/blob/9c454558bb1bb0da29a3af5580ec28ded83a8574/cobbler/utils.py#L964-L965

https://github.com/cobbler/cobbler/blob/9c454558bb1bb0da29a3af5580ec28ded83a8574/cobbler/utils.py#L978-L1003

[2021-08-11 07:42] ds-04 commented on #2749
From journalctl (with 3.2.0 version of api.py and uitls.py), can't see anything relevant in cobbler.log

[2021-08-11 09:12] ds-04 commented on #2749
thanks for clarity I'm using this install method on Almalinux 8.4

`dnf -y install epel-release`
`dnf -y module enable cobbler`
`dnf -y install cobbler`

_cobbler-web_ also installed using dnf option --_allowerasing_ (for python-django)

[2021-08-12 23:36] ShaneHutter commented on #2337
Hey guys,

If you looking for a quick work around while this issue is being fixed up, this worked for me.

1.  Try the import and let it fail
2.  use iconv to change the file to ascii `iconv -c -f utf8 -t ascii vmware-esx-base-osl.txt > vmware-esx-base-osl.txt.ascii`
3.  move the new ascii version over the original
4. do the import again, but include the `--available-as` flag to tell cobbler that

[2021-08-13 10:54] sujit-jadhav commented on #2587
@SchoolGuy , we are able to resolve the error #2614.
But now during PXE booting is not working,
![Cobbler_Error](https://user-images.githubusercontent.com/73123831/129346688-db19b6e3-a5f0-4ede-a1c7-c965b4cf3afa.png)

Looks like we need boot loaders for Cobbler 3.2.1, if that is the case can you please let me know from where I can pick it up.

[2021-08-13 13:10] SchoolGuy commented on #2587
@sujit-jadhav As an interim quickfix you can use this: https://github.com/cobbler/cobbler/issues/2660#issuecomment-859766544

Otherwise if you want to do it properly: https://github.com/cobbler/cobbler/issues/2660#issuecomment-859328194

[2021-08-13 13:25] sujit-jadhav commented on #2587
@SchoolGuy both links are same: Quickfix and proper fix. Is there any typo?

[2021-08-13 13:27] SchoolGuy commented on #2587
@sujit-jadhav Nope they link to different comments in the issue. What hbokh describes is a quickfix and what I describe further down is the propper fix.

[2021-08-16 07:59] sujit-jadhav commented on #2587
@SchoolGuy
We are using CentOS 8.3 as our base OS and we have Cobbler 3.2.1 installed on it. We are trying to PXE boot CentOS 7.9 on the remote server. We have x86_64 based servers with UEFI boot.

Quickfix link has boot loaders for Cobbler 2.8.5, it doesn't work for our scenario.
Proper fix link which uses mkgrub-sh to generate UEFI bootable bootloaders for Cobbler installation throws following e

[2021-08-16 08:10] SchoolGuy commented on #2587
@sujit-jadhav So that error message clearly says that one of the modules you are trying to use is not existing. Please adjust the list of included GRUB modules so `grub2-mkimage` is working.

[2021-08-16 15:23] mwaldron104 opened #2754 "Null setting for proxy_url_ext is not allowed by reposync."
### Describe the bug

We don't need to use a proxy server to mirror repos, so our setting for proxy_url_ext is "". After upgrading to cobbler 3.2.1, we get an error when running reposync,
[code]

### Steps to reproduce

1. cobbler reposync
2.
3.

### Expected behavior

### Cobbler version

[code]

### Operating system

### Cobbler log

[code]

### Screenshots

### Additional information

[2021-08-16 15:26] mwaldron104 commented on #2754
Sorry, description got lost somehow.
After updating to cobbler 3.2.1, cobbler reposync returns an error:
Error parsing config: Error parsing "proxy = ''": URL must be http, ftp, https, socks4, socks4a, socks5 or socks5h not ""

Our environment doesn't use a proxy server to be able to mirror repos, so we've never had to set the proxy_url_ext setting.

[2021-08-17 00:19] Timond opened #2755 "Python API changes should be seen by Cobbler / CLI straight away."
It seems that when using the Python API to modify objects, the changes are written to JSON but are not seen by the cobbler CLI until the cobbler service is restarted.

As an example:
[code]

The above code works and I can successfully see the changes in the system's JSON file. If I fetch the object again via Python API it will also show the changes.

However, the CLI doesn't see the new value unti

[2021-08-18 07:44] ds-04 commented on #2281
On v3.2.1* I haven't seen the error on templar.py yet. **Not with the default/supplied files**. I do see the same templay.py error with a problematic Debian preseed that I created. After stripping back my Debian preseed it seems happier.

I hope to get back to confirm on the v3.2.0 EPEL RPM version.

(*v3.2.1 compiled from source on an Almalinux 8.4 VM, using the locally produced RPM)

[2021-08-24 12:56] nodeg opened #2760 "[feat] Cobbler-settings: Add old migration scripts to CLI tool"
### Is your feature request related to a problem?

No.

### Provide a detailed description of the proposed feature

When PR #2747 is merged, the 2 older migration scripts

* v2-to-v3 script
* settings migration script v1-v2

should be included into the new `cobbler-settings` CLI tool to unify the migration process.

[2021-08-24 13:02] nodeg commented on #2754
I edited your post to include the description. What operating system do you use? How did you install Cobbler? You can provide those missing information in your first post by editing it.

[2021-08-24 14:47] mwaldron104 commented on #2754
Was using OS RHEL 7.9 and compiled Cobbler rpms from the 3.2.1 source. I have since switched to RHEL 8.4 and installed the cobbler 3.2.0 rpms available in the EPEL repo, and the problem has gone away. So I'll close this issue.

Thanks.

[2021-08-24 16:37] SchoolGuy commented on #2754
If this is present in 3.2.1 but not in 3.2.0 it is active and we need to fix it.

[2021-08-25 12:39] nodeg opened #2761 "[feat] Cobbler-settings: Add --diff option to CLI tool"
### Is your feature request related to a problem?

No.

### Provide a detailed description of the proposed feature

When PR #2747 is merged, it would be nice to have a `--diff` option in the new `cobbler-settings` tool to give a colorized output of the migration you want to perform.

[2021-08-25 13:39] maojianer opened #2762 "anamon is invalid"
### Describe the bug

When the client is installed centos7.9, the server anamon cannot see the log
Client error

![2ddddbec6e238a100cf5dfe2241b123](https://user-images.githubusercontent.com/31433715/130799678-46152f28-9436-43b8-882b-68a961d07a57.png)

### Expected behavior

[code]
 This directory should have logs, it is blank now

![image](https://user-images.githubusercontent.com/31433715/1308008

[2021-08-26 13:49] SchoolGuy opened #2763 "[feat] Add FreeBSD 12.2 & 13.0"
As the title says.

[2021-08-26 13:53] SchoolGuy opened #2764 "cobbler <item> rename doesn't work"
Source: Gitter Chat

[2021-08-27 11:47] nodeg opened #2765 "Wrong bind config for Debian"
### Describe the bug

We use the wrong bind path in our settings.py:

[code]
The correct path according to the Debian wiki is `/etc/bind/`. Thanks @agraul!
Furthermore we should us the OS detection instead of checking if certain files exist.

### Expected behavior

The correct path should be used.

### Cobbler version

Git master.

### Additional information

https://wiki.debian.org/Bind9#Configur

[2021-08-27 11:51] nodeg opened #2766 "[feat] Use dataclasses in CobblerVersion class"
### Is your feature request related to a problem?

No.

### Provide a detailed description of the proposed feature

When #2747 is merged we could further improve it when using dataclasses for our `CobblerVersion` class:

[code]

Thanks @agraul!
### Additional information

https://pypi.org/project/dataclasses/ (backport to Python 3.6)

[2021-08-30 09:28] lostchai opened #2768 "pci network card binding, dhcp points to network card interface 2 by default"
### Describe the bug
My machine uses pic slot 3 as the network card slot, corresponding to the system, the network card names are p3p1 and p3p2. Our network setting is that p3p1 is the dhcp port and bond state, the interface is forcibly enabled. When I configure the network card in the system, no matter what my input order is, the output order is bond0, p3p2, p3p1. When I execute sync, p3p2 will b

[2021-08-31 07:46] nodeg opened #2770 "Merge 3.0.0 release notes with content from the documentation"
- [x] Check the release notes from the docs website (below) with our release notes on GitHub and merge them if necessary.
- [x] Link release notes from GitHub on docs page

**10.1. Enhancements**
Use new dracut ip option for configuring static interfaces (koan).
Add a whitelist of directories in order to persist a cobbler sync.
Add proxy support for get-loaders, signature update and reposync.
Add

[2021-09-01 03:36] zparihar commented on #2749
Hey folks,

I've setup AlmaLinux 8.4 and trying to install Cobbler and get Cobbler working.  I've followed the suggestions above, however, when running a 'cobbler sync' i'm running into the following problem:

I installed Cobbler the same as the method above by @ds-04 :

I saw @nodeg comment about the files:
- cobbler/cobbler/utils.py

and

 def os_release():
     """
     Get the os version of th

[2021-09-01 18:47] ds-04 commented on #2749
Did you install the dependencies needed by cobbler? It might just be that.

I use an ansible role to do so.

[2021-09-05 23:35] zparihar commented on #2587
Hey folks,

I ran into the "cobbler get-loaders" issue on CentOS 8 with Cobbler 3.2.0, and I gotta say i'm a bit frustrated by the changes and the lack of documentation to go with it.  It even talks about "cobbler get-loaders" at [https://cobbler.readthedocs.io/en/release32/cobbler.html](https://cobbler.readthedocs.io/en/release32/cobbler.html)

I'm reading over here about "mkgrub.sh" and confused

[2021-09-06 06:19] zparihar commented on #2339
@nvtkaszpir method worked for me in on Cobbler 3.2.0 on CentOS 8.4 (installing everything via DNF).

[code]

I can now see an entry in my PXE menu and run the install over the network.

My question is, how can we do this with 'ubuntu-20.04.3-live-server-amd64.iso' ?

I take it that they took out the PXE ability in this new version....

When I tried to import 'ubuntu-20.04.3-live-server-amd64.iso'

[2021-09-06 07:07] nvtkaszpir commented on #2339
@zparihar in short Canonical just made installer with preseeding as deprecated and used new installer via autoinstall (which is cloud-init..like-ish, there are some differences, unfortunately) installer.

In practice they totally dropped preseed support and enforced new installer.

As far as I know it is not yet integrated with cobbler, so far it's more like a described solution without full imple

[2021-09-08 02:36] 13126690189 opened #2776 ""cobbler get-loaders" doesn't work."
[code]

[2021-09-08 07:35] SchoolGuy commented on #2776
So this feature was removed for security reasons. The alternative is (as described in different issues before) the `mkgrub.sh` script. The documentation for this can be found here: https://cobbler.readthedocs.io/en/latest/scripts.html#mkgrub-sh

Be warned that this is currently under change as we are working on https://github.com/cobbler/cobbler/pull/2739 which will be included by the next release

[2021-09-08 07:35] #2776 closed

[2021-09-08 11:22] Jack-Ywn opened #2781 "Description Failed to import the centos-stream-8 system image"
### Describe the bug
[code]

### Steps to reproduce

1.Added the centos-stream field to the configuration file
[code]
2.Restart the service
[code]
3.Try importing a system image
[code]

### Expected behavior
[code]

### Cobbler version
[code]

### Operating system

[code]

[2021-09-08 11:44] SchoolGuy commented on #2781
Well if I understand this correctly this is just completely fine behavior since you already have CentOs8-Stream imported according to your error message. So I don't see the bug here sadly.

[2021-09-08 12:55] Jack-Ywn commented on #2781
Thank you. It worked

[2021-09-08 12:56] #2781 closed

[2021-09-09 21:57] zparihar commented on #2749
Just to let everyone know, I resolved the problem.

I actually left 'api.py' in its default state, and implemented the following change in 'utils.py'

[code]

I think its safe to say we can close this ticket.

Cheers,

Zubin.

[2021-09-10 07:35] SchoolGuy commented on #2749
@zparihar Could you sent a PR for this so we can incorporate it in `master`? If we get it in before the 20th, then it will make it to the next release.

[2021-09-10 07:47] ds-04 commented on #2749
@SchoolGuy see @nodeg comments above (11th August). It's just that the EPEL RPM Alma pulls down for 3.2.0 needs this hack/fix to get running on Alma.

[2021-09-10 07:52] SchoolGuy commented on #2749
Okay then I will close this issue. Thanks everyone for helping out!

[2021-09-10 07:52] #2749 closed

[2021-09-10 08:45] lucap22 opened #2783 "pxe_just_once no longer working with 3.2.1"
### Describe the bug

I have upgraded cobbler from 3.2.0 to 3.2.1 and pxe_just_once option no longer working, after the installation completes successfully the "Netboot Enabled" is still set to "True", I have correcty migrate settings file to new file format with .yaml extension.
After some checks i found the issue in the autoinstall_done snippet where the pxe_just_once check are done with "true"

[2021-09-10 08:51] SchoolGuy commented on #2783
@lucap22 Thanks for the report. Could you try if the following works too please?

[code]

The reason I am asking is because this is a boolean and normally this should not be a `str` anymore. So be careful that the negative case is also working. In Python non empty strings are being evaluated as `True`, so `"False"` would also be `True` (mind the quotation marks I added to mark it as a `str`).

[2021-09-10 09:01] lucap22 commented on #2783
Sure, let me try.

[2021-09-10 09:30] lucap22 commented on #2783
Yes, it works

[2021-09-10 09:55] SchoolGuy commented on #2783
I'll fix it today and open a PR and look through all other snippets as well.

[2021-09-10 14:48] SchoolGuy commented on #2783
@lucap22 I created a PR and tried to fix as much as possible. Please leave a comment in the PR if it works or not if you have time to test this again.

[2021-09-11 17:28] ben467834 opened #2786 "Anaconda has deprecated installation options that are missing inst. prefix"
### Is your feature request related to a problem?

Anaconda has deprecated missing inst. prefix on installation options.

"options specific to the installation program now use the inst. prefix. For example, the vnc= option is considered deprecated and replaced by the inst.vnc= option. These changes are not listed here."

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html

[2021-09-13 13:19] #2783 closed

[2021-09-13 17:37] paleozogt opened #2787 "can't import ppc64le ubuntu iso"
### Describe the bug

I cannot import a ppc64le iso of Ubuntu 18.04.  I see:
[code]

### Steps to reproduce

1. wget https://cdimage.ubuntu.com/releases/18.04/release/ubuntu-18.04-server-ppc64el.iso
2. mount -o loop ubuntu-18.04.5-server-ppc64el.iso $PWD/iso
3. cobbler import --name "ubuntu-18.04-ppc64le" --arch=ppc64le --path $PWD/iso

### Expected behavior

I should be able to import the Ubuntu

[2021-09-13 17:48] paleozogt commented on #2787
Updating the distro signatures:
[code]

Looking at what got downloaded for bionic:

[code]

... there's no signature for ppc64el??

[2021-09-14 05:50] SchoolGuy commented on #2787
@paleozogt If you add the arch, does it work then? If yes could you open a PR for the fix please?

[2021-09-14 07:37] #2721 closed

[2021-09-14 14:45] paleozogt commented on #2787
I tried hacking `ppc64le` into the `distro_signatures.json`, which gets further along. But then it errors out:
[code]

I suspect this error is happening because Ubuntu uses `ppc64el` as a synonym for `ppc64le`.

[2021-09-15 06:56] SchoolGuy commented on #2787
Sigh. Okay thanks a lot for trying. I guess then we will have more places in the code where this will become a problem.

[2021-09-15 08:19] SchoolGuy commented on #2576
Since I am refactoring the code for `buildiso` right now this will be closed with #2416

[2021-09-15 11:28] SchoolGuy opened #2789 "Automatically mount ISO images"
### Is your feature request related to a problem?

Currently the ISO images which we import or where the kernel/initrd pairs are coming from need to be mounted, so that Cobbler starts correctly after a reboot. This is the case when the admin is putting them into `/etc/fstab` but if they are not put there, then `cobblerd` will fail to start.

### Provide a detailed description of the proposed featu

[2021-09-15 15:38] paleozogt opened #2790 "can't netboot from ppc64le distros"
### Describe the bug

While I am able to netboot easily from `ppc64` distros, it doesn't work from `ppc64le` distros.  It looks like this:

[code]

It then tries to load variations of `\etc\c0a80293` (`\etc\c0a8029`, `\etc\c0a802`, ... `\etc\c`) until it finally drops down into the yaboot console:

[code]

### Steps to reproduce

1. Import a `ppc64le` distro, such as [Centos Stream 8](http://isore

[2021-09-15 15:39] paleozogt commented on #2787
I worked around the problem by adding this to the bottom of `learn_arch_from_tree` in `manage_import_signatures.py` alongside the mapping for various x86 synonyms:
[code]

That let the distro get imported!

Sadly, actually netbooting from this distro is broken (see #2790).

[2021-09-15 16:28] SchoolGuy commented on #2790
So `yaboot` is dead for quite a while now and the code for this got removed on `master`. GRUB 2 should be available on most PowerPC machines as a replacement afaik (I don't own a machine thus this is guessing). The removal was triggered by SUSE who has quite a collection of Power machines (even the very very old ones) and all of them are bootable using GRUB 2 by now.

Also a gentle reminder: 2.8.1

[2021-09-15 16:29] SchoolGuy commented on #2790
Because of above reasoning I will close this issue. Please reopen this issue if you can reproduce this with GRUB 2.

[2021-09-15 16:32] paleozogt commented on #2790
I'm not intending to use yaboot-- my problem is that its using yaboot when it should be using grub.  My understanding is that `/boot/grub/powerpc-ieee1275/core.elf` is grub, which is what is used on ppc64 boots.

[2021-09-15 18:47] SchoolGuy commented on #2790
Oh sorry. I totally understood you wrong. Then we'll fix this as soon as time allows.

[2021-09-15 18:52] paleozogt commented on #2790
I'd like to do some debugging/troubleshooting, but I'm not quite clear where to look.  How does netboot receive `/boot/grub/powerpc-ieee1275/core.elf` from cobbler vs `yaboot`?  If I can see where its happening, maybe I can figure out a fix.

[2021-09-16 07:09] SchoolGuy commented on #2790
Well the `filename` is set in the DHCP config on the Cobbler server. The file is then served from the TFTP Server. So I believe it is best to first take a look at:

- `/etc/dhcpd.conf` --> Templates for this file are at `/etc/cobbler/templates/dhcpd.template`
- `/var/lib/tftpboot` or if on another distro `/srv/tftpboot`

[2021-09-16 15:25] paleozogt commented on #2790
That was a very helpful pointer.  Here's what I'm seeing.

If I change my system to use certain distros, sync renders a `/etc/dhcp/dhcpd.conf` with
[code]

But for some other distros, it renders:
[code]
Its unclear if this is coming from the database or from a code decision.  At any rate, I can't find where that's parameterized in the cobbler gui.

[2021-09-16 18:34] SchoolGuy commented on #2790
@paleozogt That could be the `distro_signatures.json`. There should be a `filename` parameter if I get this right out of my head. To confirm I will have a look on the weekend if you can't confirm that it is right.

[2021-09-16 18:44] paleozogt commented on #2790
Looking at the [2.8.x distro_signatures.json](https://cobbler.github.io/signatures/2.8.x/latest.json), I don't see a `filename` field.

There is sometimes a `boot_loaders` entry:

[code]

but its not always present.

I don't see any mention of `yaboot` or `/boot/grub/powerpc-ieee1275/core.elf`.

[2021-09-16 19:29] SchoolGuy commented on #2790
@paleozogt I think you are on the right track. I believe that adding this might do the trick but I am not sure. This is educated guessing from the phone.

[2021-09-20 12:40] #2462 closed

[2021-09-20 13:46] SchoolGuy opened #2795 "Multiple security vulnerabilites with RCE as root"
Fixed by #2794

## Short Description

It is possible through three CVEs to read and write all files (as root) on your system, as well as execute Cheetah/Jinja template Code as root on the Cobbler server

## What versions are affected?

All versions.

## How can I check if I am affected?

Please check your logfile of Cobbler for Cheetah or Jinja2 Template Code. Other vulnarabilites cannot be checke

[2021-09-20 14:55] #2795 closed

[2021-09-22 12:22] watologo1 commented on #2790
I can confirm that netboot works for me/us via grub for ppc64 AND ppc64le.
Afaik the same grub binary is used. PowerPC somehow detects bigendianess vs litteendianess automagically, does an internal reboot and switches itself to the other architecture/endianess.

Michal know more, but I cannot assign this one, as he seems not part of the cobbler devel group. I try to point him to this one.

[2021-09-22 12:24] watologo1 commented on #2790
You definitely should take a newer cobbler version...

[2021-09-22 12:29] watologo1 commented on #2768
This is not a cobbler, but dhpcd config bug.
In SUSE the interface(s) dhcpd should bind to is passed via
/etc/sysconfig/dhcpd
DHCPD_INTERFACE="eth0"

But in the end it has simply to be added to the:
dhcpd call like:

`/usr/sbin/dhcpd -4 -cf /etc/dhcpd.conf -pf /var/run/dhcpd.pid -chroot ... p3p2`
or
`/usr/sbin/dhcpd -4 -cf /etc/dhcpd.conf -pf /var/run/dhcpd.pid -chroot ... bond0`

Look at:
/usr/li

[2021-09-22 12:29] #2768 closed

[2021-09-22 12:57] hramrach commented on #2790
You need to inspect your bootloader definitions for your distros. There is some object hierarchy and the value can be inherited but it is not show what it is which makes debugging hard.

Also on master there is no yaboot support so you can't get yaboot anymore but you still need to fix the distro database.

Switching between bootloaders is nothing platform-specific. Multiple bootloaders are availa

[2021-09-22 16:42] watologo1 opened #2801 "Lots of warnings when autoyast XML is created"
I see lots of:
File does not exist: /var/lib/cobbler/snippets/per_system/
and similar warnings when autoyast XML file is rendered via:
http://<cobbler-server>/cblr/svc/op/autoinstall/system/<system>
call.

[2021-09-22 16:43] watologo1 commented on #2801
[output.txt](https://github.com/cobbler/cobbler/files/7212478/output.txt)

Example output of one call to above shown link/REST api.

[2021-09-22 23:56] spikebike opened #2802 "Rocky 8.4/Cobbler 8.4 won't launch"
### Describe the bug

Trying to launch cobblerd results in:
[code]

### Steps to reproduce

1. Install Rocky-8.4
2. dnf install cobbler (from https://cobbler.readthedocs.io/en/latest/installation-guide.html)
3. dns module enable cobbler
4. dnf install cobbler
5. /usr/bin/cobblerd -F
6. Copying in old /etc/cobbler/* from a previous install makes no differences

### Expected behavior

I'd expect it

[2021-09-23 00:04] spikebike commented on #2802
Ah, it's already handled in:
https://github.com/cobbler/cobbler/issues/2749

I verified the mentioned temporary hack fixes it.

[2021-09-23 00:04] #2802 closed

[2021-09-23 00:27] spikebike opened #2803 "Can't import Rocky-8.4 ISO with Cobbler-3.2.0"
### Describe the bug

On a rocky-8.4 system with cobbler-3.2.0 from the Rocky distributed RPMs:
[code]

### Steps to reproduce

1. Install rocky-8.4
2. Follow the instructions at https://cobbler.readthedocs.io/en/latest/installation-guide.html for CentOS 8
3. Patch the utils.os_release()  https://github.com/cobbler/cobbler/issues/2749
4. cobbler signatures update
5. wget https://download.rockylinu

[2021-09-23 00:47] spikebike commented on #2803
Ah, rats, same problem, just from 3-4 more places, same problem/fix as:
https://github.com/cobbler/cobbler/issues/2749

[2021-09-23 01:04] #2803 closed

[2021-09-23 06:49] SchoolGuy commented on #2801
The solution in my eyes is:

- to document that you can do this at the appropriate location,
- create the directories at an appropriate time and
- invert the message to what snippets have been found and who many have not been found in a single message.

[2021-09-23 06:57] SchoolGuy opened #2804 "Slow Cobbler startup time"
### Describe the bug

Currently due to additional `serialize()` calls Cobbler is starting slow, compared to before.

### Steps to reproduce

1. Fill in a lot of items
2. Restart the demon
3. Notice slow startup times

### Expected behavior

Cobbler should not try to write data back to the disk when starting up. This should be done during changes of the data.

### Cobbler version

Custom version fo

[2021-09-23 07:14] SchoolGuy commented on #2804
So the reason for this is that Cobbler tries to write the collections back to the disk once the `parent` or `children` do change in the in-memory object. This can be fully removed of course but that would mean that we don't have a correct state of the object represented on disk which leads to data loss ultimately when Cobbler crashes or the demon is stopped.

Solutions:

1. Accepting the slow star

[2021-09-23 13:56] watologo1 commented on #2804
Thanks for the overview!

I guess this boils down to:
1. Per object serialization
2. Never serialize when data got read (getter), check if data changed when written to it (setter)

We should go for the long hanging fruits first...
If I understand things correctly, currently algorithm writes n*n objects, even on startup?
This explains why the latter objects take much longer to add than the first on

[2021-09-23 13:56] maojianer opened #2805 "Cobbler Import fails on centos7.9"
### Describe the bug

### Attempting to import locally mounted media fails with complaints about signature imports:
root@cobbler3.2.2 ~#cobbler import --name=centos7.9 --arch=x86_64 --path=/mnt
task started: 2021-09-23_213148_import
task started (id=Media import, time=Thu Sep 23 21:31:48 2021)
running python triggers from /var/lib/cobbler/triggers/task/import/pre/*
running shell triggers from /var

[2021-09-23 13:58] watologo1 commented on #2804
Adding some people with deeper python knowledge..., this is a complex topic.
There also might be newer python3.x elements...

[2021-09-23 19:18] SchoolGuy commented on #2805
I am confused. Is it Cobbler 3.2.2 or is it Cobbler 3.3.0?

[2021-09-24 01:58] maojianer commented on #2805
Cobbler 3.3.0

[2021-09-24 09:31] SchoolGuy commented on #2804
The problem we have is a chicken egg one: We want to set data to initialize the objects but since we don't have full control over the data (could be manually messed up) we don't trust it. Thus we use the properties to set the data. Because we use the setter for the initialization we then write the valid data back into the JSON which currently is being loaded. This is not a problem in 99% of the ca

[2021-09-24 09:31] SchoolGuy commented on #2804
@meaksh @agraul @vzhestkov Any ideas how to solve this chicken-egg problem?

[2021-09-24 10:55] maojianer commented on #2805
signature reload error

root@cobbler-3.3.0 ~#cobbler signature update
task started: 2021-09-24_184952_sigupdate
task started (id=Updating Signatures, time=Fri Sep 24 18:49:52 2021)
running python triggers from /var/lib/cobbler/triggers/task/sigupdate/pre/*
running shell triggers from /var/lib/cobbler/triggers/task/sigupdate/pre/*
shell triggers finished successfully
Successfully got file from http

[2021-09-24 16:56] paleozogt commented on #2790
@hramrach The database doesn't seem to mention what bootloader to use.  Somewhere in the cobbler code its deciding what to do base on some sort of default.  Since this version of cobbler doesn't seem to know about ppc64le, I suspect that there's an "unknown arch" default that's going to yaboot.  Perhaps pseudo-code like this:

[code]

However, I'm not sure where the code that determines the bootlo

[2021-09-25 07:56] hramrach commented on #2790
Then you have your answer - you want a version that *does* know about ppc64le.

[2021-09-29 08:39] nodeg opened #2811 "[CI] Building Tumbleweed RPMs fails"
### Describe the bug

We need to look into the following issue when building the Tumbleweed RPMs in the CI:
[code]
I saw this error in 3 pull request.

[2021-09-29 09:17] SchoolGuy commented on #2811
So I can't reproduce this locally. Thus I need to spam #2810 until I find a solution for the problem...

[2021-09-29 09:21] SchoolGuy commented on #2811
Okay we can't do anything until https://bugzilla.suse.com/show_bug.cgi?id=1190670 is solved. Kudos to @vogtinator for finding it for me.

[2021-09-29 09:24] nodeg commented on #2811
Ok. So another glibc 2.34 issue.

[2021-09-29 09:27] SchoolGuy commented on #2811
Example of the failure: https://github.com/cobbler/cobbler/pull/2810/checks?check_run_id=3742282637#step:3:164

[2021-10-07 11:39] jtorrex opened #2818 "[INSTALL] Nothing provides python3-file-magic needed by cobbler-3.2.2-2"
### Describe the bug

Installation fails on rpm OSes dependant from the epel-modular repository dut to a missing Python dependency.

------------------------------------------------------------------------------------------------------------------
Error:
 Problem: conflicting requests
  - nothing provides python3-file-magic needed by cobbler-3.2.2-2.module_el8+13025+a3efc95c.noarch
(try to add '--

[2021-10-07 11:40] #2818 closed, assigned to nobody

[2021-10-07 11:48] jtorrex commented on #2818
Thanks for your fast answer @SchoolGuy. In this case I will wait for the addition of the patched version on EPEL. Also, sorry for duplicating a closed issue. Best regards.

[2021-10-09 22:44] abxsantos commented on #2625
Can I work on this issue?

[2021-10-10 08:35] SchoolGuy commented on #2625
@abxsantos Yes of course. Pick anything you like!

[2021-10-10 16:28] hveini opened #2820 "Cobbler v3.3.0 does not honer the "auto_migrate_settings" setting"
If I change the "auto_migrate_settings" to "false", and restart cobblerd, the settings.yaml
is still overwritten and "auto_migrate_settings" changes to "true":
New settings.yaml file is always generated (and old one backed up) when "cobblerd" service restarts, no matter what is the value of "auto_migrate_settings".

Way to reproduce (removed yum and build-and-install-rpms.sh -output):

[code]

[2021-10-10 17:52] hveini commented on #2805
I got the same error importing Centos 7.9.
Current signature for rhel7 is:

[code]
--> it does not have the "version_file_regex".  Same, with 61 signatures.

Double checking from the code "cobbler/modules/managers/import_signatures.py / “scan_signatures(self) -function:
[code]
--> for "return sigdata", it always requires there need to be “version_file_regex”, and also regex-match need to be done.

[2021-10-18 08:54] SchoolGuy opened #2821 "Enable "black" for Cobbler"
### Is your feature request related to a problem?

Currently we have some opinionated formatting in the codebase. I would love to get rid of this to enable new contributors to have things a littlebit easier.

### Provide a detailed description of the proposed feature

https://github.com/psf/black

Since we use `pylint` already, I think it's time to start using black. It will decrease the styling i

[2021-10-21 10:47] amit-prayag opened #2825 "Getting "exception on server: expecting an identifier" error while adding a node into Cobbler"
### Describe the bug

cobbler:~ # cobbler system add --name=testvm1 --profile=sles12sp4-x86_64 --hostname=testvm1 --kernel-options="ksdevice=eth0" --dns-name=testvm1.labnet.hpe
exception on server: expecting an identifier

### Steps to reproduce

1. obbler system add --name=testvm1 --profile=sles12sp4-x86_64 --hostname=testvm1 --kernel-options="ksdevice=eth0" --dns-name=testvm1.labnet.hpe
2.
3.

#

[2021-10-26 20:55] aranc23 opened #2827 "unable to use cobbler import procedure"
### Describe the bug
I cannot import distros that I was able to import with previous versions of cobbler, including Fedora33 and CentOS7.

### Steps to reproduce

1. `mount -o ro,loop ./CentOS-7-x86_64-Everything-1908.iso /mnt/DVD`
2. `cobbler import  --name CentOS_1908 --path /mnt/DVD --breed redhat --arch x86_64`

### Expected behavior

Completed import.

### Cobbler version

[code]

### Operati

[2021-10-27 21:18] aranc23 opened #2828 "cobbler import fails to identify the apt repo in ubuntu import"
### Describe the bug

### Steps to reproduce

1. mount ubuntu iso
2. cobbler import --name ubuntu-server-20_04_2-focal-casper --path /mnt/cobbler-import --arch x86_64 --breed ubuntu

the import works up until the very end:
[code]

### Expected behavior

from cobbler 3.2.2

[code]

### Cobbler version

cobbler-3.3.0-2

This is with the patch that fixes cobbler import.

[code]

### Operating system

[2021-11-01 03:39] leon123go opened #2829 "cobbler v3.2 cobbler esxi error"
### Describe the bug
![image](https://user-images.githubusercontent.com/34236101/139618176-e7b845ab-faa3-4480-bf09-387142a66ae6.png)

![image](https://user-images.githubusercontent.com/34236101/139618120-7dfe97af-b3aa-4992-b56b-e3382bd6b787.png)

There was a problem loading

### Expected behavior

### Cobbler version
3.2

### Operating system
CentOS Stream release 8

### Cobbler log

[code]

### S

[2021-11-02 07:57] SchoolGuy commented on #2829
@leon123go Which Cobbler 3.2 version do you use?

I believe that the error here is not in Cobbler but the error is either in ESXi or in the setup you have. What we see here is that the kernel is rejected by GRUB since it has an invalid magic number. This is possible due to various reasons I can't pinpoint now but maybe the ISO you have is corrupt? Light googling suggest that this is the most commo

[2021-11-02 08:46] heroin-moose commented on #2829
Also check your boot mode. Is it legacy or UEFI?

[2021-11-03 01:45] leon123go commented on #2829
![image](https://user-images.githubusercontent.com/34236101/139999383-3e275b3e-fbe2-4cea-a1a7-1461de227bac.png)
 I use vmware to test and install iso exsi6.7 is ok, but cobbler can’t

[2021-11-03 01:46] leon123go commented on #2829
How can I verify the UEFI I am using?

[2021-11-03 01:47] #2829 closed

[2021-11-05 14:17] #2764 closed

[2021-11-10 15:37] xavierba opened #2832 "ldap authentication via anonymous bind is broken"
### Describe the bug
ldap authentication via anonymous bind is broken

### Steps to reproduce

1. Use the following settings in settings.yaml
[code]
and these in modules.conf
[code]

2. Try to login and fail

3.

### Expected behavior
Login succeed

### Cobbler version
[code]

### Operating system
CentOS 8 with cobbler from EPEL
cobbler-3.2.2-3.module_el8+13166+f291d70c.noarch

### Cobbler log

[c

[2021-11-11 08:21] th-2021 opened #2834 "DNS update breaks"
### Describe the bug

Adding a system with:
cobbler system add --name=th-test-17 --hostname=th-test-17 --profile=rhel8u4-x86_64 --kernel-options="ksdevice=eth0" --interface=eth0 --mac=01:02:03:04:05:07 dns-name=th-test-17.testlab.my

gives:
exception on server: 'NetworkInterface' object is not subscriptable

### Steps to reproduce

1.
2.
3.

### Expected behavior

### Cobbler version

[code]
cobbl

[2021-11-11 08:50] th-2021 commented on #2834
The solution is similiar to Adjust DNS settings #2712

Around line 94 in modules/nsupdate_[add|delete]_system_pre.py the list() has to replaced and then 2 lines with variables

Corrected lines:

    # process all interfaces and perform dynamic update for those with --dns-name
    for (name, interface) in system.interfaces.items():
        host = interface.dns_name
        host_ip = interface.ip_ad

[2021-11-11 12:36] th-2021 commented on #2834
Created PR: Fix DNS update issue #2835

[2021-11-12 13:22] marbaa commented on #2708
Not sure if I can hijack this issue, or create another. It won't start installation neither RHEL7.x/8.x from cobbler installed, because dhcp.template is looking for filename "grub/grub.0"; which doesn't exists anywhere. Let me know, if I should open new issue or explain it here.

[2021-11-15 12:44] th-2021 opened #2838 "interface "default" created when not needed"
### Describe the bug

When I add a system with an interface "eth0" I also get a "default" interface

### Steps to reproduce

1. `cobbler system add --name=th-test-17 --hostname=th-test-17 --profile=rhel8u4-x86_64 --kernel-options="ksdevice=eth0" --interface=eth0 --mac=01:02:03:04:05:07 dns-name=th-test-17.testlab.hpe`
2. `cobbler system report --name=th-test-17`
3.

### Expected behavior

Only the

[2021-11-16 12:54] th-2021 commented on #2612
Is there a reason, why services are restarted in
./modules/sync_post_restart_services.py
as well as in the corresponding managers
modules/managers/bind.py

Should this service restart not end up in utils.py, so that we can distinguish between the different implementations in just one place (service/systemd/supervisord)

[2021-11-16 15:38] xavierba commented on #2832
There is already PR #2831 with this fix.

[2021-11-17 17:48] SchoolGuy commented on #2612
Yes in theory that would be great. So far this is mostly legacy code, so a cleanup wouldn't hurt. We just havn't had the time to clean this up yet. If you want to give it a try @th-2021 , please do so!

[2021-11-17 17:48] #2834 closed

[2021-11-18 07:19] fsidoli opened #2839 "cobbler sync ignoring webdir_whitelist since upgrade to 3.2.2-3"
This morning I came to add a new machine to my cobbler config to find the following "File not found" errors below.

[code]

[code]

The last time I ran a cobbler sync was on the 11 & 13 Oct. Back then, cobbler ran without issues.
It seems that cobbler was patched on Oct 17, as per the below.  Since then, nothing seems to work.

[code]

After running the cobbler sync command above, the contents of

[2021-11-19 09:52] amit-prayag opened #2842 "Got SERVFAIL reply from <DNS Server> Error with nslookup"
### Describe the bug

### Steps to reproduce

1. nslookup hostname
2.
3.

### Expected behavior

Should resolve host from local dns sERVER

### Cobbler version

[code]
obbler:~ # cobbler --version
Cobbler 3.3.1
  source: ?, ?
  build time: Thu Oct 14 12:00:00 2021

### Operating system

openSUSE Leap 15.3
### Cobbler log

[code]

### Screenshots

### Additional information

[2021-11-19 10:00] amit-prayag opened #2843 "cobbler.py:3: Error parsing host definition '"""': No closing quotation""
### Describe the bug

### Steps to reproduce

1. while executing the ansible playbooks using dynamic inventory, get the error while executing below playbook for example.
    ansible-playbook -i cobbler.py playbooks/redfish/get_system_inventory.yml -l dl5601 -vvvv
(redfish) apandey@redfish2:~/projects/github/ansible> ansible-playbook -i cobbler.py playbooks/redfish/get_system_inventory.yml -l dl560

[2021-11-19 13:26] SchoolGuy commented on #2843
So is this on the server side or on the ansible playbook code? Because to me it seems it is an error on the ansible `cobbler.py` side of things.

[2021-11-19 13:32] SchoolGuy commented on #2708
@marbaa Let's create a different one for this one.

[2021-11-20 22:00] marbaa opened #2844 "PXE Boot failing - TFTP Error - File not found - grub.0 with manage_dhcp enabled"
### Describe the bug

PXE boot is failing with messages:

- PXE-T01: File not found
- PXE-E3B: TFTP Error - File Not Found
- PXE-M0F: Exiting Intel PXE ROM

It is failing when manage_dhcp is enabled, beacuse it is searching for grub/grub.0 file which doesn't exists anywhere on the filesystem.

[code]

**dhcp.template**
[code]

**dhcp.template from Cobbler 2.8.5**
[code]

### Steps to reproduce

1.

[2021-11-20 22:17] marbaa commented on #2844
Cobbler 3.2.2, maybe whole 3.x is working weirdly. During cobbler import, it doesn't import pxelinux.0 to /var/lib/tftpboot. I tried to specify only: ```filename "pxelinux.0";``` to **dhcp.template**, manually ```cp /usr/share/syslinux/pxelinux.0 /var/lib/tftpboot``` but now, it is failing with ```Failed to load ldlinux.c32```. This file is not present anywhere under cobbler directories, only in `

[2021-11-20 22:31] marbaa commented on #2844
Okay, workaround from [other issue](https://github.com/cobbler/cobbler/issues/2708#issuecomment-878206696 by manually copying files helped. That is still not documented on docu page :).

So lets focus on the issue title, the missing grub.0 file.

[2021-11-21 10:18] SchoolGuy commented on #2844
So the problem you have could be similar to: https://github.com/cobbler/cobbler/issues/2372

[2021-11-21 12:18] marbaa commented on #2844
Exactly. I was searching any issue regarding grub.0 but github didn't find anything for me.
So, I'm adding step executing
[code]
as another step to my internal docu for cobbler 3.x.

This step, and manually copying files from
[code]
could be automated by cobbler sync, I believe.

[2021-11-21 13:23] SchoolGuy commented on #2844
With the current `master` version there is a new command called `cobbler mkloaders` which automates this step. Since it is not required for every sync it was decided currently that we don't include it in the `cobbler sync` process.

[2021-11-21 21:36] fsidoli commented on #2839
Further info, which may hopefully help.

cobblerd will not start. Log file showed the following error. Sure enough, 'cache_enabled' and 'reposync_rsync_flags' were not in the settings file.

2021-11-21T20:24:41 - ERROR | Settings file was not returned due to missing keys.
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/cobbler/settings.py", line 536, in read_settings_fi

[2021-11-21 22:11] fsidoli commented on #2839
I think I have figured this out.

The mangled settings file that was dumped in place during the upgrade resulted in my distro_mirror directory being delete.

I have manually recreated these file so I could get cobbler back up and running. I'm now believe I need to reimport all my distros to undo the damage caused by the upgrade.

[2021-11-22 03:14] opoplawski commented on #2839
Can you attach a copy of your settings.yaml from before and after the update?  Thanks.

[2021-11-22 08:30] fsidoli commented on #2839
Apologies for the weird formatting above. I'm not sure what went wrong.

Attached are the two files (with .txt extensions so I could upload).

The file called settings.yaml.foobar is what was left in place after the update and looks to be an old style config file.

Time stamps of the files on the server itself are shown below (settings.yaml having been edited last night by me).

# ls -ltrh /etc/co

[2021-11-22 09:22] fsidoli commented on #2839
Also, this is now the contents of /var/www/cobbler/ on my server

~> ls -l /var/www/cobbler/
total 0
drwxr-xr-x 7 root root 135 Nov 22 09:20 distro_mirror
drwxr-xr-x 8 root root 177 Nov 21 22:07 images
drwxr-xr-x 2 root root   6 Nov 17 17:02 rendered

On a fresh build

~> ls -l /var/www/cobbler/
total 36
drwxr-xr-x 3 root root 4096 Nov 21 20:48 distro_mirror
drwxr-xr-x 2 root root 4096 Oct  8 05:4

[2021-11-22 12:59] SchoolGuy commented on #2839
@fsidoli I took the liberty of formatting your comments in a way I believe makes them more readable.

Regarding your issue: So far no idea but it seems @opoplawski is already helping, so I step back and fix other issues we have! If you need something feel free to ping me.

[2021-11-22 13:20] fsidoli commented on #2839
@SchoolGuy thank you. I realised last night that it's the '#' from my command line copy and paste that was doing this but never got around to sorting this out.

[2021-11-22 13:23] SchoolGuy commented on #2839
@fsidoli I would use back-ticks for code formatting because it is explicit and you don't have to mess with white space. Wrapping it in three back-ticks for a code-block and a single one for inline code does the trick for months now for me.

[2021-11-23 01:54] opoplawski commented on #2839
@fsidoli Any chance you have a copy of /etc/cobbler/settings from before the update?

[2021-11-23 02:24] opoplawski commented on #2839
Well, so much for my attempt at migrating the settings file to the new format :(

I find it surprising the when confronted with a settings.yaml file that is missing required keys that instead of exiting with a failure cobblerd simply continues running but without apparently having loaded *any* settings.

[2021-11-23 06:50] SchoolGuy commented on #2839
@opoplawski With the new format all of this should be automated. That is what we have the migrations for, so what were you trying to do?

[2021-11-23 09:08] fsidoli commented on #2839
@opoplawski, please see the attached file which I found in a backup dir in /var/lib/cobbler/backup/upgrade-20211017-085210
[settings.txt](https://github.com/cobbler/cobbler/files/7586821/settings.txt)

[2021-11-24 07:25] SchoolGuy commented on #2625
So current state is 48%. Which is a great step forward but we still lack a lot of tests. I believe when we hit the 60% mark we can close this issue.

[2021-11-24 14:02] fsidoli commented on #2839
Hi guys,

I'm having an issue with my kickstart environment. I get a message during PXE boot to say that the kickstart can't be found, despite it being able to load the image file. I'm not sure where cblr/svc/op/ks/system lives on my cobbler server.

Thanks,
Fab

[2021-11-24 18:15] elfring opened #2845 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-25 07:33] th-2021 opened #2846 "setting network interface using xmlrpc not working"
### Describe the bug

When adding/modifying a system to add an interface eth0, only a default interface is created and the eth0 is missing

### Steps to reproduce

1. Using ansible cobbler_system or prov.py (https://github.com/HarrisonTotty/prov) with an interface eth0
2. cobbler system report only shows a default interface
3.

### Expected behavior

There should also be an entry with eth0

### Co

[2021-11-25 07:41] th-2021 commented on #2846
I also get an error: Error: Unable to validate entry - interface type of system interface "default" is not one of ['bmc', 'bond', 'bond_slave', 'bonded_bridge_slave', 'bridge', 'bridge_slave', 'infiniband', 'na'].

[2021-11-25 08:30] SchoolGuy commented on #2846
@th-2021 So the error you get is not an error but a failing validation. There is no interface type "default". The nearest type you would possibly want is then "na". If "default" was available before then this is a regression we need to fix.

[2021-11-25 08:33] SchoolGuy commented on #2839
@fsidoli It doesn't the file is generated on the fly. The thing you can do is try to get URL via a CURL.

[2021-11-25 08:33] th-2021 commented on #2846
"default" is the name of the network interface. And it has  Interface Type                 : NA

The main issue is that eth0 is not added to system.

[2021-11-25 09:03] SchoolGuy commented on #2846
Thanks for the additional information.

[2021-11-26 22:37] #2612 closed

[2021-11-29 15:33] SchoolGuy opened #2850 "Create mkloaders test"
### Is your feature request related to a problem?

Currently it is possible that during the bootstrap process the `mkloaders` command is not working. We don't detect this currently.

### Provide a detailed description of the proposed feature

We do want to test this separately to be able to know what works and what doesn't.

### Alternatives you've considered

Assuming it works: Doesn't work becau

[2021-11-30 09:08] SchoolGuy opened #2852 "mkloaders for non-SUSE distros"
### Describe the bug

Currently we have the following problems:

- `shim-install` is a SUSE specifc script, thus using it as a guard does not work on Debian and CentOS
- The location of `shim-efi` is different on all distros
- The location of `grub.efi` is different on all distros
- The list appears to go on in a way I can't yet forsee

### Steps to reproduce

1. Install cobbler
2. `cobbler mkload

[2021-11-30 09:08] SchoolGuy commented on #2852
@heroin-moose if you have ideas I am open

[2021-11-30 09:09] SchoolGuy commented on #2852
@dansou901 I think I remember you being kind of a Debian expert. Any take on this? I don't want to limit this feature to a specific distro.

[2021-11-30 09:09] SchoolGuy commented on #2852
@nodeg Let's discuss here if you are interested.

[2021-11-30 09:39] SchoolGuy commented on #2852
Possible solution: Skip `shim.efi` for non SUSE distros and don't link `grub.efi`. For RH we need a different `settings.yaml` because we do have a different GRUB 2 modules directory. For Debian I did not check yet.

I don't like this though because we rob ourselves of the possibility to use those two options. But worst case we could give it a try.

[2021-11-30 09:48] SchoolGuy commented on #2852
For Debian `shim` is just a single file. Nothing more. It appears we need there both `shim-unsigned` and `shim-signed`.

Did not yet check GRUB 2 there.

[2021-11-30 14:51] SchoolGuy commented on #2852
GRUB 2 modules directory:

- Debian/Ubuntu: `/usr/lib/grub/<arch>-efi`
- CentOS/Fedora: `/usr/lib/grub/<arch>-efi`
- (open)SUSE: `/usr/share/grub2/<arch>-efi`

Package names for GRUB 2 modules:

- Debian/Ubuntu: `grub-efi-<arch>-bin`
- CentOS/Fedora: `grub2-efi-<arch>-modules`
- (open)SUSE: `grub2-<arch>-efi`

[2021-12-01 08:20] SchoolGuy commented on #2852
SHIM file location:

- Debian/Ubuntu: `/usr/lib/shim/shimx64.efi.signed` & `/usr/lib/shim/shimx64.efi`
- CentOS: `/boot/efi/EFI/centos/shimx64.efi`
- Fedora: `/boot/efi/EFI/fedora/shim.efi` --> Also a file existing with `shimx64.efi`
- (open)SUSE: `/usr/share/efi/x86_64/shim.efi` or `/boot/efi/EFI/<distro>/shim.efi` (after the bootloader was installed - `shim-install`)

SHIM package name:

- Debia

[2021-12-01 09:52] SchoolGuy commented on #2852
iPXE:

`unindonly.kpxe` location:

- Debian/Ubuntu: `/usr/lib/ipxe/undionly.kpxe`
- CentOS/Fedora: `/usr/share/ipxe/undionly.kpxe`
- (open)SUSE: `/usr/share/ipxe/undionly.kpxe`

iPXE package name:

- Debian/Ubuntu: `ipxe`
- CentOS/Fedora: `ipxe-bootimgs`
- (open)SUSE: `ipxe-bootimgs`

[2021-12-01 10:32] SchoolGuy commented on #2852
Syslinux: We need "pxelinux.0", "menu.c32", "ldlinux.c32" and "memdisk"

Location of all four files:

- Debian/Ubuntu:
  - `/usr/lib/syslinux/modules/bios/`: `menu.c32` & `ldlinux.c32`
  - `/usr/lib/syslinux/`: `memdisk`
  - `/usr/lib/PXELINUX/pxelinux.0`
- CentOS/Fedora: `/usr/share/syslinux/`
- (open)SUSE: `/usr/share/syslinux`

Package Name:

- Debian/Ubuntu: `syslinux-common` & `pxelinux`
- Ce

[2021-12-03 12:15] SchoolGuy opened #2853 "Dual Stack IP addresses don't work"
### Describe the bug

Currently when enabling `convert_server_to_ip` we are not able to choose between IPv4 and IPv6. We only resolve IPv4 due to the underlying method used to resolve the hostname.

### Steps to reproduce

1. Set `convert_server_to_ip` to `true`
2. Add a distro, profile & system
3. Look at the generated IP in `/srv/tftpboot/pxelinux.0/default`

### Expected behavior

I expect to b

[2021-12-07 09:26] #2832 closed

[2021-12-08 14:19] brejoc commented on #2209
I don't think it makes sense to keep this issue around. If this becomes interesting again, it can be re-opened or a new issue can be created.

[2021-12-08 14:19] #2209 closed

[2021-12-08 15:56] bruncsak opened #2854 "cobblerd does no start with error "Error with distro ... - kernel '...' not found""
### Describe the bug

Cobblerd at startup gives the following error in the log, and fails to start:

[code]
That is probably consistency check for availability of the referred files in the configuration.

### Steps to reproduce

At the time CentOS 8.4.2105 was available, the configuration was consistent. However, minor upgrade came out (8.5.2111) and the files of the previous minor release were re

[2021-12-08 17:08] SchoolGuy commented on #2854
Duplicate of #2413

[2021-12-08 17:08] #2854 closed

[2021-12-10 04:20] opoplawski commented on #2660
Done in 3.2.2-5 (Fedora, EPEL8, copr orion/cobbler) and 2.8.5-2 (EPEL7).

[2021-12-14 12:34] SchoolGuy commented on #2821
This card can be considered done when black is run on all commits for the following branches and conditions:

- `master` --> In the future `main`
- `release33` and all branches which are for releases after this branch
- All PRs against `master` & `main`

[2021-12-15 09:15] parkour99 opened #2856 "system add break"
### Describe the bug

Adding a system with:
cobbler system add --name=default-x86_64 --profile=bootstrap-x86_64 --netboot-enabled=True

gives:
exception on server: 'NetworkInterface' object is not subscriptable

### Steps to reproduce

1.
2.
3.

### Expected behavior

hope add system successfully

### Cobbler version

[code]

### Operating system

centos7.4

### Cobbler log
[code]

### Screenshots

[2021-12-15 09:26] heroin-moose commented on #2339
Okay, I have a plan for this.

Basically cloud-init requires files user-data and meta-data available at a given URL. Both files must exist, even if empty.

For example, given the following kernel options:

[code]

the API endpoints should look like this:

[code]

So I propose the following plan:

**New endpoints**

[code]

**New autoinstall template**

We need new cloud-init template. It's pretty

[2021-12-15 12:34] SchoolGuy commented on #2339
We shouldn't forget about the fact that we need to check the size of the generated user-data: https://cloudinit.readthedocs.io/en/latest/topics/format.html#gzip-compressed-content

[2021-12-15 12:41] heroin-moose commented on #2339
It's hard to reach 16k config, but sure, it makes sense to check the data size before sending the HTTP response.

[2021-12-15 13:12] heroin-moose commented on #2339
If this gets in, we then can generalize autoinstall configs:

Preseed:

[code]

Kickstart:

[code]

AutoYAST:

[code]

cloud-init:

[code]

So that any new autoinstall format can be easily supported no matter how many files required.

[2021-12-15 13:57] #1777 closed

[2021-12-15 13:57] #2576 closed

[2021-12-15 13:57] #2211 closed

[2021-12-15 15:14] SchoolGuy commented on #2549
So we have deprecated the `include` directive since we are moving on to a [convention over configuration approach](https://github.com/cobbler/cobbler/issues/2552). This is not yet done but still I won't invest time in this. In the future all settings which have the default value will be removed from the YAML file. Thus I am closing this issue.

[2021-12-15 15:14] #2549 closed

[2021-12-15 15:19] SchoolGuy commented on #2811
This is fixed in the meantime. Thus we can close it.

[2021-12-15 15:19] #2811 closed

[2021-12-15 15:22] SchoolGuy opened #2859 "Check subprocess.call for shell options"
Currently in many places we use `subprocess.call` with `shell=True` which may not be needed. Thus we need to check all occurrences and change those that need change.

[2021-12-15 15:24] SchoolGuy commented on #2635
It appears this issue is still relevant and thus we need to recheck and fix it.

[2021-12-15 15:25] SchoolGuy commented on #2567
This is a duplicate of #2453 and can thus be closed.

[2021-12-15 15:25] #2567 closed

[2021-12-15 15:58] SchoolGuy opened #2860 "Check error handling for folders"
Currently at multiple places in Cobbler we have a very naive error handling in regard to how we treat folders. We assume they are always there and the permissions are always correct. It is a good idea to check where additional error handling would be wise.

[2021-12-16 12:14] parkour99 commented on #2859
file: cobbler/scripts/migrate-data-v2-to-v3.py
the line:

[code]
if you run it , it will raise error same as the demo:

[code]
a fix test with python3 as follow:
[code]

so for your issue title, you can remove `shell=True` .
At the same time, and do not pass `list` into subprocess.run， you can pass shell string if you set shell=True, then fix cobbler/scripts/migrate-data-v2-to-v3.py error

[2021-12-16 12:31] parkour99 opened #2862 "do not generate <arch>_menu_items.cfg"
### Describe the bug

when i run **cobbler sync**, then check /var/lib/tftpboot/grub file,
I do not find the **/var/lib/tftpboot/grub/x86_64_menu_items.cfg**

### Steps to reproduce

1.
2.
3.

### Expected behavior

### Cobbler version

cobbler --version
Cobbler 3.3.0

I install cobbler release 3.3.0 from source code

### Operating system

centos7.4

### Cobbler log

debug trace
**file: cobbler/tf

[2021-12-16 15:43] jringoot opened #2863 ""make debs" can't find sphinx, but sphinx is installed with pip"
### Describe the bug

"make debs" can't find sphinx, but sphinx is installed with pip

### Steps to reproduce

1.
**make debs**

2.
3.

### Expected behavior

Make debs just generates the debs

### Cobbler version

V3.3.0

[code]
Cobbler is not yet installed

### Operating system

Ubuntu 20.04.3 LTS

### Cobbler log

[code]
no such file, cobbler is not yet installed
### Screenshots

### Additional

[2021-12-17 02:36] parkour99 commented on #2863
I came accross the similar error: No module named 'sphinx', when i install cobbler by pip3 install cobbler-3.3.0.tar.gz
,then **i fix this by command**:
[code]

[2021-12-17 08:55] SchoolGuy commented on #1330
FYI: @agraul @meaksh @vzhestkov

[2021-12-17 08:55] SchoolGuy commented on #1329
FYI: @agraul @meaksh @vzhestkov

[2021-12-17 09:13] SchoolGuy opened #2864 "Run Cobbler as non-root"
### Is your feature request related to a problem?

Currently Cobbler must run as root. This makes the daemon a very desired target for privilege escalation.

### Provide a detailed description of the proposed feature

We need to enable Cobbler to run as non-root. If possible even per default.

TODO:

- [ ] Create dedicated user and group for Cobbler
- [ ] Create documentation what files, folders a

[2021-12-17 09:27] neotheonce opened #2865 "cobbler reposync fails with error /var/www/cobbler/repo_mirror/<reponame>/.origin/repodata: File exists: 'Cannot create output directory'"
### Describe the bug
cobbler reposync runs successfully for first time but fails after consecutive runs.

### Steps to reproduce

1. Create new repo
2. Run # cobbler reposync  < - Successful
3. Run again # cobbler reposync < - Fails with error  "/var/www/cobbler/repo_mirror/<reponame>/.origin/repodata: File exists: 'Cannot create output directory'"

### Expected behavior
cobbler reposync should co

[2021-12-17 09:31] SchoolGuy commented on #2859
@parkour99 Thanks for the contribution. I will have a look at it. However this is also meant for the rest of the codebase where we use this. For example in `cobbler buildiso` we do use that param as well (encapsulated through our `utils` module) and thus we need to check those usages as well.

[2021-12-17 11:21] parkour99 opened #2866 "dnsmasq write_configs error"
### Describe the bug

when cobbler have some systems data,  then I run **cobbler sync**,  I will get error:  **'Archs' object has no attribute 'lower'**

### Steps to reproduce

1.
2.
3.

### Expected behavior

### Cobbler version

cobbler --version
Cobbler 3.3.0

I install cobbler release 3.3.0 from source code

### Operating system

centos7.4

### Cobbler log

cobbler sync error log
[code]

###

[2021-12-17 13:31] SchoolGuy opened #2870 "How to add a additional initrd into the append_line"
### Discussed in https://github.com/cobbler/cobbler/discussions/2868

<div type='discussions-op-text'>

<sup>Originally posted by **parkour99** December 17, 2021</sup>
I run the cobbler 3.3.0 release program in the centos7.4.
i pxe a centos with legacy bios boot, then got kernel panic, then i check the pxelinux.cfg/default, found that it do not pass **initrd=/images/bootstrap-x86_64/initramfs.img*

[2021-12-18 14:45] SchoolGuy commented on #2820
Okay the root cause of this is a design error in the system how I imagined it:

Currently we pass as a default value `True`, so we do migrate per default. So far this is fine. The problem is in that chain that the value from the `settings.yaml` file is read but not taken into consideration. Thus the value from the daemon is used as the only source of truth. Since we did add this key to the setting

[2021-12-18 15:02] SchoolGuy commented on #2820
I define the desired behavior as:

- Default value is (if option not present anywhere): Do execute the auto-migration.
- Daemon Flag overpowers the value in `settings.yaml`.

[2021-12-20 07:31] amit-prayag opened #2873 "PXE:E23: Client Received TFTP Error from Server. Unsuccessful"
### Describe the bug

### Steps to reproduce

1. While booting a ESXi VM Guest over PXE network I get the error
    PXE:E23: Client Received TFTP Error from Server. Unsuccessful

**Note:  1. I am able to boot the bare metal server but not VM on ESXi Host.
              2. DHCP/DNS/XINETD etc. services are running.
### Expected behavior

OS should boot over PXE network from Cobbler.
### Cobbler ver

[2021-12-20 11:09] jringoot commented on #2863
Thanks for looking into it, but it's still not working for me:

[2021-12-20 12:05] jringoot commented on #2863
Sphinx is imho correctly installed with BuildDoc, otherwise this import would give an ImportError

[code]

[2021-12-20 12:55] jringoot commented on #2863
Got a lot further with "apt-get install python3-sphinx"

[2021-12-20 13:05] jringoot opened #2874 ""make debs" ends with "/bin/bash: debbuild: command not found""
### Describe the bug

"make debs" ends with "/bin/bash: debbuild: command not found"
Debs are not created

### Steps to reproduce

1. "make debs"

### Expected behavior

Debs are created

### Cobbler version

[code]

### Operating system

Ubuntu 20.04.3 LT

### Cobbler log

[code]
This is during build, cobbler not yet installed, so "no such file or directory"

### Screenshots

### Additional infor

[2021-12-21 14:42] jringoot commented on #2874
There were some initial directories and files needed for the deb build
see: https://blog.packagecloud.io/debian/debuild/packaging/2015/06/08/buildling-deb-packages-with-debuild/

after that:

[2021-12-21 15:33] #2820 closed

[2021-12-21 16:48] SchoolGuy commented on #2873
@amit-prayag Is the file the client requests, present on the server?

[2021-12-23 09:30] cy-lee opened #2877 "Cannot set property 'file' of image"
### Describe the bug

Set image's property 'file' is not working

### Steps to reproduce

1. `touch /tmp/test.iso`
2. Run below Python code on Cobbler installed machine

[code]

### Expected behavior
End without AssertionError

### Cobbler version

[code]

### Operating system

CentOS 8
### Cobbler log

[code]

### Screenshots

### Additional information

[2022-01-04 07:29] andrewm659 opened #2879 "cobbler sync deletes everything in /var/www/cobbler"
### Describe the bug

When I run sudo cobbler sync on Fedora 35 with cobbler-3.2.2-6.fc35.noarch it deletes everything in /var/www/cobbler.   I've already reverted the VMWare image back to previous snapshot.  But can work to redo the issue.

[code]

### Steps to reproduce

1. Run sudo cobbler sync

### Expected behavior

It should just run the normal clean up for cobbler.

### Cobbler version
cobb

[2022-01-04 09:00] jringoot opened #2880 "cobbler test can't find schema, while it is installed"
Trying to set up cobbler on ubuntu 20.04

Doing a "cobbler check" and get this

[code]

while  pip says: schema is installed
[code]

[2022-01-04 15:54] olafhering opened #2881 "restarting cobblerd fills disk with backup settings.yaml files"
Every `systemctl restart cobblerd` will write another copy of settings.yaml, see `ls /etc/cobbler/settings*.yaml`.
Over time it will lead to `ENOSPC` for no good reason.

There is no way to avoid this.

Even this fails:
[code]

[2022-01-05 03:14] opoplawski commented on #2879
This is the issue:
[code]
make sure that your /etc/cobbler/settings.yaml file has all of these keys.  And in particular has the proper default value for `webdir_whitelist`.

[2022-01-05 03:47] andrewm659 commented on #2879
So the newer version doesn't have all this in the settings.yaml file.  Should I just copy over the old one?

[2022-01-05 14:31] opoplawski opened #2882 "Cobbler should not start if it can't parse settings.yaml"
### Describe the bug

To avoid #2879

[2022-01-05 16:35] olafhering opened #2883 "broken check for kernel+initrd in distro"
Since support for remote_boot_kernel+initrd was added an empty `initrd` and `kernel` string is apparently perfectly valid.

The checks added in 6e562ca25056dbf74a12b60f456c638edb92ddbc and 2ac5331159b0502f215393cd567f59f6bc5b222f must be relaxed to deal with `len(initrd)==0` and `len(kernel)==0`.

In addition `cobbler/items/distro.py check_if_valid` must be adjusted to expect either a local or a r

[2022-01-05 20:59] andrewm659 commented on #2879
Why did the upgrade do this though?  Shouldn't this be part of the default config?

[2022-01-06 00:43] opoplawski commented on #2879
Mistakes were made.  It is part of the default config.  I tried to automatically upgrade settings to settings.yaml in the Fedora package but that appears to have failed spectacularly in this case.  I also never expected cobbler to simply not parse any settings and continue to run as if everything was hunky dory.

[2022-01-06 01:29] andrewm659 commented on #2879
All good.  Glad you helped me fix it!

[2022-01-06 04:24] #2879 closed

[2022-01-10 11:07] holmesb opened #2885 "Loaders borked on non-latest Cobbler"
Hi,

![image](https://user-images.githubusercontent.com/5072156/148754457-a4086b61-de84-4dd7-8558-6e0d14876235.png)

This E23 tftp error is using Cobbler v3.2.2.  I checked contents of /var/lib/cobbler/loaders and most files contain 404 html.
I see dlcontent.py has `content_server = "https://cobbler.github.io/loaders"` which no longer exists.  Any chance this can be reinstated?  I understand the d

[2022-01-10 17:53] holmesb commented on #2873
Might be the fact <v3.3.0 loaders [no longer download](https://github.com/cobbler/cobbler/issues/2885).  Does a file /srv/tftp/grub/bootx64efi exist on your Cobbler server?  If so, open it.  You might find it contains "file not found" type HTML instead of the proper contents.

[2022-01-10 22:52] holmesb commented on #2540
`ln -sf /etc/apache2/conf-available/cobbler.conf /etc/apache2/conf-enabled/cobbler.conf`
then restarting apache fixed for me on Ubuntu.

[2022-01-12 11:48] MagicStarTrace opened #2887 "cobbler cannot boot device (Lenovo P340)"
cobbler version:2.8.2

Can boot DELL Server normally , is there any way to set UEFI to boot(Lenovo P340)?

BIOS allows PXE boot

![image](https://user-images.githubusercontent.com/15685376/149134687-4fa00252-930c-4893-b0a3-bb0574129f27.png)

![image](https://user-images.githubusercontent.com/15685376/149134703-7c700837-be0f-401d-9490-8f30a125c4af.png)

You can see that the IP has been obtained but

[2022-01-13 03:37] cy-lee opened #2889 "Cannot import VMware ESXi 7.x"
### Describe the bug

Cannot import and install ESXi 7.x/6.7.
We can  import it by change line 477 of
cobbler/modules/managers/import_signatures.py
from
`m = re_krn2.match(line)`
to
`m = re_krn2.match(line.decode("utf-8", "ignore")`

### Steps to reproduce

1. Assume image name called esxi7.iso
2. mkdir -p /mnt/iso
3. mount esxi7.iso /mnt/iso
4. Run command:  `cobbler import --path=/mnt/iso --name

[2022-01-13 10:54] holmesb opened #2893 "Can't install on Ubuntu 20.04 - unknown tag py3_build"
[code]
py3_build was [deprectated](https://docs.fedoraproject.org/en-US/packaging-guidelines/Python/#_deprecated_macros), probably now removed.

[2022-01-13 12:11] holmesb commented on #2874
I got past this using:
` ``
echo 'deb http://download.opensuse.org/repositories/Ubuntu:/debbuild/Ubuntu_20.04/ /' | sudo tee /etc/apt/sources.list.d/Ubuntu:debbuild.list
curl -fsSL https://download.opensuse.org/repositories/Ubuntu:debbuild/Ubuntu_20.04/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/Ubuntu_debbuild.gpg > /dev/null
sudo apt update
sudo apt install debbuild
[code]

[2022-01-13 12:15] holmesb commented on #2863
That's another issue: #2874.  This one can probably be closed

[2022-01-13 22:18] loudonlune opened #2896 "XML-RPC API documentation on the Wiki is not up to date for version 3.3.0."
# Issue

The documentation on the wiki for the XML-RPC API is out of date for 3.3.0 after the web interface was removed.

## Description
The "modify_interfaces" setter for system objects no longer functions as shown in the section headed with "An example of how to add a new host". System objects in 3.3.0 appear to have a new setter for interfaces that I had to find by sifting through your source c

[2022-01-15 12:30] SchoolGuy commented on #2887
@MagicStarTrace So all of this is network configuration. Could it be that your network interface was incorrectly configured by the Cobbler generated Kernel Options?

[2022-01-15 12:32] SchoolGuy commented on #2896
I am deeply sorry that we overlooked this. Thanks for reporting it. The manpower is low but we'll do our best!

[2022-01-15 12:57] SchoolGuy commented on #2885
Weil for that to happen I would need to put updated loaders there. Whatever content was on there was completely out of date and not even worthy for a testing environment in my eyes. I won't close this until we finish the discussion. If more people say that I should put the content up again, I will do it but I would instead prefer help with the WebUI... :)

[2022-01-15 13:23] SchoolGuy commented on #2880
@jringoot what version of Cobbler are you using?

[2022-01-15 13:25] SchoolGuy commented on #2880
It seems that the Cobbler code searches your system-wide packages and pip looks at the venv located elsewhere. Is this maybe a bug only in your environment?

[2022-01-15 13:37] SchoolGuy commented on #2874
Okay so this is definitely a missing dependency for building the debs. Since native Debian packaging was not yet contributed this behavior is to be expected.

However I agree that we didn't mention this in the docs at https://cobbler.readthedocs.io/en/latest/installation-guide.html#deb and our makefile doesn't try to install this.

[2022-01-15 13:38] SchoolGuy commented on #2863
Yeah this one is invalid since I building inside a venv is not supported by our makefile so far.

[2022-01-15 13:38] #2863 closed

[2022-01-15 13:41] SchoolGuy commented on #2893
Okay this is madness. They changed all the macros which were compatible on both openSUSE AND Fedora. I believe we indeed need to fix this and before the next release, so we can build also outside of the OBS...

[2022-01-15 13:42] SchoolGuy commented on #2882
Indeed this is a reasonable behavior.

[2022-01-15 13:49] SchoolGuy commented on #2881
So the `--disable-automigration` should be fixed as of https://github.com/cobbler/cobbler/pull/2871

However I agree that saving all backup YAMLs is maybe not needed. What is your desired behavior @olafhering ?

I would propose we only keep the last 10? That should be enough in my eyes. I would like to avoid adding a setting which regulates how much backups we keep since the file will become optio

[2022-01-15 13:51] SchoolGuy commented on #2540
Okay since other contributors were happy with the solutions I proposed, I will close this issue now.

[2022-01-15 13:51] #2540 closed

[2022-01-15 14:09] MagicStarTrace commented on #2887
Set the priority network to start, but it gets stuck after the download is successful(NBP)

[2022-01-15 17:27] holmesb commented on #2885
Same loaders as before would be fine if you still have a copy of them.  Latest Cobbler (>= v3.3.0) won't touch them, so won't be any less secure.  You'll be fixing all versions <=v3.2.2.  Untested is fine temporarily IMO

[2022-01-15 20:47] olafhering commented on #2881
The required outcome is: either overwrite the settings file, or leave it as it is.

Everyone has a backup in case a restore is actually needed.

[2022-01-16 16:24] SchoolGuy commented on #2887
@MagicStarTrace Do you see the machine requesting a DHCP address on the DHCP server?

[2022-01-16 16:26] SchoolGuy commented on #2881
@olafhering That is an assumption in my eyes. It could be that you don't expect Cobbler to touch the file and you then don't have a backup of that file. The file is indeed overwritten if you have the automigration enabled. So you just would completely disable the backup of settings files?

[2022-01-16 16:28] SchoolGuy commented on #2885
@holmesb But I would put all machines provisioned with these loaders at risk. They are definitely pre-spectre and thus all machines could be exploited. Since I am sure that at least some machines provisioned via Cobbler are directly put out into the internet, I would not like to put the loaders back up. If you really need them just grab them from the git, place them locally (as suggested in a simi

[2022-01-16 18:07] olafhering commented on #2881
I think this code path did not work well either, will double check. Otherwise I would have used it already.

[2022-01-16 20:29] olafhering commented on #2881
Lets focus in this issue on getting rid of the versioned backup files. Other issues, like `--disable-automigration` not being recognized should be discussed elsewhere.

[2022-01-17 07:51] SchoolGuy commented on #2881
@olafhering If you just want to get rid of versioned backup files that is easy. But I still don't agree with the reason for it. Not all people have a perfect backup solution or btrfs snapshots.

For me a compromise would be limiting the number of backups we store.

If you insist we need to add a flag which disables this functionality.

[2022-01-17 08:20] MagicStarTrace commented on #2887
tcpdump ，See that the address has been obtained, as shown in Figure 2

[2022-01-17 08:52] olafhering commented on #2881
Dealing with just N config files would just add more complicate code, instead of removing unhelpful code.
As I said, a backup exists. If not, this will not be cobblers fault.

[2022-01-17 09:49] holmesb commented on #2885
"_put all machines provisioned with these loaders at risk"_ - they are already built using them, so no worse.  But I'll try to get v3.3.0 working instead.

"_grab them from the git, place them locally (as suggested in a similar issue)_" - be good to specify which issue you're referring to for those who want to stick with webui, I can't find.

[2022-01-17 12:16] SchoolGuy commented on #2887
Okay and then on the tftp server, do you see requests to the kernel and initrd? Because if that is not the case then either the machine can't reach the TFTP server or it doesn't ask (maybe due to wrong dhcp configuration generated by Cobbler).

[2022-01-17 12:17] SchoolGuy commented on #2881
@agraul @meaksh @vzhestkov What are your opinions on this? My opinion is stated above already.

[2022-01-17 12:18] SchoolGuy commented on #2885
@holmesb Here you go: https://github.com/cobbler/cobbler/issues/2660#issuecomment-859766544

[2022-01-17 12:32] #2885 closed

[2022-01-17 12:37] vzhestkov commented on #2881
I think the issue could be solved with putting `ExecStartPre` in the cobbler service file with setting it to the script wiping old files. How many files it should keep could be specified in `/etc/sysconfig/...`. The shell script should be very simple to implement.

[2022-01-17 12:45] holmesb commented on #2885
Closed since is duplicate of #2660

[2022-01-17 12:54] olafhering opened #2898 "copy_single_distro_files fails to handle remote kernel+initrd"
As of commit eed8cdca3e970c8aa1d199e80b8c8f19b3f940cc, cobbler/tftpgen.py:copy_single_distro_files fails if `d.kernel` or `d.initrd` is empty.
This is valid, `d` may have `remote_boot_kernel/remote_boot_initrd` set.

[2022-01-17 13:12] olafhering commented on #2898
For me a simple `if d.kernel|d.initrd:`fixed `cobbler sync`

[2022-01-17 16:38] holmesb commented on #2828
I'm seeing this too when trying to import Ubuntu 20.04

[2022-01-18 01:00] andrewm659 opened #2899 "Added newer versions of operating systems along with other OSes"
### Is your feature request related to a problem?

No.

### Provide a detailed description of the proposed feature

Please

Add Freebsd 12.1,12.2,12.3,13.0, 14.0 to the signatures.
Add OpenBSD
Add GhostBSD
Add NetBSD
Add Fedora 35

### Alternatives you've considered

### Additional information

[2022-01-18 07:59] SchoolGuy commented on #2828
Okay the error occurs because `distribution.arch` is of `Arch` enum type. This case is not handled on the setter for `repo.arch` sadly so far.

Three options to fix:

1. Use `distribution.arch.value` and let the `str` conversion handle it.
    --> The easiest but most error prone.
2. Create an additional branch to handle the conversion from `Arch` to `RepoArch` type.
    --> Appears to be the most

[2022-01-18 08:00] SchoolGuy commented on #2828
I will use this occasion to also introduce a general conversion from `str` to the enum type. Existing behavior should be untouched as the code so far is a lot of copy & pasta.

[2022-01-18 08:33] holmesb commented on #2828
Yes I noticed this last night.  Do you envision 2. to be something like:
[code]
If so, I'll create a PR on this basis.  Ubuntu 20.04 imports fine with this change

[2022-01-18 10:05] SchoolGuy commented on #2828
@holmesb I have something locally which I try to create a PR for as well. It will remove some duplicated code. I highly appreciate the effort and I will have a look right now!

[2022-01-18 10:28] xavierba commented on #2899
Scratch Fedora 35 from the list, it was added already in https://github.com/cobbler/cobbler/commit/32bbfe9119d3c4b407da801c144b3658db2819ff

[2022-01-19 17:51] olafhering opened #2902 "having manage_dhcp or manage_dns false in settings.yaml is not an error"
Some remote side may trigger the codepath `cobbler/api.py:sync()`.
This leads to errors from `sync_dns()` and `sync_dhcp()` if any of those features is disabled in this cobbler instance.

I think it would be perfectly fine to just return silently if `self.settings().manage_dhcp` and `self.settings().manage_dns` return `False`.

[2022-01-19 20:17] manoj0772 opened #2903 "CentOS 8 Stream Cobbler Reposync Failed"
I am trying to set up Cobbler on CentOS 8 Stream to sync packages and create local mirrors but i am getting following below error :-

[manp1@psappl165 ~]$ sudo cobbler reposync --only CentOS-8-Stream-BaseOS-x86_64
task started: 2022-01-19_151043_reposync
task started (id=Reposync, time=Wed Jan 19 15:10:43 2022)
running python triggers from /var/lib/cobbler/triggers/task/reposync/pre/*
running shel

[2022-01-20 07:53] SchoolGuy commented on #2903
So I see two problems here:

1. The obvious error that the settings file is invalid at the moment. This can easily fixed by taking the recommended actions from the `SchemaMissingKeyError` and adding the missing keys. If this doesn't help we have found a separate bu.
2. The problem teased in the issue title. This is due to wrong usage of the flags from `reposync`. Some of those flags can be altered

[2022-01-20 09:59] #2828 closed

[2022-01-20 13:55] manoj0772 commented on #2903
Hello,

Thank you for your response.

Do you mean making changes to /etc/cobbler/settings.yaml file ?

This is what i see for reposync flags in settings.yaml file.

[root@psappl165 manp1]# grep reposync /etc/cobbler/settings.yaml
reposync_rsync_flags: "-rltDv --copy-unsafe-links"
[root@psappl165 manpt1]#

From the output its trying to run this command :-

running: /usr/bin/dnf reposync -l -m -d --

[2022-01-20 14:30] manoj0772 commented on #2903
Thanks. When i am looking at C7 cobbler server which is working there is a flag for "reposync_flags:" but same does not exist in newer version. So i added a new line on new version "reposync_flags: "-n" . By default on old version it is reposync_flags: "-l -n -d"

Anyways here is the content of settings.yaml file on new version . I added the last line.

[root@psappl165 ~]# grep -v '^ *#' /etc/cobb

[2022-01-20 14:40] SchoolGuy commented on #2903
@manoj0772 So did you add the keys Cobbler says that are missing? And if yes do you still see the error in the Cobbler log or not reappearing?

[2022-01-20 15:38] #2877 closed

[2022-01-20 17:39] manoj0772 commented on #2519
@asimat Is there anyway i can see the flags you are using in  /etc/cobbler/settings.yaml file for reposync. I added below 2nd line which didn't exists before and i am using same version Cobbler 3.2.2 but i still get the same error as it tried to use
"running: /usr/bin/dnf reposync -l -m -d --config" . I did ran cobbler sync and restart after my change.

[manpat1@psappl165 cobbler]$ grep reposync /

[2022-01-21 08:59] holmesb commented on #2248
I'm seeing this when creating a system using latest terraform provider & Cobbler v3.2.1 (tried v3.1.2 too).

This link is to a comment (is not a permalink).  @hbokh, could you advise which is the line that needs removing?  Is it:
`value = self.get_from_cache(self)` ?  If so that's gone, so must be some other issue now

[2022-01-21 09:31] hbokh commented on #2248
I should not have linked to the branch tagged `master`...
Anyway, in v3.1.1 is used to be on line 218:
https://github.com/cobbler/cobbler/blob/v3.1.1/cobbler/items/item.py#L218

This is a diff we used to patch that version:
[code]

In v3.1.2 the line is 250:
https://github.com/cobbler/cobbler/blob/v3.1.2/cobbler/items/item.py#L250

[2022-01-21 10:40] SchoolGuy commented on #2903
@manoj0772 Here is an example of a valid Cobbler configuration file from `master`: https://github.com/cobbler/cobbler/blob/master/config/cobbler/settings.yaml

Since you are on 3.2.2 I would have a look here: https://github.com/cobbler/cobbler/blob/108287a3060a52cbf9c9f11a4959b8c4563d2bca/config/cobbler/settings.yaml

Please change all values to valid and reasonable values for your environment.

[2022-01-21 10:41] SchoolGuy commented on #2903
In regard to reposync it could be that the following issue helps: https://github.com/cobbler/cobbler/issues/2519

[2022-01-21 15:54] manoj0772 commented on #2903
I think i am good now. I am not getting any missing key errors.

What i did is replace /etc/cobbler/settings.yaml file from here https://github.com/cobbler/cobbler/blob/108287a3060a52cbf9c9f11a4959b8c4563d2bca/config/cobbler/settings.yaml and then updated reposync flag with this  reposync_flags: "-n --delete" .

Thank you for your help.

[2022-01-21 16:00] SchoolGuy commented on #2903
Okay so the action item for this is that we update the flags also per default... So we can't close this one for now.

[2022-01-23 09:38] holmesb commented on #2846
Any movement on this one?  I'm seeing it too from python & terraform (go) on latest Cobbler (v3.3.1).  Since interfaces cannot be configured, Cobbler cannot build systems:

[code]
System is saved minus the interface:
[code]

Same works fine via CLI:
[code]
Any attempt to modify_interface returns `False` boolean

[2022-01-23 10:20] holmesb commented on #2846
modify_interface works fine in v3.2.2:
[code]

[2022-01-24 09:10] SchoolGuy opened #2909 "Hardcoded password for testing"
### Describe the bug

This is the upstream bug report for https://github.com/SUSE/spacewalk/issues/16739 which is a mirror issue of an internal Bugzilla issue.

Copied from the Bugzilla comment by @thesp0nge:

When in /etc/cobbler/modules.conf, in the [authentication] part the module is “testing”, the credential “testing:testing” is used to authenticate users.

This is known and pretty documented,

[2022-01-24 09:19] SchoolGuy opened #2910 "Log file pollution"
### Describe the bug

This is the upstream bug report for SUSE/spacewalk#16738 which is a mirror issue of an internal Bugzilla issue.

Copied from the Bugzilla comment by @thesp0nge:

In modules/installation/pre_log.py, line 34 some user controller inputs are appended in /var/log/cobbler/install.log log file without sanitization.

This can lead to a log pollution scenario.

### Steps to reproduce

[2022-01-24 09:55] #2909 closed

[2022-01-24 09:57] MagicStarTrace commented on #2887
It seems that the bios does not support it. I tested using another model of the machine is ok
Is there any way to see what's causing it?
view log?

Thanks You!

[2022-01-24 10:59] SchoolGuy commented on #2887
From a server perspective for TFTP: There has to be an access log. The location is most likely under `/var/log/tftp/` but it depends on your distro. It may also be required to increase the verbosity of the server. One thing you could try is `journalctl -b -u <demon name>`.

[2022-01-24 11:50] #2910 closed

[2022-01-24 12:50] olafhering opened #2912 "regression after enum changes"
A regression between c8e4af8affed82781212937c7655fd01f8488fec..e507f402f5a6dd8d9c7b6bbb8ce14bcb2cae3003, maybe caused by #2901

[code]

[2022-01-24 12:52] SchoolGuy commented on #2912
Argh. We have a test. Why wasn't it triggerd... But thanks for the quick find!

[2022-01-27 11:51] atulyadavtech opened #2917 "File not found: None, tried to copy to: /var/www/cobbler/images/"
### Describe the bug

Unable to complete the cobbler sync activity

### Steps to reproduce
dnf install epel-release
dnf module enable cobble
dnf install cobbler
cobbler import --path=/media/ --name=rhel1 --arch=x86_64 --breed=redhat

Error
1. While Import
 ERROR | symlink failed (/var/www/cobbler/distro_mirror/rhel1-x86_64 -> /var/www/cobbler/links/rhel1-x86_64)

2. While Sync
[root@centos ~]# cob

[2022-01-27 13:17] SchoolGuy commented on #2917
@atulyadavtech For the missing key error there is a fix which is already in EPEL testing. However you still need to fix your settings file manually because you were already affected by the error.

[2022-01-27 13:17] SchoolGuy commented on #2917
After that please retest if the error occurs.

[2022-01-28 10:20] SchoolGuy opened #2918 "Security: Stabalize the MongoDB serializer"
### Describe the bug

This is the upstream bug report for SUSE/spacewalk#16737 which is a mirror issue of an internal Bugzilla issue.

Copied from the Bugzilla comment by @thesp0nge:

In mongodb serializer class, when the config file is read, there is no sanity check.
If the file get somewhat corrupted, it can lead to unexpected behaviour.

[code]

### Steps to reproduce

1. Corrupt the `mongodb.c

[2022-01-28 11:06] #2918 closed

[2022-01-28 11:24] SchoolGuy commented on #2846
So the reason the CLI works and the Terraform Provider don't is the following: The CLI uses the `xapi_object_edit` method. This seems to work as expected. However the `modify_item` method used by `modify_system` tries to use the setter of the object which is not existing.

This is happened due to my rewrite to properties and thus I need more testing and more compatibility for network interfaces in

[2022-01-28 11:37] #2912 closed

[2022-01-28 12:08] SchoolGuy commented on #2880
@jringoot Any news?

[2022-01-28 13:22] SchoolGuy opened #2922 "Serial Console not working"
### Describe the bug

Currently it is not possible to set the serial console parameters correctly. This is due to the changes related to the attribute to property change.

### Steps to reproduce

1. Add system
2. See that the serial console is enabled per default
3. You are also unable to set specific combinations of the baudrate and serial device.

### Expected behavior

The serial console is bei

[2022-01-28 14:52] SchoolGuy commented on #2770
I did update the notes and thus this can be closed: https://github.com/cobbler/cobbler/releases/tag/v3.0.0

[2022-01-28 14:52] #2770 closed

[2022-01-29 03:40] opoplawski commented on #2917
Basically:
[code]
then recreate any changes you had in /etc/cobbler/settings.yaml.  Latest version is cobbler-3.2.2-8.module_el8+13675+f0fb7535.noarch

[2022-01-31 14:10] SchoolGuy commented on #2827
@aranc23 If you have the capacity it would be nice if you could check if with the current `master` version you can reproduce this. We are working on getting `master` stable, so we can branch it of to V3.3.1. If you don't have a second testing environment then just write this here, so we test this before the release if we have time to do so.

[2022-01-31 14:21] SchoolGuy commented on #2765
This is a candidate for our pre-build shellscript because we can once at buildtime define the location and don't execute the check on every restart of Cobbler. After all the code currently in place is just thought for a reasonable default.

[2022-02-01 15:43] holmesb opened #2925 "cobbler sync error - supervisord"
### Describe the bug

Using Cobbler on a distro with supervisord and with `manage_dhcp` enabled, `cobbler sync` errors:

[code]
and log shows stack trace:
[code]

This is because in #2841 @th-2021 set [no return code](https://github.com/cobbler/cobbler/blob/a783fd652254ff8613ec347759bb738c35d51127/cobbler/utils.py#L258) for the supervisord case.  [ret](https://github.com/cobbler/cobbler/blob/a783f

[2022-02-02 07:51] jringoot commented on #2874
Do you have a workaround?

[2022-02-02 08:00] jringoot commented on #2863
ok, thanks for follow up, it was pip that suggested to use a virtual environment with a message like "this package is besides a pip package also available in your distribution, if you want to install the more recent pip package you are strongly suggested to do this in a virtual environment to avoid messing up your local package system"
That's why I tried this in a venv: having the more recent vers

[2022-02-02 08:06] jringoot commented on #2880
Sorry I abandoned this, I have set up a 'simple' dhcpd+tftpd+pxe-linux+nginx environment to do the installs.

[2022-02-02 08:06] #2880 closed

[2022-02-03 07:14] #2846 closed

[2022-02-03 07:21] #2922 closed

[2022-02-03 07:24] SchoolGuy commented on #2437
There were no updates in this ticket and I have multiple mentions that `cobbler reposync` is working for other users. I will close this because of this.

[2022-02-03 07:24] #2437 closed

[2022-02-03 07:28] SchoolGuy commented on #2859
For fixing this we need to understand the implications this has. They are documented at the following locations:

- https://docs.python.org/3.6/library/subprocess.html#frequently-used-arguments
- https://docs.python.org/3.6/library/subprocess.html#security-considerations

[2022-02-03 09:11] #2925 closed

[2022-02-04 10:39] SchoolGuy commented on #2827
So I added a lot of import tests in #2929 and although CentOS 7 is not added there, I am very confident that this is fixed by the mentioned commit. Please reopen after the 3.3.1 release if needed.

[2022-02-04 10:39] #2827 closed

[2022-02-04 14:49] SchoolGuy commented on #2486
So this was now implemented a while ago. Thus we can close this one.

[2022-02-04 14:49] #2486 closed

[2022-02-04 14:58] #2763 closed

[2022-02-04 16:23] aranc23 commented on #2827
Sorry for the late response (I needed to re-create my cobbler test environment) but I did confirm that the issue is fixed.

[2022-02-05 22:23] btravouillon commented on #2870
Hello,

I can confirm the issue with 3.3.0 (or pre-3.3.1 build at bce163fe8f).

The pxe configuration file is:
[code]

I believe this was introduced by https://github.com/cobbler/cobbler/commit/066678b197a38ed2953fab440001e29f6ca07166#diff-1637482678b3b5bc9ef6ec9b6b25f9743b9d25783ca5ee7e78f9d0964809eb88L688-L689

When I add these two lines back to `tftpgen.py` and restart cobblerd, the pxe file is

[2022-02-06 11:15] SchoolGuy commented on #2870
@btravouillon That would be very cool! Feel free to open. I will review as soon as I have time. :)

[2022-02-08 09:50] SchoolGuy commented on #2689
Okay I found additional problem related to this topic. Will investigate. They are related to writing the `dhcpd.conf` file.

[2022-02-08 10:12] SchoolGuy commented on #2689
And I found more bugs. We are using in the dhcp and dns managers still the old notation. I will port and test that along with the (not yet existing) PR because otherwise the functionality is unusable.

[2022-02-10 08:21] #2765 closed

[2022-02-10 08:29] kk678 opened #2932 "getpwnam(): name not found: 'apache'"
### Describe the bug

error when compile on centos8.2

### Steps to reproduce
[code]

1. checkout code e36be05e3792c28b114fb9e3855a3aa90387e6be
    git clone https://github.com/cobbler/cobbler.git
2. make install
3. Error in 'chown apache /usr/local/share/cobbler/web': "getpwnam(): name not found: 'apache'"
   Error in 'chown apache //var/lib/cobbler/webui_sessions': "getpwnam(): name not found: '

[2022-02-10 08:52] SchoolGuy commented on #2932
So interestingly enough these are leftovers from the webinterface. Thanks for this find. I mean it should still succeed but I will remove the lines in a "cleanup" PR I am doing atm anyway.

[2022-02-11 09:01] SchoolGuy commented on #2882
So I tried this locally in the devel container and this seems to be working @opoplawski . In what scenario does cobbler keep running?

[2022-02-11 09:13] SchoolGuy commented on #2882
Okay so the function used in the past was `read_settings_file()` for getting the settings. This was changed and thus I believe this problem should not occur again. I will investigate if we can remove that function as I believe that is impossible to be called at the moment anyway.

@opoplawski Please check on the current `master` branch if the behavior is still happening. I was not able to trigger

[2022-02-11 12:53] #2932 closed

[2022-02-15 20:43] draeath opened #2941 "ldap_anonymous_bind parameter is the reverse of what is expected"
### Describe the bug

When configuring `authentication.ldap` one sees the following parameters in Cobbler 3.2:

    ldap_anonymous_bind: false
    ldap_search_bind_dn: ''
    ldap_search_passwd: ''

The meaning of `ldap_anonymous_bind` is backwards. An anonymous bind is done without authentication. If you set this boolean to `true` the two following parameters (bind username/password) are used and

[2022-02-15 20:44] draeath commented on #2941
I am an idiot and it took until just now to realize it.

Please disregard.

[2022-02-15 20:47] draeath commented on #2941
Reopening. I had confused myself while writing this. I actually do want this open.

Relevant code snippet from `site-packages/cobbler/modules/authentication/ldap.py`:

[code]

[2022-02-16 23:49] draeath opened #2943 "redhat_management_type references linger in included snippets"
### Describe the bug

Kickstart templates referencing the as-provided `redhat_register` and `rhn_certificate_based_register` snippets fail to parse as they still reference a removed variable `redhat_management_type`

### Steps to reproduce

1. install cobbler 3.2 or 3.3
2. attempt to use either snippet
3. observe cobbler log and the rendered kickstart

### Expected behavior

Correct rendering of t

[2022-02-19 18:33] btravouillon opened #2948 "Build of DEBs fail with 3.3.1"
### Describe the bug

The build of DEBs for Debian 11 fails with:

[code]
Build with

### Steps to reproduce

1. git checkout v3.3.1
2. ./docker/debs/build-and-install-debs.sh deb11 docker/debs/Debian_11/Debian11.dockerfile

### Expected behavior

The build should succeed.

### Cobbler version

3.3.1

### Operating system

Debian 11

[2022-02-19 18:38] btravouillon commented on #2948
Seems to be related to 34e3417.

[2022-02-21 14:10] SchoolGuy commented on #2941
@draeath Wouldn't it be even easier to just use the credentials if they are given and otherwise not? The default settings for this are empty and thus existing configurations are not broken. Is this something you would deem straightforward?

[2022-02-21 14:40] draeath commented on #2941
Yes, that would do. At least if it was documented... Perhaps in a comment in the default file?

[2022-02-22 07:38] SchoolGuy commented on #2941
The problem is due to the automigrations the comments will vanish. Thus things need to be either self explanatory or it won't work. So I guess we need to have a breaking change in either way. I will think about this once I have fixed some more bugs and have time for this.

[2022-02-22 09:34] SchoolGuy commented on #2689
Okay so my initial approach of using the properties does not work since there are cases where the items are not present on the server side and thus a direct update in the property is not possible. I will instead try to modify the `add()` method in the collection because it is triggered every time an item is modified in theory.

[2022-02-25 08:22] #2870 closed

[2022-03-01 08:44] SchoolGuy commented on #2882
@opoplawski Can you reproduce this with a supported version or on `master`? I was not able to reproduce this sadly. If you are I would like some more detailed steps to reproduce this.

[2022-03-02 06:14] SchoolGuy commented on #2882
@opoplawski depends on the fix. I really don't want to keep those older versions alive because the improvements and refactorings improve the overall state of the project enormously in my eyes. I am open to PRs if you want to do the backport yourself. If it makes your packaging easier I would even agree to a new version.

[2022-03-02 10:38] SchoolGuy commented on #2881
@meaksh @agraul What are your opinions on this? We should fix this before next Friday in my opinion.

[2022-03-02 15:14] btravouillon opened #2961 "PermissionError: [Errno 13] Permission denied: '/etc/cobbler/settings.yaml'"
### Describe the bug

The command `cobbler` fails with a traceback when run as non-root user.

[code]

This is a direct consequence of https://cve.circl.lu/cve/CVE-2021-45083

### Steps to reproduce

1. Install Cobbler
2. Run any cobbler command

### Expected behavior

Not a traceback. Either a clean error message or the inability to run `cobbler` when non-root (e.g. move `cobbler` to `/usr/sbin/`